USE [RWA]
GO
/****** Object:  Table [dbo].[BFC_ct_conso]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BFC_ct_conso](
	[period] [varchar](50) NULL,
	[entity] [varchar](50) NULL,
	[entorig] [varchar](50) NULL,
	[accnt] [varchar](50) NULL,
	[flow] [varchar](50) NULL,
	[nature] [varchar](50) NULL,
	[partner] [varchar](50) NULL,
	[ctshare] [varchar](50) NULL,
	[curncy] [varchar](50) NULL,
	[techorig] [varchar](50) NULL,
	[globorig] [varchar](50) NULL,
	[journal] [varchar](50) NULL,
	[enumber] [varchar](50) NULL,
	[ct_0000_at] [varchar](50) NULL,
	[ct_0000_ga] [varchar](50) NULL,
	[ct_0000_ct] [varchar](50) NULL,
	[ct_0000_pt] [varchar](50) NULL,
	[ct_0000_al] [varchar](50) NULL,
	[ct_0000_at2] [varchar](50) NULL,
	[ct_0000_tc] [varchar](50) NULL,
	[rollup_partner] [varchar](50) NULL,
	[rollup] [varchar](50) NULL,
	[mu] [varchar](50) NULL,
	[pmu] [varchar](50) NULL,
	[rollup2] [varchar](50) NULL,
	[rollup_partner2] [varchar](50) NULL,
	[amount] [varchar](50) NULL,
	[convamount] [varchar](50) NULL,
	[consamount] [varchar](50) NULL,
	[data_comment] [varchar](50) NULL
) ON [PRIMARY]
GO
