USE [RWA]
GO
/****** Object:  Table [dbo].[BFC_ct_account]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BFC_ct_account](
	[id] [varchar](50) NULL,
	[owner_site] [varchar](50) NULL,
	[name] [varchar](50) NULL,
	[sdesc1] [varchar](50) NULL,
	[sdesc2] [varchar](50) NULL,
	[sdesc3] [varchar](50) NULL,
	[sdesc4] [varchar](50) NULL,
	[sdesc5] [varchar](50) NULL,
	[sdesc6] [varchar](50) NULL,
	[ldesc1] [varchar](120) NULL,
	[ldesc2] [varchar](50) NULL,
	[ldesc3] [varchar](50) NULL,
	[ldesc4] [varchar](50) NULL,
	[ldesc5] [varchar](50) NULL,
	[ldesc6] [varchar](50) NULL,
	[xdesc1] [varchar](50) NULL,
	[xdesc2] [varchar](50) NULL,
	[xdesc3] [varchar](50) NULL,
	[xdesc4] [varchar](50) NULL,
	[xdesc5] [varchar](50) NULL,
	[xdesc6] [varchar](50) NULL,
	[cdesc] [varchar](50) NULL,
	[owner_workgroup_id] [varchar](50) NULL,
	[access_mode] [varchar](50) NULL,
	[creation_date] [varchar](50) NULL,
	[update_date] [varchar](50) NULL,
	[author_id] [varchar](50) NULL,
	[update_author_id] [varchar](50) NULL,
	[sign] [varchar](50) NULL,
	[class] [varchar](50) NULL,
	[ct_0000_setacc] [varchar](50) NULL,
	[ct_0000_analys] [varchar](50) NULL,
	[ct_0000_sbtot] [varchar](50) NULL,
	[ct_0000_catego] [varchar](50) NULL,
	[ct_0000_icdoc] [varchar](50) NULL,
	[ct_0000_rule1] [varchar](50) NULL,
	[ct_0000_rule2] [varchar](50) NULL,
	[ct_0000_cfs] [varchar](50) NULL,
	[ct_0000_test] [varchar](50) NULL,
	[ct_0000_rule3] [varchar](50) NULL,
	[ct_0000_parent] [varchar](50) NULL,
	[ct_0000_parentpf] [varchar](50) NULL,
	[ct_0000_setaccpf] [varchar](50) NULL,
	[ct_0000_parentmyp] [varchar](50) NULL,
	[ct_0000_setaccmyp] [varchar](50) NULL,
	[ct_0000_parentinvfs] [varchar](50) NULL,
	[ct_0000_setaccinvfs] [varchar](50) NULL,
	[decimals] [varchar](50) NULL,
	[monetary] [varchar](50) NULL,
	[ct_0000_parentbp] [varchar](50) NULL,
	[ct_0000_setaccbp] [varchar](50) NULL
) ON [PRIMARY]
GO
