USE [RWA]
GO
/****** Object:  Table [dbo].[BFC_ct_entity]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BFC_ct_entity](
	[id] [varchar](50) NULL,
	[owner_site] [varchar](50) NULL,
	[name] [varchar](50) NULL,
	[sdesc1] [varchar](50) NULL,
	[sdesc2] [varchar](50) NULL,
	[sdesc3] [varchar](50) NULL,
	[sdesc4] [varchar](50) NULL,
	[sdesc5] [varchar](50) NULL,
	[sdesc6] [varchar](50) NULL,
	[ldesc1] [varchar](120) NULL,
	[ldesc2] [varchar](50) NULL,
	[ldesc3] [varchar](50) NULL,
	[ldesc4] [varchar](50) NULL,
	[ldesc5] [varchar](50) NULL,
	[ldesc6] [varchar](50) NULL,
	[xdesc1] [varchar](50) NULL,
	[xdesc2] [varchar](50) NULL,
	[xdesc3] [varchar](50) NULL,
	[xdesc4] [varchar](50) NULL,
	[xdesc5] [varchar](50) NULL,
	[xdesc6] [varchar](50) NULL,
	[cdesc] [varchar](50) NULL,
	[owner_workgroup_id] [varchar](50) NULL,
	[access_mode] [varchar](50) NULL,
	[creation_date] [varchar](50) NULL,
	[update_date] [varchar](50) NULL,
	[author_id] [varchar](50) NULL,
	[update_author_id] [varchar](50) NULL,
	[company] [varchar](50) NULL,
	[curncy] [varchar](50) NULL,
	[country] [varchar](50) NULL,
	[ct_0000_at] [varchar](50) NULL,
	[ct_0000_zone] [varchar](50) NULL,
	[ct_0000_etype] [varchar](50) NULL,
	[ct_0000_objective] [varchar](50) NULL,
	[ct_0000_boa] [varchar](50) NULL,
	[ct_0000_adress] [varchar](50) NULL,
	[ct_0000_contact] [varchar](50) NULL,
	[ct_0000_tel] [varchar](50) NULL,
	[ct_0000_area] [varchar](50) NULL
) ON [PRIMARY]
GO
