USE [RWA]
GO
/****** Object:  Table [dbo].[BFC_ct_conso_aggreg]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BFC_ct_conso_aggreg](
	[period] [varchar](50) NULL,
	[entity] [varchar](50) NULL,
	[accnt] [varchar](50) NULL,
	[consamount] [varchar](50) NULL
) ON [PRIMARY]
GO
