USE [RWA]
GO
/****** Object:  Table [dbo].[COMMON_USER]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMMON_USER](
	[userid] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](100) NULL,
	[login] [varchar](20) NULL,
	[password] [nvarchar](10) NULL,
	[emailaddress] [varchar](100) NULL,
	[isactive] [bit] NOT NULL,
 CONSTRAINT [PK_COMMON_USER] PRIMARY KEY CLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
