USE [RWA]
GO
/****** Object:  Table [dbo].[HECATE_INVENTAIRE_NORMALISES]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HECATE_INVENTAIRE_NORMALISES](
	[PeriodeCloture] [nvarchar](6) NOT NULL,
	[Source] [nvarchar](3) NOT NULL,
	[NumLigne] [int] NOT NULL,
	[Identifiant] [nvarchar](50) NOT NULL,
	[Nom] [nvarchar](255) NOT NULL,
	[ValeurDeMarche] [float] NOT NULL,
	[Categorie1] [nvarchar](100) NOT NULL,
	[Categorie2] [nvarchar](100) NULL,
	[DeviseDeCotation] [nvarchar](50) NOT NULL,
	[TauxObligation] [decimal](18, 2) NULL,
	[DateMaturite] [date] NULL,
	[DateExpiration] [date] NULL,
	[Tiers] [nvarchar](255) NULL,
	[RAF] [nvarchar](7) NULL,
	[BOA_SJ] [nvarchar](7) NULL,
	[BOA_Contrepartie] [nvarchar](7) NULL,
	[BOA_DEFAUT] [nvarchar](7) NULL,
	[IdentifiantOrigine] [nvarchar](50) NOT NULL,
	[RefCategorieRWA] [nvarchar](3) NULL,
	[IdentifiantUniqueRetenu] [nvarchar](13) NULL,
	[RAFEnrichi] [nvarchar](7) NULL,
	[LibelleOrigine] [nvarchar](255) NULL,
	[DateFinContrat] [date] NULL,
	[Commentaires] [nvarchar](200) NULL,
	[Bloomberg] [nvarchar](70) NULL,
	[RefTypeDepot] [int] NOT NULL,
	[RefTypeResultat] [int] NOT NULL,
	[CodeResultat] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HECATE_INVENTAIRE_NORMALISES]  WITH CHECK ADD  CONSTRAINT [FK_HECATE_INVENTAIRE_NORMALISES_HECATE_TYPE_DEPOT] FOREIGN KEY([RefTypeDepot])
REFERENCES [dbo].[HECATE_TYPE_DEPOT] ([IdTypeDepo])
GO
ALTER TABLE [dbo].[HECATE_INVENTAIRE_NORMALISES] CHECK CONSTRAINT [FK_HECATE_INVENTAIRE_NORMALISES_HECATE_TYPE_DEPOT]
GO
ALTER TABLE [dbo].[HECATE_INVENTAIRE_NORMALISES]  WITH CHECK ADD  CONSTRAINT [FK_HECATE_INVENTAIRE_NORMALISES_HECATE_TYPE_RESULTAT] FOREIGN KEY([RefTypeResultat])
REFERENCES [dbo].[HECATE_TYPE_RESULTAT] ([IdTypeResultat])
GO
ALTER TABLE [dbo].[HECATE_INVENTAIRE_NORMALISES] CHECK CONSTRAINT [FK_HECATE_INVENTAIRE_NORMALISES_HECATE_TYPE_RESULTAT]
GO
