USE [RWA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[HECATE_INTERNE_HISTORIQUE](
	[Source] [nvarchar](3) NOT NULL,
	[IdentifiantOrigine] [nvarchar](50) NOT NULL,
	[RefCategorieRWA] [nvarchar](3) NOT NULL,
	[IdentifiantUniqueRetenu] [nvarchar](13) NOT NULL,
	[RAF] [nvarchar](7) NOT NULL,
	[LibelleOrigine] [nvarchar](255) NOT NULL,
	[DateEcheance] [date] NULL,
	BBGTicker nvarchar(30) NULL,
	LibelleTypeDette nvarchar(12) NULL,
	LastUpdate datetime NULL
CONSTRAINT libelleTypeDette_CHK2 CHECK (LibelleTypeDette IN ('SUBORDONNE'))
CONSTRAINT [PK_BDD_INTERNE_HISTORIQUE] PRIMARY KEY CLUSTERED 
(
	[Source] ASC,
	[IdentifiantOrigine] ASC,
	[LibelleOrigine] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_HECATE_INT_HIS_SOURCE] ON dbo.[HECATE_INTERNE_HISTORIQUE] ([Source] ASC);
GO