USE [RWA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[HECATE_CAT_DEPOSITAIRE1](
	[IdDepositaire1] [bigint] IDENTITY(1,1) NOT NULL,
	[LibelleDepositaire1] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_TBL_CAT_DEPOSITAIRE1] PRIMARY KEY CLUSTERED 
(
	[IdDepositaire1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE UNIQUE NONCLUSTERED INDEX [IX_TBL_CAT_DEPOSITAIRE1] ON dbo.[HECATE_CAT_DEPOSITAIRE1] ([LibelleDepositaire1] ASC);
GO