USE [RWA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[HECATE_TYPE_RESULTAT](
	[IdTypeResultat] [int] IDENTITY(1,1) NOT NULL,
	[Resultat] [nvarchar](6) NOT NULL,
 CONSTRAINT [PK_HECATE_TYPE_RESULTAT] PRIMARY KEY CLUSTERED 
(
	[IdTypeResultat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE UNIQUE NONCLUSTERED INDEX [IX_HECATE_TYPE_RESULTAT] ON dbo.[HECATE_TYPE_RESULTAT] ([Resultat] ASC);
GO