USE [RWA]
GO
/****** Object:  Table [dbo].[HECATE_COMPTEUR_TMP]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HECATE_COMPTEUR_TMP](
	[Source] [nvarchar](3) NOT NULL,
	[RefCategorieRWA] [nvarchar](3) NOT NULL,
	[PeriodeCloture] [nvarchar](6) NOT NULL,
	[Compteur] [int] NULL
) ON [PRIMARY]
GO
