USE [RWA]
GO
/****** Object:  Table [dbo].[HECATE_CATEGORIE_RWA]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HECATE_CATEGORIE_RWA](
	[IdCatRWA] [nvarchar](3) NOT NULL,
	[Libelle] [nvarchar](50) NOT NULL,
	[ValeurMobiliere] [char](1) NOT NULL,
 CONSTRAINT [PK_TBL_CATEGORIE_RWA] PRIMARY KEY CLUSTERED 
(
	[IdCatRWA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
