USE [RWA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[HECATE_TYPE_LOG](
	[IdTypeLog] [bigint] IDENTITY(0,1) NOT NULL,
	[Type] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_HECATE_TYPE_LOG] PRIMARY KEY CLUSTERED 
(
	[IdTypeLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE UNIQUE NONCLUSTERED INDEX [IX_HECATE_TYPE_LOG] ON dbo.[HECATE_TYPE_LOG] ([Type] ASC);
GO