USE [RWA]
GO
/****** Object:  Table [dbo].[HECATE_COMPTEUR]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HECATE_COMPTEUR](
	[Source] [nvarchar](3) NOT NULL,
	[RefCategorieRWA] [nvarchar](3) NOT NULL,
	[PeriodeCloture] [nvarchar](6) NOT NULL,
	[Compteur] [int] NULL,
 CONSTRAINT [PK_HECATE_COMPTEUR] PRIMARY KEY CLUSTERED 
(
	[Source] ASC,
	[RefCategorieRWA] ASC,
	[PeriodeCloture] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
