USE [RWA]
GO
/****** Object:  Table [dbo].[HECATE_COMPTEURALPHA]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HECATE_COMPTEURALPHA](
	[Idcompteuralpha] [int] IDENTITY(1,1) NOT NULL,
	[Compteuralpha] [char](2) NOT NULL,
 CONSTRAINT [PK_HECATE_COMPTEURALPHA] PRIMARY KEY CLUSTERED 
(
	[Idcompteuralpha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
