USE [RWA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[HECATE_TETHYS](
	[IDENTIFIANT RAF] [varchar](15) NULL,
	[LIBELLE COURT] [varchar](24) NULL,
	[RAISON SOCIALE] [varchar](70) NULL,
	[PAYS DE RESIDENCE] [varchar](17) NULL,
	[PAYS DE NATIONALITE] [varchar](19) NULL,
	[NUMERO ET NOM DE RUE] [varchar](51) NULL,
	[VILLE] [varchar](51) NULL,
	[CATEGORIE TETHYS] [varchar](16) NULL,
	[NAF NACE] [varchar](9) NULL,
	[CODE ISIN] [varchar](31) NULL,
	[SEGMENT DE RISQUE] [varchar](17) NULL,
	[SEGMENTATION BPCE] [varchar](17) NULL,
	[CODE CUSIP] [varchar](31) NULL,
	[RAF TETE GROUPE REGLEMENTAIRE] [varchar](30) NULL,
	[NOM TETE GROUPE REGLEMENTAIRE] [varchar](71) NULL,
	[DATE NOTATION INTERNE] [varchar](21) NULL,
	[CODE NOTATION] [varchar](13) NULL,
	[CODE CONSO] [varchar](31) NULL,
	[CODE APPARENTEMENT] [varchar](18) NULL
) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_HECATE_TETHYS_ISIN] ON [dbo].[HECATE_TETHYS] ([CODE ISIN] ASC);
GO

CREATE NONCLUSTERED INDEX [IX_HECATE_TETHYS_CUSIP] ON [dbo].[HECATE_TETHYS] ([CODE CUSIP] ASC);
GO