USE [RWA]
GO
/****** Object:  Table [dbo].[HECATE_EQUIVALENCE_CAT_RWA]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HECATE_EQUIVALENCE_CAT_RWA](
	[Source] [nvarchar](3) NOT NULL,
	[RefCatDepositaire1] [bigint] NOT NULL,
	[RefCatDepositaire2] [bigint] NOT NULL,
	[RefCategorieRWA] [nvarchar](3) NOT NULL,
	[RefTypeBloomberg] [nvarchar](10) NULL,
 CONSTRAINT [PK_TBL_EQUIVALENCE_CAT_RWA] PRIMARY KEY CLUSTERED 
(
	[Source] ASC,
	[RefCatDepositaire1] ASC,
	[RefCatDepositaire2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HECATE_EQUIVALENCE_CAT_RWA]  WITH CHECK ADD  CONSTRAINT [FK_TBL_EQUIVALENCE_CAT_RWA_TBL_CAT_DEPOSITAIRE1] FOREIGN KEY([RefCatDepositaire1])
REFERENCES [dbo].[HECATE_CAT_DEPOSITAIRE1] ([IdDepositaire1])
GO
ALTER TABLE [dbo].[HECATE_EQUIVALENCE_CAT_RWA] CHECK CONSTRAINT [FK_TBL_EQUIVALENCE_CAT_RWA_TBL_CAT_DEPOSITAIRE1]
GO
ALTER TABLE [dbo].[HECATE_EQUIVALENCE_CAT_RWA]  WITH CHECK ADD  CONSTRAINT [FK_TBL_EQUIVALENCE_CAT_RWA_TBL_CAT_DEPOSITAIRE2] FOREIGN KEY([RefCatDepositaire2])
REFERENCES [dbo].[HECATE_CAT_DEPOSITAIRE2] ([IdDepositaire2])
GO
ALTER TABLE [dbo].[HECATE_EQUIVALENCE_CAT_RWA] CHECK CONSTRAINT [FK_TBL_EQUIVALENCE_CAT_RWA_TBL_CAT_DEPOSITAIRE2]
GO
ALTER TABLE [dbo].[HECATE_EQUIVALENCE_CAT_RWA]  WITH CHECK ADD  CONSTRAINT [FK_TBL_EQUIVALENCE_CAT_RWA_TBL_CATEGORIE_RWA1] FOREIGN KEY([RefCategorieRWA])
REFERENCES [dbo].[HECATE_CATEGORIE_RWA] ([IdCatRWA])
GO
ALTER TABLE [dbo].[HECATE_EQUIVALENCE_CAT_RWA] CHECK CONSTRAINT [FK_TBL_EQUIVALENCE_CAT_RWA_TBL_CATEGORIE_RWA1]
GO
ALTER TABLE [dbo].[HECATE_EQUIVALENCE_CAT_RWA]  WITH CHECK ADD  CONSTRAINT [FK_TBL_EQUIVALENCE_CAT_RWA_TBL_TYPE_BLOOMBERG] FOREIGN KEY([RefTypeBloomberg])
REFERENCES [dbo].[HECATE_TYPE_BLOOMBERG] ([IdTypeBloomberg])
GO
ALTER TABLE [dbo].[HECATE_EQUIVALENCE_CAT_RWA] CHECK CONSTRAINT [FK_TBL_EQUIVALENCE_CAT_RWA_TBL_TYPE_BLOOMBERG]
GO
