USE [RWA]
GO
/****** Object:  Table [dbo].[HECATE_LOG_CONSO_TMP]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HECATE_LOG_CONSO_TMP](
	[NumLigne] [int] NOT NULL,
	[LogTime] [datetime] NOT NULL,
	[RefTypeLog] [bigint] NOT NULL,
	[PeriodeCloture] [nvarchar](6) NOT NULL,
	[Source] [nvarchar](3) NOT NULL,
	[IdentifiantOrigine] [nvarchar](50) NOT NULL,
	[Message] [nvarchar](255) NULL
) ON [PRIMARY]
GO
