USE [RWA]
GO
/****** Object:  Table [dbo].[HECATE_LOG_IMPORT_EXPORT_TMP]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HECATE_LOG_IMPORT_EXPORT_TMP](
	[Message] [nvarchar](255) NULL,
	[LogTime] [datetime] NOT NULL,
	[RefTypeLog] [bigint] NOT NULL,
	[PeriodeCloture] [nvarchar](6) NULL,
	[Source] [nvarchar](3) NULL,
	[Process] [nvarchar](50) NOT NULL,
	[CodeErreur] [int] NOT NULL
) ON [PRIMARY]
GO
