USE [RWA]
GO
/****** Object:  Table [dbo].[HELIOS_PARAM_MAPPING_TITRES_TRANSPARENCE]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HELIOS_PARAM_MAPPING_TITRES_TRANSPARENCE](
	[IdentifiantISIN] [nvarchar](12) NOT NULL,
	[NomActif] [nvarchar](255) NULL,
	[RefCategorieRWA] [nvarchar](3) NULL,
	[RAF] [nvarchar](7) NULL,
	[TitreLiquide] [nvarchar](1) NOT NULL,
	[TitreCote] [nvarchar](1) NOT NULL,
	[IndiceCotation] [nvarchar](20) NULL,
	[FrequenceCotation] [nvarchar](1) NULL,
	[PlaceCotation] [nvarchar](3) NULL,
 CONSTRAINT [PK_HELIOS_PARAM_MAPPING_TITRES_TRANSPARENCE] PRIMARY KEY CLUSTERED 
(
	[IdentifiantISIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
