USE [RWA]
GO
/****** Object:  Table [dbo].[HELIOS_DATEFICHIER_TOCSV]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HELIOS_DATEFICHIER_TOCSV](
	[YYYY] [nvarchar](4) NULL,
	[MM] [nvarchar](2) NULL,
	[DD] [nvarchar](2) NULL
) ON [PRIMARY]
GO
