USE [RWA]
GO
/****** Object:  Table [dbo].[HELIOS_REPORT_CONTROLE9]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HELIOS_REPORT_CONTROLE9](
	[PeriodeCloture] [nvarchar](6) NOT NULL,
	[CompteMagnitude] [nvarchar](7) NULL,
	[Source] [nvarchar](10) NULL,
	[MontantAgrege] [float] NULL,
	[MontantMagnitude] [float] NULL,
	[Ecart] [float] NULL,
	[Commentaires] [varchar](50) NULL
) ON [PRIMARY]
GO
