USE [RWA]
GO
/****** Object:  Table [dbo].[HELIOS_PARAM_MAPPING_TITRES_MAGNITUDE]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HELIOS_PARAM_MAPPING_TITRES_MAGNITUDE](
	[PartnerID] [nvarchar](15) NOT NULL,
	[LibellePartnerID] [nvarchar](255) NOT NULL,
	[RAF] [nvarchar](7) NULL,
	[RefCategorieRWA] [nvarchar](3) NULL,
	[IdentifiantISIN] [nvarchar](12) NULL,
	[TitreLiquide] [nvarchar](1) NULL,
	[TitreCote] [nvarchar](1) NULL,
	[IndiceCotation] [nvarchar](20) NULL,
	[FrequenceCotation] [nvarchar](1) NULL,
	[PlaceCotation] [nvarchar](3) NULL,
	[CategorieSynthese] [nvarchar](20) NULL,
	[TraitementStandard] [nvarchar](1) NULL,
	[LibelleTypeDette] [nvarchar](12) NULL,
	[ManagementIntent] [nvarchar](2) NULL
CONSTRAINT libelleTypeDette_CHK CHECK (LibelleTypeDette IN ('SUBORDONNE'))
CONSTRAINT managementIntent_CHK CHECK (ManagementIntent IN ('LT','ST'))
 CONSTRAINT [PK_HELIOS_PARAM_MAPPING_TITRES_MAGNITUDE] PRIMARY KEY CLUSTERED 
(
	[PartnerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
