USE [RWA]
GO
/****** Object:  Table [dbo].[HELIOS_REPORT_CONTROLE36]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HELIOS_REPORT_CONTROLE36](
	[IdentifiantB2C] [nvarchar](255) NULL,
	[Source] [nvarchar](3) NULL,
	[IdentifiantUniqueRetenu] [nvarchar](13) NULL,
	[MontantActifPondereSynthese] [float] NULL,
	[MontantActifPondereB2C] [float] NULL,
	[Ecart] [float] NULL
) ON [PRIMARY]
GO
