USE [RWA]
GO
/****** Object:  Table [dbo].[HELIOS_SEED_MONEY]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HELIOS_SEED_MONEY](
	[Source] [nvarchar](3) NOT NULL,
	[Libelle] [nvarchar](255) NULL,
	[PartnerID] [nvarchar](6) NOT NULL,
	[CompteMagnitude] [nvarchar](6) NOT NULL,
	[RAF] [nvarchar](7) NOT NULL,
	[PeriodeCloture] [nvarchar](6) NULL,
	[MontantSeedMoney] [float] NULL,
	[TotalActifSousGestion] [float] NULL
) ON [PRIMARY]
GO
