USE [RWA]
GO
/****** Object:  Table [dbo].[HELIOS_TEMP_PREP_SYNTHESE_RWA_OLD]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HELIOS_TEMP_PREP_SYNTHESE_RWA_OLD](
	[PeriodeCloture] [varchar](6) NOT NULL,
	[CompteMagnitude] [nvarchar](12) NOT NULL,
	[PartnerID] [nvarchar](12) NULL,
	[Montant] [float] NULL
) ON [PRIMARY]
GO
