USE [RWA]
GO
/****** Object:  Table [dbo].[HELIOS_LOG_IMPORT_EXPORT]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HELIOS_LOG_IMPORT_EXPORT](
	[Message] [nvarchar](255) NULL,
	[LogTime] [datetime] NOT NULL,
	[RefTypeLog] [bigint] NOT NULL,
	[PeriodeCloture] [nvarchar](6) NULL,
	[Source] [nvarchar](3) NULL,
	[Process] [nvarchar](50) NOT NULL,
	[CodeErreur] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HELIOS_LOG_IMPORT_EXPORT]  WITH CHECK ADD  CONSTRAINT [FK_HELIOS_LOG_IMPORT_EXPORT_HELIOS_TYPE_LOG] FOREIGN KEY([RefTypeLog])
REFERENCES [dbo].[HELIOS_TYPE_LOG] ([IdTypeLog])
GO
ALTER TABLE [dbo].[HELIOS_LOG_IMPORT_EXPORT] CHECK CONSTRAINT [FK_HELIOS_LOG_IMPORT_EXPORT_HELIOS_TYPE_LOG]
GO
