USE [RWA]
GO
/****** Object:  Table [dbo].[HELIOS_ONGLET_TITRES]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HELIOS_ONGLET_TITRES](
	[IdentifiantUniqueRetenu] [nvarchar](16) NOT NULL,
	[IdentifiantTitre] [nvarchar](16) NOT NULL,
	[NatureTitre] [nvarchar](2) NOT NULL,
	[TypeTitre] [nvarchar](1) NOT NULL,
	[RAFEmetteur] [nvarchar](7) NOT NULL,
	[NominalTitre] [numeric](15, 0) NULL,
	[CodeDeviseNominal] [nvarchar](2) NULL,
	[DateEcheanceTitre] [nvarchar](10) NULL,
	[IndexTaux] [nvarchar](10) NULL,
	[TypeTaux] [nvarchar](2) NULL,
	[ValeurOuMargeTauxFixe] [numeric](15, 0) NULL,
	[DeviseCoupon] [nvarchar](2) NULL,
	[TitreDette] [nvarchar](1) NOT NULL,
	[CoursTitre] [numeric](15, 0) NULL,
	[NombreDecimaleCours] [nvarchar](1) NULL,
	[TitreGaranti] [nvarchar](1) NOT NULL,
	[RAFGarantTitre] [nvarchar](7) NULL,
	[TitreLiquide] [nvarchar](1) NULL,
	[TitreCote] [nvarchar](1) NULL,
	[IndiceCotation] [nvarchar](20) NULL,
	[FrequenceCotation] [nvarchar](1) NULL,
	[PlaceCotation] [nvarchar](3) NULL,
	[RangTitre] [nvarchar](1) NULL,
	[TitreNote] [nvarchar](1) NULL,
	[NotationTitre] [nvarchar](7) NULL,
	[OEEC] [nvarchar](2) NULL,
	[EligibiliteMcDo] [nvarchar](1) NULL,
	[OPCVMComposeTitresEligibles] [nvarchar](1) NULL,
	[Granularite] [nvarchar](1) NULL,
	[DateNotation] [nvarchar](10) NULL
) ON [PRIMARY]
GO
