USE [RWA]
GO
/****** Object:  Table [dbo].[HELIOS_CONTROLES_ONGLET_CONTRATS]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HELIOS_CONTROLES_ONGLET_CONTRATS](
	[PeriodeCloture] [nvarchar](8) NULL,
	[IdentifiantContrat] [nvarchar](30) NOT NULL,
	[ControleRAF] [nvarchar](58) NULL,
	[ControleCodeSegmentMcDonough] [nvarchar](75) NULL,
	[ControlePerimetreMcDonough] [nvarchar](98) NULL,
	[ControleCodeActivite] [nvarchar](107) NULL,
	[ControleDateInitialeFinContrat] [nvarchar](69) NULL,
	[ControleDevise] [nvarchar](39) NOT NULL,
	[ControlePresenceEncours] [varchar](69) NOT NULL,
	[ControlePresenceTitres] [varchar](65) NOT NULL,
	[ControleDoublon] [varchar](38) NOT NULL,
	TauxProbabiliteDefaut [float],
	ClasseLGD [nvarchar](255),
	PourcentageLoanToValueActualized [nvarchar](3),
	PourcentageLoanToValueOrigination [nvarchar](3),
	ManagementIntent [nvarchar](2)
) ON [PRIMARY]
GO
