USE [RWA]
GO
/****** Object:  Table [dbo].[HELIOS_PARAM_ENTREES_PERIMETRE]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HELIOS_PARAM_ENTREES_PERIMETRE](
	[ReportingUnit] [nvarchar](5) NOT NULL,
	[Source] [nvarchar](3) NOT NULL,
	[Libelle] [nvarchar](255) NULL,
	[MethodeStandard] [int] NULL,
 CONSTRAINT [PK_HELIOS_PARAM_ENTREES_PERIMETRE] PRIMARY KEY CLUSTERED 
(
	[ReportingUnit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
