USE [RWA]
GO
/****** Object:  Table [dbo].[HELIOS_IMPORT_FICHIER_ENRICHI_RETRAITE_OLD]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HELIOS_IMPORT_FICHIER_ENRICHI_RETRAITE_OLD](
	[PeriodeCloture] [nvarchar](6) NOT NULL,
	[Source] [nvarchar](3) NOT NULL,
	[CompteMagnitude] [nvarchar](7) NULL,
	[PartnerID] [nvarchar](15) NULL,
	[RefCategorieRWA] [nvarchar](3) NULL,
	[IdentifiantUniqueRetenu] [nvarchar](13) NOT NULL,
	[RAF] [nvarchar](7) NULL,
	[LibelleOrigine] [nvarchar](255) NULL,
	[MontantProratise] [float] NULL,
	[DateFinContrat] [date] NULL,
	[ValeurDeMarche] [float] NULL
) ON [PRIMARY]
GO
