USE [RWA]
GO
/****** Object:  Table [dbo].[HELIOS_TMP_SYNTHESE_RWA_OLD]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HELIOS_TMP_SYNTHESE_RWA_OLD](
	[Source] [nvarchar](3) NULL,
	[CompteMagnitude] [varchar](50) NULL,
	[PartnerID] [varchar](50) NULL,
	[Montant] [varchar](50) NULL
) ON [PRIMARY]
GO
