USE [RWA]
GO
/****** Object:  Table [dbo].[HELIOS_CONTROLES_ONGLET_TITRES]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HELIOS_CONTROLES_ONGLET_TITRES](
	[PeriodeCloture] [nvarchar](8) NULL,
	[IdentifiantTitre] [nvarchar](16) NOT NULL,
	[ControleTypeTitre] [nvarchar](67) NOT NULL,
	[ControleRAF] [nvarchar](61) NULL,
	[ControleCodeDeviseNominal] [nvarchar](70) NULL,
	[ControleTitreCote] [nvarchar](141) NOT NULL,
	[ControleTitreNote] [nvarchar](127) NOT NULL,
	[ControleIdentifiantTitre] [nvarchar](64) NOT NULL,
	[ControlePresenceContrats] [varchar](68) NOT NULL,
	[ControleDoublon] [varchar](36) NOT NULL
) ON [PRIMARY]
GO
