USE [RWA]
GO
/****** Object:  Table [dbo].[HELIOS_PARAM_CLO]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HELIOS_PARAM_CLO](
	[ReferenceContratPIVI] [nvarchar](30) NOT NULL,
	[Source] [nvarchar](3) NOT NULL,
	[AssetID] [nvarchar](30) NOT NULL,
	[AssetDescription] [nvarchar](max) NOT NULL,
	[DateMaturite] [nvarchar](10) NOT NULL,
	[RAF] [nvarchar](7) NOT NULL,
	[DateCloture] [nvarchar](10) NOT NULL,
	[RatingCloture] [nvarchar](5) NOT NULL,
	[Moodys] [nvarchar](5) NOT NULL,
	[SandP] [nvarchar](5) NOT NULL,
	[AgenceCloture] [nvarchar](2) NOT NULL,
	[DateOctroi] [nvarchar](10) NOT NULL,
	[RatingOctroi] [nvarchar](5) NOT NULL,
	[AgenceOctroi] [nvarchar](2) NOT NULL,
 CONSTRAINT [PK_HELIOS_PARAM_CLO] PRIMARY KEY CLUSTERED 
(
	[ReferenceContratPIVI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
