USE [RWA]
GO
/****** Object:  Table [dbo].[HELIOS_PARAM_PARTNERS_A_EXCLURE_PAR_COMPTE_MAGNITUDE]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HELIOS_PARAM_PARTNERS_A_EXCLURE_PAR_COMPTE_MAGNITUDE](
	[CompteMagnitude] [nvarchar](6) NOT NULL,
	[PartnerID] [nvarchar](12) NOT NULL,
 CONSTRAINT [PK_HELIOS_PARAM_PARTNERS_A_EXCLURE_PAR_COMPTE_MAGNITUDE] PRIMARY KEY CLUSTERED 
(
	[CompteMagnitude] ASC,
	[PartnerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
