USE [RWA]
GO
/****** Object:  Table [dbo].[HELIOS_IMPORT_MAGNITUDE_BRUT]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HELIOS_IMPORT_MAGNITUDE_BRUT](
	[PeriodeCloture] [nvarchar](6) NOT NULL,
	[ReportingUnit] [nvarchar](5) NULL,
	[Source] [nvarchar](3) NULL,
	[CompteMagnitude] [nvarchar](7) NULL,
	[PartnerID] [nvarchar](15) NULL,
	[LibellePartnerID] [nvarchar](255) NULL,
	[RefCategorieRWA] [nvarchar](3) NULL,
	[IdentifiantUniqueRetenu] [nvarchar](13) NULL,
	[RAF] [nvarchar](7) NULL,
	[Montant] [float] NULL,
	[DateFinContrat] [date] NULL
) ON [PRIMARY]
GO
