USE [RWA]
GO
/****** Object:  Table [dbo].[HELIOS_TYPE_LOG]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HELIOS_TYPE_LOG](
	[IdTypeLog] [bigint] IDENTITY(0,1) NOT NULL,
	[Type] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_HELIOS_TYPE_LOG] PRIMARY KEY CLUSTERED 
(
	[IdTypeLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
