USE [RWA]
GO
/****** Object:  Table [dbo].[HELIOS_REPORT_CONTROLE1]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HELIOS_REPORT_CONTROLE1](
	[Source] [nvarchar](3) NOT NULL,
	[MontantDisponible] [varchar](1) NOT NULL,
	[FondParametre] [varchar](1) NOT NULL
) ON [PRIMARY]
GO
