USE [RWA]
GO
/****** Object:  Table [dbo].[HELIOS_PARAM_CATEGORIE_SYNTHESE_A_FORCER]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HELIOS_PARAM_CATEGORIE_SYNTHESE_A_FORCER](
	[Source] [nvarchar](3) NOT NULL,
	[CompteMagnitude] [nvarchar](6) NOT NULL,
	[CategorieSynthese] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_HELIOS_PARAM_CATEGORIE_SYNTHESE_A_FORCER] PRIMARY KEY CLUSTERED 
(
	[Source] ASC,
	[CompteMagnitude] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
