USE [RWA]
GO
/****** Object:  Table [dbo].[HELIOS_REPORT_CONTROLE2]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HELIOS_REPORT_CONTROLE2](
	[Source] [nvarchar](3) NOT NULL,
	[IdentifiantUniqueRetenu] [nvarchar](13) NOT NULL,
	[CompteMagnitude] [nvarchar](7) NULL,
	[PartnerID] [nvarchar](15) NULL,
	[MontantProratise] [float] NULL
) ON [PRIMARY]
GO
