USE [RWA]
GO
/****** Object:  Table [dbo].[HELIOS_CONTROLES_ONGLET_ENCOURS]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HELIOS_CONTROLES_ONGLET_ENCOURS](
	[PeriodeCloture] [nvarchar](8) NULL,
	[IdentifiantContrat] [nvarchar](16) NULL,
	[ControleRAF] [nvarchar](62) NULL,
	[ControleEncoursProvisionnels] [nvarchar](83) NULL,
	[ControlePresenceContrats] [varchar](70) NOT NULL
) ON [PRIMARY]
GO
