USE [RWA]
GO
/****** Object:  Table [dbo].[HELIOS_PARAM_ENCOURS_ELEMENTAIRES_PCC]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HELIOS_PARAM_ENCOURS_ELEMENTAIRES_PCC](
	[CodeProduit] [nvarchar](5) NOT NULL,
	[PCC] [nvarchar](9) NOT NULL,
	[NombreEncours] [int] NOT NULL,
	[NumeroEncours1] [nvarchar](4) NULL,
	[PCCEncours1] [nvarchar](9) NULL,
	[TypeEncours1] [nvarchar](5) NULL,
	[SigneEncours1] [real] NULL,
	[NumeroEncours2] [nvarchar](4) NULL,
	[PCCEncours2] [nvarchar](9) NULL,
	[TypeEncours2] [nvarchar](5) NULL,
	[SigneEncours2] [real] NULL,
	[NumeroEncours3] [nvarchar](4) NULL,
	[PCCEncours3] [nvarchar](9) NULL,
	[TypeEncours3] [nvarchar](5) NULL,
	[SigneEncours3] [real] NULL,
 CONSTRAINT [PK_HELIOS_PARAM_ENCOURS_ELEMENTAIRES_PCC] PRIMARY KEY CLUSTERED 
(
	[CodeProduit] ASC,
	[PCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
