USE [RWA]
GO
/****** Object:  Table [dbo].[HELIOS_EXPORT_SYNTHESE_RWA]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HELIOS_EXPORT_SYNTHESE_RWA](
	[Source] [nvarchar](10) NULL,
	[CompteMagnitude] [nvarchar](7) NULL,
	[PartnerID] [nvarchar](15) NULL,
	[IdentifiantUniqueRetenu] [nvarchar](13) NULL,
	[RAF] [nvarchar](7) NULL,
	[LibelleOrigine] [nvarchar](255) NULL,
	[CompteCopernic] [nvarchar](9) NULL,
	[TraitementParTransparenceT1] [nvarchar](3) NULL,
	[CategorieSyntheseT1] [nvarchar](255) NULL,
	[MontantProratiseT1] [float] NULL,
	[MontantMagnitudeT1] [bigint] NULL,
	[MontantActifPondereT1] [float] NULL,
	[MontantActifPondereChangeT1] [float] NULL,
	[TauxPonderationT1] [float] NULL,
	[NotionnelT1] [float] NULL,
	[PoderationEffectiveT1] [float] NULL,
	[RAFB2CT1] [nvarchar](7) NULL,
	[ApprocheT1] [nvarchar](255) NULL,
	[ClasseActifB2T1] [nvarchar](255) NULL,
	[CategorieProduitT1] [nvarchar](255) NULL,
	[RatingT1] [nvarchar](255) NULL,
	[TraitementParTransparenceT2] [nvarchar](3) NULL,
	[CategorieSyntheseT2] [nvarchar](255) NULL,
	[MontantProratiseT2] [float] NULL,
	[MontantActifPondereT2] [float] NULL,
	[TauxPonderationT2] [float] NULL,
	[NotionnelT2] [float] NULL,
	[PoderationEffectiveT2] [float] NULL,
	[RAFB2CT2] [nvarchar](7) NULL,
	[ApprocheT2] [nvarchar](255) NULL,
	[ClasseActifB2T2] [nvarchar](255) NULL,
	[CategorieProduitT2] [nvarchar](255) NULL,
	[RatingT2] [nvarchar](255) NULL,
	[VariationEffetChange] [float] NULL,
	[VariationPonderation] [float] NULL,
	[VariationBruteMagnitude] [float] NULL,
	[VariationRelativeMagnitude] [float] NULL,
	[VariationBruteRWA] [float] NULL,
	[VariationRelativeRWA] [float] NULL
) ON [PRIMARY]
GO
