USE [RWA]
GO
/****** Object:  Table [dbo].[HELIOS_PARAM_MAPPING_MAGNITUDE_COPERNIC_ULISS]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HELIOS_PARAM_MAPPING_MAGNITUDE_COPERNIC_ULISS](
	[CompteMagnitude] [nvarchar](6) NOT NULL,
	[Signe] [nvarchar](2) NOT NULL,
	[RefCategorieRWA] [nvarchar](3) NOT NULL,
	[CompteCopernic] [nvarchar](9) NULL,
	[CodeProduit] [nvarchar](5) NULL,
	[PCEC] [nvarchar](5) NULL,
	[AjoutDeLignes] [nvarchar](1) NULL,
	[Signe2] [nvarchar](2) NULL,
	[RefCategorieRWA2] [nvarchar](3) NULL,
	[CompteCopernic2] [nvarchar](9) NULL,
	[CodeProduit2] [nvarchar](5) NULL,
	[PCEC2] [nvarchar](5) NULL,
	[Signe3] [nvarchar](2) NULL,
	[RefCategorieRWA3] [nvarchar](3) NULL,
	[CompteCopernic3] [nvarchar](9) NULL,
	[CodeProduit3] [nvarchar](5) NULL,
	[PCEC3] [nvarchar](5) NULL,
 CONSTRAINT [PK_HELIOS_PARAM_MAPPING_MAGNITUDE_COPERNIC_ULISS] PRIMARY KEY CLUSTERED 
(
	[CompteMagnitude] ASC,
	[RefCategorieRWA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
