USE [RWA]
GO
/****** Object:  Table [dbo].[HELIOS_TEMP_IMPORT_SYNTHESE_B2C_TF]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HELIOS_TEMP_IMPORT_SYNTHESE_B2C_TF](
	[Identifiant] [nvarchar](255) NULL,
	[Approche] [nvarchar](255) NULL,
	[RAFB2C] [nvarchar](7) NULL,
	[ClasseActifB2] [nvarchar](255) NULL,
	[CategorieProduit] [nvarchar](255) NULL,
	[Rating] [nvarchar](255) NULL,
	[TauxPonderation] [float] NULL,
	[MontantActifPondere] [float] NULL,
	[Notionnel] [float] NULL
) ON [PRIMARY]
GO
