USE [RWA]
GO
/****** Object:  Table [dbo].[HELIOS_PREP_SYNTHESE_RWA_OLD]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HELIOS_PREP_SYNTHESE_RWA_OLD](
	[PeriodeCloture] [nvarchar](6) NULL,
	[Source] [nvarchar](6) NULL,
	[CompteMagnitude] [nvarchar](7) NULL,
	[PartnerID] [nvarchar](15) NULL,
	[RefCategorieRWA] [nvarchar](3) NULL,
	[IdentifiantUniqueRetenu] [nvarchar](13) NULL,
	[RAF] [nvarchar](7) NULL,
	[LibelleOrigineOuPartnerID] [nvarchar](255) NULL,
	[MontantProratise] [float] NULL,
	[DateFinContrat] [date] NULL,
	[CompteCopernic] [nvarchar](9) NULL,
	[CodeProduit] [nvarchar](5) NULL,
	[PCEC] [nvarchar](5) NULL,
	[CategorieSynthese] [nvarchar](255) NULL,
	[TauxPonderation] [float] NULL,
	[MontantActifPondere] [float] NULL,
	[Notionnel] [float] NULL,
	[RAFB2C] [nvarchar](7) NULL,
	[Approche] [nvarchar](255) NULL,
	[ClasseActifB2] [nvarchar](255) NULL,
	[CategorieProduit] [nvarchar](255) NULL,
	[Rating] [nvarchar](255) NULL,
	[Transparence] [nvarchar](3) NULL,
	[Montant] [int] NULL
) ON [PRIMARY]
GO
