USE [RWA]
GO
/****** Object:  Table [dbo].[HELIOS_PARAM_RATING_TITRISATIONS]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HELIOS_PARAM_RATING_TITRISATIONS](
	[IdentifiantISIN] [nvarchar](12) NOT NULL,
	[Rating] [nvarchar](4) NULL,
	[OEEC] [nvarchar](2) NULL,
 CONSTRAINT [PK_HELIOS_PARAM_RATING_TITRISATIONS] PRIMARY KEY CLUSTERED 
(
	[IdentifiantISIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
