USE [RWA]
GO
/****** Object:  Table [dbo].[HELIOS_ONGLET_CONTRATS]    Script Date: 01/26/2024 4:45:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HELIOS_ONGLET_CONTRATS](
	[CodeUFONegociatrice] [nvarchar](50) NOT NULL,
	[CodeEtablissement] [nvarchar](50) NOT NULL,
	[CodeProduit] [nvarchar](5) NOT NULL,
	[DateFinContrat] [nvarchar](10) NOT NULL,
	[DateInitialeFinContrat] [nvarchar](10) NOT NULL,
	[DateSignatureContrat] [nvarchar](10) NOT NULL,
	[IdentifiantContrat] [nvarchar](30) NOT NULL,
	[TauxLGD] [numeric](15, 0) NULL,
	[FCEC] [numeric](15, 0) NULL,
	[DateEffet] [nvarchar](10) NOT NULL,
	[ReferenceMontage] [nvarchar](8) NULL,
	[PortefeuilleIAS] [nvarchar](3) NOT NULL,
	[PtfReglementaireMcDo] [nvarchar](7) NOT NULL,
	[PaysRisque] [nvarchar](2) NULL,
	[PresenceCreditPartage] [nvarchar](1) NOT NULL,
	[Devise] [nvarchar](3) NOT NULL,
	[RAFTiers] [nvarchar](7) NOT NULL,
	[CodeSegmentMcDo] [nvarchar](2) NULL,
	[IdentifiantISIN] [nvarchar](16) NULL,
	[Diversifiee] [nvarchar](1) NOT NULL,
	[IndicateurPerimetreMcDo] [nvarchar](1) NOT NULL,
	[MotifExclusionMcDo] [nvarchar](2) NULL,
	[DateDebutFinancement] [nvarchar](10) NULL,
	[NbEncoursElementaires] [numeric](15, 0) NOT NULL,
	[StrategieFrench] [nvarchar](3) NULL,
	[MethodeBaleII] [nvarchar](7) NOT NULL,
	[TypeParticipation] [nvarchar](1) NULL,
	[TypeContratNetting] [nvarchar](1) NULL,
	[ReferenceContratNettingReglem] [nvarchar](30) NULL,
	[SensOperation] [nvarchar](1) NULL,
	[LibelleTypeDette] [nvarchar](15) NULL,
	[CodeActivite] [nvarchar](50) NOT NULL,
	[PresenceGarantie] [nvarchar](50) NOT NULL,
	[NombreGaranties] [numeric](15, 0) NOT NULL,
	[ProduitAS400] [nvarchar](6) NULL,
	[TypeOption] [nvarchar](2) NULL,
	[PrixExerciceOption] [numeric](15, 0) NULL,
	[FlagComptesSegregues] [nvarchar](1) NULL,
	[Quantite] [nvarchar](17) NULL,
	[PrixNegocie] [numeric](15, 0) NULL,
	[PrixUnitaireContrat] [numeric](15, 0) NULL,
	[Section] [nvarchar](2) NULL,
	[TopTransparence] [nvarchar](50) NOT NULL,
	[TauxProbabiliteDefaut] [float] NULL,
	[ClasseLGD] [nvarchar](255) NULL,
	[PourcentageLoanToValueActualized] [nvarchar](3) NULL,
	[PourcentageLoanToValueOrigination] [nvarchar](3) NULL,
	[PourcentageLoanToValueCRR3] [nvarchar(3)] NULL,
	[ManagementIntent] [nvarchar](2) NULL
	CONSTRAINT managementIntent_CHK2 CHECK (ManagementIntent IN ('LT','ST'))
) ON [PRIMARY]
GO
