USE [RWA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[HELIOS_PARAM_CODES_PRODUIT](
	[CodeProduit] [nvarchar](5) NOT NULL,
	[CodeSegmentMcDo] [nvarchar](2) NULL,
	[ValeurMobiliere] [nvarchar](1) NOT NULL,
	[TypeParticipation] [nvarchar](1) NULL,
	[SensOperation] [nvarchar](1) NOT NULL,
	[NatureTitre] [nvarchar](2) NULL,
	[TypeTitre] [nvarchar](1) NULL,
	[TitreDette] [nvarchar](1) NULL,
	[OPCVMComposeTitresEligibles] [nvarchar](1) NULL,
 CONSTRAINT [PK_HELIOS_PARAM_CODES_PRODUIT] PRIMARY KEY CLUSTERED 
(
	[CodeProduit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE UNIQUE NONCLUSTERED INDEX [IX_HELIOS_PARAM_CODES_PRODUIT] ON dbo.[HELIOS_PARAM_CODES_PRODUIT] ([CodeProduit] ASC);
GO