USE [RWA]
GO
/****** Object:  Table [dbo].[HELIOS_REPORT_CONTROLE0A]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HELIOS_REPORT_CONTROLE0A](
	[TypeRAF] [varchar](11) NULL,
	[PeriodeCloture] [nvarchar](6) NOT NULL,
	[Source] [nvarchar](3) NULL,
	[IdentifiantUniqueRetenu] [nvarchar](13) NULL,
	[RefCategorieRWA] [nvarchar](3) NULL,
	[RAF] [nvarchar](7) NULL,
	[LibellePartnerID] [nvarchar](255) NULL,
	[DateFinContrat] [date] NULL
) ON [PRIMARY]
GO
