USE [RWA]
GO
/****** Object:  Table [dbo].[HELIOS_CONTROLES_COHERENCE_MONTANTS_ENCOURS]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HELIOS_CONTROLES_COHERENCE_MONTANTS_ENCOURS](
	[Compte] [nvarchar](7) NULL,
	[Source] [nvarchar](10) NULL,
	[MontantEncours] [int] NULL,
	[MontantReferenceMagnitude] [int] NULL,
	[Ecart] [int] NULL,
	[Commentaires] [varchar](57) NULL
) ON [PRIMARY]
GO
