USE [RWA]
GO
/****** Object:  Table [dbo].[HELIOS_REPORT_CONTROLE4]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HELIOS_REPORT_CONTROLE4](
	[Source] [nvarchar](3) NOT NULL,
	[MontantSeedMoney] [float] NULL,
	[SommeMontantProratise] [float] NULL,
	[Ecart] [float] NULL
) ON [PRIMARY]
GO
