USE [RWA]
GO
/****** Object:  Table [dbo].[HELIOS_ONGLET_CONTRATS_TOCSV]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HELIOS_ONGLET_CONTRATS_TOCSV](
	[CodeUFONegociatrice] [nvarchar](50) NULL,
	[CodeEtablissement] [nvarchar](50) NULL,
	[CodeProduit] [nvarchar](5) NULL,
	[DateFinContrat] [nvarchar](10) NULL,
	[DateInitialeFinContrat] [nvarchar](10) NULL,
	[DateSignatureContrat] [nvarchar](10) NULL,
	[IdentifiantContrat] [nvarchar](30) NULL,
	[TauxLGD] [numeric](15, 0) NULL,
	[FCEC] [numeric](15, 0) NULL,
	[DateEffet] [nvarchar](10) NULL,
	[ReferenceMontage] [nvarchar](8) NULL,
	[PortefeuilleIAS] [nvarchar](3) NULL,
	[PtfReglementaireMcDo] [nvarchar](7) NULL,
	[PaysRisque] [nvarchar](2) NULL,
	[PresenceCreditPartage] [nvarchar](1) NULL,
	[Devise] [nvarchar](3) NULL,
	[RAFTiers] [nvarchar](7) NULL,
	[CodeSegmentMcDo] [nvarchar](2) NULL,
	[IdentifiantISIN] [nvarchar](16) NULL,
	[Diversifiee] [nvarchar](1) NULL,
	[IndicateurPerimetreMcDo] [nvarchar](1) NULL,
	[MotifExclusionMcDo] [nvarchar](2) NULL,
	[DateDebutFinancement] [nvarchar](10) NULL,
	[NbEncoursElementaires] [numeric](15, 0) NULL,
	[StrategieFrench] [nvarchar](3) NULL,
	[MethodeBaleII] [nvarchar](7) NULL,
	[TypeParticipation] [nvarchar](1) NULL,
	[TypeContratNetting] [nvarchar](1) NULL,
	[ReferenceContratNettingReglem] [nvarchar](30) NULL,
	[SensOperation] [nvarchar](1) NULL,
	[LibelleTypeDette] [nvarchar](15) NULL,
	[CodeActivite] [nvarchar](50) NULL,
	[PresenceGarantie] [nvarchar](50) NULL,
	[NombreGaranties] [numeric](15, 0) NULL,
	[ProduitAS400] [nvarchar](6) NULL,
	[TypeOption] [nvarchar](2) NULL,
	[PrixExerciceOption] [numeric](15, 0) NULL,
	[FlagComptesSegregues] [nvarchar](1) NULL,
	[Quantite] [nvarchar](17) NULL,
	[PrixNegocie] [numeric](15, 0) NULL,
	[PrixUnitaireContrat] [numeric](15, 0) NULL,
	[Section] [nvarchar](2) NULL,
	[TopTransparence] [nvarchar](50) NULL
) ON [PRIMARY]
GO
