USE [RWA]
GO
/****** Object:  Table [dbo].[HELIOS_PARAM_CATEGORIE_SYNTHESE_A_MODIFIER]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HELIOS_PARAM_CATEGORIE_SYNTHESE_A_MODIFIER](
	[Source] [nvarchar](3) NOT NULL,
	[ValeurAAjouter] [nvarchar](10) NOT NULL
) ON [PRIMARY]
GO
