USE [RWA]
GO
/****** Object:  Table [dbo].[HELIOS_REPORT_CONTROLE0B]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HELIOS_REPORT_CONTROLE0B](
	[TypeRAF] [varchar](37) NOT NULL,
	[PeriodeCloture] [nvarchar](6) NULL,
	[Source] [nvarchar](3) NULL,
	[IdentifiantUniqueRetenu] [nvarchar](12) NULL,
	[RefCategorieRWA] [nvarchar](3) NULL,
	[RAF] [nvarchar](7) NULL,
	[LibelleOrigine] [nvarchar](255) NULL,
	[DateFinContrat] [date] NULL
) ON [PRIMARY]
GO
