USE [RWA]
GO
/****** Object:  Table [dbo].[HELIOS_ONGLET_ENCOURS_PCC_TOCSV]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HELIOS_ONGLET_ENCOURS_PCC_TOCSV](
	[CodeUFONegociatrice] [nvarchar](50) NULL,
	[CodeEtablissement] [nvarchar](50) NULL,
	[IdentifiantContrat] [nvarchar](30) NULL,
	[NumeroEncours] [nvarchar](4) NULL,
	[RAF] [nvarchar](7) NULL,
	[PCCEncours] [nvarchar](9) NULL,
	[ValeurTauxFixe] [numeric](15, 0) NULL,
	[TypeEncours] [nvarchar](5) NULL,
	[MontantEncours] [numeric](15, 0) NULL,
	[DeviseEncours] [nvarchar](50) NULL,
	[DateDebutImpact] [nvarchar](10) NULL,
	[DateFinImpact] [nvarchar](10) NULL,
	[FlagEncoursMcDo] [nvarchar](50) NULL,
	[PeriodiciteInterets] [nvarchar](2) NULL,
	[FixiteTauxContrat] [nvarchar](2) NULL,
	[ELCredit] [numeric](15, 0) NULL,
	[ELDilution] [numeric](15, 0) NULL,
	[NumTirage] [nvarchar](50) NULL
) ON [PRIMARY]
GO
