USE [RWA]
GO
/****** Object:  Table [dbo].[HELIOS_PARAM_COMPTES_MAGNITUDE_A_EXTRAIRE]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HELIOS_PARAM_COMPTES_MAGNITUDE_A_EXTRAIRE](
	[CompteMagnitude] [nvarchar](6) NOT NULL,
	[DetailsParPartnerID] [nvarchar](1) NOT NULL,
	[RAF] [nvarchar](7) NULL,
	[PartnerID] [nvarchar](12) NULL,
	[LibellePartnerID] [nvarchar](255) NULL,
	[CompteMagnitudeRemplacement] [nvarchar](6) NULL,
	[CompteANetter] [nvarchar](1) NULL,
 CONSTRAINT [PK_HELIOS_PARAM_COMPTES_MAGNITUDE_A_EXTRAIRE] PRIMARY KEY CLUSTERED 
(
	[CompteMagnitude] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
