USE [RWA]
GO
/****** Object:  Table [dbo].[HELIOS_PARAM_INTENTION_GESTION_PAR_COMPTE]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HELIOS_PARAM_INTENTION_GESTION_PAR_COMPTE](
	[CompteMagnitude] [nvarchar](7) NOT NULL,
	[PortefeuilleIAS] [nvarchar](255) NULL,
 CONSTRAINT [PK_HELIOS_PARAM_INTENTION_GESTION_PAR_COMPTE] PRIMARY KEY CLUSTERED 
(
	[CompteMagnitude] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
