USE [RWA]
GO
/****** Object:  Table [dbo].[TF]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TF](
	[CodeUFONegociatrice] [varchar](3) NOT NULL,
	[CodeEtablissement] [varchar](3) NOT NULL,
	[CodeProduit] [nvarchar](5) NULL,
	[IdentifiantContrat] [nvarchar](16) NULL,
	[TauxLGD] [int] NULL,
	[FCEC] [int] NULL,
	[ReferenceMontage] [int] NULL,
	[PortefeuilleIAS] [nvarchar](255) NULL,
	[PtfReglementaireMcDo] [varchar](7) NOT NULL,
	[PaysRisque] [int] NULL,
	[PresenceCreditPartage] [varchar](1) NOT NULL,
	[Devise] [varchar](3) NOT NULL,
	[RAFTiers] [nvarchar](7) NULL,
	[CodeSegmentMcDo] [nvarchar](2) NULL,
	[IdentifiantISIN] [nvarchar](13) NULL,
	[Diversifiee] [varchar](1) NOT NULL,
	[IndicateurPerimetreMcDo] [varchar](1) NOT NULL,
	[MotifExclusionMcDo] [int] NULL,
	[DateDebutFinancement] [int] NULL,
	[NbEncoursElementaires] [int] NULL,
	[StrategieFrench] [int] NULL,
	[MethodeBaleII] [varchar](7) NOT NULL,
	[TypeParticipation] [nvarchar](1) NULL,
	[TypeContratNetting] [int] NULL,
	[ReferenceContratNettingReglem] [int] NULL,
	[SensOperation] [nvarchar](1) NULL,
	[LibelleTypeDette] [int] NULL,
	[CodeActivite] [varchar](6) NOT NULL,
	[PresenceGarantie] [varchar](1) NOT NULL,
	[NombreGaranties] [int] NOT NULL,
	[ProduitAS400] [int] NULL,
	[TypeOption] [int] NULL,
	[PrixExerciceOption] [int] NULL,
	[FlagComptesSegregues] [int] NULL,
	[Quantite] [int] NULL,
	[PrixNegocie] [int] NULL,
	[PrixUnitaireContrat] [int] NULL,
	[Section] [int] NULL,
	[TopTransparence] [varchar](1) NOT NULL
) ON [PRIMARY]
GO
