@{
    ViewData["Title"] = "Inventaires normalisés"; // Définir le titre de la page
}

<link rel="stylesheet" type="text/css" href="/css/menu.css" />
@* <environment include="Development">
    <!-- Vite development server script -->
    <script type="module" src="http://localhost:5173/@@vite/client"></script>
    <script type="module" src="~/main.ts"></script>
</environment>
<environment include="Production">
    <script type="module" src="~/@Manifest["main.ts"]!.File" asp-append-version="true"></script>
</environment> *@


	<div role="main" id="app">
	</div>