@{
    ViewData["Title"] = "Tethys"; // Définir le titre de la page
}

<link rel="stylesheet" type="text/css" href="/css/menu.css" />

<div id="divWrapper">
    <span id="divTitle">@ViewData["Title"]</span>
    <div id="divContent">
        <div class="btnMenuParam" asp-controller="HECATE" asp-action="Tethys">
            <span class="spanMenuTitle">TO DO</span>
        </div>
    </div>
</div>