@model RWA.Web.Application.Models.ImportExportViewModel
@{
	ViewData["Title"] = $"Import/Export{Model.ImportExportType.ToString()}";
}

<div class="container btnMenuParam position-relative">
	<div class="row">
		<div class="col inineFlexDisplay">
			<span class="spanMenuTitle left">@Model.Title</span>
			<i class="bi bi-info-circle" data-toggle="tooltip" data-placement="top" title=@Model.TooltipMessage></i>
		</div>
		<div class="col">
			<a asp-action="DownloadTemplate" asp-route-importExportType="@Model.ImportExportType" data-mdb-ripple-init class="position-absolute top-0 end-0 btn btn-primary" style="background-color: #3b5998;" role="button">
				<i class="bi bi-download"></i>
			</a>
		</div>

	</div>
	<div class="row">
		<form asp-action="Import" method="post" enctype="multipart/form-data" class="row g-3">
			<input type="hidden" id="TooltipMessage" name="TooltipMessage" value='@Model.TooltipMessage' />
			<div class="col">
				<input type="file" class="form-control" name="FileUpload" id="FileUpload" accept=".xlsx" required />
				
			</div>
			<div class="col">
				<button type="submit" class="btn simplebtnMenuParam mb-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">Import</button>
			</div>

		</form>
	</div>
</div>
@section scripts {
	<script>
		$(document).ready(function () {
			$('[data-toggle="tooltip"]').tooltip(
		{container:'body', trigger: 'hover', placement:"top"}
		);
		});
	</script>
}