USE [RWA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[USP_HECATE_EXPORT_EXPORTEXCELCONSOENRICHI]
	@PeriodeCloture nvarchar(6),  -- TODO rename but beware to update dependency
	@NomFichierXLSXGenere nvarchar(255) OUTPUT
AS
BEGIN

	-- SET NOCOUNT ON added to prevent extra result sets from interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DECLARE @ModelFile nvarchar(255),
			@ExportedFile nvarchar(255),
			@ExportedFileWorksheet nvarchar(30) = 'Enrichi_HECATE',
			@ExportMessage nvarchar(1000),
			@Command nvarchar(3000),
			@sqlCommandLogConso nvarchar(3000),

			@FileExistenceCheck int,
			@ErrorMessage nvarchar(1000),
			@ErrorNumber nvarchar(255)

	-- 1) Check if model file is present
	SET @ModelFile = 'E:\RWA\HECATE\Modeles\Enrichi.xlsx'
	EXEC xp_fileexist @ModelFile, @FileExistenceCheck OUTPUT
	
	-- 2) Generate extract
	IF @FileExistenceCheck = 1
		BEGIN
			-- 2.1) Copy template file with target export file name
			SET @ExportedFile = 'Fichier_Enrichi_' + @PeriodeCloture + '_' + replace(CONVERT(nvarchar(20),GETDATE(),103),'/','-') + '_' + replace(left(CONVERT(time, GETDATE(),20),8),':','') + '.xlsx'
			SET @Command = N'copy "E:\RWA\HECATE\Modeles\Enrichi.xlsx" "E:\RWA\HECATE\Export\Consolidation\' + @ExportedFile + '"'
			EXEC xp_cmdshell @Command, no_output

			-- 2.2) Load data in export file
			SET @Command=N'INSERT INTO OPENROWSET(	''Microsoft.ACE.OLEDB.12.0'',
							''Excel 12.0;DATABASE=E:\RWA\HECATE\Export\Consolidation\' + @ExportedFile + ''',
							''Select * from [' + @ExportedFileWorksheet + '$]'')
							([Période],
							[Source],
							[Catégorie RWA],
							[Identifiant unique retenu],
							[RAF],
							[Libellé d''origine],
							[Date de fin de contrat],
							[Commentaires],
							[Identifiant d''origine],
							[Valeur de marché],
							[Asset Type 1],
							[Asset Type 2],
							[Devise de cotation],
							[Obligation Rate],
							[Date de maturité],
							[Date d''expiration],
							[Tiers d''origine],
							[BOA_SJ],
							[BOA_Contrepartie],
							[BOA_DEFAUT],
							[IdBloomberg])
							SELECT hin.PeriodeCloture,
								hin.Source,
								hin.RefCategorieRWA,
								hin.IdentifiantUniqueRetenu,
								hin.RAFEnrichi,
								hin.LibelleOrigine,
								CONVERT(varchar,hin.DateFinContrat,103) as DateFinContrat,
								hin.Commentaires,
								hin.Identifiant,
								CAST(hin.ValeurDeMarche as decimal(18,8)),
								hin.Categorie1,
								hin.Categorie2,
								hin.DeviseDeCotation,
								hin.TauxObligation,
								CONVERT(varchar,hin.DateMaturite,103) as DateMaturite,
								CONVERT(varchar,hin.DateExpiration,103) as DateExpiration,
								hin.Tiers,
								hin.BOA_SJ,
								hin.BOA_Contrepartie,
								hin.BOA_DEFAUT,
								hin.Bloomberg
							FROM dbo.HECATE_INVENTAIRE_NORMALISES hin
							WHERE hin.PeriodeCloture=''' + @PeriodeCloture + ''' AND hin.RefTypeResultat IN (1,2)'
			
			SET @sqlCommandLogConso = N'INSERT INTO OPENROWSET(	''Microsoft.ACE.OLEDB.12.0'',
							''Excel 12.0;DATABASE=E:\RWA\HECATE\Export\Consolidation\' + @ExportedFile + ''',
							''Select * from [LOG_CONSO$]'')
							([N° Ligne],
							[LogTime],
							[TypeLog],
							[PeriodeCloture],
							[Source],
							[IdentifiantOrigine],
							[Message])
							SELECT hlc.NumLigne,
								hlc.LogTime,
								htl.[Type],
								hlc.PeriodeCloture,
								hlc.Source,
								hlc.IdentifiantOrigine,
								hlc.[Message]
							FROM dbo.HECATE_LOG_CONSO hlc
								INNER JOIN dbo.HECATE_TYPE_LOG htl ON hlc.RefTypeLog=htl.IdTypeLog
							WHERE hlc.PeriodeCloture = ''' + @PeriodeCloture + '''
							ORDER BY hlc.PeriodeCloture, hlc.Source, hlc.NumLigne'
							
			BEGIN TRY
				EXEC sp_executesql @Command;

				IF @@ROWCOUNT <> 0 
					BEGIN  -- export successful
						EXEC sp_executesql @sqlCommandLogConso; -- TODO Missing dedicated check or it is expected?

						SET @NomFichierXLSXGenere = @ExportedFile
						SET @ExportMessage = 'Fichier EXCEL exporté sous: ' + @ExportedFile
						EXEC dbo.USP_HECATE_LOG_SETLOGIMPORTEEXPORT 0, @PeriodeCloture, null, 'EXPORT CONSO ENRICHI', 0, @ExportMessage
						RETURN 0
					END
				ELSE
					BEGIN -- no data exported
						SET @NomFichierXLSXGenere = null
						SET @Command = N'del E:\RWA\HECATE\Export\Consolidation\' + @ExportedFile
						EXEC xp_cmdshell @Command, no_output
						EXEC dbo.USP_HECATE_LOG_SETLOGIMPORTEEXPORT 2, @PeriodeCloture, null, 'EXPORT CONSO ENRICHI', 1000, 'Aucune donnée à exporter dans l''onglet Enrichi_HECATE.'
						RETURN 1000
					END
			END TRY
			BEGIN CATCH -- export failure
				SET @NomFichierXLSXGenere = null
				SET @Command = N'del E:\RWA\HECATE\Export\Consolidation\' + @ExportedFile
				EXEC xp_cmdshell @Command, no_output
				
				SET @ErrorMessage = ERROR_MESSAGE()
				SET @ErrorNumber = ERROR_NUMBER()
				EXEC dbo.USP_HECATE_LOG_SETLOGIMPORTEEXPORT 2, @PeriodeCloture, null, 'EXPORT CONSO ENRICHI', @ErrorNumber, @ErrorMessage
				PRINT '(' + @ErrorNumber + ') - ' + @ErrorMessage
				RETURN @ErrorNumber
			END CATCH
		END
	ELSE
		BEGIN
			PRINT 'Missing template file Enrichi.xlsx'
			EXEC dbo.USP_HECATE_LOG_SETLOGIMPORTEEXPORT 2, @PeriodeCloture, null, 'EXPORT CONSO ENRICHI', 1001, 'Missing template file Enrichi.xlsx'
			RETURN 1001;
		END
END