USE [RWA]
GO
/****** Object:  StoredProcedure [dbo].[USP_HECATE_EXPORT_EXPORTEXCELBDDHISTORIQUE]    Script Date: 2/27/2025 3:43:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[USP_HECATE_EXPORT_EXPORTEXCELBDDHISTORIQUE]
	@NomFichierXLSXGenere nvarchar(255) OUTPUT -- TODO remove but beware to update dependency
AS
BEGIN 

	-- SET NOCOUNT ON added to prevent extra result sets from interfering with SELECT statements
	SET NOCOUNT ON;
	
	DECLARE @ModelFile nvarchar(255),
			@ExportedFile nvarchar(255),
			@ExportedFileWorksheet nvarchar(30) = 'BDD',
			@ExportMessage nvarchar(1000),
			@Command nvarchar(3000),

			@FileExistenceCheck int,
			@ErrorMessage nvarchar(1000),
			@ErrorNumber nvarchar(255)
	
	-- 1) Check if model file is present
	SET @ModelFile = 'E:\RWA\HECATE\Modeles\BDDHistorique.xlsx'
	EXEC xp_fileexist @ModelFile, @FileExistenceCheck OUTPUT
	
	-- 2) Generate extract
	IF @FileExistenceCheck = 1
		BEGIN
			-- 2.1) Copy template file with target export file name
			SET @ExportedFile = 'BDDHistorique_' + replace(CONVERT(nvarchar(20),GETDATE(),103),'/','-') + '_' + replace(left(CONVERT(time, GETDATE(),20),8),':','') + '.xlsx'
			SET @Command = N'copy "E:\RWA\HECATE\Modeles\BDDHistorique.xlsx" "E:\RWA\HECATE\Export\Params\' + @ExportedFile + '"'
			EXEC xp_cmdshell @Command, no_output
			
			-- 2.2) Load data in export file
			SET @Command=N'INSERT INTO OPENROWSET(	''Microsoft.ACE.OLEDB.12.0'',
							''Excel 12.0;DATABASE=E:\RWA\HECATE\Export\Params\' + @ExportedFile + ''',
							''Select * from [' + @ExportedFileWorksheet + '$]'')
						(	[Source],
							[Catégorie RWA],
							[Identifiant unique retenu],
							[RAF],
							[Libellé d’origine],
							[Date d’échéance],
							[Identifiant d''origine],
							[BBG Ticker],
							[Libelle du type de dette])
						select hih.Source,
							hih.RefCategorieRWA,
							hih.IdentifiantUniqueRetenu,
							hih.RAF,
							hih.LibelleOrigine,
							hih.DateEcheance,
							hih.IdentifiantOrigine,
							hih.BBGTicker,
							hih.LibelleTypeDette
						FROM dbo.HECATE_INTERNE_HISTORIQUE hih' --CRR3 BBGTicker and LibelleTypeDette
		
		BEGIN TRY
			EXEC sp_executesql @Command;
			
				IF  @@ROWCOUNT <> 0
					BEGIN -- export successful
						SET @NomFichierXLSXGenere = @ExportedFile
						SET @ExportMessage = 'Fichier Excel exporté sous: ' + @ExportedFile
						EXEC dbo.USP_HECATE_LOG_SETLOGIMPORTEEXPORT 0, null, null, 'EXPORT BDD HISTORIQUE', 0, @ExportMessage
						RETURN 0
					END
				ELSE
					BEGIN -- no data exported
						SET @NomFichierXLSXGenere = null
						SET @Command = N'del E:\RWA\HECATE\Export\Params\' + @ExportedFile
						EXEC xp_cmdshell @Command, no_output
						EXEC dbo.USP_HECATE_LOG_SETLOGIMPORTEEXPORT 2, null, null, 'EXPORT BDD HISTORIQUE', 1000, 'Aucune donnée à exporter dans l''onglet BDD.'
						RETURN 1000
					END
			END TRY
			BEGIN CATCH -- export failure
				SET @NomFichierXLSXGenere = null
				SET @Command = N'del E:\RWA\HECATE\Export\Params\' + @ExportedFile
				EXEC xp_cmdshell @Command, no_output
				
				SET @ErrorMessage = ERROR_MESSAGE()
				SET @ErrorNumber = ERROR_NUMBER()
				EXEC dbo.USP_HECATE_LOG_SETLOGIMPORTEEXPORT 2, null, null, 'EXPORT BDD HISTO', @ErrorNumber, @ErrorMessage
				PRINT '(' + @ErrorNumber + ') - ' + @ErrorMessage
				RETURN @ErrorNumber
			END CATCH

		END
	ELSE
		BEGIN
			PRINT 'Missing template file BDDHistorique.xlsx'
			EXEC dbo.USP_HECATE_LOG_SETLOGIMPORTEEXPORT 2, null, null, 'EXPORT BDD HISTO', 1001, 'Missing template file BDDHistorique.xlsx'
			RETURN 1001;
		END
END