USE [RWA]
GO
/****** Object:  StoredProcedure [dbo].[USP_HECATE_IMPORT_IMPORTEXCELRWA]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[USP_HECATE_IMPORT_IMPORTEXCELRWA]
	-- Add the parameters for the stored procedure here
	@NomFichierXLSX nvarchar(255),
	@OngletCatRWAFichierXLSX nvarchar(30),
	@OngletTypeBloomFichierXLSX nvarchar(30),
	@OngletEquiRWAFichierXLSX nvarchar(30)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DECLARE @CodeRetour int,
			@exist int, 
			@ChaineTMP nvarchar(512)
	
	SET @ChaineTMP='E:\RWA\HECATE\Import\Params\' + @NomFichierXLSX
	EXEC xp_fileexist @ChaineTMP, @exist OUTPUT
	
	IF @exist=1 AND @NomFichierXLSX is not null AND @OngletCatRWAFichierXLSX is not null AND @OngletTypeBloomFichierXLSX is not null AND @OngletEquiRWAFichierXLSX is not null
	BEGIN
	
		DELETE FROM dbo.HECATE_EQUIVALENCE_CAT_RWA
		
		DELETE FROM dbo.HECATE_CAT_DEPOSITAIRE1
		
		DELETE FROM dbo.HECATE_CAT_DEPOSITAIRE2
		
		DELETE FROM dbo.HECATE_CATEGORIE_RWA
		
		DELETE FROM dbo.HECATE_TYPE_BLOOMBERG
		
		EXEC @CodeRetour=dbo.USP_HECATE_IMPORT_IMPORTCCATEGORIERWA @NomFichierXLSX, @OngletCatRWAFichierXLSX
		IF @CodeRetour=0
		BEGIN
			EXEC @CodeRetour=dbo.USP_HECATE_IMPORT_IMPORTTYPEBLOOMBERG @NomFichierXLSX, @OngletTypeBloomFichierXLSX
			IF @CodeRetour=0
			BEGIN
				EXEC @CodeRetour=dbo.USP_HECATE_IMPORT_IMPORTEQUIVALENCERWA @NomFichierXLSX, @OngletEquiRWAFichierXLSX
				IF @CodeRetour=0
				BEGIN
					RETURN 0;
				END			
			END		
		END
		
		IF @CodeRetour<>0
		BEGIN
			DELETE FROM dbo.HECATE_EQUIVALENCE_CAT_RWA
			
			DELETE FROM dbo.HECATE_CAT_DEPOSITAIRE1
			
			DELETE FROM dbo.HECATE_CAT_DEPOSITAIRE2
			
			DELETE FROM dbo.HECATE_CATEGORIE_RWA
			
			DELETE FROM dbo.HECATE_TYPE_BLOOMBERG
			
			PRINT '(1) - Erreur dans le fichier.'
			
			RETURN 1;
		END
	END
	ELSE
	BEGIN
		PRINT '(2) - Fichier non trouvé'
		RETURN 2;
	END
END
GO
