USE [RWA]
GO
/****** Object:  StoredProcedure [dbo].[USP_HELIOS_TRAITEMENT_ONGLET_ENCOURS_PCC]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[USP_HELIOS_TRAITEMENT_ONGLET_ENCOURS_PCC]
	@Process nvarchar(256),
	@PeriodeCloture nvarchar(6)
AS
BEGIN
	SET NOCOUNT ON;
	/* 
	Déclaration des variables
		ErrorMssg : message de retour à afficher ou journaliser
		ErrorCode : code de retour à afficher ou journaliser
		SqlCommand : commande SQL complexe à exécuter
		NbLignes : nombre de lignes retournées par la commande SqlCommand
	*/
	DECLARE @ErrorMssg nvarchar(3072),
			@ErrorCode nvarchar(1024),
			@SqlCommand nvarchar(3072),
			@NbLignes int
	
	IF @Process IS NULL
		SET @Process = 'GENERATION ONGLET ENCOURS PCC'
		
	-- Avant de démarrer, on nettoie de la table des logs les lignes correspondantes au @Process actuel
	DELETE FROM dbo.HELIOS_LOG_TRAITEMENTS WHERE Process = @Process
	
	-- Récupération de la période actuelle
	IF @PeriodeCloture IS NULL
		SET @PeriodeCloture = RIGHT('00' + CAST(MONTH(GETDATE())-1 as varchar(2)), 2) + RIGHT('0000' + CAST(YEAR(GETDATE()) as varchar(4)), 4)
	
	-- Traitement d'agrégation et d'enrichissement des données
	BEGIN TRY
		-- Suppression de la table temporaire
		IF OBJECT_ID('dbo.HELIOS_TEMP_ONGLET_ENCOURS_PCC') is not null
			DROP TABLE dbo.HELIOS_TEMP_ONGLET_ENCOURS_PCC;
		-- Exécution de la requête
		SELECT
			'XXI' as CodeUFONegociatrice,
			'03A' as CodeEtablissement,
			RIGHT('000' + a.Source, 3) + a.IdentifiantUniqueRetenu as IdentifiantContrat,
			b.NumeroEncours,
			a.RAF,
			b.PCCEncours,
			NULL as ValeurTauxFixe,
			b.TypeEncours,
			CASE WHEN b.SigneEncours IS NULL THEN a.MontantProratise ELSE a.MontantProratise * b.SigneEncours END as MontantEncours,
			'EUR' as DeviseEncours,
			NULL as DateDebutImpact,
			NULL as DateFinImpact,
			'O' as FlagEncoursMcDo,
			NULL as PeriodiciteInterets,
			NULL as FixiteTauxContrat,
			NULL as ELCredit,
			NULL as ELDilution,
			'0000' as NumTirage,
			a.CodeProduit,
			a.Source,
			a.IdentifiantUniqueRetenu,
			a.CompteMagnitude
		INTO dbo.HELIOS_TEMP_ONGLET_ENCOURS_PCC
		FROM dbo.HELIOS_PREP_REPORTING_RWA_AGREGEE a
			LEFT JOIN (
				SELECT DISTINCT CodeProduit, PCC, NombreEncours, NumeroEncours1 as NumeroEncours, PCCEncours1 as PCCEncours, TypeEncours1 as TypeEncours, SigneEncours1 as SigneEncours, 1 as Nb
				FROM dbo.HELIOS_PARAM_ENCOURS_ELEMENTAIRES_PCC
				WHERE NombreEncours >= 1
				UNION ALL
				SELECT DISTINCT CodeProduit, PCC, NombreEncours, NumeroEncours2 as NumeroEncours, PCCEncours2 as PCCEncours, TypeEncours2 as TypeEncours, SigneEncours2 as SigneEncours, 2 as Nb
				FROM dbo.HELIOS_PARAM_ENCOURS_ELEMENTAIRES_PCC
				WHERE NombreEncours >= 2
				UNION ALL
				SELECT DISTINCT CodeProduit, PCC, NombreEncours, NumeroEncours3 as NumeroEncours, PCCEncours3 as PCCEncours, TypeEncours3 as TypeEncours, SigneEncours3 as SigneEncours, 3 as Nb
				FROM dbo.HELIOS_PARAM_ENCOURS_ELEMENTAIRES_PCC
				WHERE NombreEncours >= 3) b
				ON b.CodeProduit = a.CodeProduit AND b.PCC = a.CompteCopernic;
		
		--SELECT *
		--FROM HELIOS_TEMP_ONGLET_ENCOURS_PCC E 
		--INNER JOIN HELIOS_PREP_REPORTING_RWA_AGREGEE P ON RIGHT(E.IdentifiantContrat,LEN(E.IdentifiantContrat)-3) = P.IdentifiantUniqueRetenu
		--INNER JOIN HELIOS_PARAM_COMPTES_MAGNITUDE_A_EXTRAIRE C ON P.CompteMagnitude=C.CompteMagnitude
		--WHERE C.CompteMagnitudeRemplacement IS NOT NULL
		--AND C.CompteANetter=0
		 
		
		-- TF 11/29/2017 - AJOUT DU TRAITEMENT PERMETTANT DE:
		-- 1. REMPLACER LE COMPTE MAGNITUDE DANS L'IDENTIFIANT CONTRAT DANS LA TABLE HELIOS_TEMP_ONGLET_ENCOURS_PCC
		--	  EN UTILISANT LE COMPTE MAGNITUDE DE REMPLACEMENT CONTENU DANS LA TABLE HELIOS_PARAM_COMPTES_MAGNITUDE_A_EXTRAIRE
		-- TF 03/28/2017 - EXCLUSION DES COMPTES QUI N'ONT¨PAS L'INDICATION COMPTEANETTER A 1
		UPDATE HELIOS_TEMP_ONGLET_ENCOURS_PCC
		SET IdentifiantContrat = REPLACE(E.IdentifiantContrat,C.CompteMagnitude,C.CompteMagnitudeRemplacement)
		FROM HELIOS_TEMP_ONGLET_ENCOURS_PCC E 
		INNER JOIN HELIOS_PREP_REPORTING_RWA_AGREGEE P ON RIGHT(E.IdentifiantContrat,LEN(E.IdentifiantContrat)-3) = P.IdentifiantUniqueRetenu
		INNER JOIN HELIOS_PARAM_COMPTES_MAGNITUDE_A_EXTRAIRE C ON P.CompteMagnitude=C.CompteMagnitude
		WHERE C.CompteMagnitudeRemplacement IS NOT NULL
		AND C.CompteANetter=0
		--AND IdentifiantContrat LIKE '%DTX'
		
		
		 
		-- 2.1 REMPLACER LE COMPTE MAGNITUDE DANS L'IDENTIFIANT CONTRAT DANS LA TABLE HELIOS_ONGLET_CONTRAT ET AGGREGER LES LIGNES
		--	  EN UTILISANT LE COMPTE MAGNITUDE DE REMPLACEMENT CONTENU DANS LA TABLE HELIOS_PARAM_COMPTES_MAGNITUDE_A_EXTRAIRE
		UPDATE HELIOS_ONGLET_CONTRATS
		SET IdentifiantContrat = REPLACE(E.IdentifiantContrat,C.CompteMagnitude,C.CompteMagnitudeRemplacement),
		IdentifiantISIN = REPLACE(E.IdentifiantISIN,C.CompteMagnitude,C.CompteMagnitudeRemplacement)
		FROM HELIOS_ONGLET_CONTRATS E 
		INNER JOIN HELIOS_PREP_REPORTING_RWA_AGREGEE P ON RIGHT(E.IdentifiantContrat,LEN(E.IdentifiantContrat)-3) = P.IdentifiantUniqueRetenu
		INNER JOIN HELIOS_PARAM_COMPTES_MAGNITUDE_A_EXTRAIRE C ON P.CompteMagnitude=C.CompteMagnitude
		WHERE C.CompteMagnitudeRemplacement IS NOT NULL
		AND C.CompteANetter=0
		--AND IdentifiantContrat LIKE '%DTX'
		
	
		-- 2.2 SUPPRESSION DES DOUBLONS DANS LA TABLE HELIOS_ONGLET_CONTRAT ET AGGREGER LES LIGNES
		-- Suppression de la table temporaire
		IF OBJECT_ID('dbo.HELIOS_ONGLET_CONTRATS_TEMP') is not null
			DROP TABLE dbo.HELIOS_ONGLET_CONTRATS_TEMP;

		SELECT DISTINCT * INTO HELIOS_ONGLET_CONTRATS_TEMP
		FROM HELIOS_ONGLET_CONTRATS

		DELETE FROM HELIOS_ONGLET_CONTRATS
		
		INSERT INTO HELIOS_ONGLET_CONTRATS
		SELECT * FROM HELIOS_ONGLET_CONTRATS_TEMP
	
		SELECT @NbLignes = COUNT(*) FROM dbo.HELIOS_TEMP_ONGLET_ENCOURS_PCC;
		IF @NbLignes <> 0
			BEGIN
				-- Suppression du précédent contenu de la table finale
				DELETE FROM dbo.HELIOS_ONGLET_ENCOURS_PCC;
				-- Exécution de la requête
				INSERT INTO dbo.HELIOS_ONGLET_ENCOURS_PCC
				SELECT CodeUFONegociatrice, CodeEtablissement, IdentifiantContrat, NumeroEncours, RAF, PCCEncours, ValeurTauxFixe, TypeEncours, MontantEncours, DeviseEncours, DateDebutImpact, DateFinImpact, FlagEncoursMcDo, PeriodiciteInterets, FixiteTauxContrat, ELCredit, ELDilution, NumTirage
				FROM dbo.HELIOS_TEMP_ONGLET_ENCOURS_PCC;
			END
	END TRY
	BEGIN CATCH
		-- En cas d'erreur lors du bloc précédent, on loggue
		SET @ErrorMssg = 'Erreur lors de l''Insertion: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
		RETURN @ErrorCode;
	END CATCH
	
	--SELECT * FROM HELIOS_TEMP_ONGLET_ENCOURS_PCC
	
	-- Exécution du rapport de contrôle des données
	BEGIN TRY
		IF OBJECT_ID('dbo.HELIOS_TEMP_CONTROLES_COHERENCE_MONTANTS_ENCOURS') is not null
			DROP TABLE dbo.HELIOS_TEMP_CONTROLES_COHERENCE_MONTANTS_ENCOURS
		
		-- Test cohérence 09/01/2018
		SELECT *
		INTO dbo.HELIOS_TEMP_CONTROLES_COHERENCE_MONTANTS_ENCOURS
		FROM (
			-- MAGNITUDE HORS ENTREES PERIMETRE
			SELECT a.CompteMagnitude as Compte, ISNULL(b.Source, a.Source) as Source, ROUND(SUM(a.MontantEncours),4) as MontantEncours, ROUND(b.Montant,4) as MontantReferentiel, ROUND(ABS(SUM(a.MontantEncours) - b.Montant),4) as Ecart,
			CASE
				WHEN a.CompteMagnitude = 'CRCNET1' THEN '''= A20315 + A20316 + A20319 + A20355'
				WHEN a.CompteMagnitude = 'CRCNET2' THEN '''= A20400 + A20401 (Hors douteux et entrées de périmètre)'
				WHEN a.CompteMagnitude = 'PRET01' THEN '''= A20400 - DTX + A20401 - DTX '
				--WHEN a.CompteMagnitude = 'CREAN1' THEN '''= A10300 - DTX + A10402 - DTX '
				ELSE NULL
			END as Commentaires
			FROM (
					SELECT Source, 
					CASE
						--WHEN CompteMagnitude IN ('A20315','A20316','A20319','A20355') THEN 'CRCNET1'
						WHEN CompteMagnitude IN ('A10402','A10407') THEN 'CREAN1'
						WHEN CompteMagnitude IN ('A10406','A10408') THEN 'PRETSM'
						WHEN CompteMagnitude IN ('A20401','A20405') THEN 'PRETLT'
						--UPDATE 01/13/2020 : Plus de remplacement
						--WHEN CompteMagnitude IN ('A20404','A20406') THEN 'LCLO01'
						
						
						--WHEN IdentifiantUniqueRetenu IN ('A20402DTX','A20401DTX') THEN 'PRET01'
						--WHEN IdentifiantUniqueRetenu IN ('A10300DTX','A10402DTX') THEN 'CREAN1'
						--WHEN IdentifiantUniqueRetenu IN ('A10300DTX','A10402DTX') THEN 'CREAN1'
						--WHEN IdentifiantUniqueRetenu IN ('A10300DTX','A10402DTX') THEN 'CREAN1'
						
						--WHEN CompteMagnitude IN ('A20400','A20401') AND IdentifiantUniqueRetenu NOT IN ('A20400DTX','A20401DTX') THEN 'CRCNET2'
						ELSE CompteMagnitude
					END as CompteMagnitude, 
					SUM(MontantEncours) as MontantEncours
					FROM dbo.HELIOS_TEMP_ONGLET_ENCOURS_PCC
					WHERE (CodeProduit <> 'P0370' AND NumeroEncours = '0001')
						OR (CodeProduit = 'P0370' AND NumeroEncours = '0002')
						OR (CodeProduit = 'P0371' AND NumeroEncours = '0002')
					GROUP BY Source, CompteMagnitude,IdentifiantUniqueRetenu
				) a
				FULL JOIN (
						SELECT Source, CompteMagnitude, SUM(Montant) as Montant
						FROM (
							SELECT Source, 
							CASE
								WHEN CompteMagnitude IN ('A10402','A10407') THEN 'CREAN1'
								WHEN CompteMagnitude IN ('A10406','A10408') THEN 'PRETSM'
								WHEN CompteMagnitude IN ('A20401','A20405') THEN 'PRETLT'
								--UPDATE 01/13/2020 : Plus de remplacement
								--WHEN CompteMagnitude IN ('A20404','A20406') THEN 'LCLO01'
								--WHEN CompteMagnitude IN ('A20315','A20316','A20319','A20355') THEN 'CRCNET1'
								--WHEN IdentifiantUniqueRetenu IN ('A20400DTX','A20401DTX') THEN 'PRET01'
								--WHEN IdentifiantUniqueRetenu IN ('A10300DTX','A10402DTX') THEN 'CREAN1'
								--WHEN CompteMagnitude IN ('A20400','A20401') AND  IdentifiantUniqueRetenu NOT IN ('A20400DTX','A20401DTX') THEN 'CRCNET2'
								ELSE CompteMagnitude
							END as CompteMagnitude, Montant
							FROM dbo.HELIOS_IMPORT_MAGNITUDE_RETRAITE)tmp
						GROUP BY Source, CompteMagnitude
					) b
					ON b.Source = a.Source AND b.CompteMagnitude = a.CompteMagnitude
			WHERE a.Source = '010'
			GROUP BY b.Source, a.CompteMagnitude, a.Source, b.Montant
				UNION ALL
			-- MAGNITUDE ENTREES PERIMETRE
			SELECT c.CompteMagnitude as Compte, ISNULL(d.Source, c.Source) as Source, ROUND(SUM(c.MontantEncours),4) as MontantEncours, ROUND(d.Montant,4) as MontantReferentiel, ROUND(ABS(SUM(c.MontantEncours) - d.Montant),4) as Ecart, NULL as Commentaires
			FROM (
					SELECT Source,CompteMagnitude,SUM(MontantEncours) as MontantEncours
					FROM (
						SELECT Source, 
							CASE
								WHEN CompteMagnitude IN ('A10402','A10407') THEN 'CREAN1'
								WHEN CompteMagnitude IN ('A10406','A10408') THEN 'PRETSM'
								WHEN CompteMagnitude IN ('A20401','A20405') THEN 'PRETLT'
								--UPDATE 01/13/2020 : Plus de remplacement
								--WHEN CompteMagnitude IN ('A20404','A20406') THEN 'LCLO01'
								ELSE CompteMagnitude
							END as CompteMagnitude, 
							SUM(MontantEncours) as MontantEncours
						FROM dbo.HELIOS_TEMP_ONGLET_ENCOURS_PCC
						WHERE (CodeProduit <> 'P0370' AND NumeroEncours = '0001')
							OR (CodeProduit = 'P0370' AND NumeroEncours = '0002')
							OR (CodeProduit = 'P0371' AND NumeroEncours = '0002')
						GROUP BY Source, CompteMagnitude
						) a
						GROUP BY Source, CompteMagnitude
					) c
					
				FULL JOIN (
					SELECT Source,CompteMagnitude,SUM(Montant) as Montant
					FROM (
						SELECT Source, 
						CASE
							WHEN CompteMagnitude IN ('A10402','A10407') THEN 'CREAN1'
							WHEN CompteMagnitude IN ('A10406','A10408') THEN 'PRETSM'
							WHEN CompteMagnitude IN ('A20401','A20405') THEN 'PRETLT'
							--UPDATE 01/13/2020 : Plus de remplacement
							--WHEN CompteMagnitude IN ('A20404','A20406') THEN 'LCLO01'
							ELSE CompteMagnitude
							END as CompteMagnitude, SUM(Montant) as Montant
						FROM dbo.HELIOS_IMPORT_MAGNITUDE_RETRAITE
						GROUP BY Source, CompteMagnitude
						) b
						GROUP BY Source, CompteMagnitude
					) d
					ON c.Source = d.Source AND c.CompteMagnitude = d.CompteMagnitude
			WHERE c.Source IN (SELECT Source FROM dbo.HELIOS_PARAM_ENTREES_PERIMETRE)
			GROUP BY d.Source, c.CompteMagnitude, c.Source, d.Montant
				UNION ALL
			-- TRANSPARENCE HORS 098/099/100
			SELECT a.CompteMagnitude as Compte, a.Source, SUM(a.MontantEncours) as MontantEncours, SUM(b.Montant) as MontantReferentiel, ABS(SUM(a.MontantEncours) - SUM(b.Montant)) as Ecart, 'Non extrait de Magnitude. Provient de Transparence' as Commentaires
			FROM (
					SELECT Source, CompteMagnitude, SUM(MontantEncours) as MontantEncours
					FROM dbo.HELIOS_TEMP_ONGLET_ENCOURS_PCC
					WHERE NumeroEncours = '0001'
					GROUP BY Source, CompteMagnitude
				) a
				FULL JOIN (
						SELECT Source, CompteMagnitude, SUM(MontantSeedMoney) as Montant
						FROM dbo.HELIOS_SEED_MONEY
						GROUP BY Source, CompteMagnitude) b
					ON b.Source = a.Source
			WHERE a.Source NOT IN ('010', '098', '099','100') AND a.Source NOT IN (SELECT Source FROM dbo.HELIOS_PARAM_ENTREES_PERIMETRE)
			GROUP BY a.CompteMagnitude, a.Source
				UNION ALL
			-- 098/099/100
			SELECT a.CompteMagnitude as Compte, a.Source, SUM(a.MontantEncours) as MontantEncours, SUM(b.Montant) as MontantReferentiel, ABS(SUM(a.MontantEncours) - SUM(b.Montant)) as Ecart, 'Non extrait de Magnitude. Provient de Transparence' as Commentaires
			FROM (
					SELECT Source, CompteMagnitude, SUM(MontantEncours) as MontantEncours
					FROM dbo.HELIOS_TEMP_ONGLET_ENCOURS_PCC
					WHERE NumeroEncours = '0001'
					GROUP BY Source, CompteMagnitude
				) a
				FULL JOIN (
						SELECT Source, CompteMagnitude, SUM(ValeurDeMarche) as Montant
						FROM dbo.HELIOS_IMPORT_FICHIER_ENRICHI_RETRAITE
						GROUP BY Source, CompteMagnitude) b
					ON b.Source = a.Source
			WHERE a.Source IN ('098', '099','100')
			GROUP BY a.CompteMagnitude, a.Source
		) data;
		
		
		--DEBUG
		--SELECT * FROM HELIOS_TEMP_CONTROLES_COHERENCE_MONTANTS_ENCOURS
		
		IF OBJECT_ID('dbo.HELIOS_CONTROLES_COHERENCE_MONTANTS_ENCOURS') is not null
			DROP TABLE dbo.HELIOS_CONTROLES_COHERENCE_MONTANTS_ENCOURS
		
		SELECT *
		INTO dbo.HELIOS_CONTROLES_COHERENCE_MONTANTS_ENCOURS
		FROM (
			SELECT Compte, Source, CONVERT(int, SUM(MontantEncours)) as MontantEncours, CONVERT(int, SUM(MontantReferentiel)) as MontantReferenceMagnitude, CONVERT(int, SUM(Ecart)) as Ecart, Commentaires
			FROM dbo.HELIOS_TEMP_CONTROLES_COHERENCE_MONTANTS_ENCOURS
			GROUP BY Compte, Source, Commentaires
				UNION ALL
			SELECT Compte, 'Sous-Total' as Source, CONVERT(int, SUM(MontantEncours)) as MontantEncours, CONVERT(int, SUM(MontantReferentiel)) as MontantReferenceMagnitude, CONVERT(int, SUM(Ecart)) as Ecart, Commentaires
			FROM dbo.HELIOS_TEMP_CONTROLES_COHERENCE_MONTANTS_ENCOURS
			GROUP BY Compte, Commentaires
		) data
		ORDER BY Compte, (CASE WHEN Source IS NULL THEN 1 ELSE 0 END), Source;
		

		--DEBUG
		--SELECT * FROM HELIOS_TEMP_CONTROLES_COHERENCE_MONTANTS_ENCOURS
		
		IF OBJECT_ID('dbo.HELIOS_CONTROLES_COHERENCE_MONTANTS_ENCOURS') is null
			BEGIN
				-- En cas d'erreur lors du bloc précédent, on loggue
				SET @ErrorMssg = 'Erreur lors de la génération du rapport "Cohérence des Montants entre Encours et Magnitude/Transparence".'
				SET @ErrorCode = 1010
				EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
				RETURN @ErrorCode;
			END
		ELSE IF OBJECT_ID('dbo.HELIOS_TEMP_CONTROLES_COHERENCE_MONTANTS_ENCOURS') is not null
			DROP TABLE dbo.HELIOS_TEMP_CONTROLES_COHERENCE_MONTANTS_ENCOURS
			
		
	END TRY
	BEGIN CATCH
		-- En cas d'erreur lors du bloc précédent, on loggue
		SET @ErrorMssg = 'Erreur lors de l''Insertion: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
		RETURN @ErrorCode;
	END CATCH
	
	 --Exécution de la génération des contrôles de l'onglet Contrôles de Cohérence des Encours
	BEGIN TRY
		IF OBJECT_ID('dbo.HELIOS_CONTROLES_ONGLET_ENCOURS') is not null
			DROP TABLE dbo.HELIOS_CONTROLES_ONGLET_ENCOURS
	
		SELECT '' + @PeriodeCloture + '' as PeriodeCloture, IdentifiantContrat,
			CASE
				WHEN RAF IS NOT NULL THEN CASE WHEN LEN(RAF) <> 7 THEN 'ECHEC' ELSE 'SUCCES' END + ': Le RAF du Client "' + RAF + '" fait ' + CAST(LEN(RAF) as nvarchar(10)) + ' caractères.'
				ELSE 'WARNING: Pas de RAF à contrôler.'
			END as ControleRAF,
			CASE
				WHEN TypeEncours = 'PROV' AND MontantEncours < 0 THEN 'SUCCES: Le Type d''Encours "' + TypeEncours + '" a un Montant négatif (' + CAST(MontantEncours as nvarchar(20)) + ').'
				WHEN TypeEncours = 'PROV' AND MontantEncours >= 0 THEN 'ECHEC: Le Type d''Encours "' + TypeEncours + '" n''a pas un Montant négatif (' + CAST(MontantEncours as nvarchar(20)) + ').'
				WHEN TypeEncours = 'PROV' AND MontantEncours IS NULL THEN 'WARNING: Le Type d''Encours "' + TypeEncours + '" n''a pas de Montant reseigné.'
				ELSE 'INFO: Contrat non éligible au contrôle.'
			END as ControleEncoursProvisionnels,
			CASE
				WHEN IdentifiantContrat IN (SELECT DISTINCT IdentifiantContrat FROM dbo.HELIOS_ONGLET_CONTRATS) THEN 'SUCCES: L''Identifiant Contrat est présent dans l''onglet Contrats.'
				ELSE 'ECHEC: L''Identifiant Contrat n''est pas présent dans l''onglet Contrats.'
			END as ControlePresenceContrats
		INTO dbo.HELIOS_CONTROLES_ONGLET_ENCOURS
		FROM dbo.HELIOS_TEMP_ONGLET_ENCOURS_PCC;
		
		IF OBJECT_ID('dbo.HELIOS_CONTROLES_ONGLET_ENCOURS') is null
			BEGIN
				-- En cas d'erreur lors du bloc précédent, on loggue
				SET @ErrorMssg = 'Erreur lors de la génération des contrôles de l''onglet Encours.'
				SET @ErrorCode = 1012
				EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
				RETURN @ErrorCode;
			END
	END TRY
	BEGIN CATCH
		-- En cas d'erreur lors du bloc précédent, on loggue
		SET @ErrorMssg = 'Erreur lors de l''Insertion: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
		RETURN @ErrorCode;
	END CATCH
	
	-- Finalisation du traitement
	BEGIN TRY
		SELECT @NbLignes = COUNT(*) FROM dbo.HELIOS_ONGLET_ENCOURS_PCC;
		-- Si la table finale existe et qu'elle contient des données
		IF OBJECT_ID('dbo.HELIOS_ONGLET_ENCOURS_PCC') is not null AND @NbLignes <> 0
			BEGIN
				-- Suppression de la table temporaire
				IF OBJECT_ID('dbo.HELIOS_TEMP_ONGLET_ENCOURS_PCC') is not null
					DROP TABLE dbo.HELIOS_TEMP_ONGLET_ENCOURS_PCC;
				-- On loggue la réussite
				SET @ErrorMssg = CAST(@NbLignes as nvarchar(5)) + ' lignes mises à jour dans la table "dbo.HELIOS_ONGLET_ENCOURS PCC".'
				SET @ErrorCode = 0
				EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 0, @ErrorCode, @ErrorMssg
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
				RETURN @ErrorCode;
			END
		ELSE
			-- ... ou l'échec
			BEGIN
				SET @ErrorMssg = CAST(@NbLignes as nvarchar(5)) + ' lignes insérées dans la table "dbo.HELIOS_ONGLET_ENCOURS PCC".'
				SET @ErrorCode = 1005
				EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
				RETURN @ErrorCode;
			END
	END TRY
	BEGIN CATCH
		-- En cas d'erreur lors du bloc précédent, on loggue
		SET @ErrorMssg = 'Erreur lors de la finalisation: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
		RETURN @ErrorCode;
	END CATCH
END
GO
