USE [RWA]
GO
/****** Object:  StoredProcedure [dbo].[USP_HELIOS_TRAITEMENT_FICHIER_ENRICHI]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_HELIOS_TRAITEMENT_FICHIER_ENRICHI]
	@Process nvarchar(256),
	@PeriodeCloture nvarchar(6)
AS
BEGIN
	SET NOCOUNT ON;
	/* 
	Déclaration des variables
		ErrorMssg : message de retour à afficher ou journaliser
		ErrorCode : code de retour à afficher ou journaliser
		NbLignes : nombre de lignes retournées par la commande SqlCommand
	*/
	DECLARE @ErrorMssg nvarchar(3072),
			@ErrorCode nvarchar(1024),
			@NbLignes int = 0
	
	IF @Process IS NULL
		SET @Process = 'ENRICHISSEMENT FICHIER ENRICHI'
	
	-- Avant de démarrer, on nettoie de la table des logs les lignes correspondantes au @Process actuel
	DELETE FROM dbo.HELIOS_LOG_TRAITEMENTS
	WHERE Process = @Process
	
	-- Récupération de la période actuelle
	IF @PeriodeCloture IS NULL
		SET @PeriodeCloture = RIGHT('00' + CAST(MONTH(GETDATE())-1 as varchar(2)), 2) + RIGHT('0000' + CAST(YEAR(GETDATE()) as varchar(4)), 4)
	
	-- Exécution de l'enrichissement
	BEGIN TRY
		IF OBJECT_ID('dbo.HELIOS_IMPORT_FICHIER_ENRICHI_RETRAITE') IS NOT NULL
			DELETE FROM dbo.HELIOS_IMPORT_FICHIER_ENRICHI_RETRAITE
		ELSE
			CREATE TABLE [RWA].[dbo].[HELIOS_IMPORT_FICHIER_ENRICHI_RETRAITE](
				[PeriodeCloture] [nvarchar](6) NOT NULL,
				[Source] [nvarchar](3) NOT NULL,
				[CompteMagnitude] [nvarchar](7) NULL,
				[PartnerID] [nvarchar](15) NULL,
				[RefCategorieRWA] [nvarchar](3) NULL,
				[IdentifiantUniqueRetenu] [nvarchar](13) NOT NULL,
				[RAF] [nvarchar](7) NULL,
				[LibelleOrigine] [nvarchar](255) NULL,
				[MontantProratise] [float] NULL,
				[DateFinContrat] [date] NULL,
				[ValeurDeMarche] [float] NULL
			);
		
		INSERT INTO dbo.HELIOS_IMPORT_FICHIER_ENRICHI_RETRAITE (PeriodeCloture, [Source], CompteMagnitude, PartnerID, RefCategorieRWA, IdentifiantUniqueRetenu, RAF, LibelleOrigine, MontantProratise, DateFinContrat, ValeurDeMarche)
		SELECT
			a.PeriodeCloture, a.Source, 
			CASE 
			WHEN a.Source IN ('098', '099') THEN 'A10300' 
-- Ajout 12/12/2023 Code source 102 pour CLOIII
-- Ajout 1/8/2024 Code source 103 pour CLOIII
			WHEN a.Source IN ('100','101','102','103') THEN 'A20321'
			ELSE b.CompteMagnitude 
			END as CompteMagnitude,
			b.PartnerID, a.RefCategorieRWA, a.IdentifiantUniqueRetenu, a.RAF, a.LibelleOrigine,
-- Ajout 12/12/2023 Code source 102 pour CLOIII
-- Ajout 1/8/2024 Code source 103 pour CLOIII
			CASE WHEN a.Source IN ('098', '099','100','101','102','103') THEN a.ValeurDeMarche ELSE a.ValeurDeMarche * (b.MontantSeedMoney / b.TotalActifSousGestion) END as MontantProratise,
			a.DateFinContrat, a.ValeurDeMarche
		FROM dbo.HELIOS_IMPORT_FICHIER_ENRICHI_BRUT a
			LEFT JOIN dbo.HELIOS_SEED_MONEY b ON a.Source = b.Source
	END TRY
	BEGIN CATCH
		-- En cas d'erreur lors du bloc précédent, on loggue
		SET @ErrorMssg = 'Erreur pendant l''Update: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
		RETURN @ErrorCode;
	END CATCH
	
	-- Exécution du rapport de contrôle #1
	BEGIN TRY
		IF OBJECT_ID('dbo.HELIOS_REPORT_CONTROLE1') is not null
			DROP TABLE dbo.HELIOS_REPORT_CONTROLE1
			
		SELECT DISTINCT a.Source,
			CASE WHEN a.MontantProratise IS NULL THEN 'N' ELSE 'O' END as MontantDisponible,
			CASE WHEN b.MontantSeedMoney IS NULL THEN 'N' ELSE 'O' END as FondParametre
		INTO dbo.HELIOS_REPORT_CONTROLE1
		FROM dbo.HELIOS_IMPORT_FICHIER_ENRICHI_RETRAITE a LEFT JOIN dbo.HELIOS_SEED_MONEY b ON b.Source = a.Source;
		
		IF OBJECT_ID('dbo.HELIOS_REPORT_CONTROLE1') is null
			BEGIN
				-- En cas d'erreur lors du bloc précédent, on loggue
				SET @ErrorMssg = 'Erreur lors de la génération du rapport #1 "Seed Money indisponible": ' + ERROR_MESSAGE()
				SET @ErrorCode = 1012
				EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
				RETURN @ErrorCode;
			END
	END TRY
	BEGIN CATCH
		-- En cas d'erreur lors du bloc précédent, on loggue
		SET @ErrorMssg = 'Erreur lors de l''Insertion: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
		RETURN @ErrorCode;
	END CATCH
	
	-- Exécution du rapport de contrôle #2
	BEGIN TRY
		IF OBJECT_ID('dbo.HELIOS_REPORT_CONTROLE2') is not null
			DROP TABLE dbo.HELIOS_REPORT_CONTROLE2
		SELECT DISTINCT Source, IdentifiantUniqueRetenu, CompteMagnitude, PartnerID, MontantProratise
		INTO dbo.HELIOS_REPORT_CONTROLE2
		FROM dbo.HELIOS_IMPORT_FICHIER_ENRICHI_RETRAITE
    -- Ajout 12/12/2023 Code source 102 pour CLOIII
	-- Ajout 1/8/2024 Code source 103 pour CLOIII
		WHERE Source NOT IN ('098', '099','100','101','102','103') AND MontantProratise IS NULL AND CompteMagnitude IS NULL AND PartnerID IS NULL;
		IF OBJECT_ID('dbo.HELIOS_REPORT_CONTROLE2') is null
			BEGIN
				-- En cas d'erreur lors du bloc précédent, on loggue
				SET @ErrorMssg = 'Erreur lors de la génération du rapport #2 "Montants vides": ' + ERROR_MESSAGE()
				SET @ErrorCode = 1010
				EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
				RETURN @ErrorCode;
			END
	END TRY
	BEGIN CATCH
		-- En cas d'erreur lors du bloc précédent, on loggue
		SET @ErrorMssg = 'Erreur lors de l''Insertion: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
		RETURN @ErrorCode;
	END CATCH
	
	-- Exécution du rapport de contrôle #3
	BEGIN TRY
		IF OBJECT_ID('dbo.HELIOS_REPORT_CONTROLE3') is not null
			DROP TABLE dbo.HELIOS_REPORT_CONTROLE3
		SELECT DISTINCT Source, IdentifiantUniqueRetenu, Doublons
		INTO dbo.HELIOS_REPORT_CONTROLE3
		FROM (
			SELECT PeriodeCloture,Source,IdentifiantUniqueRetenu,RefCategorieRWA,RAF,DateFinContrat, COUNT(1)-1 as Doublons
			FROM (
				SELECT * FROM (
					SELECT PeriodeCloture,Source,IdentifiantUniqueRetenu,RefCategorieRWA,RAF,DateFinContrat, COUNT(1) as cnt 
					FROM dbo.HELIOS_IMPORT_FICHIER_ENRICHI_RETRAITE
					GROUP BY PeriodeCloture,Source,IdentifiantUniqueRetenu,RefCategorieRWA,RAF,DateFinContrat) tmp
				WHERE cnt > 1) tmp2
			GROUP BY PeriodeCloture,Source,IdentifiantUniqueRetenu,RefCategorieRWA,RAF,DateFinContrat) data;
		
		IF OBJECT_ID('dbo.HELIOS_REPORT_CONTROLE3') is null
			BEGIN
				-- En cas d'erreur lors du bloc précédent, on loggue
				SET @ErrorMssg = 'Erreur lors de la génération du rapport #3 "Doublons et données différentes": ' + ERROR_MESSAGE()
				SET @ErrorCode = 1012
				EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
				RETURN @ErrorCode;
			END
	END TRY
	BEGIN CATCH
		-- En cas d'erreur lors du bloc précédent, on loggue
		SET @ErrorMssg = 'Erreur lors de l''Insertion: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
		RETURN @ErrorCode;
	END CATCH
	
	-- Exécution du rapport de contrôle #4
	BEGIN TRY
		IF OBJECT_ID('dbo.HELIOS_REPORT_CONTROLE4') is not null
			DROP TABLE dbo.HELIOS_REPORT_CONTROLE4
		SELECT a.Source, a.MontantSeedMoney, SUM(b.MontantProratise) as SommeMontantProratise, ROUND(ABS(SUM(b.MontantProratise) - a.MontantSeedMoney), 3) as Ecart
		INTO dbo.HELIOS_REPORT_CONTROLE4
		FROM dbo.HELIOS_SEED_MONEY a LEFT JOIN dbo.HELIOS_IMPORT_FICHIER_ENRICHI_RETRAITE b ON b.Source = a.Source
		GROUP BY a.Source, a.MontantSeedMoney;
		
		IF OBJECT_ID('dbo.HELIOS_REPORT_CONTROLE4') is null
			BEGIN
				-- En cas d'erreur lors du bloc précédent, on loggue
				SET @ErrorMssg = 'Erreur lors de la génération du rapport #4 "Cohérence des Montants": ' + ERROR_MESSAGE()
				SET @ErrorCode = 1012
				EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
				RETURN @ErrorCode;
			END
	END TRY
	BEGIN CATCH
		-- En cas d'erreur lors du bloc précédent, on loggue
		SET @ErrorMssg = 'Erreur lors de l''Insertion: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
		RETURN @ErrorCode;
	END CATCH
	
	
	-- Exécution de la requête d'agrégation des données
	BEGIN TRY
		IF OBJECT_ID('dbo.HELIOS_TEMP_FICHIER_ENRICHI') is not null
				DROP TABLE dbo.HELIOS_TEMP_FICHIER_ENRICHI
		
		SELECT
			PeriodeCloture,Source,CompteMagnitude,PartnerID,RefCategorieRWA,IdentifiantUniqueRetenu,RAF,
			(
				SELECT TOP 1 LibelleOrigine FROM dbo.HELIOS_IMPORT_FICHIER_ENRICHI_RETRAITE sub
				WHERE sub.Source = b.Source AND sub.IdentifiantUniqueRetenu = b.IdentifiantUniqueRetenu
			) as LibelleOrigine,
			Sum(MontantProratise) as MontantProratise,DateFinContrat,SUM(ValeurDeMarche) as ValeurDeMarche
		INTO dbo.HELIOS_TEMP_FICHIER_ENRICHI
		FROM (
			SELECT PeriodeCloture,Source,CompteMagnitude,PartnerID,RefCategorieRWA,IdentifiantUniqueRetenu,RAF,LibelleOrigine,Sum(MontantProratise) as MontantProratise,DateFinContrat,SUM(ValeurDeMarche) as ValeurDeMarche
			FROM (
				SELECT PeriodeCloture,Source,CompteMagnitude,PartnerID,RefCategorieRWA,IdentifiantUniqueRetenu,RAF,
				-- Ajout 12/12/2023 Code source 102 pour CLOIII
				-- Ajout 1/8/2024 Code source 103 pour CLOIII
					CASE WHEN Source IN ('098', '099','100','101','102','103') THEN IdentifiantUniqueRetenu ELSE LibelleOrigine END as LibelleOrigine,
					CASE WHEN Source IN ('098', '099','100','101','102','103') THEN ValeurDeMarche ELSE MontantProratise END as MontantProratise,
					DateFinContrat,ValeurDeMarche
				FROM dbo.HELIOS_IMPORT_FICHIER_ENRICHI_RETRAITE
				WHERE Source + IdentifiantUniqueRetenu in (
					SELECT Source + IdentifiantUniqueRetenu FROM (
						SELECT Source, IdentifiantUniqueRetenu, COUNT(1) as cnt
						FROM (SELECT DISTINCT Source, IdentifiantUniqueRetenu, RefCategorieRWA, RAF, DateFinContrat FROM dbo.HELIOS_IMPORT_FICHIER_ENRICHI_RETRAITE) tmp0
						GROUP BY Source, IdentifiantUniqueRetenu) tmp
					WHERE cnt > 1)) a
			GROUP BY PeriodeCloture,Source,CompteMagnitude,PartnerID,RefCategorieRWA,IdentifiantUniqueRetenu,RAF,LibelleOrigine,DateFinContrat
			UNION ALL
			SELECT *
			FROM dbo.HELIOS_IMPORT_FICHIER_ENRICHI_RETRAITE
			WHERE Source + IdentifiantUniqueRetenu not in (
				SELECT Source + IdentifiantUniqueRetenu FROM (
					SELECT Source, IdentifiantUniqueRetenu, COUNT(1) as cnt
					FROM (SELECT DISTINCT Source, IdentifiantUniqueRetenu, RefCategorieRWA, RAF, DateFinContrat FROM dbo.HELIOS_IMPORT_FICHIER_ENRICHI_RETRAITE) tmp0
					GROUP BY Source, IdentifiantUniqueRetenu) tmp
				WHERE cnt > 1)) b
		GROUP BY PeriodeCloture,Source,CompteMagnitude,PartnerID,RefCategorieRWA,IdentifiantUniqueRetenu,RAF,DateFinContrat
		ORDER BY 1,2,6,3,4,5,7;
		
		SELECT @NbLignes = COUNT(*) FROM dbo.HELIOS_TEMP_FICHIER_ENRICHI;
		IF @NbLignes <> 0
			BEGIN
				IF OBJECT_ID('dbo.HELIOS_IMPORT_FICHIER_ENRICHI_RETRAITE_OLD') is not null
					DROP TABLE dbo.HELIOS_IMPORT_FICHIER_ENRICHI_RETRAITE_OLD;
				-- On nettoie la table d'import finale
				SELECT * INTO dbo.HELIOS_IMPORT_FICHIER_ENRICHI_RETRAITE_OLD FROM dbo.HELIOS_IMPORT_FICHIER_ENRICHI_RETRAITE;
				DELETE FROM dbo.HELIOS_IMPORT_FICHIER_ENRICHI_RETRAITE;
				BEGIN TRY
					-- Insertion des données agrégées de la table temporaire dans la table d'import finale
					INSERT INTO dbo.HELIOS_IMPORT_FICHIER_ENRICHI_RETRAITE (PeriodeCloture, [Source], CompteMagnitude, PartnerID, RefCategorieRWA, IdentifiantUniqueRetenu, RAF, LibelleOrigine, MontantProratise, DateFinContrat, ValeurDeMarche)
					SELECT PeriodeCloture, [Source], CompteMagnitude, PartnerID, RefCategorieRWA, IdentifiantUniqueRetenu, RAF, LibelleOrigine, MontantProratise, DateFinContrat, ValeurDeMarche
					FROM (SELECT PeriodeCloture, Source, CompteMagnitude, PartnerID, RefCategorieRWA, IdentifiantUniqueRetenu, RAF, LibelleOrigine, SUM(MontantProratise) as MontantProratise, DateFinContrat, ValeurDeMarche
						FROM dbo.HELIOS_TEMP_FICHIER_ENRICHI
						GROUP BY PeriodeCloture, Source, CompteMagnitude, PartnerID, RefCategorieRWA, IdentifiantUniqueRetenu, RAF, LibelleOrigine, DateFinContrat, ValeurDeMarche) data
				END TRY
				BEGIN CATCH
					IF OBJECT_ID('dbo.HELIOS_IMPORT_FICHIER_ENRICHI_RETRAITE_OLD') is not null
						BEGIN
							SELECT * INTO dbo.HELIOS_IMPORT_FICHIER_ENRICHI_RETRAITE FROM dbo.HELIOS_IMPORT_FICHIER_ENRICHI_RETRAITE_OLD;
							DROP TABLE dbo.HELIOS_IMPORT_FICHIER_ENRICHI_RETRAITE_OLD;
						END
					-- En cas d'erreur lors du bloc précédent, on loggue
					SET @ErrorMssg = 'Erreur pendant Insertion: ' + ERROR_MESSAGE()
					SET @ErrorCode = ERROR_NUMBER()
					EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
					PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
					RETURN @ErrorCode;
				END CATCH
			END
	END TRY
	BEGIN CATCH
		-- En cas d'erreur lors du bloc précédent, on loggue
		SET @ErrorMssg = 'Erreur lors de l''Agrégation: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
		RETURN @ErrorCode;
	END CATCH
	
	-- Exécution du rapport de contrôle #4A
	BEGIN TRY
		IF OBJECT_ID('dbo.HELIOS_REPORT_CONTROLE4A') is not null
			DROP TABLE dbo.HELIOS_REPORT_CONTROLE4A
		SELECT *
		INTO dbo.HELIOS_REPORT_CONTROLE4A
		FROM dbo.HELIOS_IMPORT_FICHIER_ENRICHI_RETRAITE
		WHERE Source + IdentifiantUniqueRetenu IN (
			SELECT Source + IdentifiantUniqueRetenu FROM (
				SELECT Source, IdentifiantUniqueRetenu, COUNT(1) as cnt
				FROM (SELECT DISTINCT Source, IdentifiantUniqueRetenu, RefCategorieRWA, RAF, DateFinContrat FROM dbo.HELIOS_IMPORT_FICHIER_ENRICHI_RETRAITE) tmp
				GROUP BY Source, IdentifiantUniqueRetenu
			) data
			WHERE cnt > 1
		)
		ORDER BY Source, IdentifiantUniqueRetenu;
		
		SELECT @NbLignes = COUNT(*) FROM dbo.HELIOS_REPORT_CONTROLE4A;
		IF OBJECT_ID('dbo.HELIOS_REPORT_CONTROLE4A') is null
			BEGIN
				-- En cas d'erreur lors du bloc précédent, on loggue
				SET @ErrorMssg = 'Erreur lors de la génération du rapport #4A "Contrôle des doublons".'
				SET @ErrorCode = 1008
				EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
				RETURN @ErrorCode;
			END
		ELSE IF @NbLignes <> 0
			BEGIN
				-- En cas d'erreur lors du bloc précédent, on loggue
				SET @ErrorMssg = 'Rapport #4A "Contrôle des doublons": ' + CAST(@NbLignes as varchar) + ' doublons trouvés. Consulter le rapport de traitement "Contrôle bloquant des doublons non agrégés".'
				SET @ErrorCode = 1012
				EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
				RETURN @ErrorCode;
			END
	END TRY
	BEGIN CATCH
		-- En cas d'erreur lors du bloc précédent, on loggue
		SET @ErrorMssg = 'Erreur lors de l''Insertion: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
		RETURN @ErrorCode;
	END CATCH
	
	-- Finalisation du traitement
	BEGIN TRY
		SELECT @NbLignes = COUNT(*) FROM dbo.HELIOS_IMPORT_FICHIER_ENRICHI_RETRAITE;
		-- Si la table temporaire existe
		IF OBJECT_ID('dbo.HELIOS_TEMP_FICHIER_ENRICHI') is not null
			BEGIN
				-- On la supprime
				DROP TABLE dbo.HELIOS_TEMP_FICHIER_ENRICHI
				-- Et si elle contenait des données
				IF @NbLignes <> 0
					BEGIN
						-- On loggue la réussite
						SET @ErrorMssg = CAST(@NbLignes as nvarchar(5)) + ' lignes mises à jour dans la table "dbo.HELIOS_IMPORT_FICHIER_ENRICHI_RETRAITE".'
						SET @ErrorCode = 0
						EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 0, @ErrorCode, @ErrorMssg
						PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
						RETURN @ErrorCode;
					END
				RETURN 0;
			END
		ELSE
			-- ... ou l'échec
			BEGIN
				SET @ErrorMssg = CAST(@NbLignes as nvarchar(5)) + ' lignes mises à jour dans la table "dbo.HELIOS_IMPORT_FICHIER_ENRICHI_RETRAITE".'
				SET @ErrorCode = 1005
				EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
				RETURN @ErrorCode;
			END
	END TRY
	BEGIN CATCH
		-- En cas d'erreur lors du bloc précédent, on loggue
		SET @ErrorMssg = 'Erreur pendant la Finalisation: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
		RETURN @ErrorCode;
	END CATCH
END
GO
