USE [RWA]
GO
/****** Object:  StoredProcedure [dbo].[USP_HECATE_TRAITEMENT_AFFICHELOGIMPORTEXPORT]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[USP_HECATE_TRAITEMENT_AFFICHELOGIMPORTEXPORT]
	-- Add the parameters for the stored procedure here
	@Process nvarchar(50),
	@PeriodeCloture nvarchar(6)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
    -- Insert statements for procedure here
    IF @Process<>'IMPORT TABLE EQUIV'
    BEGIN
		IF @PeriodeCloture is not null 
		BEGIN
			SELECT hlie.Process, hlie.LogTime, htl.[Type], hlie.PeriodeCloture, hlie.[Source], hlie.CodeErreur, hlie.[Message]
			FROM dbo.HECATE_LOG_IMPORT_EXPORT hlie INNER JOIN HECATE_TYPE_LOG htl ON hlie.RefTypeLog=htl.IdTypeLog
			WHERE hlie.Process=@Process AND hlie.PeriodeCloture=@PeriodeCloture
			ORDER BY LogTime
		END
		ELSE
		BEGIN
			SELECT hlie.Process, hlie.LogTime, htl.[Type], hlie.PeriodeCloture, hlie.[Source], hlie.CodeErreur, hlie.[Message]
			FROM dbo.HECATE_LOG_IMPORT_EXPORT hlie INNER JOIN HECATE_TYPE_LOG htl ON hlie.RefTypeLog=htl.IdTypeLog
			WHERE hlie.Process=@Process AND hlie.PeriodeCloture is null
			ORDER BY LogTime
		END
	END
	ELSE
	BEGIN
		SELECT hlie.Process, hlie.LogTime, htl.[Type], hlie.PeriodeCloture, hlie.[Source], hlie.CodeErreur, hlie.[Message]
		FROM dbo.HECATE_LOG_IMPORT_EXPORT hlie INNER JOIN HECATE_TYPE_LOG htl ON hlie.RefTypeLog=htl.IdTypeLog
		WHERE Process IN ('IMPORT TYPE BLOOM','IMPORT EQUIV RWA','IMPORT CAT RWA') AND hlie.PeriodeCloture is null
		ORDER BY LogTime
	END
END
GO
