USE [RWA]
GO
/****** Object:  StoredProcedure [dbo].[USP_HELIOS_TRAITEMENT_PREP_SYNTHESE_RWA_V16012024]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_HELIOS_TRAITEMENT_PREP_SYNTHESE_RWA_V16012024]
	@Process nvarchar(256),
	@PeriodeCloture nvarchar(6)
AS
BEGIN
	SET NOCOUNT ON;
	/* 
	Déclaration des variables
		SqlCommand : commande SQL complexe à exécuter
		ErrorMssg : message de retour à afficher ou journaliser
		ErrorCode : code de retour à afficher ou journaliser
		ErrorLevel : niveau d'erreur à afficher ou journaliser (0=OK, 1=WARNING, 2=ERROR)
		NbLignes : nombre de lignes retournées par la commande SqlCommand
		PeriodeClotureOld : période de clôture T-1
		consotable : conso table de clôture T-1
		
	Suivi des modifications :
		09/12/2016 : Suite retour KPMG
			- En cas de non mapping entre le Retour B2C et la Préparation à la Synthèse, compléter par "N/A"
			- Ajout du montant Magnitude T-1 en variante 1C3 dans la Synthèse RWA T-1
			
		07/11/2017 : Suppression de la retrieve des montants à change constant
	*/
	DECLARE @SqlCommand nvarchar(1024),
			@ErrorMssg nvarchar(3072),
			@ErrorCode nvarchar(1024),
			@ErrorLevel int = 0,
			@NbLignes int = 0,
			@PeriodeClotureOld nvarchar(6),
			@month integer,
			@year integer,
			@consotable varchar(10)
	
--	IF @Process IS NULL
		SET @Process = 'PREPARATION SYNTHESE RWA'
		
	-- Avant de démarrer, on nettoie de la table des logs les lignes correspondantes au @Process actuel
--	DELETE FROM dbo.HELIOS_LOG_TRAITEMENTS WHERE Process = @Process
	
	-- Récupération de la période actuelle
--	IF @PeriodeCloture IS NULL
--		SET @PeriodeCloture = RIGHT('00' + CAST(MONTH(GETDATE())-1 as varchar(2)), 2) + RIGHT('0000' + CAST(YEAR(GETDATE()) as varchar(4)), 4)
	SET @PeriodeCloture = '122023'
	-- Traitement de sauvegarde de la période T-1
	BEGIN TRY
--		IF OBJECT_ID('dbo.HELIOS_PREP_SYNTHESE_RWA_AGREGEE') IS NOT NULL
			BEGIN
				-- On récupère la période actuellement stockée dans la synthèse
				SELECT @PeriodeClotureOld = PeriodeCloture FROM dbo.HELIOS_PREP_SYNTHESE_RWA_AGREGEE;
				
--				IF OBJECT_ID('dbo.HELIOS_PREP_SYNTHESE_RWA_OLD') IS NOT NULL
--					SELECT @NbLignes = COUNT(*) FROM dbo.HELIOS_PREP_SYNTHESE_RWA_OLD;
				
				-- Si la période présente dans la synthèse est différente de la période en cours
				-- ou que la table historique est vide ou n'existe pas
--				IF @PeriodeClotureOld <> @PeriodeCloture OR @NbLignes = 0
					BEGIN
						------------------------------------------------------------------------
						--07/11/2017 : Suppression de la retrieve des montants à change constant
						------------------------------------------------------------------------
						-- On calcule la période précédente pour récupérer son montant 1C3
						/*SELECT @consotable = convert(varchar(10), id)
						FROM SAPDBBOSP01.Magnitude.dbo.ct_coref
						WHERE scope		= (SELECT id FROM SAPDBBOSP01.Magnitude.dbo.ct_scope_code	WHERE name = 'NATAMFIN')
							AND phase	= (SELECT id FROM SAPDBBOSP01.Magnitude.dbo.ct_phase		WHERE name = 'FSAC')
							AND curncy	= (SELECT id FROM SAPDBBOSP01.Magnitude.dbo.ct_curncy 		WHERE name = 'EUR')
							AND variant	= (SELECT id FROM SAPDBBOSP01.Magnitude.dbo.ct_variant		WHERE name = '1C3')
							AND updper	= (LEFT(CAST(RIGHT(@PeriodeClotureOld, 4) as int), 4) - 1900) * 262144 + RIGHT(CAST(LEFT(@PeriodeClotureOld, 2) as int), 2) * 8192;

						IF @consotable IS NULL
							BEGIN
								SET @month = CAST(LEFT(@PeriodeCloture, 2) as int) - 3
								SET @year = CAST(RIGHT(@PeriodeCloture, 4) as int)

								IF @month <= 0
									BEGIN
										SET @month = 12
										SET @year = @year - 1
									END
								
								SELECT @consotable = convert(varchar(10), id)
								FROM SAPDBBOSP01.Magnitude.dbo.ct_coref
								WHERE scope		= (SELECT id FROM SAPDBBOSP01.Magnitude.dbo.ct_scope_code	WHERE name = 'NATAMFIN')
									AND phase	= (SELECT id FROM SAPDBBOSP01.Magnitude.dbo.ct_phase		WHERE name = 'FSAC')
									AND curncy	= (SELECT id FROM SAPDBBOSP01.Magnitude.dbo.ct_curncy 		WHERE name = 'EUR')
									AND variant	= (SELECT id FROM SAPDBBOSP01.Magnitude.dbo.ct_variant		WHERE name = '1C3')
									AND updper	= (LEFT(@year, 4) - 1900) * 262144 + RIGHT(@month, 2) * 8192;
							END
							
						IF @consotable IS NULL
							BEGIN
								SET @ErrorMssg = 'Erreur: Table Clôture non trouvée.'
								SET @ErrorCode = 1002
								EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
								PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
								RETURN @ErrorCode;
							END
						*/
						-- On nettoie la base historique...
--						IF OBJECT_ID('dbo.HELIOS_PREP_SYNTHESE_RWA_OLD') IS NOT NULL
--							DROP TABLE dbo.HELIOS_PREP_SYNTHESE_RWA_OLD;
						
						-- MODIFICATION 14/04/2017 : Ajout de la notion de source pour résoudre le problème d'affection du Montant à change constant par source
						/*EXEC('SELECT a.*, b.Montant
						INTO dbo.HELIOS_PREP_SYNTHESE_RWA_OLD
						FROM dbo.HELIOS_PREP_SYNTHESE_RWA_AGREGEE a
							LEFT JOIN (
								SELECT a.name as CompteMagnitude, c.name AS PartnerID, SUM(b.consamount * 1000) AS Montant
								FROM SAPDBBOSP01.Magnitude.dbo.ct_account a
									LEFT JOIN SAPDBBOSP01.Magnitude.dbo.ct_co' + @consotable + ' b ON b.accnt = a.id
									LEFT JOIN SAPDBBOSP01.Magnitude.dbo.ct_entity c ON c.id = b.partner
									LEFT JOIN SAPDBBOSP01.Magnitude.dbo.ct_entity d ON d.id = b.entity
								WHERE
									b.flow = 24
									AND b.ct_0000_at = 0
									AND b.ct_0000_ga = 0
									AND b.ct_0000_ct = 0
									AND b.ct_0000_al = 0
									AND b.ct_0000_at2 = 0
									AND b.ct_0000_tc = 0
									AND b.ct_0000_pt = 0
									AND b.consamount * 1000 NOT BETWEEN -0.1 AND 0.1
									AND b.ctshare = 0
									AND c.name IS NOT NULL
									AND NOT (c.name = ''RU999'' AND d.name = ''RU217'' AND a.name = ''A20500'')
								GROUP BY a.name, c.name
							) b ON a.CompteMagnitude = b.CompteMagnitude AND a.PartnerID = b.PartnerID
						ORDER BY a.Source, a.CompteMagnitude, a.PartnerID;');*/
						
						
						------------------------------------------------------------------------
						--07/11/2017 : Suppression de la retrieve des montants à change constant
						------------------------------------------------------------------------
						/*
						EXEC('SELECT a.*,b.Montant
						INTO dbo.HELIOS_PREP_SYNTHESE_RWA_OLD
						FROM dbo.HELIOS_PREP_SYNTHESE_RWA_AGREGEE a
						LEFT JOIN (
							SELECT 
								CASE 
									WHEN e.Source IS NULL  THEN ''010'' ELSE e.Source
								END As Source,
								a.name as CompteMagnitude, c.name AS PartnerID, SUM(b.consamount * 1000) AS Montant
							FROM SAPDBBOSP01.Magnitude.dbo.ct_co' + @consotable + ' b	
							LEFT JOIN SAPDBBOSP01.Magnitude.dbo.ct_account a ON a.id = b.accnt
							LEFT JOIN SAPDBBOSP01.Magnitude.dbo.ct_entity d ON d.id = b.entity
							LEFT JOIN SAPDBBOSP01.Magnitude.dbo.ct_entity c ON c.id = b.partner
							LEFT JOIN HELIOS_PARAM_ENTREES_PERIMETRE e on e.ReportingUnit=d.name
							WHERE
								b.flow = 24
								AND b.ct_0000_at = 0
								AND b.ct_0000_ga = 0
								AND b.ct_0000_ct = 0
								AND b.ct_0000_al = 0
								AND b.ct_0000_at2 = 0
								AND b.ct_0000_tc = 0
								AND b.ct_0000_pt = 0
								AND b.consamount * 1000 NOT BETWEEN -0.1 AND 0.1
								AND b.ctshare = 0
								AND c.name IS NOT NULL
								AND NOT (c.name = ''RU999'' AND d.name = ''RU217'' AND a.name = ''A20500'')
							GROUP BY Source, a.name, c.name
						) b ON a.Source = b.Source AND a.CompteMagnitude = b.CompteMagnitude AND a.PartnerID = b.PartnerID
					ORDER BY a.Source, a.CompteMagnitude, a.PartnerID;');
					*/
					
						SELECT *, NULL as Montant
						INTO HELIOS_PREP_SYNTHESE_RWA_OLD
						FROM HELIOS_PREP_SYNTHESE_RWA_AGREGEE
					END
			END
			
	END TRY
	BEGIN CATCH
		-- En cas d'erreur lors du bloc précédent, on loggue
		SET @ErrorMssg = 'Erreur pendant la récupération de la Période T-1: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		SET @ErrorLevel = 2
		EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, @ErrorLevel, @ErrorCode, @ErrorMssg
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
		RETURN @ErrorCode;
	END CATCH
	
	-- Traitement de préparation des données de synthèse T
	BEGIN TRY
		-- On nettoie la table de synthèse pour le traitement de la période en cours
		DELETE FROM dbo.HELIOS_PREP_SYNTHESE_RWA_NON_AGREGEE;
		
		-- Préparation des données de synthèse
		--INSERT INTO dbo.HELIOS_PREP_SYNTHESE_RWA_NON_AGREGEE (PeriodeCloture, Source, CompteMagnitude, PartnerID, RefCategorieRWA, IdentifiantUniqueRetenu, RAF, LibelleOrigineOuPartnerID, MontantProratise, DateFinContrat, CompteCopernic, CodeProduit, PCEC, CategorieSynthese, TauxPonderation, MontantActifPondere, Notionnel, RAFB2C, Approche, ClasseActifB2, CategorieProduit, Rating, Transparence)
		--SELECT a.PeriodeCloture, a.Source, a.CompteMagnitude, a.PartnerID, a.RefCategorieRWA, a.IdentifiantUniqueRetenu, a.RAF, a.LibelleOrigineOuPartnerID, a.MontantProratise, a.DateFinContrat, a.CompteCopernic, a.CodeProduit, a.PCEC,
		--	CASE
		--		WHEN a.CompteMagnitude IN ('A10202','A20320') THEN 'DCP'
		--		WHEN a.CompteMagnitude = 'A10100' THEN 'Cash'
		--		WHEN a.CompteMagnitude IN ('A10101','A10102','A10200') THEN 'MM'
		--		WHEN a.CompteMagnitude LIKE 'O%' THEN 'HBILAN'
		--		WHEN a.CompteMagnitude LIKE 'CRCNET%' THEN 'AI'
		--		WHEN a.PartnerID = 'IN999' OR a.PartnerID = 'RU999' THEN 'AI'
		--		ELSE b.CategorieSynthese
		--	END as CategorieSynthese, NULL, NULL, NULL, 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', CASE WHEN a.CompteMagnitude+a.PartnerID IN (SELECT CompteMagnitude+PartnerID FROM dbo.HELIOS_SEED_MONEY) THEN 'Oui' ELSE 'Non' END
		--FROM dbo.HELIOS_PREP_REPORTING_RWA_AGREGEE a
		--	LEFT JOIN dbo.HELIOS_PARAM_MAPPING_TITRES_MAGNITUDE b
		--		ON b.PartnerID = a.PartnerID;
		
		INSERT INTO dbo.HELIOS_PREP_SYNTHESE_RWA_NON_AGREGEE (PeriodeCloture, Source, CompteMagnitude, PartnerID, RefCategorieRWA, IdentifiantUniqueRetenu, RAF, LibelleOrigineOuPartnerID, MontantProratise, DateFinContrat, CompteCopernic, CodeProduit, PCEC, CategorieSynthese, TauxPonderation, MontantActifPondere, Notionnel, RAFB2C, Approche, ClasseActifB2, CategorieProduit, Rating, Transparence)
		SELECT 
		a.PeriodeCloture, 
		a.Source,
		CASE 
			WHEN c.CompteMagnitudeRemplacement IS NOT NULL AND C.CompteANetter=0 THEN c.CompteMagnitudeRemplacement
			ELSE a.CompteMagnitude
		END as CompteMagnitude, 
		a.PartnerID, 
		a.RefCategorieRWA, 
		CASE 
			WHEN c.CompteMagnitudeRemplacement IS NOT NULL AND C.CompteANetter=0 THEN REPLACE (a.IdentifiantUniqueRetenu,a.CompteMagnitude,c.CompteMagnitudeRemplacement)
			ELSE a.IdentifiantUniqueRetenu
		END as IdentifiantUniqueRetenu,
		a.RAF, 
		a.LibelleOrigineOuPartnerID, 
		a.MontantProratise, 
		a.DateFinContrat, 
		a.CompteCopernic, 
		a.CodeProduit, 
		a.PCEC,
		CASE
			--WHEN a.CompteMagnitude IN ('A10202','A20320') THEN 'DCP'
			--WHEN a.CompteMagnitude = 'A10100' THEN 'Cash'
			--WHEN a.CompteMagnitude IN ('A10101','A10102','A10200') THEN 'MM'
			--WHEN a.CompteMagnitude LIKE 'O%' THEN 'HBILAN'
			WHEN a.CompteMagnitude LIKE 'CRCNET%' THEN 'AI'
			WHEN a.PartnerID = 'IN999' OR a.PartnerID = 'RU999' THEN 'AI'
			ELSE b.CategorieSynthese
		END as CategorieSynthese, NULL, NULL, NULL, 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', CASE WHEN a.CompteMagnitude+a.PartnerID IN (SELECT CompteMagnitude+PartnerID FROM dbo.HELIOS_SEED_MONEY) THEN 'Oui' ELSE 'Non' END
	FROM dbo.HELIOS_PREP_REPORTING_RWA_AGREGEE a
		LEFT JOIN dbo.HELIOS_PARAM_MAPPING_TITRES_MAGNITUDE b
			ON b.PartnerID = a.PartnerID
		LEFT JOIN dbo.HELIOS_PARAM_COMPTES_MAGNITUDE_A_EXTRAIRE c
			ON c.CompteMagnitude=a.CompteMagnitude;
				
		INSERT INTO dbo.HELIOS_PREP_SYNTHESE_RWA_NON_AGREGEE (PeriodeCloture, IdentifiantUniqueRetenu, LibelleOrigineOuPartnerID)
		SELECT @PeriodeCloture, 'AJUSTEMENTS', 'AJUSTEMENT ULISS/COMPTA';
		
		INSERT INTO dbo.HELIOS_PREP_SYNTHESE_RWA_NON_AGREGEE (PeriodeCloture, IdentifiantUniqueRetenu, LibelleOrigineOuPartnerID)
		SELECT @PeriodeCloture, 'NAMFI', 'NAMFI';

		INSERT INTO dbo.HELIOS_PREP_SYNTHESE_RWA_NON_AGREGEE (PeriodeCloture, IdentifiantUniqueRetenu, LibelleOrigineOuPartnerID)
		SELECT @PeriodeCloture, 'IMMOS', 'IMMOBILISATIONS';
	END TRY
	BEGIN CATCH
		-- En cas d'erreur lors du bloc précédent, on loggue
		SET @ErrorMssg = 'Erreur pendant la préparation des données de synthèse T: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		SET @ErrorLevel = 2
		EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, @ErrorLevel, @ErrorCode, @ErrorMssg
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
		RETURN @ErrorCode;
	END CATCH
	
	-- Finalisation du traitement
	BEGIN TRY
		SELECT @NbLignes = COUNT(*) FROM dbo.HELIOS_PREP_SYNTHESE_RWA_NON_AGREGEE;
		SET @ErrorMssg = CAST(@NbLignes as nvarchar(5)) + ' lignes mises à jour dans la table "dbo.HELIOS_PREP_SYNTHESE_RWA_NON_AGREGEE".'
		-- Si la table finale existe et qu'elle contient des données
		IF OBJECT_ID('dbo.HELIOS_PREP_SYNTHESE_RWA_NON_AGREGEE') is not null AND @NbLignes <> 0
			BEGIN
				-- On loggue la réussite
				SET @ErrorLevel = 0
				SET @ErrorCode = 0
			END
		ELSE
			BEGIN
				-- ... ou l'échec
				SET @ErrorLevel = 2
				SET @ErrorCode = 1005
			END
		EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, @ErrorLevel, @ErrorCode, @ErrorMssg
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
		RETURN @ErrorCode;
	END TRY
	BEGIN CATCH
		-- En cas d'erreur lors du bloc précédent, on loggue
		SET @ErrorMssg = 'Erreur pendant la finalisation: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
		RETURN @ErrorCode;
	END CATCH
END
GO
