USE [RWA]
GO
/****** Object:  StoredProcedure [dbo].[USP_HELIOS_TRAITEMENT_ANATITRES]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_HELIOS_TRAITEMENT_ANATITRES]
	@PeriodeCloture nvarchar(10)
AS
BEGIN
	SET NOCOUNT ON;
	/* 
	Déclaration des variables
		
	*/
	SELECT [Source]
      ,a.[CompteMagnitude]
      ,a.[PartnerID]
      ,[LibelleOrigine]
      ,''
      ,@PeriodeCloture As DateCloture
      ,'' As ApplicationDeGestion
      ,[Source]+[IdentifiantUniqueRetenu] As IdentifiantContrat
      ,'NX03A' As BusinessUnit
      ,[CompteCopernic]
      ,CASE WHEN b.IdentifiantISIN IS NULL THEN '' ELSE b.IdentifiantISIN END As IdentifiantISIN
      ,a.[RAF]
      ,c.PortefeuilleIAS As IntentionDeGestion
      ,'NA' AS Bucket
      ,'' AS QuantiteTitres
      ,'' As MontantNominalAgrege
      ,CASE WHEN b.PartnerID='OBL' THEN '0002' ELSE '0001' END AS ModeExpression
      ,[MontantProratiseT2]*1000 As MarkToMarket
      ,[MontantProratiseT2]*1000 As DeviseDeBase
      ,0 As MontantProvisions
      ,CASE WHEN IdentifiantISIN IS NOT NULL THEN '' ELSE '3' END As CotationTitre
      ,'' As DateEmissionTitre
      ,'' As DateEcheanceTitre
      ,CASE WHEN IdentifiantISIN IS NOT NULL THEN '' ELSE 'EUR' END As DeviseNominalTitre
      ,'' As NatureTitre
      ,CASE WHEN IdentifiantISIN IS NOT NULL THEN '' ELSE '9' END As TitreGaranti
      ,CASE WHEN IdentifiantISIN IS NOT NULL THEN '' ELSE '0' END As SenioriteTitre
      ,CASE WHEN IdentifiantISIN IS NOT NULL THEN '' ELSE '0' END As TitreLiquide
  FROM [RWA].[dbo].[HELIOS_EXPORT_SYNTHESE_RWA] a
  INNER JOIN HELIOS_PARAM_MAPPING_TITRES_MAGNITUDE b ON a.PartnerID=b.PartnerID
  INNER JOIN HELIOS_PARAM_INTENTION_GESTION_PAR_COMPTE c ON a.CompteMagnitude=c.CompteMagnitude
  WHERE CategorieSyntheseT2 NOT IN ('--')
  AND a.CompteMagnitude IN (
	'A10101',
	'A10102',
	'A10202',
	'A20318',
	'A20320',
	'A20321',
	'A20322',
	'A20325',
	'A20326',
	'A20327',
	'A20328',
	'A20329',
	'A20501'
)
  AND Source IS NOT NULL
END

GO
