USE [RWA]
GO
/****** Object:  StoredProcedure [dbo].[USP_HECATE_REPORT_FUNDDETAIL]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_HECATE_REPORT_FUNDDETAIL]
 @Source nvarchar(3) = NULL
AS
-- =============================================
-- Author:		T Fleury
-- Create date: 14/09/2016
-- ModIFy date: 
-- Description:	SSRS : Affichage
-- Input parameters:
--		
-- Output parameters:
-- Variables:
-- RETURN code
-- =============================================
BEGIN
	SET NOCOUNT ON;
	
	IF @Source = '%'
		SET @Source = NULL
		
	DECLARE @Fund_table TABLE 
	(
		[Source] [nvarchar](3),
		[LibelleSource] [nvarchar](255),
		[AmountSuccess] float,
		[AmountEchec] float,
		[NbSuccess] int,
		[NbEchec] int
	)
	
	DECLARE @Fund_table_success TABLE 
	(
		[Source] [nvarchar](3),
		[AmountSuccess] float,
		[AmountEchec] float,
		[NbSuccess] int,
		[NbEchec] int
	)
	
	DECLARE @Fund_table_echecs TABLE 
	(
		[Source] [nvarchar](3),
		[AmountSuccess] float,
		[AmountEchec] float,
		[NbSuccess] int,
		[NbEchec] int
	)
	
	INSERT INTO @Fund_table_success
	(		[Source],
			[AmountSuccess],
			[AmountEchec],
			[NbSuccess],
			[NbEchec]
	)
	SELECT Source,Sum(ValeurDeMarche) As MONTANTSUCCESS,NULL,COUNT(*) AS NBSUCCESS,NULL
	FROM HECATE_INVENTAIRE_NORMALISES I RIGHT JOIN HECATE_CATEGORIE_RWA C ON I.RefCategorieRWA=C.IdCatRWA
	WHERE CodeResultat IN (401, 402, 403, 404, 405, 406, 407, 601, 602)
	AND Source IN ( coalesce (@Source, Source))
	AND Commentaires IS NOT NULL
	GROUP BY Source
	
	INSERT INTO @Fund_table_echecs
	(		[Source],
			[AmountSuccess],
			[AmountEchec],
			[NbSuccess],
			[NbEchec]
	)
	SELECT Source,NULL,Sum(ValeurDeMarche) As MontantECHEC,NULL,COUNT(*) AS NBECHECS
	FROM HECATE_INVENTAIRE_NORMALISES I RIGHT JOIN HECATE_CATEGORIE_RWA C ON I.RefCategorieRWA=C.IdCatRWA
	WHERE CodeResultat NOT IN (401, 402, 403, 404, 405, 406, 407, 601, 602)
	AND Commentaires IS NOT NULL
	AND Source IN ( coalesce (@Source, Source))
	GROUP BY Source,ValeurDeMarche
	
	INSERT INTO @Fund_table
	(		[Source],
			[LibelleSource],
			[AmountSuccess],
			[AmountEchec],
			[NbSuccess],
			[NbEchec]
	)
	SELECT S.Source,Libelle,AmountSuccess,AmountEchec,NbSuccess,NbEchec
	FROM @Fund_table_success S LEFT JOIN HELIOS_SEED_MONEY SM ON S.Source=SM.Source
	UNION ALL
	SELECT E.Source,Libelle,AmountSuccess,AmountEchec,NbSuccess,NbEchec
	FROM @Fund_table_echecs E LEFT JOIN HELIOS_SEED_MONEY SM ON E.Source=SM.Source
	
	SELECT Source,LibelleSource,Sum(AmountSuccess) As MontantSuccess,Sum(AmountEchec) As MontantEchec,Sum(NbSuccess) As NbSuccess ,Sum(NbEchec) As NbEchec
	FROM @Fund_table
	GROUP BY Source,LibelleSource
	
		
END;
GO
