USE [RWA]
GO
/****** Object:  StoredProcedure [dbo].[USP_HELIOS_EXPORT_ENTITES_MAGNITUDE_old]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_HELIOS_EXPORT_ENTITES_MAGNITUDE_old]
	@Process nvarchar(256),
	@FichierGenere nvarchar(256) OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	/*
	Déclaration des variables
		ExportPath : chemin d'accès au fichier à exporter
		TemplatePath : chemin d'accès au fichier modèle
		PeriodeCloture : période de cloture en cours de traitement
		FichierGenereFinal : nom du fichier à exporter
		SqlCommandContrats : commande SQL Contrats à exécuter
		NbLignes : nombre de lignes retournées par la commande SqlCommand
		Exist : vaut 1 ou 0 si le fichier à exporter existe ou non
		ErrorMssg : message de retour à afficher ou journaliser
		ErrorCode : code de retour à afficher ou journaliser
		PeriodeCloture : période de clôture actuelle
		dt : date/heure de génération du fichier (JJ-MM-AAAA_HHhMM)
		TmpCommand : commande SQL à exécuter
	*/
    DECLARE @ExportPath nvarchar(256) = 'E:\RWA\HELIOS\Export\Params\', --'
			@TemplatePath nvarchar(256) = 'E:\RWA\HELIOS\Templates\', --'
			@PeriodeCloture nvarchar(6),
			@FichierGenereFinal nvarchar(256),
			@SqlCommand nvarchar(4000),
			@NbLignes int,
			@Exist int,
			@ErrorMssg nvarchar(3072),
			@ErrorCode nvarchar(1024),
			@dt nvarchar(16),
			@TmpCommand nvarchar(4000),
			@ParamSqlCmd nvarchar(4000),
			@NomFichier nvarchar(256),
			@month int,
			@year int
			
	IF @Process IS NULL
		SET @Process = 'EXPORT ENTITES MAGNITUDE'
		
	-- Avant de démarrer, on nettoie de la table des logs les lignes correspondantes au @Process actuel
	DELETE FROM dbo.HELIOS_LOG_IMPORT_EXPORT WHERE Process = @Process
	
	-- Récupération de la période de clôture actuelle
	BEGIN TRY
		SET @month = MONTH(GETDATE())
		SET @year = YEAR(GETDATE())
		IF @month <= 3
			BEGIN
				SET @month = 12
				SET @year = @year - 1
			END
		ELSE IF @month <= 6 SET @month = 3
		ELSE IF @month <= 9 SET @month = 6
		ELSE IF @month <= 12 SET @month = 9
		SET @PeriodeCloture = RIGHT('00' + CAST(@month as nvarchar), 2) + RIGHT('0000' + CAST(@year as nvarchar), 4)
		IF OBJECT_ID('dbo.HELIOS_IMPORT_FICHIER_ENRICHI_BRUT') IS NOT NULL
			BEGIN
				SELECT @NbLignes = COUNT(*) FROM dbo.HELIOS_IMPORT_FICHIER_ENRICHI_BRUT;
				IF @NbLignes > 0
					SELECT @PeriodeCloture = PeriodeCloture FROM dbo.HELIOS_IMPORT_FICHIER_ENRICHI_BRUT GROUP BY PeriodeCloture
			END
	END TRY
	BEGIN CATCH
	END CATCH
	
	-- Lancement de la génération du fichier d'export
	BEGIN TRY
		SET @NomFichier = 'EntitesMagnitude'
		SET @TemplatePath = @TemplatePath + @NomFichier + '_Template.xlsx'
		EXEC xp_fileexist @TemplatePath, @Exist OUTPUT
		IF @Exist = 1
			BEGIN
				SET @dt = CONVERT(nvarchar(10), GETDATE(), 105) + '_' + RIGHT('00' + CAST(DATEPART(hh,GETDATE()) as nvarchar(2)), 2) + 'h' + RIGHT('00' + CAST(DATEPART(n,GETDATE()) as nvarchar(2)), 2)
				SET @FichierGenereFinal = @NomFichier + '_' + @dt + '.xlsx'
				
				SET @TmpCommand = N'copy "' + @TemplatePath + '" "' + @ExportPath + @FichierGenereFinal + '"'
				EXEC xp_cmdshell @TmpCommand, no_output
				
				SET @SqlCommand = N'
					INSERT INTO OPENROWSET(
						''Microsoft.ACE.OLEDB.12.0'',
						''Excel 12.0;DATABASE=' + @ExportPath + @FichierGenereFinal + ''', 
						''SELECT * FROM [' + @NomFichier + '$]'')
					SELECT
						ISNULL(a.name, ''''),
						ISNULL(a.ldesc1, ''''),
						ISNULL(b.name, '''')
					FROM BFCDBBOSP02.FCPS.dbo.ct_entity a
						LEFT JOIN BFCDBBOSP02.FCPS.dbo.ct_curncy b ON a.curncy = b.id
					ORDER BY a.name;'
				
				-- Exécution de la requête d'extraction
				BEGIN TRY
					EXEC sp_executesql @SqlCommand;
					SET @NbLignes = @@ROWCOUNT
					IF @NbLignes <> 0
						BEGIN
							SET @FichierGenere = @FichierGenereFinal
							SET @ErrorMssg = 'Fichier Excel exporté sous: ' + @FichierGenereFinal
							SET @ErrorCode = 0
							EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 0, @ErrorCode, @ErrorMssg
							PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
							RETURN @ErrorCode;
						END
					ELSE
						BEGIN
							SET @TmpCommand = N'del "' + @ExportPath + @FichierGenereFinal + '"'
							EXEC xp_cmdshell @TmpCommand, no_output
							SET @ErrorMssg = 'Aucune donnée à exporter.'
							SET @ErrorCode = 1000
							EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
							PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
							RETURN @ErrorCode;
						END
				END TRY
				BEGIN CATCH
					BEGIN
						-- En cas d'erreur lors du bloc précédent, on nettoie
						SET @TmpCommand = N'del "' + @ExportPath + @FichierGenereFinal + '"'
						EXEC xp_cmdshell @TmpCommand, no_output
						SET @FichierGenere = null
						-- et on loggue
						SET @ErrorMssg = 'Erreur pendant l''Exportation: ' + ERROR_MESSAGE()
						SET @ErrorCode = ERROR_NUMBER()
						EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
						PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
						RETURN @ErrorCode;
					END
				END CATCH
			END
		ELSE
			BEGIN
				-- En cas d'erreur lors du bloc précédent, on loggue
				SET @FichierGenere = null
				SET @ErrorMssg = 'Fichier Modèle introuvable'
				SET @ErrorCode = 1001
				EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
				RETURN @ErrorCode;
			END
	END TRY
	BEGIN CATCH
		BEGIN
			-- En cas d'erreur lors du bloc précédent, on loggue
			SET @FichierGenere = null
			SET @ErrorMssg = 'Erreur pendant l''Exportation: ' + ERROR_MESSAGE()
			SET @ErrorCode = ERROR_NUMBER()
			EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
			PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
			RETURN @ErrorCode;
		END
	END CATCH
END
GO
