USE [RWA]
GO
/****** Object:  StoredProcedure [dbo].[USP_HECATE_TRAITEMENT_GENEREIDUNIQUERETENU]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[USP_HECATE_TRAITEMENT_GENEREIDUNIQUERETENU]
	-- Add the parameters for the stored procedure here
	@NumLigne int,
	@PeriodeCloture nvarchar(6),
	@Source nvarchar(3),
	@IdentifiantOrigine nvarchar(50),
	@IdCategorieRWA nvarchar(3),
	
	@vdrIdUniqueRetenu nvarchar(13) OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DECLARE 
		@Compteur int,
		@ChaineTMP nvarchar(255)
		
	SELECT @Compteur=Compteur
		FROM Hecate_Compteur
		WHERE PeriodeCloture=@PeriodeCloture
			AND	Source=@Source
			AND	RefCategorieRWA=@IdCategorieRWA
			
	IF @Compteur IS NULL
	BEGIN
		INSERT INTO Hecate_Compteur (PeriodeCloture,Source,RefCategorieRWA,Compteur)
		SELECT rtrim(ltrim(@PeriodeCloture)),rtrim(ltrim(@Source)),rtrim(ltrim(@IdCategorieRWA)),1
		
		SELECT @Compteur=1
	END
	ELSE
		UPDATE Hecate_Compteur
		SET Compteur = Compteur + 1, @Compteur=Compteur+1
		WHERE PeriodeCloture=rtrim(ltrim(@PeriodeCloture))
			AND	Source=rtrim(ltrim(@Source))
			AND	RefCategorieRWA=rtrim(ltrim(@IdCategorieRWA))
			
	IF @Compteur <= 676
	BEGIN
		SELECT @vdrIdUniqueRetenu=Source+RefCategorieRWA+LEFT(PeriodeCloture,2)+RIGHT(PeriodeCloture,2)+HCA.Compteuralpha 
		FROM Hecate_Compteur HC INNER JOIN dbo.HECATE_COMPTEURALPHA HCA ON HC.Compteur=HCA.Idcompteuralpha
		WHERE PeriodeCloture=rtrim(ltrim(@PeriodeCloture))
			AND	Source=rtrim(ltrim(@Source))
			AND	RefCategorieRWA=rtrim(ltrim(@IdCategorieRWA))
		
		SET @vdrIdUniqueRetenu=ltrim(rtrim(right(@vdrIdUniqueRetenu,12)))
		
		SELECT @ChaineTMP = 'TABLE:Compteur - IdUniqueRetenu généré ('+@vdrIdUniqueRetenu+').'
		
		EXEC dbo.USP_HECATE_LOG_SETLOGCONSO @NumLigne, 0, @PeriodeCloture, @Source, @IdentifiantOrigine, @ChaineTMP
		
		RETURN 1;
	END
	ELSE
	BEGIN
		EXEC dbo.USP_HECATE_LOG_SETLOGCONSO @NumLigne, 2, @PeriodeCloture, @Source, @IdentifiantOrigine, 'TABLE:Compteur - Depassement increment > 999.'
		
		RETURN 0;
	END
END
GO
