USE [RWA]
GO
/****** Object:  StoredProcedure [dbo].[USP_HELIOS_EXPORT_FICHIER_EXCELTOCSV]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[USP_HELIOS_EXPORT_FICHIER_EXCELTOCSV]
	@Process nvarchar(256),
	@yyyy nvarchar(4),
	@mm nvarchar(2),
	@dd nvarchar(2),
	@FichierGenere nvarchar(256) = null OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	/* 
	Déclaration des variables
		ExportPath : chemin d'accès au fichier à exporter
		FTPPath : chemin d'accès au partage utilisé pour l'envoi FTP
		FichierGenereFinal : nom du fichier à exporter et archiver
		FichierGenereFTP : nom du fichier à envoyer via FTP
		FichierGenereFTPFinal : nom du fichier envoyé via FTP
		PeriodeCloture : période de cloture en cours de traitement
		NbLignes : nombre de lignes retournées par la commande SQL
		ErrorMssg : message de retour à afficher ou journaliser
		ErrorCode : code de retour à afficher ou journaliser
		ErrorLevel : niveau d'erreur à afficher ou journaliser (0=OK, 1=WARNING, 2=ERROR)
		Cmd : commande SQL à exécuter
		shellCmd : commande Shell à exécuter
		month : mois de la période
		year : année de la période
		DateArrete : date de fin de la période (JJ/MM/AAAA)
		dt : date/heure de génération du fichier (JJ-MM-AAAA_HHhMM)
		
	Suivi des modifications :
		24/11/2016 : suite retour MOE DRP
			- déplacement de l'"A PROPOS" en fin de fichier
			- retrait des "s" à la fin des "CONTRATS" et "TITRES"
			- passage en export ASCII (20127) au lieu d'UTF8 (65001) dans la commande SQLCMD -F
		02/12/2016 : suite retour MOE DRP
			- activation de la copie FTP du fichier final
			- gestion du renommage et archivage du fichier final
		07/12/2016 : suite retour MOE DRP
			- changement du mode de génération par Package SSIS
	*/
    DECLARE @ImportPath nvarchar(256) = 'E:\RWA\HELIOS\Import\FichierExportToCsv\', --'
			@ExportPath nvarchar(256) = 'E:\RWA\HELIOS\Export\FichierExportToCsv\', --'
			@NomFichierXLSX nvarchar(255) = 'Fichier_Export_TOCSV.xlsx',
			@SqlCommand nvarchar(MAX),
			@SqlCommand1 nvarchar(MAX),
			@SqlCommand2 nvarchar(MAX),
			@Exist int,
			@FichierGenereFinal nvarchar(256),
			@FichierGenereFTP nvarchar(256),
			@FichierGenereFTPFinal nvarchar(256),
			@PeriodeCloture nvarchar(6),
			@NbLignes int,
			@ErrorMssg nvarchar(3072) = '',
			@ErrorCode nvarchar(1024) = 0,
			@ErrorLevel int = 0,
			@Cmd nvarchar(4000),
			@shellCmd nvarchar(4000),
			@month integer,
			@year integer,
			@DateArrete nvarchar(10),
			@DateEffet nvarchar(10),
			@dt nvarchar(16)
	
	IF @Process IS NULL
		SET @Process = 'EXPORT FICHIER EXCEL VERS CSV'
		
	-- Avant de démarrer, on nettoie de la table des logs les lignes correspondantes au @Process actuel
	DELETE FROM dbo.HELIOS_LOG_IMPORT_EXPORT
	WHERE Process = @Process
	
	-- On teste l'existance du fichier demandé
	SET @ErrorMssg = @ImportPath + @NomFichierXLSX
	EXEC xp_fileexist @ErrorMssg, @Exist OUTPUT

	IF @NomFichierXLSX is not null AND @Exist = 1
		BEGIN
			IF OBJECT_ID('dbo.HELIOS_DATEFICHIER_TOCSV') IS NOT NULL DROP TABLE HELIOS_DATEFICHIER_TOCSV
			
			SELECT
				@yyyy AS YYYY,
				@mm AS MM,
				@dd AS DD
			INTO HELIOS_DATEFICHIER_TOCSV

			IF OBJECT_ID('dbo.HELIOS_ONGLET_CONTRATS_TOCSV') IS NOT NULL DROP TABLE HELIOS_ONGLET_CONTRATS_TOCSV
			
			SET @SqlCommand1 = N'
				SELECT
					cast(rtrim(ltrim([1-Code UFO négociatrice])) as nvarchar(50)) as [CodeUFONegociatrice],
					cast(rtrim(ltrim([2-Code établissement])) as nvarchar(50)) as [CodeEtablissement],
					cast(rtrim(ltrim([3-Code Produit])) as nvarchar(5)) as [CodeProduit],
					cast(rtrim(ltrim([4-Date de fin de contrat])) as nvarchar(10)) as [DateFinContrat],
					cast(rtrim(ltrim([5-Date initiale de fin de contrat])) as nvarchar(10)) as [DateInitialeFinContrat],
					cast(rtrim(ltrim([6-Date de signature du contrat])) as nvarchar(10)) as [DateSignatureContrat],
					cast(rtrim(ltrim([7-Identifiant contrat])) as nvarchar(30)) as [IdentifiantContrat],
					cast(rtrim(ltrim([8-Taux LGD])) as numeric(15,0)) as [TauxLGD],
					cast(rtrim(ltrim([9-FCEC])) as numeric(15,0)) as [FCEC],
					cast(rtrim(ltrim([10-Date d''effet])) as nvarchar(10)) as [DateEffet],
					cast(rtrim(ltrim([11-Référence Montage])) as nvarchar(8)) as [ReferenceMontage],
					cast(rtrim(ltrim([12-Portefeuille IAS])) as nvarchar(3)) as [PortefeuilleIAS],
					cast(rtrim(ltrim([13-Ptf réglementaire Mc Do])) as nvarchar(7)) as [PtfReglementaireMcDo],
					cast(rtrim(ltrim([14-Pays de risque])) as nvarchar(2)) as [PaysRisque],
					cast(rtrim(ltrim([15-Présence de crédit partagé])) as nvarchar(1)) as [PresenceCreditPartage],
					cast(rtrim(ltrim([16-Devise])) as nvarchar(3)) as [Devise],
					cast(rtrim(ltrim([17-RAF du tiers])) as nvarchar(7)) as [RAFTiers],
					cast(rtrim(ltrim([18-Code Segment Mc Donough])) as nvarchar(2)) as [CodeSegmentMcDo],
					cast(rtrim(ltrim([19-Identifiant titre / ISIN])) as nvarchar(16)) as [IdentifiantISIN],'
			SET @SqlCommand2 = N'
					cast(rtrim(ltrim([20-Diversifiée O/N])) as nvarchar(1)) as [Diversifiee],
					cast(rtrim(ltrim([21-Indicateur Périmètre Mc Donough])) as nvarchar(1)) as [IndicateurPerimetreMcDo],
					cast(rtrim(ltrim([22-Motif Exclusion McDonough])) as nvarchar(2)) as [MotifExclusionMcDo],
					cast(rtrim(ltrim([23-Date début financement])) as nvarchar(10)) as [DateDebutFinancement],
					cast(rtrim(ltrim([24-Nb Encours Elémentaires])) as numeric(15,0)) as [NbEncoursElementaires],
					cast(rtrim(ltrim([25-Stratégie French])) as nvarchar(3)) as [StrategieFrench],
					cast(rtrim(ltrim([26-Méthode Bâle II])) as nvarchar(7)) as [MethodeBaleII],
					cast(rtrim(ltrim([27-Type de participation])) as nvarchar(1)) as [TypeParticipation],
					cast(rtrim(ltrim([28-Type contrat netting])) as nvarchar(1)) as [TypeContratNetting],
					cast(rtrim(ltrim([29-Référence contrat netting réglem])) as nvarchar(30)) as [ReferenceContratNettingReglem],
					cast(rtrim(ltrim([30-Sens de l''opération])) as nvarchar(1)) as [SensOperation],
					cast(rtrim(ltrim([31-Libellé du type de dette])) as nvarchar(15)) as [LibelleTypeDette],
					cast(rtrim(ltrim([32-Code activité])) as nvarchar(50)) as [CodeActivite],
					cast(rtrim(ltrim([33-Présence de garantie])) as nvarchar(50)) as [PresenceGarantie],
					cast(rtrim(ltrim([34-Nombre de garantie])) as numeric(15,0)) as [NombreGaranties],
					cast(rtrim(ltrim([35-Produit AS400])) as nvarchar(6)) as [ProduitAS400],
					cast(rtrim(ltrim([36-Type d''option])) as nvarchar(2)) as [TypeOption],
					cast(rtrim(ltrim([37-Prix d''exercice de l''option])) as numeric(15,0)) as [PrixExerciceOption],
					cast(rtrim(ltrim([38-Flag comptes ségrégués])) as nvarchar(1)) as [FlagComptesSegregues],
					cast(rtrim(ltrim([39-Quantité])) as nvarchar(17)) as [Quantite],
					cast(rtrim(ltrim([40-Prix négocié])) as numeric(15,0)) as [PrixNegocie],
					cast(rtrim(ltrim([41-Prix unitaire du contrat])) as numeric(15,0)) as [PrixUnitaireContrat],
					cast(rtrim(ltrim([42-Section])) as nvarchar(2)) as [Section],
					cast(rtrim(ltrim([43-Top transparence])) as nvarchar(50)) as [TopTransparence]
				INTO dbo.HELIOS_ONGLET_CONTRATS_TOCSV
				FROM OPENROWSET (''Microsoft.ACE.OLEDB.12.0'',
								 ''Excel 12.0;Database=' + @ImportPath + @NomFichierXLSX + ';HDR=YES;IMEX=1'',
								 ''SELECT * FROM [Contrat$]'')'
				

			BEGIN TRY
				-- Exécution de la requête
				SET @SqlCommand = @SqlCommand1 + @SqlCommand2

				EXEC sp_executesql @SqlCommand;

				-- Récupération du nombre de ligne retournée par la requête
				SET @NbLignes = @@ROWCOUNT

				DELETE FROM HELIOS_ONGLET_CONTRATS_TOCSV
				WHERE CodeUFONegociatrice IS NULL
				
				-- Si le nombre de lignes est nul, on termine la procédure sur un échec
				IF @NbLignes <= 0
					BEGIN
						SET @ErrorMssg = 'L''onglet Contrat est vide.'
						SET @ErrorCode = 1000
						EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
						PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
						RETURN @ErrorCode;
					END
			END TRY
			BEGIN CATCH
				-- En cas d'erreur lors du bloc précédent, on loggue
				SET @ErrorMssg = 'Erreur fichier excel: ' + ERROR_MESSAGE()
				SET @ErrorCode = ERROR_NUMBER()
				EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
				RETURN @ErrorCode;
			END CATCH


			IF OBJECT_ID('dbo.HELIOS_ONGLET_ENCOURS_PCC_TOCSV') IS NOT NULL DROP TABLE HELIOS_ONGLET_ENCOURS_PCC_TOCSV
			
			SET @SqlCommand1 = N'
				SELECT
					cast(rtrim(ltrim([1-Code UFO négociatrice])) as nvarchar(50)) as [CodeUFONegociatrice],
					cast(rtrim(ltrim([2-Code établissement])) as nvarchar(50)) as [CodeEtablissement],
					cast(rtrim(ltrim([3-Identifiant Contrat])) as nvarchar(30)) as [IdentifiantContrat],
					cast(rtrim(ltrim([4-Numéro Encours Elémentaires])) as nvarchar(4)) as [NumeroEncours],
					cast(rtrim(ltrim([5-raf du client])) as nvarchar(7)) as [RAF],
					cast(rtrim(ltrim([6-PCEC])) as nvarchar(9)) as [PCCEncours],
					cast(rtrim(ltrim([7-Valeur du taux fixe])) as numeric(15,0)) as [ValeurTauxFixe],
					cast(rtrim(ltrim([8-Type d''encours])) as nvarchar(5)) as [TypeEncours],
					cast(rtrim(ltrim([9-Montant encours])) as numeric(15,0)) as [MontantEncours],
					cast(rtrim(ltrim([10-Devise de l''encours])) as nvarchar(50)) as [DeviseEncours],
					cast(rtrim(ltrim([11-Date de début d''impact])) as nvarchar(10)) as [DateDebutImpact],
					cast(rtrim(ltrim([12-Date de fin d''impact])) as nvarchar(10)) as [DateFinImpact],
					cast(rtrim(ltrim([13-Flag encours Mac Donough])) as nvarchar(50)) as [FlagEncoursMcDo],
					cast(rtrim(ltrim([14-Périodicité des intérêts])) as nvarchar(2)) as [PeriodiciteInterets],
					cast(rtrim(ltrim([15-Fixite taux du contrat])) as nvarchar(2)) as [FixiteTauxContrat],
					cast(rtrim(ltrim([16- EL Crédit ])) as numeric(15,0)) as [ELCredit],
					cast(rtrim(ltrim([17- EL Dilution])) as numeric(15,0)) as [ELDilution],
					cast(rtrim(ltrim([18- Num de Tirage])) as nvarchar(50)) as [NumTirage]
				INTO dbo.HELIOS_ONGLET_ENCOURS_PCC_TOCSV
				FROM OPENROWSET (''Microsoft.ACE.OLEDB.12.0'',
								 ''Excel 12.0;Database=' + @ImportPath + @NomFichierXLSX + ';HDR=YES;IMEX=1'',
								 ''SELECT * FROM [Encours$]'')'
				

			BEGIN TRY
				-- Exécution de la requête
				EXEC sp_executesql @SqlCommand1;

				-- Récupération du nombre de ligne retournée par la requête
				SET @NbLignes = @@ROWCOUNT

				DELETE FROM HELIOS_ONGLET_ENCOURS_PCC_TOCSV
				WHERE CodeUFONegociatrice IS NULL
				
				-- Si le nombre de lignes est nul, on termine la procédure sur un échec
				IF @NbLignes <= 0
					BEGIN
						SET @ErrorMssg = 'L''onglet Encours est vide.'
						SET @ErrorCode = 1000
						EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
						PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
						RETURN @ErrorCode;
					END
			END TRY
			BEGIN CATCH
				-- En cas d'erreur lors du bloc précédent, on loggue
				SET @ErrorMssg = 'Erreur fichier excel: ' + ERROR_MESSAGE()
				SET @ErrorCode = ERROR_NUMBER()
				EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
				RETURN @ErrorCode;
			END CATCH

			IF OBJECT_ID('dbo.HELIOS_ONGLET_TITRES_TOCSV') IS NOT NULL DROP TABLE HELIOS_ONGLET_TITRES_TOCSV
			
			SET @SqlCommand1 = N'
				SELECT
					cast(rtrim(ltrim([1-Code ISIN])) as nvarchar(16)) as [IdentifiantUniqueRetenu],
					cast(rtrim(ltrim([2-Identifiant Interne du titre])) as nvarchar(16)) as [IdentifiantTitre],
					cast(rtrim(ltrim([3-Nature du titre])) as nvarchar(2)) as [NatureTitre],
					cast(rtrim(ltrim([4-Type de Titre])) as nvarchar(1)) as [TypeTitre],
					cast(rtrim(ltrim([5-RAF de l''émetteur])) as nvarchar(7)) as [RAFEmetteur],
					cast(rtrim(ltrim([6-Nominal du titre])) as numeric(15,0)) as [NominalTitre],
					cast(rtrim(ltrim([7-Code devise du nominal])) as nvarchar(2)) as [CodeDeviseNominal],
					cast(rtrim(ltrim([8-Date d''échéance du titre])) as nvarchar(10)) as [DateEcheanceTitre],
					cast(rtrim(ltrim([9-Index de taux])) as nvarchar(10)) as [IndexTaux],
					cast(rtrim(ltrim([10-Type de taux])) as nvarchar(2)) as [TypeTaux],
					cast(rtrim(ltrim([11-Valeur du taux fixe ou marge])) as numeric(15,0)) as [ValeurOuMargeTauxFixe],
					cast(rtrim(ltrim([12-Devise du coupon])) as nvarchar(2)) as [DeviseCoupon],
					cast(rtrim(ltrim([13-Titre de dette (O/N)])) as nvarchar(1)) as [TitreDette],
					cast(rtrim(ltrim([14-Cours du titre])) as numeric(15,0)) as [CoursTitre],
					cast(rtrim(ltrim([15-Nombre de décimale du cours])) as nvarchar(1)) as [NombreDecimaleCours],
					cast(rtrim(ltrim([16-Titre garanti (O/N)])) as nvarchar(1)) as [TitreGaranti],
					cast(rtrim(ltrim([17-RAF du garant du titre])) as nvarchar(7)) as [RAFGarantTitre],
					cast(rtrim(ltrim([18-Titre liquide])) as nvarchar(1)) as [TitreLiquide],
					cast(rtrim(ltrim([19-Titre côté])) as nvarchar(1)) as [TitreCote],
					cast(rtrim(ltrim([20-Indice de cotation])) as nvarchar(20)) as [IndiceCotation],
					cast(rtrim(ltrim([21-Fréquence de cotation])) as nvarchar(1)) as [FrequenceCotation],
					cast(rtrim(ltrim([22-Place de cotation])) as nvarchar(3)) as [PlaceCotation],
					cast(rtrim(ltrim([23-Rang du titre])) as nvarchar(1)) as [RangTitre],
					cast(rtrim(ltrim([24-Titre noté])) as nvarchar(1)) as [TitreNote],
					cast(rtrim(ltrim([25-Notation du titre])) as nvarchar(7)) as [NotationTitre],
					cast(rtrim(ltrim([26-Identification de l''OEEC ayant noté le titre])) as nvarchar(2)) as [OEEC],
					cast(rtrim(ltrim([27-Eligibilité Mc Donough])) as nvarchar(1)) as [EligibiliteMcDo],
					cast(rtrim(ltrim([29-OPCVM composé de titres éligibles])) as nvarchar(1)) as [OPCVMComposeTitresEligibles],
					cast(rtrim(ltrim([30-Granularité])) as nvarchar(1)) as [Granularite],
					cast(rtrim(ltrim([31-Date de notation])) as nvarchar(10)) as [DateNotation]
				INTO dbo.HELIOS_ONGLET_TITRES_TOCSV
				FROM OPENROWSET (''Microsoft.ACE.OLEDB.12.0'',
								 ''Excel 12.0;Database=' + @ImportPath + @NomFichierXLSX + ';HDR=YES;IMEX=1'',
								 ''SELECT * FROM [Titres$]'')'
				

			BEGIN TRY
				-- Exécution de la requête
				EXEC sp_executesql @SqlCommand1;

				-- Récupération du nombre de ligne retournée par la requête
				SET @NbLignes = @@ROWCOUNT

				DELETE FROM HELIOS_ONGLET_TITRES_TOCSV
				WHERE IdentifiantUniqueRetenu IS NULL
				
				-- Si le nombre de lignes est nul, on termine la procédure sur un échec
				IF @NbLignes <= 0
					BEGIN
						SET @ErrorMssg = 'L''onglet Titres est vide.'
						SET @ErrorCode = 1000
						EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
						PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
						RETURN @ErrorCode;
					END
			END TRY
			BEGIN CATCH
				-- En cas d'erreur lors du bloc précédent, on loggue
				SET @ErrorMssg = 'Erreur fichier excel: ' + ERROR_MESSAGE()
				SET @ErrorCode = ERROR_NUMBER()
				EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
				RETURN @ErrorCode;
			END CATCH
		
		--Récupération de la période
		BEGIN TRY	
			--SELECT DISTINCT @DateEffet=DateEffet FROM HELIOS_ONGLET_CONTRATS_TOCSV
			SET @PeriodeCloture=@yyyy+@mm
		END TRY
		BEGIN CATCH
			-- En cas d'erreur lors du bloc précédent, on loggue
			SET @ErrorMssg = 'Erreur pendant la Vérification: ' + ERROR_MESSAGE()
			SET @ErrorCode = ERROR_NUMBER()
			EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
			PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
			RETURN @ErrorCode;
		END CATCH
	
		-- Vérification de l'existance des données préparatoires à la création des onglets
		BEGIN TRY
			IF OBJECT_ID('dbo.HELIOS_ONGLET_CONTRATS_TOCSV') IS NULL OR OBJECT_ID('dbo.HELIOS_ONGLET_ENCOURS_PCC_TOCSV') IS NULL OR OBJECT_ID('dbo.HELIOS_ONGLET_TITRES_TOCSV') IS NULL
				BEGIN
					EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, 1000, 'Aucune donnée à exporter, les tables n''existent pas.'
					PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
					RETURN @ErrorCode;
				END
			ELSE IF NOT EXISTS (SELECT 1 FROM dbo.HELIOS_ONGLET_CONTRATS) OR NOT EXISTS (SELECT 1 FROM dbo.HELIOS_ONGLET_ENCOURS_PCC) OR NOT EXISTS (SELECT 1 FROM dbo.HELIOS_ONGLET_TITRES)
				BEGIN
					EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, 1000, 'Aucune donnée à exporter, les tables sont vides.'
					PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
					RETURN @ErrorCode;
				END
		END TRY
		BEGIN CATCH
			-- En cas d'erreur lors du bloc précédent, on loggue
			SET @ErrorMssg = 'Erreur pendant la Vérification: ' + ERROR_MESSAGE()
			SET @ErrorCode = ERROR_NUMBER()
			EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
			PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
			RETURN @ErrorCode;
		END CATCH
	
		-- Lancement de la génération du fichier d'export
		BEGIN TRY
			-- Définition des variables dynamiques
			SET @month = LEFT(@PeriodeCloture,2)
			SET @year = RIGHT(@PeriodeCloture,4)
			--SET @DateArrete = CONVERT(nvarchar(19), DATEADD(month, ((@year - 1900) * 12) + @month, -1), 103)
			--SET @dt = CONVERT(nvarchar(10), GETDATE(), 105) + '_' + RIGHT('00' + CAST(DATEPART(hh,GETDATE()) as nvarchar(2)), 2) + 'h' + RIGHT('00' + CAST(DATEPART(n,GETDATE()) as nvarchar(2)), 2)
			--SET @FichierGenereFinal = 'bis_03A' + @PeriodeCloture + '.txt'
			SET @FichierGenere = 'bis_03A' + @PeriodeCloture + '.txt'
			BEGIN TRY
				-- Exportation des données dans le fichier @FichierGenereFinal vers le répertoire @ExportPath
				--SET @shellCmd = 'dtexec /f "E:\Projects\SSIS-R~2\SSIS-R~1\bin\DEPLOY~1\Package.dtsx" /m " -1 " /checkp OFF /set \Package.Variables[User::CsvFilePath].Properties[Value];"' + @ExportPath + @FichierGenereFinal + '"'
				SET @shellCmd = 'E:\"Program Files (x86)\Microsoft SQL Server"\130\DTS\Binn\dtexec.exe /ISSERVER "\SSISDB\ssis-rwa-helios-csv\ssis-rwa-helios-csv\Package_To_CSV.dtsx" /Set \package.variables[User::CsvFilePath].Properties[Value];"'+ @ExportPath + @FichierGenere + '"'
				EXEC xp_cmdshell @shellCmd, no_output
			END TRY
			BEGIN CATCH
				-- En cas d'erreur lors du bloc précédent, on loggue
				SET @FichierGenere = null
				SET @ErrorMssg = 'Erreur pendant l''Exportation: ' + ERROR_MESSAGE()
				SET @ErrorCode = ERROR_NUMBER()
				EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
				RETURN @ErrorCode;
			END CATCH

		
			SET @ErrorMssg = 'Fichier CSV exporté sous: ' + @FichierGenere
			EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 0, 0, @ErrorMssg
			PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
			RETURN @ErrorCode;
		END TRY
		BEGIN CATCH
			-- En cas d'erreur lors du bloc précédent, on loggue
			SET @FichierGenere = null
			SET @ErrorMssg = 'Erreur pendant la Génération: ' + ERROR_MESSAGE()
			SET @ErrorCode = ERROR_NUMBER()
			EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
			PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
			RETURN @ErrorCode;
		END CATCH
	END
END
GO
