USE [RWA]
GO
/****** Object:  StoredProcedure [dbo].[USP_HELIOS_EXPORT_RECETTE_REPORTING_RWA]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_HELIOS_EXPORT_RECETTE_REPORTING_RWA]
AS
BEGIN
	SET NOCOUNT ON;
    DECLARE @ExportPath nvarchar(256) = 'E:\RWA\HELIOS\Export\Recette\', --'
			@TemplatePath nvarchar(256) = 'E:\RWA\HELIOS\Templates\Traitement_Reporting_RWA_Template.xlsx',
			@ExportPathFinal nvarchar(256) = '\\CIB.NET\SHAREPARIS\HORSSALLE\POOL\AM\partage\DF_HOLDING_convergence\RWA\HELIOS\Export\Recette\', --'
			@FichierGenereFinal nvarchar(256),
			@Cmd1 nvarchar(4000),
			@Cmd2 nvarchar(4000),
			@NbLignes int,
			@Exist int,
			@ErrorMssg nvarchar(3072),
			@ErrorCode nvarchar(1024),
			@dt nvarchar(16),
			@TmpCommand nvarchar(4000),
			@PeriodeCloture nvarchar(6)
			
	BEGIN TRY
		SET @PeriodeCloture = RIGHT('00' + CAST(MONTH(GETDATE())-1 as varchar(2)), 2) + RIGHT('0000' + CAST(YEAR(GETDATE()) as varchar(4)), 4)
		IF OBJECT_ID('dbo.HELIOS_IMPORT_FICHIER_ENRICHI_BRUT') IS NOT NULL
			BEGIN
				SELECT @NbLignes = COUNT(*) FROM dbo.HELIOS_IMPORT_FICHIER_ENRICHI_BRUT;
				IF @NbLignes > 0
					SELECT @PeriodeCloture = PeriodeCloture FROM dbo.HELIOS_IMPORT_FICHIER_ENRICHI_BRUT GROUP BY PeriodeCloture
			END
	END TRY
	BEGIN CATCH
		RETURN;
	END CATCH
	
	BEGIN TRY
		EXEC xp_fileexist @TemplatePath, @Exist OUTPUT
		IF @Exist = 1
			BEGIN
				SET @dt = CONVERT(nvarchar(10), GETDATE(), 105) + '_' + RIGHT('00' + CAST(DATEPART(hh,GETDATE()) as nvarchar(2)), 2) + 'h' + RIGHT('00' + CAST(DATEPART(n,GETDATE()) as nvarchar(2)), 2)
				SET @FichierGenereFinal = 'Traitement_Reporting_RWA_' + @PeriodeCloture + '_' + @dt + '.xlsx'
				
				SET @TmpCommand = N'copy "' + @TemplatePath + '" "' + @ExportPath + @FichierGenereFinal + '"'
				EXEC xp_cmdshell @TmpCommand, no_output
				
				SET @Cmd1 = N'INSERT INTO OPENROWSET(''Microsoft.ACE.OLEDB.12.0'', ''Excel 12.0;DATABASE=' + @ExportPath + @FichierGenereFinal + ''', '''
				
				BEGIN TRY
					SET @Cmd2 = N'SELECT * FROM [LOG_TRAITEMENT$]'')
						SELECT DISTINCT LogTime, b.Type, PeriodeCloture, CodeErreur, Process, [Message]
						FROM (
								SELECT * FROM dbo.HELIOS_LOG_TRAITEMENTS
								UNION ALL
								SELECT * FROM dbo.HELIOS_LOG_IMPORT_EXPORT WHERE Process IN (''IMPORT FICHIER ENRICHI'', ''IMPORT MAGNITUDE'', ''EXPORT FICHIER EXPORT'', ''EXPORT FICHIER CSV'')
							) data
							LEFT JOIN HELIOS_TYPE_LOG b ON IdTypeLog = RefTypeLog
						WHERE PeriodeCloture = ''' + @PeriodeCloture + ''' AND LOWER(Process) NOT LIKE ''%synthese%''
						ORDER BY LogTime DESC;'
					SET @TmpCommand = @Cmd1 + @Cmd2
					EXEC sp_executesql @TmpCommand;
					
					SET @Cmd2 = N'SELECT * FROM [MAGNITUDE_BRUT$]'')
						SELECT * FROM dbo.HELIOS_IMPORT_MAGNITUDE_BRUT;'
					SET @TmpCommand = @Cmd1 + @Cmd2
					EXEC sp_executesql @TmpCommand;
					
					SET @Cmd2 = N'SELECT * FROM [MAGNITUDE_RETRAITE$]'')
						SELECT * FROM dbo.HELIOS_IMPORT_MAGNITUDE_RETRAITE;'
					SET @TmpCommand = @Cmd1 + @Cmd2
					EXEC sp_executesql @TmpCommand;
					
					SET @Cmd2 = N'SELECT * FROM [FICHIER_ENRICHI_BRUT$]'')
						SELECT * FROM dbo.HELIOS_IMPORT_FICHIER_ENRICHI_BRUT;'
					SET @TmpCommand = @Cmd1 + @Cmd2
					EXEC sp_executesql @TmpCommand;
					
					SET @Cmd2 = N'SELECT * FROM [FICHIER_ENRICHI_RETRAITE$]'')
						SELECT * FROM dbo.HELIOS_IMPORT_FICHIER_ENRICHI_RETRAITE;'
					SET @TmpCommand = @Cmd1 + @Cmd2
					EXEC sp_executesql @TmpCommand;
					
					SET @Cmd2 = N'SELECT * FROM [FUSION_NON_AGREGEE$]'')
						SELECT * FROM dbo.HELIOS_PREP_REPORTING_RWA_NON_AGREGEE;'
					SET @TmpCommand = @Cmd1 + @Cmd2
					EXEC sp_executesql @TmpCommand;
					
					SET @Cmd2 = N'SELECT * FROM [FUSION_AGREGEE$]'')
						SELECT * FROM dbo.HELIOS_PREP_REPORTING_RWA_AGREGEE;'
					SET @TmpCommand = @Cmd1 + @Cmd2
					EXEC sp_executesql @TmpCommand;
					
					SET @TmpCommand = N'copy "' + @ExportPath + @FichierGenereFinal + '" "' + @ExportPathFinal + @FichierGenereFinal + '"'
					EXEC xp_cmdshell @TmpCommand, no_output
				END TRY
				BEGIN CATCH
					SET @TmpCommand = N'del "' + @ExportPath + @FichierGenereFinal + '"'
					EXEC xp_cmdshell @TmpCommand, no_output
					PRINT '(' + CAST(ERROR_NUMBER() as nvarchar) + ') ' + ERROR_MESSAGE()
					RETURN;
				END CATCH
			END
		ELSE
			RETURN;
	END TRY
	BEGIN CATCH
		PRINT '(' + CAST(ERROR_NUMBER() as nvarchar) + ') ' + ERROR_MESSAGE()
		RETURN;
	END CATCH
END
GO
