USE [RWA]
GO
/****** Object:  StoredProcedure [dbo].[USP_HECATE_LOG_SETLOGCONSO]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[USP_HECATE_LOG_SETLOGCONSO]
	-- Add the parameters for the stored procedure here
	@NumLigne int,
	@IdTypeLog bigInt,
	@IdPeriodeCloture nvarchar(6),
	@IdSource nvarchar(3),
	@IdentifiantOrigine nvarchar(50),
	@Message nvarchar(255)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO dbo.HECATE_LOG_CONSO (NumLigne,LogTime,RefTypeLog,PeriodeCloture,[Source],IdentifiantOrigine,[Message])
	VALUES (@NumLigne,GETDATE(),@IdTypeLog,rtrim(ltrim(@IdPeriodeCloture)),rtrim(ltrim(@IdSource)),rtrim(ltrim(@IdentifiantOrigine)),ltrim(rtrim(@Message)))
END
GO
