USE [RWA]
GO
/****** Object:  StoredProcedure [dbo].[USP_HELIOS_EXPORT_FICHIER_EXPORT_PROVISIONIFRS9_NEW]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC USP_HELIOS_EXPORT_FICHIER_EXPORT_PROVISIONIFRS9_NEW 'EXPORT FICHIER EXPORT PROVISION IFRS9','2020','09','20','TEST.xlsx'

/*
DECLARE @yyyy nvarchar(4),
	@mm nvarchar(2),
	@dd nvarchar(2),
	@dateIFRS9 nvarchar(10)

SET @yyyy='2020'
SET @mm='09'
SET @dd='20'
SET @dateIFRS9= @dd + '/' + @mm + '/' + @yyyy

SELECT DISTINCT 'V1' as VERSION,'03A' As ENTITE, @dateIFRS9 As [DATE D''ARRETE]
*/


CREATE PROCEDURE [dbo].[USP_HELIOS_EXPORT_FICHIER_EXPORT_PROVISIONIFRS9_NEW]
	@Process nvarchar(256),
	@yyyy nvarchar(4),
	@mm nvarchar(2),
	@dd nvarchar(2),
	@FichierGenere nvarchar(256) OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	/* 
	Déclaration des variables
		ExportPath : chemin d'accès au fichier à exporter
		TemplatePath : chemin d'accès au fichier modèle
		PeriodeCloture : période de cloture en cours de traitement
		FichierGenereFinal : nom du fichier à exporter
		OngletContrats : nom de l'onglet Contrats
		OngletEncours : nom de l'onglet Encours
		OngletTitres : nom de l'onglet Titres
		SqlCommandContrats : commande SQL Contrats à exécuter
		SqlCommandEncours : commande SQL Encours à exécuter
		SqlCommandTitres : commande SQL Titres à exécuter
		SqlCommandLogContrats : commande SQL Contrôles Contrats à exécuter
		SqlCommandLogEncours : commande SQL Contrôles Encours à exécuter
		SqlCommandLogMontantsEncours : commande SQL Contrôles des Montants Encours à exécuter
		SqlCommandLogTitres : commande SQL Contrôles Titres à exécuter
		NbLignes : nombre de lignes retournées par la commande SqlCommand
		Exist : vaut 1 ou 0 si le fichier à exporter existe ou non
		ErrorMssg : message de retour à afficher ou journaliser
		ErrorCode : code de retour à afficher ou journaliser
		PeriodeCloture : période de clôture actuelle
		dt : date/heure de génération du fichier (JJ-MM-AAAA_HHhMM)
		TmpCommand : commande SQL à exécuter
	*/
    DECLARE @ExportPath nvarchar(256) = 'E:\RWA\HELIOS\Export\FichierProvisionIFRS9\', --'
			@TemplatePath nvarchar(256) = 'E:\RWA\HELIOS\Templates\Fichier_Export_Template_New.xlsx',
			@PeriodeCloture nvarchar(6),
			@dateIFRS9 nvarchar(10),
			@FichierGenereFinal nvarchar(256),
			@OngletContrats nvarchar(30) = 'CTR',
			@OngletEncours nvarchar(30) = 'ENC',
			@OngletTitres nvarchar(30) = 'TIT',
			@OngletARenseigner nvarchar(30) = 'A_RENSEIGNER',
			@SqlCommandARenseigner nvarchar(4000),
			@SqlCommandContrats nvarchar(4000),
			@SqlCommandEncours nvarchar(4000),
			@SqlCommandTitres nvarchar(4000),
			@SqlCommandLogContrats nvarchar(4000),
			@SqlCommandLogEncours nvarchar(4000),
			@SqlCommandLogMontantsEncours nvarchar(4000),
			@SqlCommandLogTitres nvarchar(4000),
			@NbLignes int,
			@Exist int,
			@ErrorMssg nvarchar(3072),
			@ErrorCode nvarchar(1024),
			@dt nvarchar(16),
			@TmpCommand nvarchar(4000)
			
	IF @Process IS NULL
		SET @Process = 'EXPORT FICHIER PROVISION IFRS9'
		
	-- Avant de démarrer, on nettoie de la table des logs les lignes correspondantes au @Process actuel
	DELETE FROM dbo.HELIOS_LOG_IMPORT_EXPORT WHERE Process = @Process
	-- Vérification des données d'import du fichier enrichi
	-- et récupération de la période actuelle
	/* BEGIN TRY 
		
		
		--SET @PeriodeCloture = RIGHT('00' + CAST(MONTH(GETDATE()) as varchar(2)), 2) + RIGHT('0000' + CAST(YEAR(GETDATE()) as varchar(4)), 4)
		IF OBJECT_ID('dbo.HELIOS_IMPORT_FICHIER_ENRICHI_BRUT') IS NOT NULL
			BEGIN
				SELECT @NbLignes = COUNT(*) FROM dbo.HELIOS_IMPORT_FICHIER_ENRICHI_BRUT;
				IF @NbLignes > 0
					SELECT @PeriodeCloture = PeriodeCloture FROM dbo.HELIOS_IMPORT_FICHIER_ENRICHI_BRUT GROUP BY PeriodeCloture
				ELSE
					BEGIN
						SET @ErrorMssg = 'Le Fichier Enrichi n''a pas été importé. La table est vide.'
						SET @ErrorCode = 1000
						EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
						PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
						RETURN @ErrorCode;
					END
			END
		ELSE
			BEGIN
				SET @ErrorMssg = 'Le Fichier Enrichi n''a pas été importé. La table n''existe pas.'
				SET @ErrorCode = 1002
				EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
				RETURN @ErrorCode;
			END
	END TRY
	BEGIN CATCH
		-- En cas d'erreur lors du bloc précédent, on loggue
		SET @ErrorMssg = 'Erreur pendant la Vérification: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
		RETURN @ErrorCode;
	END CATCH */
	
	-- Vérification de l'existance des données préparatoires à la création des onglets
	BEGIN TRY
		SET @PeriodeCloture=@mm+@yyyy
		SET @dateIFRS9=@dd + '/' + @mm + '/' + @yyyy
		IF OBJECT_ID('dbo.HELIOS_ONGLET_CONTRATS') IS NULL OR OBJECT_ID('dbo.HELIOS_ONGLET_ENCOURS_PCC') IS NULL OR OBJECT_ID('dbo.HELIOS_ONGLET_TITRES') IS NULL
			BEGIN
				EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, 1000, 'Aucune donnée à exporter, les tables n''existent pas.'
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
				RETURN @ErrorCode;
			END
		ELSE IF NOT EXISTS (SELECT 1 FROM dbo.HELIOS_ONGLET_CONTRATS) OR NOT EXISTS (SELECT 1 FROM dbo.HELIOS_ONGLET_ENCOURS_PCC) OR NOT EXISTS (SELECT 1 FROM dbo.HELIOS_ONGLET_TITRES)
			BEGIN
				EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, 1000, 'Aucune donnée à exporter, les tables sont vides.'
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
				RETURN @ErrorCode;
			END
	END TRY
	BEGIN CATCH
		-- En cas d'erreur lors du bloc précédent, on loggue
		SET @ErrorMssg = 'Erreur pendant la Vérification: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
		RETURN @ErrorCode;
	END CATCH
	-- Lancement de la génération du fichier d'export
	BEGIN TRY
		EXEC xp_fileexist @TemplatePath, @Exist OUTPUT
		IF @Exist = 1
			BEGIN
				SET @dt = CONVERT(nvarchar(8), GETDATE(), 112) + '_' +  RIGHT('00' + CAST(DATEPART(hh,GETDATE()) as nvarchar(2)), 2) + RIGHT('00' + CAST(DATEPART(n,GETDATE()) as nvarchar(2)), 2)
				SET @FichierGenereFinal='Q_NIM03A_' + @PeriodeCloture + '_' + @dt + '.xlsx'
				
				SET @TmpCommand = N'copy "' + @TemplatePath + '" "' + @ExportPath + @FichierGenereFinal + '"'
				EXEC xp_cmdshell @TmpCommand, no_output
				
				-- Requêtes d'extraction des données brutes
				SET @SqlCommandARenseigner = N'
					INSERT INTO OPENROWSET(	''Microsoft.ACE.OLEDB.12.0'',
						''Excel 12.0;DATABASE=' + @ExportPath + @FichierGenereFinal + ''', 
						''SELECT * FROM [' + @OngletARenseigner + '$]'')
					SELECT DISTINCT ''V1'' as VERSION,''03A'' As ENTITE,''' +  @dateIFRS9 + ''' As [DATE D''ARRETE]'
				SET @SqlCommandContrats = N'
					INSERT INTO OPENROWSET(	''Microsoft.ACE.OLEDB.12.0'',
						''Excel 12.0;DATABASE=' + @ExportPath + @FichierGenereFinal + ''', 
						''SELECT * FROM [' + @OngletContrats + '$]'')
					SELECT * FROM dbo.HELIOS_ONGLET_CONTRATS;'
				SET @SqlCommandEncours = N'
					INSERT INTO OPENROWSET(	''Microsoft.ACE.OLEDB.12.0'',
						''Excel 12.0;DATABASE=' + @ExportPath + @FichierGenereFinal + ''', 
						''SELECT * FROM [' + @OngletEncours + '$]'')
					SELECT * FROM dbo.HELIOS_ONGLET_ENCOURS_PCC;'
				SET @SqlCommandTitres = N'
					INSERT INTO OPENROWSET(	''Microsoft.ACE.OLEDB.12.0'',
						''Excel 12.0;DATABASE=' + @ExportPath + @FichierGenereFinal + ''', 
						''SELECT * FROM [' + @OngletTitres + '$]'')
					SELECT * FROM dbo.HELIOS_ONGLET_TITRES;'
				
				-- Requêtes d'extraction des contrôles de données
				SET @SqlCommandLogContrats = N'
					INSERT INTO OPENROWSET(	''Microsoft.ACE.OLEDB.12.0'',
						''Excel 12.0;DATABASE=' + @ExportPath + @FichierGenereFinal + ''', 
						''SELECT * FROM [LOG_' + @OngletContrats + '$]'')
					SELECT * FROM dbo.HELIOS_CONTROLES_ONGLET_CONTRATS;'
				SET @SqlCommandLogEncours = N'
					INSERT INTO OPENROWSET(	''Microsoft.ACE.OLEDB.12.0'',
						''Excel 12.0;DATABASE=' + @ExportPath + @FichierGenereFinal + ''', 
						''SELECT * FROM [LOG_' + @OngletEncours + '$]'')
					SELECT * FROM dbo.HELIOS_CONTROLES_ONGLET_ENCOURS;'
				/*SET @SqlCommandLogMontantsEncours = N'
					INSERT INTO OPENROWSET(	''Microsoft.ACE.OLEDB.12.0'',
						''Excel 12.0;DATABASE=' + @ExportPath + @FichierGenereFinal + ''', 
						''SELECT * FROM [COHERENCE_' + @OngletEncours + '$]'')
					SELECT Compte, Source, MontantEncours, ISNULL(MontantReferenceMagnitude, ''0'') as MontantReferenceMagnitude, ISNULL(Ecart, ''0'') as Ecart, Commentaires
					FROM dbo.HELIOS_CONTROLES_COHERENCE_MONTANTS_ENCOURS;'*/
				SET @SqlCommandLogMontantsEncours = N'
					INSERT INTO OPENROWSET(	''Microsoft.ACE.OLEDB.12.0'',
						''Excel 12.0;DATABASE=' + @ExportPath + @FichierGenereFinal + ''', 
						''SELECT * FROM [COHERENCE_Encours$]'')
					SELECT Compte, Source, MontantEncours
					FROM dbo.HELIOS_CONTROLES_COHERENCE_MONTANTS_ENCOURS;'
				SET @SqlCommandLogTitres = N'
					INSERT INTO OPENROWSET(	''Microsoft.ACE.OLEDB.12.0'',
						''Excel 12.0;DATABASE=' + @ExportPath + @FichierGenereFinal + ''', 
						''SELECT * FROM [LOG_' + @OngletTitres + '$]'')
					SELECT * FROM dbo.HELIOS_CONTROLES_ONGLET_TITRES;'
				
				-- Exécution des requêtes d'extraction et de contrôle des données
				BEGIN TRY
					EXEC sp_executesql @SqlCommandARenseigner;
					EXEC sp_executesql @SqlCommandContrats;
					SET @NbLignes = @@ROWCOUNT
					IF @NbLignes <> 0
						BEGIN
							EXEC sp_executesql @SqlCommandLogContrats;
							EXEC sp_executesql @SqlCommandEncours;
							SET @NbLignes = @@ROWCOUNT
							IF @NbLignes <> 0
								BEGIN
									EXEC sp_executesql @SqlCommandLogEncours;
									EXEC sp_executesql @SqlCommandLogMontantsEncours;
									EXEC sp_executesql @SqlCommandTitres;
									SET @NbLignes = @@ROWCOUNT
									IF @NbLignes <> 0
										BEGIN
											EXEC sp_executesql @SqlCommandLogTitres;
											SET @FichierGenere = @FichierGenereFinal
											SET @ErrorMssg = 'Fichier Excel exporté sous: ' + @FichierGenereFinal
											SET @ErrorCode = 0
											EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 0, @ErrorCode, @ErrorMssg
											PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
											RETURN @ErrorCode;
										END
									ELSE
										BEGIN
											SET @TmpCommand = N'del "' + @ExportPath + @FichierGenereFinal + '"'
											EXEC xp_cmdshell @TmpCommand, no_output
											SET @ErrorMssg = 'Erreur lors de l''export de l''onglet: ' + @OngletTitres
											SET @ErrorCode = 1006
											EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
											PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
											RETURN @ErrorCode;
										END
								END
							ELSE
								BEGIN
									SET @TmpCommand = N'del "' + @ExportPath + @FichierGenereFinal + '"'
									EXEC xp_cmdshell @TmpCommand, no_output
									SET @ErrorMssg = 'Erreur lors de l''export de l''onglet: ' + @OngletEncours
									SET @ErrorCode = 1006
									EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
									PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
									RETURN @ErrorCode;
								END
						END
					ELSE
						BEGIN
							SET @TmpCommand = N'del "' + @ExportPath + @FichierGenereFinal + '"'
							EXEC xp_cmdshell @TmpCommand, no_output
							SET @ErrorMssg = 'Erreur lors de l''export de l''onglet: ' + @OngletContrats
							SET @ErrorCode = 1006
							EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
							PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
							RETURN @ErrorCode;
						END
						
					SET @TmpCommand = N'del "' + @ExportPath + @FichierGenereFinal + '"'
					EXEC xp_cmdshell @TmpCommand, no_output
					
					SET @FichierGenere = null
					SET @ErrorMssg = 'Aucune donnée à exporter.'
					SET @ErrorCode = 1000
					EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
					PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
					RETURN @ErrorCode;
				END TRY
				BEGIN CATCH
					-- En cas d'erreur lors du bloc précédent, on nettoie
					SET @TmpCommand = N'del "' + @ExportPath + @FichierGenereFinal + '"'
					EXEC xp_cmdshell @TmpCommand, no_output
					SET @FichierGenere = null
					-- et on loggue
					SET @ErrorMssg = 'Erreur pendant l''Exportation: ' + ERROR_MESSAGE()
					SET @ErrorCode = ERROR_NUMBER()
					EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
					PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
					RETURN @ErrorCode;
				END CATCH
			END
		ELSE
			BEGIN
				-- En cas d'erreur lors du bloc précédent, on loggue
				SET @FichierGenere = null
				SET @ErrorMssg = 'Fichier Modèle introuvable'
				SET @ErrorCode = 1001
				EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
				RETURN @ErrorCode;
			END
	END TRY
	BEGIN CATCH
		-- En cas d'erreur lors du bloc précédent, on loggue
		SET @FichierGenere = null
		SET @ErrorMssg = 'Erreur pendant l''Exportation: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
		RETURN @ErrorCode;
	END CATCH
END
GO
