USE [RWA]
GO
/****** Object:  StoredProcedure [dbo].[USP_HELIOS_LOG_IMPORT_EXPORT]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_HELIOS_LOG_IMPORT_EXPORT]
	@Method nvarchar(256),
	@Process nvarchar(50) = null,
	@PeriodeCloture nvarchar(6) = null,
	@Source nvarchar(3) = null,
	@TypeLog bigInt = null,
	@CodeErreur int = null,
	@Message nvarchar(256) = null
AS
BEGIN
	SET NOCOUNT ON;
	IF @Method = 'INSERT'
		INSERT INTO dbo.HELIOS_LOG_IMPORT_EXPORT (LogTime, RefTypeLog, PeriodeCloture, [Source], Process, CodeErreur, [Message])
		VALUES (GETDATE(), @TypeLog, rtrim(ltrim(@PeriodeCloture)), rtrim(ltrim(@Source)), rtrim(ltrim(@Process)), @CodeErreur, ltrim(rtrim(@Message)))
	ELSE IF @Method = 'SELECT'
		BEGIN
			SELECT a.Process, CONVERT(nvarchar, a.LogTime, 103) + ' ' + CONVERT(nvarchar, a.LogTime, 108) as LogTime, b.[Type], a.PeriodeCloture, a.[Source], a.CodeErreur, a.[Message]
			FROM dbo.HELIOS_LOG_IMPORT_EXPORT a INNER JOIN HELIOS_TYPE_LOG b ON a.RefTypeLog = b.IdTypeLog
			WHERE (@Process IS NULL OR a.Process = @Process)
				AND (@PeriodeCloture IS NULL
					OR a.PeriodeCloture IS NULL
					OR (a.PeriodeCloture IS NOT NULL
						AND @PeriodeCloture IS NOT NULL
						AND a.PeriodeCloture = @PeriodeCloture))
				AND a.LogTime >= DATEADD(mi, -30, GETDATE())
			ORDER BY LogTime
		END
	RETURN 0;
END
GO
