USE [RWA]
GO
/****** Object:  StoredProcedure [dbo].[USP_HELIOS_EXPORT_FICHIER_PARAM]    Script Date: 2/27/2025 3:40:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--DECLARE @FichierGenere nvarchar(256)
--EXEC USP_HELIOS_EXPORT_FICHIER_PARAM 'EXPORT NOTATIONS OCTROI CLO',@FichierGenere


CREATE OR ALTER   PROCEDURE [dbo].[USP_HELIOS_EXPORT_FICHIER_PARAM]
	@Process nvarchar(256),
	@FichierGenere nvarchar(256) OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	/* 
	Le paramètre d'entrée @Process peut avoir ces valeurs,
	et correspond à un travail sur les tables associées
		EXPORT SEED MONEY              <=> dbo.HELIOS_SEED_MONEY
		EXPORT COMPTES MAGNITUDE       <=> dbo.HELIOS_PARAM_COMPTES_MAGNITUDE_A_EXTRAIRE
		EXPORT ENTREES PERIMETRE       <=> dbo.HELIOS_PARAM_ENTREES_PERIMETRE
		EXPORT MAPPING MAGNITUDE       <=> dbo.HELIOS_PARAM_MAPPING_TITRES_MAGNITUDE
		EXPORT MAPPING TRANSPARENCE    <=> dbo.HELIOS_PARAM_MAPPING_TITRES_TRANSPARENCE
		EXPORT RATINGS TITRISATION     <=> dbo.HELIOS_PARAM_RATING_TITRISATIONS
		EXPORT MAPPING MAG-COP-ULI     <=> dbo.HELIOS_PARAM_MAPPING_MAGNITUDE_COPERNIC_ULISS
		EXPORT INTENTIONS GESTION      <=> dbo.HELIOS_PARAM_INTENTION_GESTION_PAR_COMPTE
		EXPORT ENCOURS ELEMENTAIRES    <=> dbo.HELIOS_PARAM_ENCOURS_ELEMENTAIRES_PCC
		EXPORT CODES PRODUIT		   <=> dbo.HELIOS_PARAM_CODES_PRODUIT
		EXPORT EXCLUSION COMPTE MAGNITUDE PARTENAIRE		   <=> dbo.HELIOS_PARAM_PARTNERS_A_EXCLURE_PAR_COMPTE_MAGNITUDE
		EXPORT CATEGORIE SYNTHESE A FORCER		   <=> dbo.HELIOS_PARAM_CATEGORIE_SYNTHESE_A_FORCER
		EXPORT CATEGORIE SYNTHESE A MODIFIER		   <=> dbo.HELIOS_PARAM_CATEGORIE_SYNTHESE_A_MODIFIER
		EXPORT CLO		   <=> dbo.HELIOS_PARAM_CLO
		EXPORT NOTATIONS OCTROI CLO		   <=> dbo.HELIOS_PARAM_CLO
		EXPORT NOTATIONS ARRETE CLO		   <=> dbo.HELIOS_PARAM_CLO
		EXPORT PARAM PERIMETRE DETTE		   <=> dbo.HELIOS_PARAM_PERIMETRE_DETTE
		
	Déclaration des variables
		ExportPath : chemin d'accès au fichier à exporter
		TemplatePath : chemin d'accès au fichier modèle
		PeriodeCloture : période de cloture en cours de traitement
		FichierGenereFinal : nom du fichier à exporter
		NbLignes : nombre de lignes retournées par la commande SqlCommand
		Exist : vaut 1 ou 0 si le fichier à exporter existe ou non
		ErrorMssg : message de retour à afficher ou journaliser
		ErrorCode : code de retour à afficher ou journaliser
		dt : date/heure de génération du fichier (JJ-MM-AAAA_HHhMM)
		TmpCommand : commande SQL à exécuter
		ParamSqlCmd : commande SQL à exécuter
		NomFichier : nom de base du fichier et de l'onglet à exporter
	*/
    DECLARE @ExportPath nvarchar(256) = 'E:\RWA\HELIOS\Export\Params\', --'
			@ExportPathNotationsCLO nvarchar(256) = 'E:\RWA\HELIOS\Export\NotationsCLO\', --'
			@TemplatePath nvarchar(256) = 'E:\RWA\HELIOS\Templates\', --'
			@PeriodeCloture nvarchar(6),
			@FichierGenereFinal nvarchar(256),
			@SqlCommand nvarchar(4000),
			@NbLignes int,
			@Exist int,
			@ErrorMssg nvarchar(3072),
			@ErrorCode nvarchar(1024),
			@dt nvarchar(16),
			@TmpCommand nvarchar(4000),
			@ParamSqlCmd nvarchar(4000),
			@NomFichier nvarchar(256),
			@month int,
			@year int
			
	IF @Process IS NULL
		SET @Process = 'EXPORT FICHIER EXPORT'
		
	-- Avant de démarrer, on nettoie de la table des logs les lignes correspondantes au @Process actuel
	DELETE FROM dbo.HELIOS_LOG_IMPORT_EXPORT
	WHERE Process = @Process
	
	-- Récupération de la période de clôture actuelle
	BEGIN TRY
		SET @month = MONTH(GETDATE())
		SET @year = YEAR(GETDATE())
		IF @month <= 3
			BEGIN
				SET @month = 12
				SET @year = @year - 1
			END
		ELSE IF @month <= 6 SET @month = 3
		ELSE IF @month <= 9 SET @month = 6
		ELSE IF @month <= 12 SET @month = 9
		SET @PeriodeCloture = RIGHT('00' + CAST(@month as nvarchar), 2) + RIGHT('0000' + CAST(@year as nvarchar), 4)
		IF OBJECT_ID('dbo.HELIOS_IMPORT_FICHIER_ENRICHI_BRUT') IS NOT NULL
			BEGIN
				SELECT @NbLignes = COUNT(*) FROM dbo.HELIOS_IMPORT_FICHIER_ENRICHI_BRUT;
				IF @NbLignes > 0
					SELECT @PeriodeCloture = PeriodeCloture FROM dbo.HELIOS_IMPORT_FICHIER_ENRICHI_BRUT GROUP BY PeriodeCloture
			END
	END TRY
	BEGIN CATCH
	END CATCH
	
	-- Lancement de la génération du fichier d'export
	BEGIN TRY
		-- Définition des données de récupération, suivant le @Process actuel
		IF @Process = 'EXPORT SEED MONEY'
			BEGIN
				SET @ParamSqlCmd = N'SELECT
						ISNULL(Source, ''''),
						ISNULL(Libelle, ''''),
						ISNULL(PartnerID, ''''),
						ISNULL(CompteMagnitude, ''''),
						ISNULL(RAF, ''''),
						ISNULL(PeriodeCloture, ''''),
						REPLACE(RTRIM(REPLACE(REPLACE(RTRIM(LTRIM(REPLACE(LTRIM(RTRIM(STR(ISNULL(MontantSeedMoney, 0), 17, 15))),''0'','' ''))),'' '',''0''),''.'','' '')),'' '',''.''),
						REPLACE(RTRIM(REPLACE(REPLACE(RTRIM(LTRIM(REPLACE(LTRIM(RTRIM(STR(ISNULL(TotalActifSousGestion, 0), 17, 15))),''0'','' ''))),'' '',''0''),''.'','' '')),'' '',''.'')
					FROM dbo.HELIOS_SEED_MONEY;'
				SET @NomFichier = 'SeedMoney'
			END
		ELSE IF @Process = 'EXPORT COMPTES MAGNITUDE'
			BEGIN
				SET @ParamSqlCmd = 'SELECT
						ISNULL(CompteMagnitude, ''''),
						ISNULL(DetailsParPartnerID, ''''),
						ISNULL(RAF, ''''),
						ISNULL(PartnerID, ''''),
						ISNULL(LibellePartnerID, ''''),
						ISNULL(CompteMagnitudeRemplacement, ''''),
						ISNULL(CompteANetter, '''')
					FROM dbo.HELIOS_PARAM_COMPTES_MAGNITUDE_A_EXTRAIRE;'
				SET @NomFichier = 'ComptesMagnitude'
			END
		ELSE IF @Process = 'EXPORT ENCOURS ELEMENTAIRES'
			BEGIN
				SET @ParamSqlCmd = 'SELECT
						ISNULL(CodeProduit, ''''),
						ISNULL(PCC, ''''),
						ISNULL(NombreEncours, 0),
						ISNULL(NumeroEncours1, ''''),
						ISNULL(PCCEncours1, ''''),
						ISNULL(TypeEncours1, ''''),
						ISNULL(SigneEncours1, ''''),
						ISNULL(NumeroEncours2, ''''),
						ISNULL(PCCEncours2, ''''),
						ISNULL(TypeEncours2, ''''),
						ISNULL(SigneEncours2, ''''),
						ISNULL(NumeroEncours3, ''''),
						ISNULL(PCCEncours3, ''''),
						ISNULL(TypeEncours3, ''''),
						ISNULL(SigneEncours3, '''')
					FROM dbo.HELIOS_PARAM_ENCOURS_ELEMENTAIRES_PCC;'
				SET @NomFichier = 'EncoursElementaires'
			END
		ELSE IF @Process = 'EXPORT ENTREES PERIMETRE'
			BEGIN
				SET @ParamSqlCmd = 'SELECT
						ISNULL(ReportingUnit, ''''),
						ISNULL(Source, ''''),
						ISNULL(Libelle, ''''),
						ISNULL(MethodeStandard,'''')
					FROM dbo.HELIOS_PARAM_ENTREES_PERIMETRE;'
				SET @NomFichier = 'EntreePerimetre'
			END
		ELSE IF @Process = 'EXPORT MAPPING MAGNITUDE'
			BEGIN
				SET @ParamSqlCmd = 'SELECT
						ISNULL(PartnerID, ''''),
						ISNULL(LibellePartnerID, ''''),
						ISNULL(RAF, ''''),
						ISNULL(RefCategorieRWA, ''''),
						ISNULL(IdentifiantISIN, ''''),
						ISNULL(TitreLiquide, ''''),
						ISNULL(TitreCote, ''''),
						ISNULL(IndiceCotation, ''''),
						ISNULL(FrequenceCotation, ''''),
						ISNULL(PlaceCotation, ''''),
						ISNULL(CategorieSynthese, ''''),
						ISNULL(TraitementStandard, ''''),
						ISNULL(LibelleTypeDette, ''''),
						ISNULL(ManagementIntent, '''')
					FROM dbo.HELIOS_PARAM_MAPPING_TITRES_MAGNITUDE;'--LibelleTypeDette, ManagementIntent CRR3
				SET @NomFichier = 'MappingTitresMagnitude'
			END
		ELSE IF @Process = 'EXPORT MAPPING TRANSPARENCE'
			BEGIN
				SET @ParamSqlCmd = 'SELECT
						ISNULL(IdentifiantISIN, ''''),
						ISNULL(NomActif, ''''),
						ISNULL(RefCategorieRWA, ''''),
						ISNULL(RAF, ''''),
						ISNULL(TitreLiquide, ''''),
						ISNULL(TitreCote, ''''),
						ISNULL(IndiceCotation, ''''),
						ISNULL(FrequenceCotation, ''''),
						ISNULL(PlaceCotation, '''')
					FROM dbo.HELIOS_PARAM_MAPPING_TITRES_TRANSPARENCE;'
				SET @NomFichier = 'MappingTitresTransparence'
			END
		ELSE IF @Process = 'EXPORT RATINGS TITRISATION'
			BEGIN
				SET @ParamSqlCmd = 'SELECT
						ISNULL(IdentifiantISIN, ''''),
						ISNULL(Rating, ''''),
						ISNULL(OEEC, '''')
					FROM dbo.HELIOS_PARAM_RATING_TITRISATIONS;'
				SET @NomFichier = 'RatingsTitrisations'
			END
		ELSE IF @Process = 'EXPORT MAPPING MAG-COP-ULI'
			BEGIN
				SET @ParamSqlCmd = 'SELECT
						ISNULL(CompteMagnitude, ''''),
						ISNULL(Signe, 1),
						ISNULL(RefCategorieRWA, ''''),
						ISNULL(CompteCopernic, ''''),
						ISNULL(CodeProduit, ''''),
						ISNULL(PCEC, ''''),
						ISNULL(AjoutDeLignes, ''''),
						ISNULL(Signe2, ''''),
						ISNULL(RefCategorieRWA2, ''''),
						ISNULL(CompteCopernic2, ''''),
						ISNULL(CodeProduit2, ''''),
						ISNULL(PCEC2, ''''),
						ISNULL(Signe3, ''''),
						ISNULL(RefCategorieRWA3, ''''),
						ISNULL(CompteCopernic3, ''''),
						ISNULL(CodeProduit3, ''''),
						ISNULL(PCEC3, '''')
					FROM dbo.HELIOS_PARAM_MAPPING_MAGNITUDE_COPERNIC_ULISS;'
				SET @NomFichier = 'MappingMagnitudeCopernicUliss'
			END
		ELSE IF @Process = 'EXPORT INTENTIONS GESTION'
			BEGIN
				SET @ParamSqlCmd = 'SELECT
						ISNULL(CompteMagnitude, ''''),
						ISNULL(PortefeuilleIAS, '''')
					FROM dbo.HELIOS_PARAM_INTENTION_GESTION_PAR_COMPTE;'
				SET @NomFichier = 'IntentionsDeGestionParCompte'
			END
		ELSE IF @Process = 'EXPORT CODES PRODUIT'
			BEGIN
				SET @ParamSqlCmd = 'SELECT
						ISNULL(CodeProduit, ''''),
						ISNULL(CodeSegmentMcDo, ''''),
						ISNULL(ValeurMobiliere, ''''),
						ISNULL(TypeParticipation, ''''),
						ISNULL(SensOperation, ''''),
						ISNULL(NatureTitre, ''''),
						ISNULL(TypeTitre, ''''),
						ISNULL(TitreDette, ''''),
						ISNULL(OPCVMComposeTitresEligibles, '''')
					FROM dbo.HELIOS_PARAM_CODES_PRODUIT;'
				SET @NomFichier = 'CodesProduit'
			END
		ELSE IF @Process = 'EXPORT EXCLUSION COMPTE MAGNITUDE PARTENAIRE'
			BEGIN
				SET @ParamSqlCmd = 'SELECT
						ISNULL(CompteMagnitude, ''''),
						ISNULL(PartnerID, '''')
					FROM dbo.HELIOS_PARAM_PARTNERS_A_EXCLURE_PAR_COMPTE_MAGNITUDE;'
				SET @NomFichier = 'ExclusionComptesPartenaires'
			END
		ELSE IF @Process = 'EXPORT CATEGORIE SYNTHESE A FORCER'
			BEGIN
				SET @ParamSqlCmd = 'SELECT
						ISNULL(Source, ''''),
						ISNULL(CompteMagnitude, ''''),
						ISNULL(CategorieSynthese, '''')
					FROM dbo.HELIOS_PARAM_CATEGORIE_SYNTHESE_A_FORCER;'
				SET @NomFichier = 'CategorieSyntheseAForcer'
			END
		ELSE IF @Process = 'EXPORT CATEGORIE SYNTHESE A MODIFIER'
			BEGIN
				SET @ParamSqlCmd = 'SELECT
						ISNULL(Source, ''''),
						ISNULL(ValeurAAjouter, '''')
					FROM dbo.HELIOS_PARAM_CATEGORIE_SYNTHESE_A_MODIFIER;'
				SET @NomFichier = 'CategorieSyntheseAModifier'
			END
		ELSE IF @Process = 'EXPORT CLO'
			BEGIN
				SET @ParamSqlCmd = 'SELECT
						ISNULL(ReferenceContratPIVI, ''''),
						ISNULL(Source, ''''),
						ISNULL(AssetID, ''''),
						ISNULL(AssetDescription, ''''),
						ISNULL(DateMaturite, ''''),
						ISNULL(RAF, ''''),
						ISNULL(DateCloture, ''''),
						ISNULL(Moodys, ''''),
						ISNULL(SandP, ''''),
						ISNULL(RatingCloture, ''''),
						ISNULL(AgenceCloture, ''''),
						ISNULL(DateOctroi, ''''),
						ISNULL(RatingOctroi, ''''),
						ISNULL(AgenceOctroi, '''')
					FROM dbo.HELIOS_PARAM_CLO;'
				SET @NomFichier = 'CLO'
			END
			ELSE IF @Process = 'EXPORT NOTATIONS OCTROI CLO'
			BEGIN
				SET @ParamSqlCmd = 'SELECT DISTINCT
						ISNULL(RAF, ''''),
						ISNULL(AgenceOctroi, ''''),
						ISNULL(RatingOctroi, ''''),
						ISNULL(CONVERT(nvarchar(10),DateOctroi,103), '''')
					FROM dbo.HELIOS_PARAM_CLO;'
				SET @NomFichier = 'NotationOctroiCLO'
			END
			ELSE IF @Process = 'EXPORT NOTATIONS ARRETE CLO'
			BEGIN
				SET @ParamSqlCmd = 'SELECT DISTINCT
						ISNULL(RAF, ''''),
						ISNULL(AgenceCloture, ''''),
						ISNULL(RatingCloture, ''''),
						ISNULL(CONVERT(nvarchar(10),DateCloture,103), '''')
					FROM dbo.HELIOS_PARAM_CLO;'
				SET @NomFichier = 'NotationArreteCLO'
			END
			ELSE IF @Process = 'EXPORT PERIMETRE DETTE'
			BEGIN
				SET @ParamSqlCmd = 'SELECT
						ISNULL(CodeProduit, ''''),
						ISNULL(LibelleProduit, '''')
					FROM dbo.HELIOS_PARAM_PERIMETRE_DETTE;'
				SET @NomFichier = 'PerimetreDette'
			END
		-- Sinon le @Process n'est pas reconnu, et on quitte
		ELSE
			BEGIN
				SET @ErrorMssg = 'Le Process "' + @Process + '" n''est pas reconnu.'
				SET @ErrorCode = 1003
				EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
				PRINT @ErrorMssg
				RETURN @ErrorCode;
			END
		
		SET @TemplatePath = @TemplatePath + @NomFichier + '_Template.xlsx'
		EXEC xp_fileexist @TemplatePath, @Exist OUTPUT
		IF @Exist = 1
			BEGIN
				SET @dt = CONVERT(nvarchar(10), GETDATE(), 105) + '_' + RIGHT('00' + CAST(DATEPART(hh,GETDATE()) as nvarchar(2)), 2) + 'h' + RIGHT('00' + CAST(DATEPART(n,GETDATE()) as nvarchar(2)), 2)
				SET @FichierGenereFinal = @NomFichier + '_' + @dt + '.xlsx'

				IF @Process = 'EXPORT NOTATIONS OCTROI CLO' OR @Process = 'EXPORT NOTATIONS ARRETE CLO'
				BEGIN 
					SET @ExportPath=@ExportPathNotationsCLO
				END
				
				SET @TmpCommand = N'copy "' + @TemplatePath + '" "' + @ExportPath + @FichierGenereFinal + '"'
				EXEC xp_cmdshell @TmpCommand, no_output
						
				SET @SqlCommand = N'
					INSERT INTO OPENROWSET(
						''Microsoft.ACE.OLEDB.12.0'',
						''Excel 12.0;DATABASE=' + @ExportPath + @FichierGenereFinal + ''', 
						''SELECT * FROM [' + @NomFichier + '$]'')
					' + @ParamSqlCmd
					
					--SELECT @SqlCommand

				-- Exécution de la requête d'extraction
				BEGIN TRY
					EXEC sp_executesql @SqlCommand;
					SET @NbLignes = @@ROWCOUNT
					IF @NbLignes <> 0
						BEGIN
							SET @FichierGenere = @FichierGenereFinal
							SET @ErrorMssg = 'Fichier Excel exporté sous: ' + @FichierGenereFinal
							SET @ErrorCode = 0
							EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 0, @ErrorCode, @ErrorMssg
							PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
							RETURN @ErrorCode;
						END
					ELSE
						BEGIN
							SET @TmpCommand = N'del "' + @ExportPath + @FichierGenereFinal + '"'
							EXEC xp_cmdshell @TmpCommand, no_output
							SET @ErrorMssg = 'Aucune donnée à exporter.'
							SET @ErrorCode = 1000
							EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
							PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
							RETURN @ErrorCode;
						END
				END TRY
				BEGIN CATCH
					BEGIN
						-- En cas d'erreur lors du bloc précédent, on nettoie
						SET @TmpCommand = N'del "' + @ExportPath + @FichierGenereFinal + '"'
						EXEC xp_cmdshell @TmpCommand, no_output
						SET @FichierGenere = null
						-- et on loggue
						SET @ErrorMssg = 'Erreur pendant l''Exportation: ' + ERROR_MESSAGE()
						SET @ErrorCode = ERROR_NUMBER()
						EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
						PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
						RETURN @ErrorCode;
					END
				END CATCH
			END
		ELSE
		BEGIN
			-- En cas d'erreur lors du bloc précédent, on loggue
			SET @FichierGenere = null
			SET @ErrorMssg = 'Fichier Modèle introuvable'
			SET @ErrorCode = 1001
			EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
			PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
			RETURN @ErrorCode;
		END
	END TRY
	BEGIN CATCH
		BEGIN
			-- En cas d'erreur lors du bloc précédent, on loggue
			SET @FichierGenere = null
			SET @ErrorMssg = 'Erreur pendant l''Exportation: ' + ERROR_MESSAGE()
			SET @ErrorCode = ERROR_NUMBER()
			EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
			PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
			RETURN @ErrorCode;
		END
	END CATCH
END
