USE [RWA]
GO
/****** Object:  StoredProcedure [dbo].[USP_HELIOS_IMPORT_FICHIER_ENRICHI]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[USP_HELIOS_IMPORT_FICHIER_ENRICHI]
	@Process nvarchar(256),
	@NomFichierXLSX nvarchar(255),
	@OngletFichierXLSX nvarchar(30)
AS
BEGIN
	SET NOCOUNT ON;
	/* 
	Déclaration des variables
		ImportPath : chemin d'accès au fichier à importer
		SqlCommand : commande SQL complexe à exécuter
		Exist : vaut 1 ou 0 si le fichier à exporter existe ou non
		ErrorMssg : message de retour à afficher ou journaliser
		ErrorCode : code de retour à afficher ou journaliser
		NbLignes : nombre de lignes retournées par la commande SqlCommand
		PeriodeCloture : période de clôture actuelle
	*/
	DECLARE	@ImportPath nvarchar(256) = 'E:\RWA\HELIOS\Import\FichierEnrichi\', --'
			@SqlCommand nvarchar(3072),
			@Exist int,
			@ErrorMssg nvarchar(3072),
			@ErrorCode nvarchar(1024),
			@NbLignes int,
			@PeriodeCloture nvarchar(6),
			@datefincloture nvarchar(10),
			@month int,
			@year int
	
	IF @Process IS NULL
		SET @Process = 'IMPORT FICHIER ENRICHI'
	
	-- Avant de démarrer, on nettoie de la table des logs les lignes correspondantes au Process actuel
	DELETE FROM dbo.HELIOS_LOG_IMPORT_EXPORT
	WHERE Process = @Process
	
	-- Récupération de la période actuelle
	BEGIN TRY
		SET @month = MONTH(GETDATE())
		SET @year = YEAR(GETDATE())
		IF @month <= 3
			BEGIN
				SET @month = 12
				SET @year = @year - 1
			END
		ELSE IF @month <= 6 SET @month = 3
		ELSE IF @month <= 9 SET @month = 6
		ELSE IF @month <= 12 SET @month = 9
		SET @PeriodeCloture = RIGHT('00' + CAST(@month as nvarchar), 2) + RIGHT('0000' + CAST(@year as nvarchar), 4)
		IF OBJECT_ID('dbo.HELIOS_IMPORT_FICHIER_ENRICHI_BRUT') IS NOT NULL
			BEGIN
				SELECT @NbLignes = COUNT(*) FROM dbo.HELIOS_IMPORT_FICHIER_ENRICHI_BRUT;
				IF @NbLignes > 0
					SELECT @PeriodeCloture = PeriodeCloture FROM dbo.HELIOS_IMPORT_FICHIER_ENRICHI_BRUT GROUP BY PeriodeCloture
			END
	END TRY
	BEGIN CATCH
	END CATCH
	
	-- On teste l'existance du fichier demandé
	SET @ErrorMssg = @ImportPath + @NomFichierXLSX
	EXEC xp_fileexist @ErrorMssg, @Exist OUTPUT
	
	-- Si les noms des fichier et onglet ne sont pas nuls et si le fichier demandé existe
	IF @NomFichierXLSX is not null AND @OngletFichierXLSX is not null AND @Exist = 1
		BEGIN
			-- Si la table temporaire d'import existe, on la supprime
			IF OBJECT_ID('dbo.HELIOS_TEMP_FICHIER_ENRICHI') is not null
				DROP TABLE dbo.HELIOS_TEMP_FICHIER_ENRICHI
				
			-- Définition de la requête de récupération du fichier Excel dans la table temporaire
			SET @SqlCommand = N'
				SELECT
					cast(rtrim(ltrim([Période])) as nvarchar(6)) as PeriodeCloture,
					cast(rtrim(ltrim([Source])) as nvarchar(3)) as Source,
					cast(rtrim(ltrim([Catégorie RWA])) as nvarchar(3)) as RefCategorieRWA,
					cast(rtrim(ltrim([Identifiant unique retenu])) as nvarchar(12)) as IdentifiantUniqueRetenu,
					cast(rtrim(ltrim([RAF])) as nvarchar(7)) as RAF,
					cast(rtrim(ltrim([Libellé d''origine])) as nvarchar(255)) as LibelleOrigine,
					cast(rtrim(ltrim([Date de fin de contrat])) as date) as DateFinContrat,
					cast(rtrim(ltrim([Valeur de marché])) as float) as ValeurDeMarche
				INTO dbo.HELIOS_TEMP_FICHIER_ENRICHI
				FROM OPENROWSET (''Microsoft.ACE.OLEDB.12.0'',
								 ''Excel 12.0;Database=' + @ImportPath + @NomFichierXLSX + ';HDR=YES;IMEX=1'',
								 ''SELECT * FROM [' + @OngletFichierXLSX + '$]'')
				WHERE [Source] is not null'
				
			BEGIN TRY
				-- Exécution de la requête
				EXEC sp_executesql @SqlCommand;
				
				-- Récupération du nombre de ligne retournée par la requête
				SET @NbLignes = @@ROWCOUNT
				
				-- Si le nombre de lignes est nul, on termine la procédure sur un échec
				IF @NbLignes <= 0
					BEGIN
						SET @ErrorMssg = 'L''onglet (' + @OngletFichierXLSX + ') est vide.'
						SET @ErrorCode = 1000
						EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
						PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
						RETURN @ErrorCode;
					END
			END TRY
			BEGIN CATCH
				-- En cas d'erreur lors du bloc précédent, on loggue
				SET @ErrorMssg = 'Erreur fichier excel: ' + ERROR_MESSAGE()
				SET @ErrorCode = ERROR_NUMBER()
				EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
				RETURN @ErrorCode;
			END CATCH
			
			-- Récupération de la période importée
			SET @PeriodeCloture = RIGHT('00' + CAST(MONTH(GETDATE())-1 as varchar(2)), 2) + RIGHT('0000' + CAST(YEAR(GETDATE()) as varchar(4)), 4)
			IF OBJECT_ID('dbo.HELIOS_TEMP_FICHIER_ENRICHI') IS NOT NULL
				BEGIN
					EXEC sp_executesql N'SELECT * FROM dbo.HELIOS_TEMP_FICHIER_ENRICHI'
					SET @NbLignes = @@ROWCOUNT
					IF @NbLignes > 0
						SELECT @PeriodeCloture = PeriodeCloture FROM dbo.HELIOS_TEMP_FICHIER_ENRICHI GROUP BY PeriodeCloture
				END
			
			-- Exécution du rapport de contrôle #0
			BEGIN TRY
				IF OBJECT_ID('dbo.HELIOS_REPORT_CONTROLE0') is not null
					DROP TABLE dbo.HELIOS_REPORT_CONTROLE0
					
				SELECT DISTINCT * 
				INTO dbo.HELIOS_REPORT_CONTROLE0
				FROM (
					SELECT
						CASE
							WHEN a.RAF IS NULL THEN 'VIDE'
							WHEN ltrim(rtrim(b.[CODE APPARENTEMENT])) IN ('2','4') THEN 'CONSOLIDÉES'
							WHEN ltrim(rtrim(b.[IDENTIFIANT RAF])) IS NULL THEN 'CLOTURÉES'
							ELSE NULL
						END as TypeRAF,
						a.PeriodeCloture, a.Source, a.IdentifiantUniqueRetenu, a.RefCategorieRWA, a.RAF, a.LibelleOrigine, a.DateFinContrat
					FROM dbo.HELIOS_TEMP_FICHIER_ENRICHI a
						LEFT JOIN dbo.HECATE_TETHYS b ON a.RAF = ltrim(rtrim(b.[IDENTIFIANT RAF]))
					) data
				WHERE TypeRAF IS NOT NULL
				ORDER BY TypeRAF, Source, IdentifiantUniqueRetenu;
				
				SELECT @NbLignes = COUNT(*) FROM dbo.HELIOS_REPORT_CONTROLE0;
				IF OBJECT_ID('dbo.HELIOS_REPORT_CONTROLE0') is null
					BEGIN
						-- S'il existe des RAF contrôlés positifs, on loggue l'erreur et on arrête le traitement
						SET @ErrorMssg = 'Erreur lors de la génération du rapport #0 "Contrôle des RAF Transparence".'
						SET @ErrorCode = 1008
						EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
						PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
						RETURN @ErrorCode;
					END
				ELSE IF @NbLignes <> 0
					BEGIN
						-- S'il existe des RAF contrôlés positifs, on loggue l'erreur et on arrête le traitement
						SET @ErrorMssg = 'Rapport #0 "Contrôle des RAF Transparence": ' + CAST(@NbLignes as varchar) + ' RAF à corriger. Consulter le rapport de traitement "Contrôle des RAF vides, consolidées ou clôturées de TETHYS, dates des fin de contrat < date de clôture".'
						SET @ErrorCode = 1012
						EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
						PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
						--RETURN @ErrorCode;
					END
			END TRY
			BEGIN CATCH
				-- En cas d'erreur lors du bloc précédent, on loggue
				SET @ErrorMssg = 'Erreur lors de l''Insertion: ' + ERROR_MESSAGE()
				SET @ErrorCode = ERROR_NUMBER()
				EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
				RETURN @ErrorCode;
			END CATCH
			
			
			-- Exécution du rapport de contrôle #0B
			BEGIN TRY
				IF OBJECT_ID('dbo.HELIOS_REPORT_CONTROLE0B') is not null
					DROP TABLE dbo.HELIOS_REPORT_CONTROLE0B
			
				IF (@PeriodeCloture like '03%') SET @datefincloture = '03/31/' + RIGHT(@periodecloture,4)
				ELSE IF (@PeriodeCloture like '06%') SET @datefincloture = '06/30/' + RIGHT(@periodecloture,4)
				ELSE IF (@PeriodeCloture like '09%') SET @datefincloture = '09/30/' + RIGHT(@periodecloture,4)
				ELSE IF (@PeriodeCloture like '12%') SET @datefincloture = '12/31/' + RIGHT(@periodecloture,4)	
				
				SELECT DISTINCT * 
				INTO dbo.HELIOS_REPORT_CONTROLE0B
				FROM (
					SELECT
						'DATE FIN DE CONTRAT < DATE DE CLOTURE' as TypeRAF,
						a.PeriodeCloture, a.Source, a.IdentifiantUniqueRetenu, a.RefCategorieRWA, a.RAF, a.LibelleOrigine, a.DateFinContrat
					FROM dbo.HELIOS_TEMP_FICHIER_ENRICHI a
						LEFT JOIN dbo.HECATE_TETHYS b ON a.RAF = ltrim(rtrim(b.[IDENTIFIANT RAF]))
					) data
				WHERE DateFinContrat IS NOT NULL
				AND DateFinContrat < @datefincloture
				ORDER BY TypeRAF, Source, IdentifiantUniqueRetenu;
				
			END TRY
			BEGIN CATCH
				-- En cas d'erreur lors du bloc précédent, on loggue
				SET @ErrorMssg = 'Erreur lors de l''Insertion: ' + ERROR_MESSAGE()
				SET @ErrorCode = ERROR_NUMBER()
				EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
				RETURN @ErrorCode;
			END CATCH
			
			-- Exécution du rapport de contrôle #0C
			BEGIN TRY
				IF OBJECT_ID('dbo.HELIOS_REPORT_CONTROLE0C') is not null
					DROP TABLE dbo.HELIOS_REPORT_CONTROLE0C
					
				SELECT PeriodeCloture,Source,IdentifiantUniqueRetenu,RefCategorieRWA,RAF,LibelleOrigine,DateFinContrat
				INTO HELIOS_REPORT_CONTROLE0C
				FROM HELIOS_IMPORT_FICHIER_ENRICHI_RETRAITE
				WHERE IdentifiantUniqueRetenu IN (
				SELECT IdentifiantUniqueRetenu
				FROM dbo.HELIOS_IMPORT_FICHIER_ENRICHI_RETRAITE
				GROUP BY IdentifiantUniqueRetenu
				HAVING COUNT(DISTINCT RAF)>1)
				
				IF OBJECT_ID('dbo.HELIOS_REPORT_CONTROLE0C') is null
					BEGIN
						-- En cas d'erreur lors du bloc précédent, on loggue
						SET @ErrorMssg = 'Erreur lors de la génération du rapport #0C "Seed Money indisponible": ' + ERROR_MESSAGE()
						SET @ErrorCode = 1012
						EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
						PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
						RETURN @ErrorCode;
					END
			END TRY
			BEGIN CATCH
				-- En cas d'erreur lors du bloc précédent, on loggue
				SET @ErrorMssg = 'Erreur lors de l''Insertion: ' + ERROR_MESSAGE()
				SET @ErrorCode = ERROR_NUMBER()
				EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
				RETURN @ErrorCode;
			END CATCH

			
			BEGIN TRY
				SELECT * INTO dbo.HELIOS_IMPORT_FICHIER_ENRICHI_BRUT_OLD FROM dbo.HELIOS_IMPORT_FICHIER_ENRICHI_BRUT;
				DELETE FROM dbo.HELIOS_IMPORT_FICHIER_ENRICHI_BRUT;
				-- Insertion des données de la table temporaire dans la table d'import finale
				INSERT INTO dbo.HELIOS_IMPORT_FICHIER_ENRICHI_BRUT (PeriodeCloture, [Source], RefCategorieRWA, IdentifiantUniqueRetenu, RAF, LibelleOrigine, DateFinContrat, ValeurDeMarche)
				SELECT PeriodeCloture, [Source], RefCategorieRWA, IdentifiantUniqueRetenu, RAF, LibelleOrigine, DateFinContrat, ValeurDeMarche
				FROM dbo.HELIOS_TEMP_FICHIER_ENRICHI;
				IF OBJECT_ID('dbo.HELIOS_IMPORT_FICHIER_ENRICHI_BRUT_OLD') IS NOT NULL
					DROP TABLE dbo.HELIOS_IMPORT_FICHIER_ENRICHI_BRUT_OLD;
			END TRY
			BEGIN CATCH
				IF OBJECT_ID('dbo.HELIOS_IMPORT_FICHIER_ENRICHI_BRUT_OLD') IS NOT NULL
					BEGIN
						SELECT * INTO dbo.HELIOS_IMPORT_FICHIER_ENRICHI_BRUT FROM dbo.HELIOS_IMPORT_FICHIER_ENRICHI_BRUT_OLD;
						DROP TABLE dbo.HELIOS_IMPORT_FICHIER_ENRICHI_BRUT_OLD;
					END
				-- En cas d'erreur lors du bloc précédent, on loggue
				SET @ErrorMssg = 'Erreur pendant l''insertion: ' + ERROR_MESSAGE()
				SET @ErrorCode = ERROR_NUMBER()
				EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
				RETURN @ErrorCode;
			END CATCH
			
			EXEC sp_executesql N'SELECT * FROM dbo.HELIOS_IMPORT_FICHIER_ENRICHI_BRUT';
			SET @NbLignes = @@ROWCOUNT
			-- Si la table finale d'import existe et contient des données
			IF OBJECT_ID('dbo.HELIOS_IMPORT_FICHIER_ENRICHI_BRUT') IS NOT NULL AND @NbLignes <> 0
				BEGIN
					-- On supprime la table temporaire
					IF OBJECT_ID('dbo.HELIOS_TEMP_FICHIER_ENRICHI') IS NOT NULL
						DROP TABLE dbo.HELIOS_TEMP_FICHIER_ENRICHI;
					-- On loggue la réussite
					SET @ErrorMssg = 'Fichier "' + @NomFichierXLSX + '" importé avec succès.'
					SET @ErrorCode = 0
					EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 0, @ErrorCode, @ErrorMssg
					PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
					RETURN @ErrorCode;
				END
			ELSE
				BEGIN
					SET @ErrorMssg = 'Erreur pendant l''importation.'
					SET @ErrorCode = 1006
					EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
					PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
					RETURN @ErrorCode;
				END
		END
	ELSE
		-- Si le fichier demandé n'existe pas, on loggue
		BEGIN
			SET @ErrorMssg = 'Fichier "' + @NomFichierXLSX + '" non trouvé.'
			SET @ErrorCode = 1002
			EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
			PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
			RETURN @ErrorCode;
		END
END
