USE [RWA]
GO
/****** Object:  StoredProcedure [dbo].[USP_HELIOS_EXPORT_FICHIER_CSV]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[USP_HELIOS_EXPORT_FICHIER_CSV]
	@Process nvarchar(256),
	@ToFTP nvarchar(1) = 'N',
	@FichierGenere nvarchar(256) = null OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	/* 
	Déclaration des variables
		ExportPath : chemin d'accès au fichier à exporter
		FTPPath : chemin d'accès au partage utilisé pour l'envoi FTP
		FichierGenereFinal : nom du fichier à exporter et archiver
		FichierGenereFTP : nom du fichier à envoyer via FTP
		FichierGenereFTPFinal : nom du fichier envoyé via FTP
		PeriodeCloture : période de cloture en cours de traitement
		NbLignes : nombre de lignes retournées par la commande SQL
		ErrorMssg : message de retour à afficher ou journaliser
		ErrorCode : code de retour à afficher ou journaliser
		ErrorLevel : niveau d'erreur à afficher ou journaliser (0=OK, 1=WARNING, 2=ERROR)
		Cmd : commande SQL à exécuter
		shellCmd : commande Shell à exécuter
		month : mois de la période
		year : année de la période
		DateArrete : date de fin de la période (JJ/MM/AAAA)
		dt : date/heure de génération du fichier (JJ-MM-AAAA_HHhMM)
		
	Suivi des modifications :
		24/11/2016 : suite retour MOE DRP
			- déplacement de l'"A PROPOS" en fin de fichier
			- retrait des "s" à la fin des "CONTRATS" et "TITRES"
			- passage en export ASCII (20127) au lieu d'UTF8 (65001) dans la commande SQLCMD -F
		02/12/2016 : suite retour MOE DRP
			- activation de la copie FTP du fichier final
			- gestion du renommage et archivage du fichier final
		07/12/2016 : suite retour MOE DRP
			- changement du mode de génération par Package SSIS
	*/
    DECLARE @ExportPath nvarchar(256) = 'E:\RWA\HELIOS\Export\FichierEnrichi\', --'
			@FTPPath nvarchar(256) = '\\storebosp02.ixisam.net\TWHOME\Natixis_Bale3data\RWA_PROD\', --'
			@FichierGenereFinal nvarchar(256),
			@FichierGenereFTP nvarchar(256),
			@FichierGenereFTPFinal nvarchar(256),
			@PeriodeCloture nvarchar(6),
			@NbLignes int,
			@ErrorMssg nvarchar(3072) = '',
			@ErrorCode nvarchar(1024) = 0,
			@ErrorLevel int = 0,
			@Cmd nvarchar(4000),
			@shellCmd nvarchar(4000),
			@month integer,
			@year integer,
			@DateArrete nvarchar(10),
			@dt nvarchar(16)
	
	IF @Process IS NULL
		SET @Process = 'EXPORT FICHIER CSV'

		
	-- Avant de démarrer, on nettoie de la table des logs les lignes correspondantes au @Process actuel
	DELETE FROM dbo.HELIOS_LOG_IMPORT_EXPORT
	WHERE Process = @Process
	
	-- Vérification des données d'import du fichier enrichi
	-- et récupération de la période actuelle
	BEGIN TRY
		SET @PeriodeCloture = RIGHT('00' + CAST(MONTH(GETDATE())-1 as varchar(2)), 2) + RIGHT('0000' + CAST(YEAR(GETDATE()) as varchar(4)), 4)
		IF OBJECT_ID('dbo.HELIOS_IMPORT_FICHIER_ENRICHI_BRUT') IS NOT NULL
			BEGIN
				SELECT @NbLignes = COUNT(*) FROM dbo.HELIOS_IMPORT_FICHIER_ENRICHI_BRUT;
				IF @NbLignes > 0
					SELECT @PeriodeCloture = PeriodeCloture FROM dbo.HELIOS_IMPORT_FICHIER_ENRICHI_BRUT GROUP BY PeriodeCloture
				ELSE
					BEGIN
						EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, 1002, 'Le Fichier Enrichi n''a pas été importé. La table est vide.'
						PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
						RETURN @ErrorCode;
					END
			END
		ELSE
			BEGIN
				EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, 1002, 'Le Fichier Enrichi n''a pas été importé. La table n''existe pas.'
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
				RETURN @ErrorCode;
			END
	END TRY
	BEGIN CATCH
		-- En cas d'erreur lors du bloc précédent, on loggue
		SET @ErrorMssg = 'Erreur pendant la Vérification: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
		RETURN @ErrorCode;
	END CATCH
	
	-- Vérification de l'existance des données préparatoires à la création des onglets
	BEGIN TRY
		IF OBJECT_ID('dbo.HELIOS_ONGLET_CONTRATS') IS NULL OR OBJECT_ID('dbo.HELIOS_ONGLET_ENCOURS_PCC') IS NULL OR OBJECT_ID('dbo.HELIOS_ONGLET_TITRES') IS NULL
			BEGIN
				EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, 1000, 'Aucune donnée à exporter, les tables n''existent pas.'
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
				RETURN @ErrorCode;
			END
		ELSE IF NOT EXISTS (SELECT 1 FROM dbo.HELIOS_ONGLET_CONTRATS) OR NOT EXISTS (SELECT 1 FROM dbo.HELIOS_ONGLET_ENCOURS_PCC) OR NOT EXISTS (SELECT 1 FROM dbo.HELIOS_ONGLET_TITRES)
			BEGIN
				EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, 1000, 'Aucune donnée à exporter, les tables sont vides.'
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
				RETURN @ErrorCode;
			END
	END TRY
	BEGIN CATCH
		-- En cas d'erreur lors du bloc précédent, on loggue
		SET @ErrorMssg = 'Erreur pendant la Vérification: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
		RETURN @ErrorCode;
	END CATCH
	
	-- Lancement de la génération du fichier d'export
	BEGIN TRY
		-- Définition des variables dynamiques
		SET @month = LEFT(@PeriodeCloture,2)
		SET @year = RIGHT(@PeriodeCloture,4)
		SET @DateArrete = CONVERT(nvarchar(19), DATEADD(month, ((@year - 1900) * 12) + @month, -1), 103)
		SET @dt = CONVERT(nvarchar(10), GETDATE(), 105) + '_' + RIGHT('00' + CAST(DATEPART(hh,GETDATE()) as nvarchar(2)), 2) + 'h' + RIGHT('00' + CAST(DATEPART(n,GETDATE()) as nvarchar(2)), 2)
		SET @FichierGenereFinal = 'bis_03A' + RIGHT(@PeriodeCloture, 4) + LEFT(@PeriodeCloture, 2) + '_' + @dt + '.txt'
		SET @FichierGenereFTP = 'bis_03A' + RIGHT(@PeriodeCloture, 4) + LEFT(@PeriodeCloture, 2) + '.txt'
		SET @FichierGenereFTPFinal = 'bis_03A' + RIGHT(@PeriodeCloture, 4) + LEFT(@PeriodeCloture, 2) + '_' + @dt + '_EnvoiFTP.txt'
		
		BEGIN TRY
			-- Exportation des données dans le fichier @FichierGenereFinal vers le répertoire @ExportPath
			SET @shellCmd = 'E:\"Program Files (x86)\Microsoft SQL Server"\130\DTS\Binn\dtexec.exe /ISSERVER "\SSISDB\ssis-rwa-helios-csv\ssis-rwa-helios-csv\Package.dtsx" /Set \package.variables[User::CsvFilePath].Properties[Value];"'+ @ExportPath + @FichierGenereFinal + '"'
			EXEC xp_cmdshell @shellCmd, no_output
		END TRY
		BEGIN CATCH
			-- En cas d'erreur lors du bloc précédent, on loggue
			SET @FichierGenere = null
			SET @ErrorMssg = 'Erreur pendant l''Exportation: ' + ERROR_MESSAGE()
			SET @ErrorCode = ERROR_NUMBER()
			EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
			PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
			RETURN @ErrorCode;
		END CATCH
		
		BEGIN TRY
			WAITFOR DELAY '00:00:03'
			-- S'il faut envoyer à la DRP, envoi par FTP
			IF @ToFTP = 'O'
				BEGIN			
					-- Envoi par FTP
					SET @shellCmd = N'copy /Y "' + @ExportPath + @FichierGenereFinal + '" "' + @FTPPath + @FichierGenereFTP + '"'
					EXEC xp_cmdshell @shellCmd, no_output

					SET @shellCmd = N'copy /Y "' + @ExportPath + @FichierGenereFinal + '" "' + @ExportPath + @FichierGenereFTPFinal + '"'
					PRINT @shellCmd
					EXEC xp_cmdshell @shellCmd, no_output

					
					-- Suppression du fichier d'envoi temporaire
					SET @shellCmd = N'del "' + @ExportPath + @FichierGenereFinal + '"'
					EXEC xp_cmdshell @shellCmd, no_output
					SET @FichierGenereFinal = @FichierGenereFTPFinal

					-- On loggue la réussite
					SET @ErrorMssg = 'Fichier "' + @FichierGenereFTP + '" envoyé via FTP.'
					EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 0, 0, @ErrorMssg
				END
			ELSE
				EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 0, 0, 'Pas d''Envoi FTP.'
		END TRY
		BEGIN CATCH
			-- En cas d'erreur lors du bloc précédent, on loggue
			SET @FichierGenere = null
			SET @ErrorMssg = 'Erreur pendant l''Envoi FTP: ' + ERROR_MESSAGE()
			SET @ErrorCode = ERROR_NUMBER()
			EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
			PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
			RETURN @ErrorCode;
		END CATCH
		
		SET @FichierGenere = @FichierGenereFinal
		SET @ErrorMssg = 'Fichier CSV exporté sous: ' + @FichierGenereFinal
		EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 0, 0, @ErrorMssg
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
		RETURN @ErrorCode;
	END TRY
	BEGIN CATCH
		-- En cas d'erreur lors du bloc précédent, on loggue
		SET @FichierGenere = null
		SET @ErrorMssg = 'Erreur pendant la Génération: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
		RETURN @ErrorCode;
	END CATCH
END
GO
