USE [RWA]
GO
/****** Object:  StoredProcedure [dbo].[USP_HELIOS_TRAITEMENT_PREP_SYNTHESE_RWA_RETRIEVE_CONSTANT_AMOUNT_old]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC USP_HELIOS_TRAITEMENT_PREP_SYNTHESE_RWA_RETRIEVE_CONSTANT_AMOUNT 'PREPARATION SYNTHESE RWA - RETRIEVE DES MONTANTS A CHANGE CONSTANT','092018'

CREATE PROCEDURE [dbo].[USP_HELIOS_TRAITEMENT_PREP_SYNTHESE_RWA_RETRIEVE_CONSTANT_AMOUNT_old]
	@Process nvarchar(256),
	@PeriodeCloture nvarchar(6)
AS
BEGIN
	SET NOCOUNT ON;
	/* 
	Déclaration des variables
		SqlCommand : commande SQL complexe à exécuter
		ErrorMssg : message de retour à afficher ou journaliser
		ErrorCode : code de retour à afficher ou journaliser
		ErrorLevel : niveau d'erreur à afficher ou journaliser (0=OK, 1=WARNING, 2=ERROR)
		NbLignes : nombre de lignes retournées par la commande SqlCommand
		PeriodeClotureOld : période de clôture T-1
		consotable : conso table de clôture T-1
		
	*/
	DECLARE @SqlCommand nvarchar(1024),
			@ErrorMssg nvarchar(3072),
			@ErrorCode nvarchar(1024),
			@ErrorLevel int = 0,
			@NbLignes int = 0,
			@PeriodeClotureOld nvarchar(6),
			@month integer,
			@year integer,
			@consotable varchar(10)
	
	IF @Process IS NULL
		SET @Process = 'PREPARATION SYNTHESE RWA - RETRIEVE DES MONTANTS A CHANGE CONSTANT'
		
	-- Avant de démarrer, on nettoie de la table des logs les lignes correspondantes au @Process actuel
	DELETE FROM dbo.HELIOS_LOG_TRAITEMENTS WHERE Process = @Process
	
	-- Récupération de la période actuelle
	IF @PeriodeCloture IS NULL
		SET @PeriodeCloture = RIGHT('00' + CAST(MONTH(GETDATE())-1 as varchar(2)), 2) + RIGHT('0000' + CAST(YEAR(GETDATE()) as varchar(4)), 4)

	-- Traitement de sauvegarde de la période T-1
	BEGIN TRY
		IF OBJECT_ID('dbo.HELIOS_PREP_SYNTHESE_RWA_AGREGEE') IS NOT NULL
			BEGIN
				-- On récupère la période actuellement stockée dans la synthèse
				SELECT @PeriodeClotureOld = PeriodeCloture FROM dbo.HELIOS_PREP_SYNTHESE_RWA_AGREGEE;

				--SELECT @PeriodeCloture, @PeriodeClotureOld
				
				IF OBJECT_ID('dbo.HELIOS_PREP_SYNTHESE_RWA_OLD') IS NOT NULL
					SELECT @NbLignes = COUNT(*) FROM dbo.HELIOS_PREP_SYNTHESE_RWA_OLD;
				
				-- Si la période présente dans la synthèse est différente de la période en cours
				-- ou que la table historique est vide ou n'existe pas
				IF @PeriodeClotureOld <> @PeriodeCloture OR @NbLignes = 0
					BEGIN
						-- On calcule la période précédente pour récupérer son montant 1C3
						SELECT @consotable = convert(varchar(10), id)
						FROM [BFCDBBOSP02].[FCPS].dbo.ct_coref
						WHERE scope		= (SELECT id FROM [BFCDBBOSP02].[FCPS].dbo.ct_scope_code	WHERE name = 'NATAMFIN')
							AND phase	= (SELECT id FROM [BFCDBBOSP02].[FCPS].dbo.ct_phase		WHERE name = 'FSAC')
							AND curncy	= (SELECT id FROM [BFCDBBOSP02].[FCPS].dbo.ct_curncy 		WHERE name = 'EUR')
							AND variant	= (SELECT id FROM [BFCDBBOSP02].[FCPS].dbo.ct_variant		WHERE name = '1C3')
							AND updper	= (LEFT(CAST(RIGHT(@PeriodeClotureOld, 4) as int), 4) - 1900) * 262144 + RIGHT(CAST(LEFT(@PeriodeClotureOld, 2) as int), 2) * 8192;

						IF @consotable IS NULL
							BEGIN
								SET @month = CAST(LEFT(@PeriodeCloture, 2) as int) - 3
								SET @year = CAST(RIGHT(@PeriodeCloture, 4) as int)

								IF @month <= 0
									BEGIN
										SET @month = 12
										SET @year = @year - 1
									END
								
								SELECT @consotable = convert(varchar(10), id)
								FROM [BFCDBBOSP02].[FCPS].dbo.ct_coref
								WHERE scope		= (SELECT id FROM [BFCDBBOSP02].[FCPS].dbo.ct_scope_code	WHERE name = 'NATAMFIN')
									AND phase	= (SELECT id FROM [BFCDBBOSP02].[FCPS].dbo.ct_phase		WHERE name = 'FSAC')
									AND curncy	= (SELECT id FROM [BFCDBBOSP02].[FCPS].dbo.ct_curncy 		WHERE name = 'EUR')
									AND variant	= (SELECT id FROM [BFCDBBOSP02].[FCPS].dbo.ct_variant		WHERE name = '1C3')
									AND updper	= (LEFT(@year, 4) - 1900) * 262144 + RIGHT(@month, 2) * 8192;
							END
							
						IF @consotable IS NULL
							BEGIN
								SET @ErrorMssg = 'Erreur: Table Clôture non trouvée.'
								SET @ErrorCode = 1002
								EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
								PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
								RETURN @ErrorCode;
							END
						
						IF OBJECT_ID('dbo.HELIOS_TMP_SYNTHESE_RWA_OLD') is not null
						DROP TABLE dbo.HELIOS_TMP_SYNTHESE_RWA_OLD
						
						--Récupération des montants de la table Magnitude et affectation dans une table tempo
						EXEC('
							SELECT * INTO HELIOS_TMP_SYNTHESE_RWA_OLD FROM
							(
							SELECT 
							CASE 
								WHEN f.Source IS NOT NULL THEN f.Source
								WHEN e.Source IS NOT NULL THEN e.Source 
								ELSE ''010''
							END As Source,
							a.name as CompteMagnitude, c.name AS PartnerID, SUM(b.consamount * 1000) AS Montant
							
						FROM [BFCDBBOSP02].[FCPS].dbo.ct_co' + @consotable + '  b	
							LEFT JOIN [BFCDBBOSP02].[FCPS].dbo.ct_account a ON a.id = b.accnt
							LEFT JOIN [BFCDBBOSP02].[FCPS].dbo.ct_entity d ON d.id = b.entity
							LEFT JOIN [BFCDBBOSP02].[FCPS].dbo.ct_entity c ON c.id = b.partner
							LEFT JOIN HELIOS_PARAM_ENTREES_PERIMETRE e on e.ReportingUnit=d.name
							LEFT JOIN HELIOS_SEED_MONEY f on f.PartnerID=c.name
						WHERE 

							b.flow = 24
							AND b.ct_0000_at = 0
							AND b.ct_0000_ga = 0
							AND b.ct_0000_ct = 0
							AND b.ct_0000_al = 0
							AND b.ct_0000_at2 = 0
							AND b.ct_0000_tc = 0
							AND b.ct_0000_pt = 0
							AND b.consamount * 1000 NOT BETWEEN -0.1 AND 0.1
							AND b.ctshare = 0
							AND c.name IS NOT NULL
							AND NOT (c.name = ''RU999'' AND d.name = ''RU217'' AND a.name = ''A20500'')	
							AND a.name IN (SELECT DISTINCT CompteMagnitude FROM HELIOS_PARAM_COMPTES_MAGNITUDE_A_EXTRAIRE WHERE DetailsParPartnerID=''O'')
						GROUP BY e.Source,f.Source, a.name, c.name
							UNION
							SELECT 
							CASE 
								WHEN e.Source IS NULL  THEN ''010'' ELSE e.Source
							END As Source,
							a.name as CompteMagnitude, c.name AS PartnerID, SUM(b.consamount * 1000) AS Montant
							
						FROM [BFCDBBOSP02].[FCPS].dbo.ct_co' + @consotable + '  b	
							LEFT JOIN [BFCDBBOSP02].[FCPS].dbo.ct_account a ON a.id = b.accnt
							LEFT JOIN [BFCDBBOSP02].[FCPS].dbo.ct_entity d ON d.id = b.entity
							LEFT JOIN [BFCDBBOSP02].[FCPS].dbo.ct_entity c ON c.id = b.partner
							LEFT JOIN HELIOS_PARAM_ENTREES_PERIMETRE e on e.ReportingUnit=d.name
						WHERE 

							b.flow = 24
							AND b.ct_0000_at = 0
							AND b.ct_0000_ga = 0
							AND b.ct_0000_ct = 0
							AND b.ct_0000_al = 0
							AND b.ct_0000_at2 = 0
							AND b.ct_0000_tc = 0
							AND b.ct_0000_pt = 0
							AND b.consamount * 1000 NOT BETWEEN -0.1 AND 0.1
							AND b.ctshare = 0
							AND c.name IS NULL
							AND NOT (c.name = ''RU999'' AND d.name = ''RU217'' AND a.name = ''A20500'')	
							AND a.name IN (SELECT DISTINCT CompteMagnitude FROM HELIOS_PARAM_COMPTES_MAGNITUDE_A_EXTRAIRE WHERE DetailsParPartnerID=''N'')
						GROUP BY Source, a.name, c.name) as result');

						--Cas des lignes détaillées par partenaire
						UPDATE HELIOS_PREP_SYNTHESE_RWA_OLD
						SET Montant=a.Montant
						FROM HELIOS_TMP_SYNTHESE_RWA_OLD a INNER JOIN HELIOS_PREP_SYNTHESE_RWA_OLD hps
							ON hps.Source=a.Source
							AND hps.CompteMagnitude=a.CompteMagnitude
							AND hps.PartnerID=a.PartnerID

						--Cas des lignes avec compte de remplacement
						UPDATE HELIOS_PREP_SYNTHESE_RWA_OLD
						SET Montant=MontantProratise
						WHERE CompteMagnitude IN ('DPTCAU','PARTNC')

						--Cas des lignes d'equity pour le CLO
						UPDATE HELIOS_PREP_SYNTHESE_RWA_OLD
						SET Montant=MontantProratise
						WHERE Source IN (100,101)

						--Cas des lignes sans partenaire - UPDATE 07/01/2021 TF
						UPDATE HELIOS_PREP_SYNTHESE_RWA_OLD
						SET Montant=a.Montant
						FROM HELIOS_TMP_SYNTHESE_RWA_OLD a INNER JOIN HELIOS_PREP_SYNTHESE_RWA_OLD hps
							ON hps.Source=a.Source
							AND hps.CompteMagnitude=a.CompteMagnitude
							AND hps.PartnerID=(SELECT PartnerID FROM HELIOS_PARAM_COMPTES_MAGNITUDE_A_EXTRAIRE cmae WHERE cmae.CompteMagnitude=hps.CompteMagnitude)

												
						/*EXEC('UPDATE HELIOS_PREP_SYNTHESE_RWA_OLD
						SET Montant=
						(SELECT SUM(b.consamount * 1000) AS Montant
							FROM [BFCDBBOSP02].[FCPS].dbo.ct_co' + @consotable + ' b	
							LEFT JOIN [BFCDBBOSP02].[FCPS].dbo.ct_account a ON a.id = b.accnt
							LEFT JOIN [BFCDBBOSP02].[FCPS].dbo.ct_entity d ON d.id = b.entity
							LEFT JOIN [BFCDBBOSP02].[FCPS].dbo.ct_entity c ON c.id = b.partner
							LEFT JOIN HELIOS_PARAM_ENTREES_PERIMETRE e on e.ReportingUnit=d.name
							WHERE
								b.flow = 24
								AND b.ct_0000_at = 0
								AND b.ct_0000_ga = 0
								AND b.ct_0000_ct = 0
								AND b.ct_0000_al = 0
								AND b.ct_0000_at2 = 0
								AND b.ct_0000_tc = 0
								AND b.ct_0000_pt = 0
								AND b.consamount * 1000 NOT BETWEEN -0.1 AND 0.1
								AND b.ctshare = 0
								AND c.name IS NOT NULL
								AND NOT (c.name = ''RU999'' AND d.name = ''RU217'' AND a.name = ''A20500'')
							GROUP BY Source, a.name, c.name
						) b ON a.Source = b.Source AND a.CompteMagnitude = b.CompteMagnitude AND a.PartnerID = b.PartnerID
					ORDER BY a.Source, a.CompteMagnitude, a.PartnerID;');*/

					END
			END
	END TRY
	BEGIN CATCH
		-- En cas d'erreur lors du bloc précédent, on loggue
		SET @ErrorMssg = 'Erreur pendant la récupération des montants à change constant de la Période T-1: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		SET @ErrorLevel = 2
		EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, @ErrorLevel, @ErrorCode, @ErrorMssg
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
		RETURN @ErrorCode;
	END CATCH
	
	/*-- Traitement de préparation des données de synthèse T
	BEGIN TRY
		-- On nettoie la table de synthèse pour le traitement de la période en cours
		DELETE FROM dbo.HELIOS_PREP_SYNTHESE_RWA_NON_AGREGEE;
		
		-- Préparation des données de synthèse
		INSERT INTO dbo.HELIOS_PREP_SYNTHESE_RWA_NON_AGREGEE (PeriodeCloture, Source, CompteMagnitude, PartnerID, RefCategorieRWA, IdentifiantUniqueRetenu, RAF, LibelleOrigineOuPartnerID, MontantProratise, DateFinContrat, CompteCopernic, CodeProduit, PCEC, CategorieSynthese, TauxPonderation, MontantActifPondere, Notionnel, RAFB2C, Approche, ClasseActifB2, CategorieProduit, Rating, Transparence)
		SELECT a.PeriodeCloture, a.Source, a.CompteMagnitude, a.PartnerID, a.RefCategorieRWA, a.IdentifiantUniqueRetenu, a.RAF, a.LibelleOrigineOuPartnerID, a.MontantProratise, a.DateFinContrat, a.CompteCopernic, a.CodeProduit, a.PCEC,
			CASE
				WHEN a.CompteMagnitude IN ('A10202','A20320') THEN 'DCP'
				WHEN a.CompteMagnitude = 'A10100' THEN 'Cash'
				WHEN a.CompteMagnitude IN ('A10101','A10102','A10200') THEN 'MM'
				WHEN a.CompteMagnitude LIKE 'O%' THEN 'HBILAN'
				WHEN a.CompteMagnitude LIKE 'CRCNET%' THEN 'AI'
				WHEN a.PartnerID = 'IN999' OR a.PartnerID = 'RU999' THEN 'AI'
				ELSE b.CategorieSynthese
			END as CategorieSynthese, NULL, NULL, NULL, 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', CASE WHEN a.CompteMagnitude+a.PartnerID IN (SELECT CompteMagnitude+PartnerID FROM dbo.HELIOS_SEED_MONEY) THEN 'Oui' ELSE 'Non' END
		FROM dbo.HELIOS_PREP_REPORTING_RWA_AGREGEE a
			LEFT JOIN dbo.HELIOS_PARAM_MAPPING_TITRES_MAGNITUDE b
				ON b.PartnerID = a.PartnerID;
				
		INSERT INTO dbo.HELIOS_PREP_SYNTHESE_RWA_NON_AGREGEE (PeriodeCloture, IdentifiantUniqueRetenu, LibelleOrigineOuPartnerID)
		SELECT @PeriodeCloture, 'AJUSTEMENTS', 'AJUSTEMENT ULISS/COMPTA';
		
		INSERT INTO dbo.HELIOS_PREP_SYNTHESE_RWA_NON_AGREGEE (PeriodeCloture, IdentifiantUniqueRetenu, LibelleOrigineOuPartnerID)
		SELECT @PeriodeCloture, 'NAMFI', 'NAMFI';
	END TRY
	BEGIN CATCH
		-- En cas d'erreur lors du bloc précédent, on loggue
		SET @ErrorMssg = 'Erreur pendant la préparation des données de synthèse T: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		SET @ErrorLevel = 2
		EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, @ErrorLevel, @ErrorCode, @ErrorMssg
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
		RETURN @ErrorCode;
	END CATCH
	
	-- Finalisation du traitement
	BEGIN TRY
		SELECT @NbLignes = COUNT(*) FROM dbo.HELIOS_PREP_SYNTHESE_RWA_NON_AGREGEE;
		SET @ErrorMssg = CAST(@NbLignes as nvarchar(5)) + ' lignes mises à jour dans la table "dbo.HELIOS_PREP_SYNTHESE_RWA_NON_AGREGEE".'
		-- Si la table finale existe et qu'elle contient des données
		IF OBJECT_ID('dbo.HELIOS_PREP_SYNTHESE_RWA_NON_AGREGEE') is not null AND @NbLignes <> 0
			BEGIN
				-- On loggue la réussite
				SET @ErrorLevel = 0
				SET @ErrorCode = 0
			END
		ELSE
			BEGIN
				-- ... ou l'échec
				SET @ErrorLevel = 2
				SET @ErrorCode = 1005
			END
		EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, @ErrorLevel, @ErrorCode, @ErrorMssg
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
		RETURN @ErrorCode;
	END TRY
	BEGIN CATCH
		-- En cas d'erreur lors du bloc précédent, on loggue
		SET @ErrorMssg = 'Erreur pendant la finalisation: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
		RETURN @ErrorCode;
	END CATCH*/
END
GO
