USE [RWA]
GO
/****** Object:  StoredProcedure [dbo].[USP_HELIOS_EXPORT_SYNTHESE_B2C]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USP_HELIOS_EXPORT_SYNTHESE_B2C]
	@Process nvarchar(256),
	@FichierGenere nvarchar(256) OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	/* 
	Déclaration des variables
		ExportPath : chemin d'accès au fichier à exporter
		TemplatePath : chemin d'accès au fichier modèle
		PeriodeCloture : période de cloture en cours de traitement
		FichierGenereFinal : nom du fichier à exporter
		OngletContrats : nom de l'onglet Contrats
		OngletEncours : nom de l'onglet Encours
		OngletTitres : nom de l'onglet Titres
		SqlCommandContrats : commande SQL Contrats à exécuter
		SqlCommandEncours : commande SQL Encours à exécuter
		SqlCommandTitres : commande SQL Titres à exécuter
		SqlCommandLogContrats : commande SQL Contrôles Contrats à exécuter
		SqlCommandLogEncours : commande SQL Contrôles Encours à exécuter
		SqlCommandLogMontantsEncours : commande SQL Contrôles des Montants Encours à exécuter
		SqlCommandLogTitres : commande SQL Contrôles Titres à exécuter
		NbLignes : nombre de lignes retournées par la commande SqlCommand
		Exist : vaut 1 ou 0 si le fichier à exporter existe ou non
		ErrorMssg : message de retour à afficher ou journaliser
		ErrorCode : code de retour à afficher ou journaliser
		PeriodeCloture : période de clôture actuelle
		dt : date/heure de génération du fichier (JJ-MM-AAAA_HHhMM)
		TmpCommand : commande SQL à exécuter
		
	Suivi des modifications :
		09/12/2016 : Suite retour KPMG
			- En cas de non mapping entre le Retour B2C et la Préparation à la Synthèse, compléter par "N/A"
			- Ajout des calculs des montants en T-1 à change constant
		21/12/2016 : Suite discussion avec KPMG
			- Ajout de la Source dans la Synthèse RWA
		22/12/2106 : Suite discussion avec Rita Magdalena
			- Revue de la présentation des sous-totaux par Compte Magnitude, nouvelle joiture avec Magnitude
	*/
    DECLARE @ExportPath nvarchar(256) = 'E:\RWA\HELIOS\Export\SyntheseB2C\', --'
			@TemplatePath nvarchar(256) = 'E:\RWA\HELIOS\Templates\Synthese_RWA_Template.xlsx',
			@PeriodeCloture nvarchar(6),
			@FichierGenereFinal nvarchar(256),
			@SqlCommand nvarchar(4000),
			@NbLignes int,
			@Exist int,
			@ErrorMssg nvarchar(3072),
			@ErrorCode nvarchar(1024),
			@dt nvarchar(16),
			@TmpCommand nvarchar(4000),
			@month int,
			@year int
			
	IF @Process IS NULL
		SET @Process = 'EXPORT SYNTHESE B2C'
		
	-- Avant de démarrer, on nettoie de la table des logs les lignes correspondantes au @Process actuel
	DELETE FROM dbo.HELIOS_LOG_IMPORT_EXPORT
	WHERE Process = @Process
	
	-- Récupération de la période actuelle
	BEGIN TRY
		SET @month = MONTH(GETDATE())
		SET @year = YEAR(GETDATE())
		IF @month <= 3
			BEGIN
				SET @month = 12
				SET @year = @year - 1
			END
		ELSE IF @month <= 6 SET @month = 3
		ELSE IF @month <= 9 SET @month = 6
		ELSE IF @month <= 12 SET @month = 9
		SET @PeriodeCloture = RIGHT('00' + CAST(@month as nvarchar), 2) + RIGHT('0000' + CAST(@year as nvarchar), 4)
		IF OBJECT_ID('dbo.HELIOS_IMPORT_FICHIER_ENRICHI_BRUT') IS NOT NULL
			BEGIN
				SELECT @NbLignes = COUNT(*) FROM dbo.HELIOS_IMPORT_FICHIER_ENRICHI_BRUT;
				IF @NbLignes > 0
					SELECT @PeriodeCloture = PeriodeCloture FROM dbo.HELIOS_IMPORT_FICHIER_ENRICHI_BRUT GROUP BY PeriodeCloture
			END
	END TRY
	BEGIN CATCH
	END CATCH
		
	-- Préparation #1 des données à exporter
	BEGIN TRY
		IF OBJECT_ID('dbo.HELIOS_TEMP_EXPORT_SYNTHESE_RWA') is not null
			DROP TABLE dbo.HELIOS_TEMP_EXPORT_SYNTHESE_RWA

		SELECT
			Source, CompteMagnitude, PartnerID, IdentifiantUniqueRetenu, RAF, LibelleOrigine, CompteCopernic,
			TraitementParTransparenceT1, CategorieSyntheseT1,
			SUM(MontantProratiseT1) as MontantProratiseT1, --16I
			SUM(MontantMagnitudeT1) as MontantMagnitudeT1, --16AJ
			SUM(MontantActifPondereT1) as MontantActifPondereT1, --16J
			(CASE WHEN SUM(MontantProratiseT1) = 0 THEN 0 ELSE SUM(MontantActifPondereT1) / SUM(MontantProratiseT1) END) * SUM(MontantMagnitudeT1) as MontantActifPondereChangeT1, --16AK
			CASE WHEN SUM(NotionnelT1) = 0 THEN 0 ELSE SUM(MontantActifPondereT1) / SUM(NotionnelT1) END as TauxPonderationT1,
			SUM(NotionnelT1) as NotionnelT1,
			CASE WHEN SUM(MontantProratiseT1) = 0 THEN 0 ELSE SUM(MontantActifPondereT1) / SUM(MontantProratiseT1) END as PoderationEffectiveT1,
			RAFB2CT1, ApprocheT1, ClasseActifB2T1, CategorieProduitT1, RatingT1,
			TraitementParTransparenceT2, CategorieSyntheseT2,
			SUM(MontantProratiseT2) as MontantProratiseT2, --16U
			SUM(MontantActifPondereT2) as MontantActifPondereT2, --16V
			CASE WHEN SUM(NotionnelT2) = 0 THEN 0 ELSE SUM(MontantActifPondereT2) / SUM(NotionnelT2) END as TauxPonderationT2,
			SUM(NotionnelT2) as NotionnelT2,
			CASE WHEN SUM(MontantProratiseT2) = 0 THEN 0 ELSE SUM(MontantActifPondereT2) / SUM(MontantProratiseT2) END as PoderationEffectiveT2,
			RAFB2CT2, ApprocheT2, ClasseActifB2T2, CategorieProduitT2, RatingT2,
			((CASE WHEN SUM(MontantProratiseT1) = 0 THEN 0 ELSE SUM(MontantActifPondereT1) / SUM(MontantProratiseT1) END) * SUM(MontantMagnitudeT1)) - SUM(MontantActifPondereT1) as VariationEffetChange,
			(CASE WHEN SUM(MontantProratiseT2) = 0 THEN 0 ELSE SUM(MontantActifPondereT2) / SUM(MontantProratiseT2) END) - (CASE WHEN SUM(MontantProratiseT1) = 0 THEN 0 ELSE SUM(MontantActifPondereT1) / SUM(MontantProratiseT1) END) as VariationPonderation,
			SUM(MontantProratiseT2) - SUM(MontantMagnitudeT1) as VariationBruteMagnitude,
			CASE WHEN SUM(MontantProratiseT1) = 0 THEN 0 ELSE (SUM(MontantProratiseT2) - SUM(MontantMagnitudeT1)) / SUM(MontantProratiseT1) END as VariationRelativeMagnitude,
			SUM(MontantActifPondereT2) - ((CASE WHEN SUM(MontantProratiseT1) = 0 THEN 0 ELSE SUM(MontantActifPondereT1) / SUM(MontantProratiseT1) END) * SUM(MontantMagnitudeT1)) as VariationBruteRWA,
			CASE WHEN SUM(MontantActifPondereT2) = 0 THEN 0 ELSE (SUM(MontantActifPondereT2) - ((CASE WHEN SUM(MontantProratiseT1) = 0 THEN 0 ELSE SUM(MontantActifPondereT1) / SUM(MontantProratiseT1) END) * SUM(MontantMagnitudeT1))) / SUM(MontantActifPondereT2) END as VariationRelativeRWA
		INTO dbo.HELIOS_TEMP_EXPORT_SYNTHESE_RWA
		FROM (
			SELECT
				Source, CompteMagnitude, PartnerID, IdentifiantUniqueRetenu, RAF, LibelleOrigine, CompteCopernic,
				TraitementParTransparenceT1, CategorieSyntheseT1, SUM(MontantProratiseT1) as MontantProratiseT1, SUM(MontantMagnitudeT1) as MontantMagnitudeT1, SUM(MontantActifPondereT1) as MontantActifPondereT1, SUM(MontantActifPondereChangeT1) as MontantActifPondereChangeT1, 
				TauxPonderationT1, SUM(NotionnelT1) as NotionnelT1, 
				PoderationEffectiveT1, RAFB2CT1, ApprocheT1, ClasseActifB2T1, CategorieProduitT1, RatingT1,
				TraitementParTransparenceT2, CategorieSyntheseT2, SUM(MontantProratiseT2) as MontantProratiseT2, SUM(MontantActifPondereT2) as MontantActifPondereT2, 
				TauxPonderationT2, SUM(NotionnelT2) as NotionnelT2, 
				PoderationEffectiveT2, RAFB2CT2, ApprocheT2, ClasseActifB2T2, CategorieProduitT2, RatingT2
			FROM (
				SELECT
					Source, CompteMagnitude, PartnerID, IdentifiantUniqueRetenu, RAF,
					ISNULL(ISNULL((SELECT TOP 1 tmp.LibelleOrigineOuPartnerID FROM dbo.HELIOS_PREP_SYNTHESE_RWA_AGREGEE tmp WHERE tmp.Source = data.Source AND tmp.IdentifiantUniqueRetenu = data.IdentifiantUniqueRetenu), (SELECT TOP 1 tmp.LibelleOrigineOuPartnerID FROM dbo.HELIOS_PREP_SYNTHESE_RWA_OLD tmp WHERE tmp.Source = data.Source AND tmp.IdentifiantUniqueRetenu = data.IdentifiantUniqueRetenu)), LibelleOrigine) as LibelleOrigine,
					CompteCopernic,
					TraitementParTransparenceT1, CategorieSyntheseT1, MontantProratiseT1, MontantMagnitudeT1, MontantActifPondereT1, MontantActifPondereChangeT1, TauxPonderationT1, NotionnelT1, PoderationEffectiveT1, RAFB2CT1, ApprocheT1, ClasseActifB2T1, CategorieProduitT1, RatingT1,
					CASE WHEN r <= 1 THEN TraitementParTransparenceT2 END as TraitementParTransparenceT2,
					CASE WHEN r <= 1 THEN CategorieSyntheseT2 END as CategorieSyntheseT2,
					CASE WHEN r <= 1 THEN MontantProratiseT2 END as MontantProratiseT2,
					CASE WHEN r <= 1 THEN MontantActifPondereT2 END as MontantActifPondereT2,
					CASE WHEN r <= 1 THEN TauxPonderationT2 END as TauxPonderationT2,
					CASE WHEN r <= 1 THEN NotionnelT2 END as NotionnelT2,
					CASE WHEN r <= 1 THEN PoderationEffectiveT2 END as PoderationEffectiveT2,
					CASE WHEN r <= 1 THEN RAFB2CT2 END as RAFB2CT2,
					CASE WHEN r <= 1 THEN ApprocheT2 END as ApprocheT2,
					CASE WHEN r <= 1 THEN ClasseActifB2T2 END as ClasseActifB2T2,
					CASE WHEN r <= 1 THEN CategorieProduitT2 END as CategorieProduitT2,
					CASE WHEN r <= 1 THEN RatingT2 END as RatingT2
				FROM (
					SELECT
						ISNULL(b.Source, a.Source) as Source,
						ISNULL(b.CompteMagnitude, a.CompteMagnitude) as CompteMagnitude,
						ISNULL(b.PartnerID, a.PartnerID) as PartnerID,
						ISNULL(b.IdentifiantUniqueRetenu, a.IdentifiantUniqueRetenu) as IdentifiantUniqueRetenu,
						ISNULL(b.RAF, a.RAF) as RAF,
						ISNULL(b.LibelleOrigineOuPartnerID, a.LibelleOrigineOuPartnerID) as LibelleOrigine,
						ISNULL(b.CompteCopernic, a.CompteCopernic) as CompteCopernic,
						ISNULL(a.Transparence, 'Non') as TraitementParTransparenceT1,
						ISNULL(a.CategorieSynthese, '--') as CategorieSyntheseT1,
						ISNULL(a.MontantProratise, 0) as MontantProratiseT1,
						--ISNULL(a.MontantMagnitude, 0) as MontantMagnitudeT1,
						ISNULL(a.Montant, 0) as MontantMagnitudeT1,
						ISNULL(a.MontantActifPondere, 0) as MontantActifPondereT1,
						(CASE WHEN a.Source IS NOT NULL AND (a.MontantProratise IS NULL OR a.MontantProratise = 0) THEN -1 ELSE a.MontantActifPondere / a.MontantProratise END) * ISNULL(a.Montant, 0) as MontantActifPondereChangeT1,
						ISNULL(a.TauxPonderation, -1) as TauxPonderationT1,
						ISNULL(a.Notionnel, 0) as NotionnelT1,
						CASE
							WHEN a.Source IS NOT NULL AND (a.MontantProratise IS NULL OR a.MontantProratise = 0) THEN -1
							ELSE a.MontantActifPondere / a.MontantProratise
						END as PoderationEffectiveT1,
						ISNULL(a.RAFB2C, 'N/A') as RAFB2CT1,
						ISNULL(a.Approche, 'N/A') as ApprocheT1,
						ISNULL(a.ClasseActifB2, 'N/A') as ClasseActifB2T1,
						ISNULL(a.CategorieProduit, 'N/A') as CategorieProduitT1,
						ISNULL(a.Rating, 'N/A') as RatingT1,
						ISNULL(b.Transparence, 'Non') as TraitementParTransparenceT2,
						ISNULL(b.CategorieSynthese, '--') as CategorieSyntheseT2,
						ISNULL(b.MontantProratise, 0) as MontantProratiseT2,
						ISNULL(b.MontantActifPondere, 0) as MontantActifPondereT2,
						ISNULL(b.TauxPonderation, -1) as TauxPonderationT2,
						ISNULL(b.Notionnel, 0) as NotionnelT2,
						CASE
							WHEN b.Source IS NOT NULL AND (b.MontantProratise IS NULL OR b.MontantProratise = 0) THEN -1
							ELSE b.MontantActifPondere / b.MontantProratise
						END as PoderationEffectiveT2,
						ISNULL(b.RAFB2C, 'N/A') as RAFB2CT2,
						ISNULL(b.Approche, 'N/A') as ApprocheT2,
						ISNULL(b.ClasseActifB2, 'N/A') as ClasseActifB2T2,
						ISNULL(b.CategorieProduit, 'N/A') as CategorieProduitT2,
						ISNULL(b.Rating, 'N/A') as RatingT2,
						CASE WHEN b.Source IS NULL THEN 1 ELSE ROW_NUMBER() over (partition by b.Source, b.IdentifiantUniqueRetenu, b.TauxPonderation, b.RAF, b.CompteCopernic order by b.Source, b.IdentifiantUniqueRetenu) END as r
					FROM dbo.HELIOS_PREP_SYNTHESE_RWA_OLD a
						FULL OUTER JOIN dbo.HELIOS_PREP_SYNTHESE_RWA_AGREGEE b
						ON (a.Source = b.Source OR (a.Source IS NULL AND b.Source IS NULL))
							AND (a.IdentifiantUniqueRetenu = b.IdentifiantUniqueRetenu OR (a.IdentifiantUniqueRetenu IS NULL AND b.IdentifiantUniqueRetenu IS NULL))
							AND (a.CompteCopernic = b.CompteCopernic OR (a.CompteCopernic IS NULL AND b.CompteCopernic IS NULL))
				) data
			) data
			GROUP BY Source, CompteMagnitude, PartnerID, IdentifiantUniqueRetenu, RAF, LibelleOrigine, CompteCopernic,
				TraitementParTransparenceT1, CategorieSyntheseT1, TauxPonderationT1, PoderationEffectiveT1, RAFB2CT1, ApprocheT1, ClasseActifB2T1, CategorieProduitT1, RatingT1,
				TraitementParTransparenceT2, CategorieSyntheseT2, TauxPonderationT2, PoderationEffectiveT2, RAFB2CT2, ApprocheT2, ClasseActifB2T2, CategorieProduitT2, RatingT2
		) data
		GROUP BY Source, CompteMagnitude, PartnerID, IdentifiantUniqueRetenu, RAF, LibelleOrigine, CompteCopernic, TraitementParTransparenceT1, CategorieSyntheseT1, RAFB2CT1, ApprocheT1, ClasseActifB2T1, CategorieProduitT1, RatingT1, TraitementParTransparenceT2, CategorieSyntheseT2, RAFB2CT2, ApprocheT2, ClasseActifB2T2, CategorieProduitT2, RatingT2;
		
		-- UPDATE 17/15/2018 - REMPLACEMENT DU TRAITEMENT PARTICULIER PAR L'UTILISATION DE LA TABLE DE PARAMETRAGE HELIOS_PARAM_CATEGORIE_SYNTHESE_A_FORCER
		-- UPDATE 09/03/2017
		-- Forçage de la catégore Synthèse DCP pour les comptes A10202 et A20320
		--UPDATE HELIOS_TEMP_EXPORT_SYNTHESE_RWA
		--SET CategorieSyntheseT1 = 'DCP',
		--CategorieSyntheseT2 = 'DCP'
		--WHERE CompteMagnitude IN ('A10202','A20320')
		
		UPDATE HELIOS_TEMP_EXPORT_SYNTHESE_RWA
		SET CategorieSyntheseT1 = 
			CASE
				WHEN CategorieSyntheseT1='--' THEN '--'
				ELSE  T1.CategorieSynthese
			END,
		CategorieSyntheseT2 = 
			CASE
				WHEN CategorieSyntheseT2='--' THEN '--'
				ELSE T1.CategorieSynthese
			END
		FROM HELIOS_PARAM_CATEGORIE_SYNTHESE_A_FORCER T1
		INNER JOIN HELIOS_TEMP_EXPORT_SYNTHESE_RWA T2
		ON T1.CompteMagnitude=T2.CompteMagnitude
		WHERE T1.Source='ALL'

		UPDATE HELIOS_TEMP_EXPORT_SYNTHESE_RWA
		SET CategorieSyntheseT1 = T1.CategorieSynthese,
		CategorieSyntheseT2 = T1.CategorieSynthese
		FROM HELIOS_PARAM_CATEGORIE_SYNTHESE_A_FORCER T1
		INNER JOIN HELIOS_TEMP_EXPORT_SYNTHESE_RWA T2
		ON T1.CompteMagnitude=T2.CompteMagnitude AND T1.Source=T2.Source
		WHERE T1.Source<>'ALL'


		--UPDATE 17/05/2018 - Modification de la catégorie Synthèse basée sur la table de paramétrage [dbo].[HELIOS_PARAM_CATEGORIE_SYNTHESE_A_MODIFIER]
		UPDATE HELIOS_TEMP_EXPORT_SYNTHESE_RWA 
		SET CategorieSyntheseT1 = 
			CASE
				WHEN CategorieSyntheseT1='--' THEN '--'
				ELSE CategorieSyntheseT1 + T1.ValeurAAjouter
			END,
			CategorieSyntheseT2=
			CASE
				WHEN CategorieSyntheseT2='--' THEN '--'
				ELSE CategorieSyntheseT2 + T1.ValeurAAjouter
			END
		FROM HELIOS_PARAM_CATEGORIE_SYNTHESE_A_MODIFIER T1
		INNER JOIN HELIOS_TEMP_EXPORT_SYNTHESE_RWA T2
		ON T1.Source=T2.Source

		-- Forçage de la catégore Synthèse AJM pour l'identifiant unique retenu AJUSTEMENTS
		UPDATE HELIOS_TEMP_EXPORT_SYNTHESE_RWA
		SET CategorieSyntheseT1 = 'AJM',
		CategorieSyntheseT2 = 'AJM'
		WHERE IdentifiantUniqueRetenu='AJUSTEMENTS'
		
		-- Forçage de la catégore Synthèse NAMFI pour l'identifiant unique retenu NAMFI
		UPDATE HELIOS_TEMP_EXPORT_SYNTHESE_RWA
		SET CategorieSyntheseT1 = 'NAMFI',
		CategorieSyntheseT2 = 'NAMFI'
		WHERE IdentifiantUniqueRetenu = 'NAMFI'

		-- Forçage de la catégore Synthèse NAMFI pour l'identifiant unique retenu NAMFI
		UPDATE HELIOS_TEMP_EXPORT_SYNTHESE_RWA
		SET CategorieSyntheseT1 = 'IMMOS',
		CategorieSyntheseT2 = 'IMMOS'
		WHERE IdentifiantUniqueRetenu = 'IMMOS'
		
		UPDATE HELIOS_TEMP_EXPORT_SYNTHESE_RWA
		SET CategorieSyntheseT1 = 'CREG',
		CategorieSyntheseT2 = 'CREG'
		WHERE IdentifiantUniqueRetenu IN ('CREG-HORS-NAM','CREG-NAM')
		
		-- 14/04/2017 Forçage du montant de l'actif pondéré à change constant pour NAMFI (= Montant de l'actif pondéré)
		UPDATE HELIOS_TEMP_EXPORT_SYNTHESE_RWA
		SET MontantActifPondereChangeT1 = MontantActifPondereT1,
		    VariationEffetChange = 0,
		    VariationBruteRWA = MontantActifpondereT2-MontantActifPondereT1,
		    VariationRelativeRWA = 
		    CASE
				WHEN MontantActifpondereT2 = 0 THEN 0
				ELSE (MontantActifpondereT2-MontantActifPondereT1)/MontantActifpondereT2
			END
		WHERE IdentifiantUniqueRetenu = 'NAMFI'
		
		-- 14/04/2017 Forçage du montant de l'actif pondéré à change constant pour les sources 098 et 099 (= Montant de l'actif pondéré)
		UPDATE HELIOS_TEMP_EXPORT_SYNTHESE_RWA
		SET MontantMagnitudeT1=MontantProratiseT1,
			MontantActifPondereChangeT1 = MontantActifPondereT1,
		    VariationEffetChange = 0,
		    VariationBruteMagnitude = MontantProratiseT2-MontantProratiseT1,
		    VariationRelativeMagnitude = 
		    CASE
				WHEN MontantProratiseT2 =0 THEN 0 
				ELSE (MontantProratiseT2-MontantProratiseT1)/MontantProratiseT2
			END,
		    VariationBruteRWA = MontantActifpondereT2-MontantActifPondereT1,
		    VariationRelativeRWA = 
		    CASE
				WHEN MontantActifpondereT2 =0 THEN 0 
				ELSE (MontantActifpondereT2-MontantActifPondereT1)/MontantActifpondereT2
			END
		WHERE Source IN ('098','099','100')

		
		-- 14/04/2017 Forçage du montant de l'actif pondéré à change constant pour les comptes Magnitude CRCNET1 et CRCNET2 (= Montant de l'actif pondéré)
		UPDATE HELIOS_TEMP_EXPORT_SYNTHESE_RWA
		SET MontantMagnitudeT1=MontantProratiseT1,
			MontantActifPondereChangeT1 = MontantActifPondereT1,
		    VariationEffetChange = 0,
		    VariationBruteMagnitude = MontantProratiseT2-MontantProratiseT1,
		    VariationRelativeMagnitude = 
				CASE
					WHEN MontantProratiseT2 = 0 THEN 0
					ELSE (MontantProratiseT2-MontantProratiseT1)/MontantProratiseT2
				END,
		    VariationBruteRWA = MontantActifpondereT2-MontantActifPondereT1,
		    VariationRelativeRWA = 
				CASE
					WHEN MontantActifpondereT2 = 0 THEN 0
					ELSE (MontantActifpondereT2-MontantActifPondereT1)/MontantActifpondereT2
				END
		WHERE CompteMagnitude IN ('CRCNET1','CRCNET2')
		
		-- Correction 15/01/2018 Forçage du montant de l'actif pondéré à change constant pour les comptes Magnitude CREAN1 et PRET01 (= Montant de l'actif pondéré)
		UPDATE HELIOS_TEMP_EXPORT_SYNTHESE_RWA
		SET NotionnelT2=MontantActifPondereT2,
		TauxPonderationT2=1
		WHERE PartnerID ='DTX' 
		AND CompteMagnitude IN ('PRET01','CREAN1')

	END TRY
	BEGIN CATCH
		-- En cas d'erreur lors du bloc précédent, on loggue
		SET @FichierGenere = null
		SET @ErrorMssg = 'Erreur pendant la Préparation #1: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
		RETURN @ErrorCode;
	END CATCH
		
	-- Préparation #2 des données à exporter
	BEGIN TRY
		IF OBJECT_ID('dbo.HELIOS_EXPORT_SYNTHESE_RWA') is not null
			DROP TABLE dbo.HELIOS_EXPORT_SYNTHESE_RWA

		SELECT
			Source, CompteMagnitude, PartnerID, IdentifiantUniqueRetenu, RAF, LibelleOrigine, CompteCopernic, 
			TraitementParTransparenceT1, CategorieSyntheseT1, MontantProratiseT1, MontantMagnitudeT1, MontantActifPondereT1, MontantActifPondereChangeT1, TauxPonderationT1, NotionnelT1, PoderationEffectiveT1, RAFB2CT1, ApprocheT1, ClasseActifB2T1, CategorieProduitT1, RatingT1, 
			TraitementParTransparenceT2, CategorieSyntheseT2, MontantProratiseT2, MontantActifPondereT2, TauxPonderationT2, NotionnelT2, PoderationEffectiveT2, RAFB2CT2, ApprocheT2, ClasseActifB2T2, CategorieProduitT2, RatingT2,
			VariationEffetChange, VariationPonderation, VariationBruteMagnitude, VariationRelativeMagnitude, VariationBruteRWA, VariationRelativeRWA
		INTO dbo.HELIOS_EXPORT_SYNTHESE_RWA
		FROM (
			SELECT
				'1 - Données' as n, Source,
				CompteMagnitude, PartnerID, IdentifiantUniqueRetenu, RAF, LibelleOrigine, CompteCopernic,
				TraitementParTransparenceT1, CategorieSyntheseT1, MontantProratiseT1, MontantMagnitudeT1, MontantActifPondereT1, MontantActifPondereChangeT1, TauxPonderationT1, NotionnelT1, PoderationEffectiveT1, RAFB2CT1, ApprocheT1, ClasseActifB2T1, CategorieProduitT1, RatingT1,
				TraitementParTransparenceT2, CategorieSyntheseT2, MontantProratiseT2, MontantActifPondereT2, TauxPonderationT2, NotionnelT2, PoderationEffectiveT2, RAFB2CT2, ApprocheT2, ClasseActifB2T2, CategorieProduitT2, RatingT2,
				VariationEffetChange, VariationPonderation, VariationBruteMagnitude, VariationRelativeMagnitude, VariationBruteRWA, VariationRelativeRWA
			FROM dbo.HELIOS_TEMP_EXPORT_SYNTHESE_RWA
			UNION ALL
			SELECT
				'2 - Sous-Totaux' as n, 'Sous-Total' as Source, 
				CompteMagnitude, null as PartnerID, null as IdentifiantUniqueRetenu, null as RAF, ISNULL(b.ldesc1, (SELECT TOP 1 tmp.LibelleOrigine FROM dbo.HELIOS_TEMP_EXPORT_SYNTHESE_RWA tmp WHERE tmp.CompteMagnitude = a.CompteMagnitude)) as LibelleOrigine, null as CompteCopernic,
				null as TraitementParTransparenceT1, null as CategorieSyntheseT1, SUM(MontantProratiseT1) as MontantProratiseT1, SUM(MontantMagnitudeT1) as MontantMagnitudeT1, SUM(MontantActifPondereT1) as MontantActifPondereT1, SUM(MontantActifPondereChangeT1) as MontantActifPondereChangeT1, null as TauxPonderationT1, SUM(NotionnelT1) as NotionnelT1, null as PoderationEffectiveT1, null as RAFB2CT1, null as ApprocheT1, null as ClasseActifB2T1, null as CategorieProduitT1, null as RatingT1,
				null as TraitementParTransparenceT2, null as CategorieSyntheseT2, SUM(MontantProratiseT2) as MontantProratiseT2, SUM(MontantActifPondereT2) as MontantActifPondereT2, null as TauxPonderationT2, SUM(NotionnelT2) as NotionnelT2, null as PoderationEffectiveT2, null as RAFB2CT2, null as ApprocheT2, null as ClasseActifB2T2, null as CategorieProduitT2, null as RatingT2,
				SUM(VariationEffetChange) as VariationEffetChange,
				null as VariationPonderation,
				SUM(VariationBruteMagnitude) as VariationBruteMagnitude,
				CASE WHEN SUM(MontantMagnitudeT1) = 0 THEN 0 ELSE SUM(VariationBruteMagnitude) / SUM(MontantMagnitudeT1) END as VariationRelativeMagnitude,
				SUM(VariationBruteRWA) as VariationBruteRWA,
				CASE WHEN SUM(MontantActifPondereT2) = 0 THEN 0 ELSE SUM(VariationBruteRWA) / SUM(MontantActifPondereT2) END as VariationRelativeRWA
			FROM dbo.HELIOS_TEMP_EXPORT_SYNTHESE_RWA a
--				LEFT JOIN [BFCDBBOSP02].[FCPS].dbo.ct_account b ON CompteMagnitude = b.name
                LEFT JOIN [RWA].dbo.BFC_ct_account b ON CompteMagnitude = b.name
			WHERE CompteMagnitude IS NOT NULL
			GROUP BY CompteMagnitude, b.ldesc1
			UNION ALL
			SELECT
				'3 - Total' as n, null as Source, 
				'Total' as CompteMagnitude, null as PartnerID, null as IdentifiantUniqueRetenu, null as RAF, 'Total' as LibelleOrigine, null as CompteCopernic,
				null as TraitementParTransparenceT1, null as CategorieSyntheseT1, SUM(MontantProratiseT1) as MontantProratiseT1, SUM(CAST(MontantMagnitudeT1 as bigint)) as MontantMagnitudeT1, SUM(MontantActifPondereT1) as MontantActifPondereT1, SUM(MontantActifPondereChangeT1) as MontantActifPondereChangeT1, null as TauxPonderationT1, SUM(NotionnelT1) as NotionnelT1, null as PoderationEffectiveT1, null as RAFB2CT1, null as ApprocheT1, null as ClasseActifB2T1, null as CategorieProduitT1, null as RatingT1,
				null as TraitementParTransparenceT2, null as CategorieSyntheseT2, SUM(MontantProratiseT2) as MontantProratiseT2, SUM(MontantActifPondereT2) as MontantActifPondereT2, null as TauxPonderationT2, SUM(NotionnelT2) as NotionnelT2, null as PoderationEffectiveT2, null as RAFB2CT2, null as ApprocheT2, null as ClasseActifB2T2, null as CategorieProduitT2, null as RatingT2,
				SUM(VariationEffetChange) as VariationEffetChange,
				null as VariationPonderation,
				SUM(VariationBruteMagnitude) as VariationBruteMagnitude,
				CASE WHEN SUM(CAST(MontantMagnitudeT1 as bigint)) = 0 THEN 0 ELSE SUM(VariationBruteMagnitude) / SUM(CAST(MontantMagnitudeT1 as bigint)) END as VariationRelativeMagnitude,
				SUM(VariationBruteRWA) as VariationBruteRWA,
				CASE WHEN SUM(MontantActifPondereT2) = 0 THEN 0 ELSE SUM(VariationBruteRWA) / SUM(MontantActifPondereT2) END as VariationRelativeRWA
			FROM dbo.HELIOS_TEMP_EXPORT_SYNTHESE_RWA
		) data
		ORDER BY n;
	END TRY
	BEGIN CATCH
		-- En cas d'erreur lors du bloc précédent, on loggue
		SET @FichierGenere = null
		SET @ErrorMssg = 'Erreur pendant la Préparation #2: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
		RETURN @ErrorCode;
	END CATCH
	
	-- Lancement de la génération du fichier d'export
	BEGIN TRY
		EXEC xp_fileexist @TemplatePath, @Exist OUTPUT
		IF @Exist = 1
			BEGIN
				SET @dt = CONVERT(nvarchar(10), GETDATE(), 105) + '_' + RIGHT('00' + CAST(DATEPART(hh,GETDATE()) as nvarchar(2)), 2) + 'h' + RIGHT('00' + CAST(DATEPART(n,GETDATE()) as nvarchar(2)), 2)
				SET @FichierGenereFinal='Synthese_RWA_' + @PeriodeCloture + '_' + @dt + '.xlsx'
				
				SET @TmpCommand = N'copy "' + @TemplatePath + '" "' + @ExportPath + @FichierGenereFinal + '"'
				EXEC xp_cmdshell @TmpCommand, no_output
				
				IF OBJECT_ID('dbo.HELIOS_TEMP_EXPORT_SYNTHESE_RWA') is not null
					DROP TABLE dbo.HELIOS_TEMP_EXPORT_SYNTHESE_RWA
				
				SELECT
					Source, CompteMagnitude, PartnerID, IdentifiantUniqueRetenu, RAF, LibelleOrigine, CompteCopernic,
					TraitementParTransparenceT1, CategorieSyntheseT1,
					CASE WHEN MontantProratiseT1 IS NULL OR MontantProratiseT1 = 0 THEN '0' ELSE REPLACE(RTRIM(REPLACE(REPLACE(RTRIM(LTRIM(REPLACE(LTRIM(RTRIM(STR(MontantProratiseT1 / 1000, 17, 15))),'0',' '))),' ','0'),'.',' ')),' ','.') END as MontantProratiseT1,
					CASE WHEN MontantMagnitudeT1 IS NULL OR MontantMagnitudeT1 = 0 THEN '0' ELSE REPLACE(RTRIM(REPLACE(REPLACE(RTRIM(LTRIM(REPLACE(LTRIM(RTRIM(STR(MontantMagnitudeT1 / 1000, 17, 15))),'0',' '))),' ','0'),'.',' ')),' ','.') END as MontantMagnitudeT1,
					CASE WHEN MontantActifPondereT1 IS NULL OR MontantActifPondereT1 = 0 THEN '0' ELSE REPLACE(RTRIM(REPLACE(REPLACE(RTRIM(LTRIM(REPLACE(LTRIM(RTRIM(STR(MontantActifPondereT1 / 1000, 17, 15))),'0',' '))),' ','0'),'.',' ')),' ','.') END as MontantActifPondereT1,
					CASE WHEN MontantActifPondereChangeT1 IS NULL OR MontantActifPondereChangeT1 = 0 THEN '0' ELSE REPLACE(RTRIM(REPLACE(REPLACE(RTRIM(LTRIM(REPLACE(LTRIM(RTRIM(STR(MontantActifPondereChangeT1 / 1000, 17, 15))),'0',' '))),' ','0'),'.',' ')),' ','.') END as MontantActifPondereChangeT1,
					CASE WHEN TauxPonderationT1 IS NULL OR TauxPonderationT1 = -1 THEN '-' WHEN TauxPonderationT1 = 0 THEN '0' ELSE REPLACE(RTRIM(REPLACE(REPLACE(RTRIM(LTRIM(REPLACE(LTRIM(RTRIM(STR(TauxPonderationT1, 17, 15))),'0',' '))),' ','0'),'.',' ')),' ','.') END as TauxPonderationT1,
					CASE WHEN NotionnelT1 IS NULL OR NotionnelT1 = 0 THEN '0' ELSE REPLACE(RTRIM(REPLACE(REPLACE(RTRIM(LTRIM(REPLACE(LTRIM(RTRIM(STR(NotionnelT1 / 1000, 17, 15))),'0',' '))),' ','0'),'.',' ')),' ','.') END as NotionnelT1,
					CASE WHEN PoderationEffectiveT1 IS NULL OR PoderationEffectiveT1 = -1 THEN '-' WHEN PoderationEffectiveT1 = 0 THEN '0' ELSE REPLACE(RTRIM(REPLACE(REPLACE(RTRIM(LTRIM(REPLACE(LTRIM(RTRIM(STR(PoderationEffectiveT1, 17, 15))),'0',' '))),' ','0'),'.',' ')),' ','.') END as PoderationEffectiveT1,
					RAFB2CT1, ApprocheT1, ClasseActifB2T1, CategorieProduitT1, RatingT1,
					TraitementParTransparenceT2, CategorieSyntheseT2,
					CASE WHEN MontantProratiseT2 IS NULL OR MontantProratiseT2 = 0 THEN '0' ELSE REPLACE(RTRIM(REPLACE(REPLACE(RTRIM(LTRIM(REPLACE(LTRIM(RTRIM(STR(MontantProratiseT2 / 1000, 17, 15))),'0',' '))),' ','0'),'.',' ')),' ','.') END as MontantProratiseT2,
					CASE WHEN MontantActifPondereT2 IS NULL OR MontantActifPondereT2 = 0 THEN '0' ELSE REPLACE(RTRIM(REPLACE(REPLACE(RTRIM(LTRIM(REPLACE(LTRIM(RTRIM(STR(MontantActifPondereT2 / 1000, 17, 15))),'0',' '))),' ','0'),'.',' ')),' ','.') END as MontantActifPondereT2,
					CASE WHEN TauxPonderationT2 IS NULL OR TauxPonderationT2 = -1 THEN '-' WHEN TauxPonderationT2 = 0 THEN '0' ELSE REPLACE(RTRIM(REPLACE(REPLACE(RTRIM(LTRIM(REPLACE(LTRIM(RTRIM(STR(TauxPonderationT2, 17, 15))),'0',' '))),' ','0'),'.',' ')),' ','.') END as TauxPonderationT2,
					CASE WHEN NotionnelT2 IS NULL OR NotionnelT2 = 0 THEN '0' ELSE REPLACE(RTRIM(REPLACE(REPLACE(RTRIM(LTRIM(REPLACE(LTRIM(RTRIM(STR(NotionnelT2 / 1000, 17, 15))),'0',' '))),' ','0'),'.',' ')),' ','.') END as NotionnelT2,
					CASE WHEN PoderationEffectiveT2 IS NULL OR PoderationEffectiveT2 = -1 THEN '-' WHEN PoderationEffectiveT2 = 0 THEN '0' ELSE REPLACE(RTRIM(REPLACE(REPLACE(RTRIM(LTRIM(REPLACE(LTRIM(RTRIM(STR(PoderationEffectiveT2, 17, 15))),'0',' '))),' ','0'),'.',' ')),' ','.') END as PoderationEffectiveT2,
					RAFB2CT2, ApprocheT2, ClasseActifB2T2, CategorieProduitT2, RatingT2,
					CASE WHEN VariationEffetChange IS NULL OR VariationEffetChange = 0 THEN '0' ELSE REPLACE(RTRIM(REPLACE(REPLACE(RTRIM(LTRIM(REPLACE(LTRIM(RTRIM(STR(VariationEffetChange / 1000, 17, 15))),'0',' '))),' ','0'),'.',' ')),' ','.') END as VariationEffetChange,
					CASE WHEN VariationPonderation IS NULL OR VariationPonderation = 0 THEN '0' ELSE REPLACE(RTRIM(REPLACE(REPLACE(RTRIM(LTRIM(REPLACE(LTRIM(RTRIM(STR(VariationPonderation, 17, 15))),'0',' '))),' ','0'),'.',' ')),' ','.') END as VariationPonderation,
					CASE WHEN VariationBruteMagnitude IS NULL OR VariationBruteMagnitude = 0 THEN '0' ELSE REPLACE(RTRIM(REPLACE(REPLACE(RTRIM(LTRIM(REPLACE(LTRIM(RTRIM(STR(VariationBruteMagnitude / 1000, 17, 15))),'0',' '))),' ','0'),'.',' ')),' ','.') END as VariationBruteMagnitude,
					CASE WHEN VariationRelativeMagnitude IS NULL OR VariationRelativeMagnitude = 0 THEN '0' ELSE REPLACE(RTRIM(REPLACE(REPLACE(RTRIM(LTRIM(REPLACE(LTRIM(RTRIM(STR(VariationRelativeMagnitude, 17, 15))),'0',' '))),' ','0'),'.',' ')),' ','.') END as VariationRelativeMagnitude,
					CASE WHEN VariationBruteRWA IS NULL OR VariationBruteRWA = 0 THEN '0' ELSE REPLACE(RTRIM(REPLACE(REPLACE(RTRIM(LTRIM(REPLACE(LTRIM(RTRIM(STR(VariationBruteRWA / 1000, 17, 15))),'0',' '))),' ','0'),'.',' ')),' ','.') END as VariationBruteRWA,
					CASE WHEN VariationRelativeRWA IS NULL OR VariationRelativeRWA = 0 THEN '0' ELSE REPLACE(RTRIM(REPLACE(REPLACE(RTRIM(LTRIM(REPLACE(LTRIM(RTRIM(STR(VariationRelativeRWA, 17, 15))),'0',' '))),' ','0'),'.',' ')),' ','.') END as VariationRelativeRWA,
					CASE WHEN CategorieSyntheseT2 <> '--' THEN CategorieSyntheseT2 ELSE CategorieSyntheseT1 END As VariationCategorieSynthese
				INTO dbo.HELIOS_TEMP_EXPORT_SYNTHESE_RWA
				FROM dbo.HELIOS_EXPORT_SYNTHESE_RWA
				ORDER BY (CASE WHEN CompteMagnitude IS NULL THEN 0 ELSE 1 END), CompteMagnitude, (CASE WHEN PartnerID IS NULL THEN 1 ELSE 0 END), PartnerID, (CASE WHEN IdentifiantUniqueRetenu IS NULL THEN 1 ELSE 0 END), IdentifiantUniqueRetenu, CompteCopernic;
				
				-- Requêtes d'extraction des données brutes
				SET @SqlCommand = N'
					INSERT INTO OPENROWSET(''Microsoft.ACE.OLEDB.12.0'',
						''Excel 12.0;HDR=NO;DATABASE=' + @ExportPath + @FichierGenereFinal + ''',
						''SELECT * FROM [Synthese_RWA$1:2]'')
					SELECT * FROM dbo.HELIOS_TEMP_EXPORT_SYNTHESE_RWA;'
				
				-- Exécution des requêtes d'extraction et de contrôle des données
				BEGIN TRY
					EXEC sp_executesql @SqlCommand;
					SET @NbLignes = @@ROWCOUNT
					IF @NbLignes <> 0
						BEGIN
							IF OBJECT_ID('dbo.HELIOS_TEMP_EXPORT_SYNTHESE_RWA') is not null
								DROP TABLE dbo.HELIOS_TEMP_EXPORT_SYNTHESE_RWA
							SET @FichierGenere = @FichierGenereFinal
							
							BEGIN TRY
								-- Génération des rapports
								EXEC(N'INSERT INTO OPENROWSET(''Microsoft.ACE.OLEDB.12.0'',
										''Excel 12.0;HDR=NO;DATABASE=' + @ExportPath + @FichierGenereFinal + ''',
										''SELECT * FROM [B2C_Non_Integres$]'')
									SELECT PeriodeCloture, Source, IdentifiantUniqueRetenu, Approche, RAFB2C, ClasseActifB2, CategorieProduit, Rating, TauxPonderation,
										REPLACE(RTRIM(REPLACE(REPLACE(RTRIM(LTRIM(REPLACE(LTRIM(RTRIM(STR(MontantActifPondere, 17, 15))),''0'','' ''))),'' '',''0''),''.'','' '')),'' '',''.'') as MontantActifPondere,
										REPLACE(RTRIM(REPLACE(REPLACE(RTRIM(LTRIM(REPLACE(LTRIM(RTRIM(STR(Notionnel, 17, 15))),''0'','' ''))),'' '',''0''),''.'','' '')),'' '',''.'') as Notionnel,
										ExternalID
									FROM RWA.dbo.HELIOS_REPORT_CONTROLE35;');
								EXEC(N'INSERT INTO OPENROWSET(''Microsoft.ACE.OLEDB.12.0'',
										''Excel 12.0;HDR=NO;DATABASE=' + @ExportPath + @FichierGenereFinal + ''',
										''SELECT * FROM [Incoherence_Montants_Actif_P$]'')
									SELECT IdentifiantB2C, Source, IdentifiantUniqueRetenu,
										REPLACE(RTRIM(REPLACE(REPLACE(RTRIM(LTRIM(REPLACE(LTRIM(RTRIM(STR(MontantActifPondereSynthese, 17, 15))),''0'','' ''))),'' '',''0''),''.'','' '')),'' '',''.'') as MontantActifPondereSynthese,
										REPLACE(RTRIM(REPLACE(REPLACE(RTRIM(LTRIM(REPLACE(LTRIM(RTRIM(STR(MontantActifPondereB2C, 17, 15))),''0'','' ''))),'' '',''0''),''.'','' '')),'' '',''.'') as MontantActifPondereB2C,
										REPLACE(RTRIM(REPLACE(REPLACE(RTRIM(LTRIM(REPLACE(LTRIM(RTRIM(STR(Ecart, 17, 15))),''0'','' ''))),'' '',''0''),''.'','' '')),'' '',''.'') as Ecart
									FROM RWA.dbo.HELIOS_REPORT_CONTROLE36;');
							END TRY
							BEGIN CATCH
								-- En cas d'erreur lors du bloc précédent, on nettoie et on loggue
								SET @TmpCommand = N'del "' + @ExportPath + @FichierGenereFinal + '"'
								EXEC xp_cmdshell @TmpCommand, no_output
								SET @FichierGenere = null
								SET @ErrorMssg = 'Erreur pendant l''Exportation des rapports: ' + ERROR_MESSAGE()
								SET @ErrorCode = ERROR_NUMBER()
								EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
								PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
								RETURN @ErrorCode;
							END CATCH
							
							SET @ErrorMssg = 'Fichier Excel exporté sous: ' + @FichierGenereFinal
							SET @ErrorCode = 0
							EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 0, @ErrorCode, @ErrorMssg
							PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
							RETURN @ErrorCode;
						END
					ELSE
						BEGIN
							SET @TmpCommand = N'del "' + @ExportPath + @FichierGenereFinal + '"'
							EXEC xp_cmdshell @TmpCommand, no_output
							SET @FichierGenere = null
							SET @ErrorMssg = 'Erreur lors de l''export du fichier: ' + @FichierGenereFinal
							SET @ErrorCode = 1006
							EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
							PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
							RETURN @ErrorCode;
						END
				END TRY
				BEGIN CATCH
					-- En cas d'erreur lors du bloc précédent, on nettoie et on loggue
					SET @TmpCommand = N'del "' + @ExportPath + @FichierGenereFinal + '"'
					EXEC xp_cmdshell @TmpCommand, no_output
					SET @FichierGenere = null
					SET @ErrorMssg = 'Erreur pendant l''Exportation de la Synthèse: ' + ERROR_MESSAGE()
					SET @ErrorCode = ERROR_NUMBER()
					EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
					PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
					RETURN @ErrorCode;
				END CATCH
			END
		ELSE
			BEGIN
				SET @FichierGenere = null
				SET @ErrorMssg = 'Fichier Modèle introuvable'
				SET @ErrorCode = 1001
				EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
				RETURN @ErrorCode;
			END
	END TRY
	BEGIN CATCH
		-- En cas d'erreur lors du bloc précédent, on loggue
		SET @FichierGenere = null
		SET @ErrorMssg = 'Erreur pendant l''Exportation: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
		RETURN @ErrorCode;
	END CATCH
END
GO
