USE [RWA]
GO
/****** Object:  StoredProcedure [dbo].[USP_HELIOS_TRAITEMENT_ONGLET_TITRES]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_HELIOS_TRAITEMENT_ONGLET_TITRES]
	@Process nvarchar(256),
	@PeriodeCloture nvarchar(6)
AS
BEGIN
	SET NOCOUNT ON;
	/* 
	Déclaration des variables
		ErrorMssg : message de retour à afficher ou journaliser
		ErrorCode : code de retour à afficher ou journaliser
		ErrorLevel : niveau d'erreur à afficher ou journaliser (0=OK, 1=WARNING, 2=ERROR)
		SqlCommand : commande SQL complexe à exécuter
		NbLignes : nombre de lignes retournées par la commande SqlCommand
		month : mois correspondant à la Période actuelle
		year : année correspondant à la Période actuelle
		day : dernier jour du mois de cloture
		DateArrete : Date complète au dernier jour de la Période de Cloture
	*/
	DECLARE @ErrorMssg nvarchar(3072),
			@ErrorCode nvarchar(1024),
			@ErrorLevel int,
			@SqlCommand nvarchar(3072),
			@NbLignes int,
			@month integer,
			@year integer,
			@day integer,
			@DateArrete date
	
	IF @Process IS NULL
		SET @Process = 'GENERATION ONGLET TITRES'
		
	-- Avant de démarrer, on nettoie de la table des logs les lignes correspondantes au @Process actuel
	DELETE FROM dbo.HELIOS_LOG_TRAITEMENTS
	WHERE Process = @Process
	
	-- Récupération de la période actuelle
	IF @PeriodeCloture IS NULL
		SET @PeriodeCloture = RIGHT('00' + CAST(MONTH(GETDATE())-1 as varchar(2)), 2) + RIGHT('0000' + CAST(YEAR(GETDATE()) as varchar(4)), 4)
	SET @month = LEFT(@PeriodeCloture,2)
	SET @year = RIGHT(@PeriodeCloture,4)
	SET @DateArrete = DATEADD(month, ((@year - 1900) * 12) + @month, -1)
	
	-- Traitement d'agrégation et d'enrichissement des données
	BEGIN TRY
		--Suppression du précédent contenu de la table
		DELETE FROM dbo.HELIOS_ONGLET_TITRES;
		-- Exécution de la requête
		INSERT INTO dbo.HELIOS_ONGLET_TITRES
		SELECT
			DISTINCT
			a.IdentifiantUniqueRetenu,
			a.IdentifiantUniqueRetenu as IdentifiantTitre,
			e.NatureTitre,
			e.TypeTitre,
			a.RAF as RAFEmetteur,
			NULL as NominalTitre,
			NULL as CodeDeviseNominal,
			NULL as DateEcheanceTitre,
			NULL as IndexTaux,
			NULL as TypeTaux,
			NULL as ValeurOuMargeTauxFixe,
			NULL as DeviseCoupon,
			e.TitreDette,
			NULL as CoursTitre,
			NULL as NombreDecimaleCours,
			'N' as TitreGaranti,
			NULL as RAFGarantTitre,
			CASE WHEN c.TitreLiquide IS NULL OR LTRIM(RTRIM(c.TitreLiquide)) = '' THEN 'O' ELSE c.TitreLiquide END as TitreLiquide,
			CASE WHEN c.TitreCote IS NULL OR LTRIM(RTRIM(c.TitreCote)) = '' THEN 'O' ELSE c.TitreCote END as TitreCote,
			CASE WHEN c.IndiceCotation IS NULL OR LTRIM(RTRIM(c.IndiceCotation)) = '' THEN 'Non Communiqué' ELSE c.IndiceCotation END as IndiceCotation,
			CASE WHEN c.FrequenceCotation IS NULL OR LTRIM(RTRIM(c.FrequenceCotation)) = '' THEN 'X' ELSE c.FrequenceCotation END as FrequenceCotation,
			CASE WHEN c.PlaceCotation IS NULL OR LTRIM(RTRIM(c.PlaceCotation)) = '' THEN '000' ELSE c.PlaceCotation END as PlaceCotation,
			CASE WHEN c.TitreCote IS NULL OR LTRIM(RTRIM(c.TitreCote)) = '' OR c.TitreCote = 'O' THEN '0' ELSE NULL END as RangTitre,
			CASE WHEN d.Rating IS NOT NULL THEN 'O' ELSE 'N' END as TitreNote,
			d.Rating as NotationTitre,
			d.OEEC,
			CASE WHEN d.Rating IS NOT NULL THEN 'O' ELSE NULL END as EligibiliteMcDo,
			e.OPCVMComposeTitresEligibles,
			NULL as Granularite,
			CASE WHEN d.Rating IS NOT NULL THEN CONVERT(nvarchar(10), @DateArrete, 103) ELSE NULL END as DateNotation
		FROM dbo.HELIOS_PREP_REPORTING_RWA_AGREGEE a
			LEFT JOIN (
					SELECT DISTINCT IdentifiantISIN,null as PartnerID,TitreLiquide,TitreCote,IndiceCotation,FrequenceCotation,PlaceCotation
					FROM dbo.HELIOS_PARAM_MAPPING_TITRES_TRANSPARENCE
					UNION ALL
					SELECT DISTINCT null as IdentifiantISIN,PartnerID,TitreLiquide,TitreCote,IndiceCotation,FrequenceCotation,PlaceCotation
					FROM dbo.HELIOS_PARAM_MAPPING_TITRES_MAGNITUDE) c
				ON (a.Source <> '010' AND a.Source NOT IN (SELECT DISTINCT Source FROM dbo.HELIOS_PARAM_ENTREES_PERIMETRE) AND c.IdentifiantISIN = a.IdentifiantUniqueRetenu)
					OR ((a.Source = '010' OR a.Source IN (SELECT DISTINCT Source FROM dbo.HELIOS_PARAM_ENTREES_PERIMETRE)) AND c.PartnerID = a.PartnerID)
			LEFT JOIN dbo.HELIOS_PARAM_RATING_TITRISATIONS d
				ON d.IdentifiantISIN = a.IdentifiantUniqueRetenu
			LEFT JOIN dbo.HELIOS_PARAM_CODES_PRODUIT e
				ON e.CodeProduit = a.CodeProduit
		WHERE e.ValeurMobiliere = 'O';

		--UPDATE 08/07/2018 : REMPLACEMENT DES Identifiants ISIN par ceux de la table HELIOS_PARAM_MAPPING_TITRES_MAGNITUDE
		UPDATE dbo.HELIOS_ONGLET_TITRES
		SET HELIOS_ONGLET_TITRES.IdentifiantUniqueRetenu = c.IdentifiantISIN,
		HELIOS_ONGLET_TITRES.IdentifiantTitre=c.IdentifiantISIN
		FROM HELIOS_ONGLET_TITRES a
		INNER JOIN HELIOS_ONGLET_CONTRATS c ON RIGHT(c.IdentifiantContrat,LEN(c.IdentifiantContrat)-3)=a.IdentifiantTitre
		WHERE c.CodeProduit IN (SELECT CodeProduit FROM HELIOS_PARAM_CODES_PRODUIT WHERE ValeurMobiliere='O')
		AND c.IdentifiantISIN IS NOT NULL

		--UPDATE 05/10/2018 ; Forcage de l'aggrégation après remplacement des codes ISIN
		IF OBJECT_ID('dbo.HELIOS_ONGLET_TITRES_TMP') is not null
			DROP TABLE dbo.HELIOS_ONGLET_TITRES_TMP

		SELECT * 
		INTO HELIOS_ONGLET_TITRES_TMP
		FROM HELIOS_ONGLET_TITRES
		GROUP BY [IdentifiantUniqueRetenu]
      ,[IdentifiantTitre]
      ,[NatureTitre]
      ,[TypeTitre]
      ,[RAFEmetteur]
      ,[NominalTitre]
      ,[CodeDeviseNominal]
      ,[DateEcheanceTitre]
      ,[IndexTaux]
      ,[TypeTaux]
      ,[ValeurOuMargeTauxFixe]
      ,[DeviseCoupon]
      ,[TitreDette]
      ,[CoursTitre]
      ,[NombreDecimaleCours]
      ,[TitreGaranti]
      ,[RAFGarantTitre]
      ,[TitreLiquide]
      ,[TitreCote]
      ,[IndiceCotation]
      ,[FrequenceCotation]
      ,[PlaceCotation]
      ,[RangTitre]
      ,[TitreNote]
      ,[NotationTitre]
      ,[OEEC]
      ,[EligibiliteMcDo]
      ,[OPCVMComposeTitresEligibles]
      ,[Granularite]
      ,[DateNotation]

	  DELETE FROM HELIOS_ONGLET_TITRES
	  INSERT INTO HELIOS_ONGLET_TITRES
	  SELECT * 
		FROM HELIOS_ONGLET_TITRES_TMP


	END TRY
	BEGIN CATCH
		-- En cas d'erreur lors du bloc précédent, on loggue
		SET @ErrorMssg = 'Erreur lors de l''Insertion: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
		RETURN @ErrorCode;
	END CATCH
	
	-- Exécution de la génération des contrôles de l'onglet Titres
	BEGIN TRY
		IF OBJECT_ID('dbo.HELIOS_CONTROLES_ONGLET_TITRES') is not null
			DROP TABLE dbo.HELIOS_CONTROLES_ONGLET_TITRES
	
		SELECT '' + @PeriodeCloture + '' as PeriodeCloture, IdentifiantTitre,
			CASE
				WHEN (TypeTitre = 'P' AND OPCVMComposeTitresEligibles IS NOT NULL) OR (TypeTitre <> 'P' AND OPCVMComposeTitresEligibles IS NULL) THEN 'SUCCES: Le Titre qui a pour Type "' + TypeTitre + '" a un Code OPCVM de valeur "' + ISNULL(OPCVMComposeTitresEligibles, '') + '".'
				WHEN (TypeTitre = 'P' AND OPCVMComposeTitresEligibles IS NULL) OR (TypeTitre <> 'P' AND OPCVMComposeTitresEligibles IS NOT NULL) THEN 'ECHEC: Le Titre qui a pour Type "' + TypeTitre + '" a un Code OPCVM de valeur "' + ISNULL(OPCVMComposeTitresEligibles, '') + '".'
				ELSE 'WARNING: Pas de Type Titre à contrôler.'
			END as ControleTypeTitre,
			CASE
				WHEN RAFEmetteur IS NOT NULL THEN CASE WHEN LEN(RAFEmetteur) <> 7 THEN 'ECHEC' ELSE 'SUCCES' END + ': Le RAF Emetteur "' + RAFEmetteur + '" fait ' + CAST(LEN(RAFEmetteur) as nvarchar(10)) + ' caractères.'
				ELSE 'WARNING: Pas de RAF à contrôler.'
			END as ControleRAF,
			CASE
				WHEN NominalTitre IS NOT NULL AND CodeDeviseNominal IS NOT NULL  THEN 'SUCCES: Le Nominal du Titre "' + CAST(NominalTitre as nvarchar(10)) + '" a un Code Devise valant "' + CodeDeviseNominal + '".'
				WHEN NominalTitre IS NOT NULL AND CodeDeviseNominal IS NULL THEN 'ECHEC: Le Nominal du Titre "' + CAST(NominalTitre as nvarchar(10)) + '" n''a pas de Code Devis'
				ELSE 'INFO: Le Titre n''a pas de Nominal à contrôler.'
			END as ControleCodeDeviseNominal,
			CASE
				WHEN TitreCote = 'O' AND IndiceCotation IS NOT NULL AND FrequenceCotation IS NOT NULL AND PlaceCotation IS NOT NULL AND RangTitre IS NOT NULL THEN 'SUCCES: Le Titre est Côté et a pour valeurs IndiceCotation="' + ISNULL(IndiceCotation,'NULL') + '", FrequenceCotation="' + ISNULL(FrequenceCotation,'NULL') + '", PlaceCotation="' + ISNULL(PlaceCotation,'NULL') + '", RangTitre="' + ISNULL(RangTitre,'NULL') + '".'
				WHEN TitreCote = 'O' AND (IndiceCotation IS NULL OR FrequenceCotation IS NULL OR PlaceCotation IS NULL OR RangTitre IS NULL) THEN 'ECHEC: Le Titre est Côté et a pour valeurs IndiceCotation="' + ISNULL(IndiceCotation,'NULL') + '", FrequenceCotation="' + ISNULL(FrequenceCotation,'NULL') + '", PlaceCotation="' + ISNULL(PlaceCotation,'NULL') + '", RangTitre="' + ISNULL(RangTitre,'NULL') + '".'
				WHEN TitreCote = 'N' THEN 'INFO: Le Titre n''est pas Côté.'
				WHEN TitreCote IS NOT NULL THEN 'WARNING: Le champ TitreCote est incohérent.'
				ELSE 'WARNING: Pas de Titre Côté à contrôler.'
			END as ControleTitreCote,
			CASE
				WHEN TitreNote = 'O' AND NotationTitre IS NOT NULL AND OEEC IS NOT NULL AND EligibiliteMcDo IS NOT NULL AND DateNotation IS NOT NULL THEN 'SUCCES: Le Titre est Noté et a pour valeurs NotationTitre="' + ISNULL(NotationTitre,'NULL') + '", OEEC="' + ISNULL(OEEC,'NULL') + '", EligibiliteMcDo="' + ISNULL(EligibiliteMcDo,'NULL') + '", DateNotation="' + ISNULL(CONVERT(nvarchar(10), DateNotation, 103),'NULL') + '".'
				WHEN TitreNote = 'O' AND (NotationTitre IS NULL OR OEEC IS NULL OR EligibiliteMcDo IS NULL OR DateNotation IS NULL) THEN 'ECHEC: Le Titre est Noté et a pour valeurs NotationTitre="' + ISNULL(NotationTitre,'NULL') + '", OEEC="' + ISNULL(OEEC,'NULL') + '", EligibiliteMcDo="' + ISNULL(EligibiliteMcDo,'NULL') + '", DateNotation="' + ISNULL(CONVERT(nvarchar(10), DateNotation, 103),'NULL') + '".'
				WHEN TitreNote = 'N' THEN 'INFO: Le Titre n''est pas Noté.'
				WHEN TitreNote IS NOT NULL THEN 'WARNING: Le champ TitreNote est incohérent.'
				ELSE 'WARNING: Pas de Titre Noté à contrôler.'
			END as ControleTitreNote,
			CASE
				WHEN IdentifiantTitre IS NOT NULL THEN 'SUCCES: L''Identifiant du Titre "' + IdentifiantTitre + '" est renseigné.'
				ELSE 'ECHEC: L''Identifiant du Titre n''est pas renseigné.'
			END as ControleIdentifiantTitre,
			CASE
				WHEN IdentifiantTitre IN (SELECT DISTINCT IdentifiantISIN FROM dbo.HELIOS_ONGLET_CONTRATS) THEN 'SUCCES: L''Identifiant Titre est présent dans l''onglet Contrats.'
				ELSE 'ECHEC: L''Identifiant Titre n''est pas présent dans l''onglet Contrats.'
			END as ControlePresenceContrats,
			CASE
				WHEN (SELECT COUNT(1) FROM (SELECT tmp1.IdentifiantTitre, COUNT(1) as cnt FROM dbo.HELIOS_ONGLET_TITRES tmp1 GROUP BY IdentifiantTitre) tmp2 WHERE tmp2.cnt > 1 AND tmp2.IdentifiantTitre = HELIOS_ONGLET_TITRES.IdentifiantTitre) > 0 THEN 'ECHEC: Titre en doublon.'
				ELSE 'SUCCES: Pas de doublon sur ce Titre.'
			END as ControleDoublon
		INTO dbo.HELIOS_CONTROLES_ONGLET_TITRES
		FROM dbo.HELIOS_ONGLET_TITRES;
		
		IF OBJECT_ID('dbo.HELIOS_CONTROLES_ONGLET_TITRES') is null
			BEGIN
				-- En cas d'erreur lors du bloc précédent, on loggue
				SET @ErrorMssg = 'Erreur lors de la génération des contrôles de l''onglet Titres.'
				SET @ErrorCode = 1012
				EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
				RETURN @ErrorCode;
			END
	END TRY
	BEGIN CATCH
		-- En cas d'erreur lors du bloc précédent, on loggue
		SET @ErrorMssg = 'Erreur lors de l''Insertion: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
		RETURN @ErrorCode;
	END CATCH
	
	-- Finalisation du traitement
	BEGIN TRY
		SELECT @NbLignes = COUNT(*) FROM dbo.HELIOS_ONGLET_TITRES;
		SET @ErrorMssg = CAST(@NbLignes as nvarchar(5)) + ' lignes mises à jour dans la table "dbo.HELIOS_ONGLET_TITRES".'
		-- Si la table finale existe et qu'elle contient des données
		IF OBJECT_ID('dbo.HELIOS_ONGLET_TITRES') is not null AND @NbLignes <> 0
			BEGIN
				-- On loggue la réussite
				SET @ErrorLevel = 0
				SET @ErrorCode = 0
			END
		ELSE
			BEGIN
				-- ... ou l'échec
				SET @ErrorLevel = 2
				SET @ErrorCode = 1005
			END
		EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, @ErrorLevel, @ErrorCode, @ErrorMssg
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
		RETURN @ErrorCode;
	END TRY
	BEGIN CATCH
		-- En cas d'erreur lors du bloc précédent, on loggue
		SET @ErrorMssg = 'Erreur pendant la finalisation: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
		RETURN @ErrorCode;
	END CATCH
END
GO
