USE [RWA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO 

CREATE OR ALTER PROCEDURE [dbo].[USP_HECATE_EXPORT_EXPORTEXCELTABLEEQUIVALENCE]
	@NomFichierXLSXGenere nvarchar(255) OUTPUT -- TODO remove but beware to update dependency
AS
BEGIN

	-- SET NOCOUNT ON added to prevent extra result sets from interfering with SELECT statements
	SET NOCOUNT ON;

    DECLARE @ModelFile nvarchar(255),
			@ExportedFile nvarchar(255),
			@ExportedFileWorksheetCatRWA nvarchar(30) = 'CategorieRWA',
			@ExportedFileWorksheetTypeBloom nvarchar(30) = 'TypeBloomberg',
			@ExportedFileWorksheetEquiCatRWA nvarchar(30) = 'EquivalenceCatRWA',
			@ExportMessage nvarchar(1000),
			@shellcommand nvarchar(3000),
			@sqlCommandCatRWA nvarchar(3000),
			@sqlCommandTypeBloom nvarchar(3000),
			@sqlCommandEquiRWA nvarchar(3000),
			
			@FileExistenceCheck int,
			@ErrorMessage nvarchar(1000),
			@ErrorNumber nvarchar(1000)

	-- 1) Check if model file is present
	SET @ModelFile = 'E:\RWA\HECATE\Modeles\TableEquivalence.xlsx'
	EXEC xp_fileexist @ModelFile, @FileExistenceCheck OUTPUT
	
	-- 2) Generate extract
	IF @FileExistenceCheck = 1
	BEGIN
		-- 2.1) Copy template file with target export file name
		SET @ExportedFile = 'Parametrage RWA_' + replace(CONVERT(nvarchar(20),GETDATE(),103),'/','-') + '_' + replace(left(CONVERT(time, GETDATE(),20),8),':','') + '.xlsx'
		SET @shellcommand = N'copy "E:\RWA\HECATE\Modeles\TableEquivalence.xlsx" "E:\RWA\HECATE\Export\Params\' + @ExportedFile + '"'
		EXEC xp_cmdshell @shellcommand, no_output

		-- 2.2) Load data in export file
		SET @sqlCommandCatRWA = N'INSERT INTO OPENROWSET(	''Microsoft.ACE.OLEDB.12.0'',
								''Excel 12.0;DATABASE=E:\RWA\HECATE\Export\Params\' + @ExportedFile + ''',
								''Select * from [' + @ExportedFileWorksheetCatRWA + '$]'')
								(	[Code RWA],
									[Libelle Categorie RWA],
									[Valeur Mobiliere])
								SELECT hcr.IdCatRWA,
										hcr.Libelle,
										hcr.ValeurMobiliere
								FROM dbo.HECATE_CATEGORIE_RWA hcr'
						
		SET @sqlCommandTypeBloom=N'INSERT INTO OPENROWSET(	''Microsoft.ACE.OLEDB.12.0'',
								''Excel 12.0;DATABASE=E:\RWA\HECATE\Export\Params\' + @ExportedFile + ''',
								''Select * from [' + @ExportedFileWorksheetTypeBloom + '$]'')
								(	[Code Bloomberg],
									[Libelle Bloomberg])
								SELECT htb.IdTypeBloomberg,
										htb.Libelle
								FROM dbo.HECATE_TYPE_BLOOMBERG htb'
						
		SET @sqlCommandEquiRWA=N'INSERT INTO OPENROWSET(	''Microsoft.ACE.OLEDB.12.0'',
								''Excel 12.0;DATABASE=E:\RWA\HECATE\Export\Params\' + @ExportedFile + ''',
								''Select * from [' + @ExportedFileWorksheetEquiCatRWA + '$]'')
								(	[Source],
									[Code catégorie 1],
									[Code catégorie 2],
									[Catégorie RWA],
									[Type Bloomberg])
								SELECT hecr.Source,
										hcd1.LibelleDepositaire1,
										CASE WHEN hcd2.LibelleDepositaire2<>''NONE'' THEN hcd2.LibelleDepositaire2 END AS LibelleDepositaire2,
										hecr.RefCategorieRWA,
										hecr.RefTypeBloomberg
								FROM (dbo.HECATE_EQUIVALENCE_CAT_RWA hecr 
										INNER JOIN dbo.HECATE_CAT_DEPOSITAIRE1 hcd1 ON hecr.RefCatDepositaire1=hcd1.IdDepositaire1)
											INNER JOIN dbo.HECATE_CAT_DEPOSITAIRE2 hcd2 ON hecr.RefCatDepositaire2=hcd2.IdDepositaire2'				
									
		BEGIN TRY
			EXEC sp_executesql @sqlCommandCatRWA;

			IF @@ROWCOUNT <> 0
				BEGIN
					EXEC sp_executesql @sqlCommandTypeBloom;

					IF @@ROWCOUNT <> 0
						BEGIN
							EXEC sp_executesql @sqlCommandEquiRWA;

							IF @@ROWCOUNT <> 0
								BEGIN
									SET @NomFichierXLSXGenere = @ExportedFile
									SET @ExportMessage = 'Fichier EXCEL exporté sous: ' + @ExportedFile
									EXEC dbo.USP_HECATE_LOG_SETLOGIMPORTEEXPORT 0, null, null, 'EXPORT TABLE EQUIV', 0, @ExportMessage
									RETURN 0
								END
							ELSE
								EXEC dbo.USP_HECATE_LOG_SETLOGIMPORTEEXPORT 2, null, null, 'EXPORT TABLE EQUIV', 10, 'Aucune donnée à exporter dans l''onglet EquivalenceCatRWA.'
						END
					ELSE
						EXEC dbo.USP_HECATE_LOG_SETLOGIMPORTEEXPORT 2, null, null, 'EXPORT TABLE EQUIV', 10, 'Aucune donnée à exporter dans l''onglet TypeBloomberg.'
				END
			ELSE
				EXEC dbo.USP_HECATE_LOG_SETLOGIMPORTEEXPORT 2, null, null, 'EXPORT TABLE EQUIV', 10, 'Aucune donnée à exporter dans l''onglet CategorieRWA.'
			
			SET @NomFichierXLSXGenere = null
			SET @shellcommand = N'del E:\RWA\HECATE\Export\Params\' + @ExportedFile
			EXEC xp_cmdshell @shellcommand, no_output
			RETURN 1000
		END TRY
		BEGIN CATCH
			SET @NomFichierXLSXGenere = null
			
			SET @shellcommand = N'del E:\RWA\HECATE\Export\Params\' + @ExportedFile
			EXEC xp_cmdshell @shellcommand, no_output
			
			SET @ErrorMessage = ERROR_MESSAGE()
			SET @ErrorNumber = ERROR_NUMBER()
			EXEC dbo.USP_HECATE_LOG_SETLOGIMPORTEEXPORT 2, null, null, 'EXPORT TABLE EQUIV', @ErrorNumber, @ErrorMessage
			PRINT '(' + @ErrorNumber + ') - ' + @ErrorMessage
			RETURN @ErrorNumber
		END CATCH
	END
	ELSE
		BEGIN
			PRINT 'Missing template file TableEquivalence.xlsx'
			EXEC dbo.USP_HECATE_LOG_SETLOGIMPORTEEXPORT 2,null,null,'EXPORT TABLE EQUIV',10,'Missing template file TableEquivalence.xlsx'
			RETURN 1001;
		END
END
GO
