USE [RWA]
GO
/****** Object:  StoredProcedure [dbo].[USP_HECATE_TRAITEMENT_CONTROLEINTEGRATION]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[USP_HECATE_TRAITEMENT_CONTROLEINTEGRATION] 
	@PeriodeCloture nvarchar(6),
	@Source nvarchar(3)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @nbr int;

	-- TEST EXISTANCE
	SELECT @nbr=COUNT(t.Identifiant) FROM TEMP_DATA t WHERE t.Identifiant is null
	IF @nbr<>0
	BEGIN
		EXEC dbo.USP_HECATE_LOG_SETLOGIMPORTEEXPORT 2,@PeriodeCloture,@Source,'IMPORT INV NORM',1003,'La colonne Identifiant contient une ou des valeurs NULL'
		RETURN 1003;
	END
	
	SELECT @nbr=COUNT(t.Identifiant) FROM TEMP_DATA t WHERE t.Nom is null
	IF @nbr<>0
	BEGIN
		EXEC dbo.USP_HECATE_LOG_SETLOGIMPORTEEXPORT 2,@PeriodeCloture,@Source,'IMPORT INV NORM',1004,'La colonne Nom contient une ou des valeurs NULL'
		RETURN 1004;
	END
	
	SELECT @nbr=COUNT(t.Identifiant) FROM TEMP_DATA t WHERE t.ValeurDeMarche is null
	IF @nbr<>0
	BEGIN
		EXEC dbo.USP_HECATE_LOG_SETLOGIMPORTEEXPORT 2,@PeriodeCloture,@Source,'IMPORT INV NORM',1005,'La colonne ValeurDeMarche contient une ou des valeurs NULL'
		RETURN 1005;
	END
	
	SELECT @nbr=COUNT(ISNUMERIC(t.ValeurDeMarche)) FROM TEMP_DATA t WHERE ISNUMERIC(t.ValeurDeMarche)=0
	IF @nbr<>0
	BEGIN
		EXEC dbo.USP_HECATE_LOG_SETLOGIMPORTEEXPORT 2,@PeriodeCloture,@Source,'IMPORT INV NORM',1005,'La colonne ValeurDeMarche contient une ou des valeurs non numériques'
		RETURN 1008;
	END
	
	SELECT @nbr=COUNT(t.ValeurDeMarche) FROM TEMP_DATA t WHERE t.Categorie1 is null
	IF @nbr<>0
	BEGIN
		EXEC dbo.USP_HECATE_LOG_SETLOGIMPORTEEXPORT 2,@PeriodeCloture,@Source,'IMPORT INV NORM',1006,'La colonne Categorie1 contient une ou des valeurs NULL'
		RETURN 1006;
	END
	
	SELECT @nbr=COUNT(t.ValeurDeMarche) FROM TEMP_DATA t WHERE t.DeviseDeCotation is null
	IF @nbr<>0
	BEGIN
		EXEC dbo.USP_HECATE_LOG_SETLOGIMPORTEEXPORT 2,@PeriodeCloture,@Source,'IMPORT INV NORM',1007,'La colonne DeviseDeCotation contient une ou des valeurs NULL'
		RETURN 1007;
	END
		
	RETURN 0;
END
GO
