USE [RWA]
GO
/****** Object:  StoredProcedure [dbo].[USP_HECATE_TRAITEMENT_TETHYSMAPPINGREGLE8]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USP_HECATE_TRAITEMENT_TETHYSMAPPINGREGLE8]
	-- Add the parameters for the stored procedure here
	@PeriodeCloture nvarchar(6),
	@idSource nvarchar(3),
	@idIdentifiantOrigine nvarchar(50),
	
	@IdentifiantUniqueRetenu nvarchar(13) OUTPUT,
	@RAF nvarchar(7) OUTPUT,
	@Commentaire nvarchar(200) OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DECLARE @DateNotationInterne nvarchar(21),
			@tmpIdentifiantRAF nvarchar(7),
			@tmpRAFTeteGroupeReglementaire nvarchar(7),
			@tmpIdUniRet nvarchar(13),
			@nbrligne int
		

	SELECT  @DateNotationInterne=rtrim(ltrim(ht.[DATE NOTATION INTERNE])),
			@tmpIdentifiantRAF=rtrim(ltrim(ht.[IDENTIFIANT RAF])),
			@tmpRAFTeteGroupeReglementaire=rtrim(ltrim(ht.[RAF TETE GROUPE REGLEMENTAIRE])),
			@tmpIdUniRet=rtrim(ltrim(ht.[CODE ISIN]))
	FROM HECATE_TETHYS ht
	WHERE ht.[CODE ISIN]=@idIdentifiantOrigine
	
	SET @nbrligne=@@ROWCOUNT
	
	IF @nbrligne<>0
	BEGIN
		IF @nbrligne=1
		BEGIN
			IF @DateNotationInterne = '01 01 0001' OR @DateNotationInterne IS NULL OR DATEDIFF(year,GETDATE(),CONVERT(datetime,REPLACE(RTRIM(@DateNotationInterne),' ','/'),103))<-1
				SET @RAF=@tmpRAFTeteGroupeReglementaire
			ELSE
				SET @RAF=@tmpIdentifiantRAF
			
			IF LEN(@RAF)=0
				SET @RAF=@tmpIdentifiantRAF
				
			SET	@IdentifiantUniqueRetenu=@tmpIdUniRet
			SET	@Commentaire='SUCCES - TETHYS : Mapping réalisé sur l''identifiant ISIN.'
					
			--EXEC dbo.SetLog 0, @PeriodeCloture, @idSource, @idIdentifiantOrigine, 'R8 TETHYS - Une ligne récupéré, exit du processus et ajout commentaire.'
		END
		
		--IF @nbrligne >1
			--EXEC dbo.SetLog 2, @PeriodeCloture, @idSource, @idIdentifiantOrigine, 'R8 TETHYS - Plusieurs lignes différentes récupérées.'
	END
	--ELSE
		--EXEC dbo.SetLog 2, @PeriodeCloture, @idSource, @idIdentifiantOrigine, 'R8 TETHYS - Aucune ligne trouvée, passage à R9.'
	RETURN @nbrligne
END
GO
