USE [RWA]
GO
/****** Object:  StoredProcedure [dbo].[USP_HECATE_IMPORT_IMPORTTYPEBLOOMBERG]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[USP_HECATE_IMPORT_IMPORTTYPEBLOOMBERG]
	-- Add the parameters for the stored procedure here
	@NomFichierXLSX nvarchar(255),
	@OngletFichierXLSX nvarchar(30)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DECLARE @CodeBloomberg nvarchar(10), 
			@Libelle nvarchar(50), 
			
			@sqlCommand nvarchar(3000),
			@nbr int,
			@ERREUR_IMPORT int=0,
			
			@exist int, 
			@ChaineTMP nvarchar(1000),
			@ChaineTMP2 nvarchar(1000),
			@NumLigne int=0
			
	DELETE FROM dbo.HECATE_LOG_IMPORT_EXPORT
	WHERE Process='IMPORT TYPE BLOOM'
	
	SET @ChaineTMP='E:\RWA\HECATE\Import\Params\' + @NomFichierXLSX
	EXEC xp_fileexist @ChaineTMP, @exist OUTPUT
	
	IF @exist=1 AND @NomFichierXLSX is not null AND @OngletFichierXLSX is not null
	BEGIN
		IF OBJECT_ID('dbo.TEMP_DATA_BLOOMBERG') is not null
			DROP TABLE TEMP_DATA_BLOOMBERG
		
		SET @sqlCommand = N'SELECT cast(rtrim(ltrim([Code Bloomberg])) as nvarchar(10)) as CodeBloomberg,
			cast(rtrim(ltrim([Libelle Bloomberg])) as nvarchar(50)) as Libelle into TEMP_DATA_BLOOMBERG
		FROM OPENROWSET (	''Microsoft.ACE.OLEDB.12.0'',
							''Excel 12.0;Database=E:\RWA\HECATE\Import\Params\' + @NomFichierXLSX + ';HDR=YES;IMEX=1'',
							''SELECT * FROM [' + @OngletFichierXLSX + '$]'') WHERE [Code Bloomberg] is not null'
		BEGIN TRY
			EXEC sp_executesql @sqlCommand;
			SET @nbr=@@ROWCOUNT
			IF @nbr=0
			BEGIN
				SET @ChaineTMP = 'L''onglet ('+@OngletFichierXLSX+') est vide.'
				EXEC dbo.USP_HECATE_LOG_SETLOGIMPORTEEXPORT 2,null,null,'IMPORT TYPE BLOOM',1001,@ChaineTMP
				RETURN 1001;
			END
		END TRY
		BEGIN CATCH
			SET @ChaineTMP = ERROR_MESSAGE()
			SET @ChaineTMP2 = ERROR_NUMBER()
			EXEC dbo.USP_HECATE_LOG_SETLOGIMPORTEEXPORT 2,null,null,'IMPORT TYPE BLOOM',@ChaineTMP2,@ChaineTMP
			PRINT '('+@ChaineTMP2+') - ' +  @ChaineTMP
			RETURN @ChaineTMP2;
		END CATCH
		
/*			
	-- TEST DOUBLONS
		SELECT @nbr=COUNT(*)
		FROM (	SELECT t.CodeBloomberg
				FROM TEMP_DATA_BLOOMBERG t
				GROUP BY t.CodeBloomberg
				HAVING COUNT(*)> 1 ) as f
		IF @nbr<>0
			RETURN 1002;
			
		SELECT @nbr=COUNT(*)
		FROM (	SELECT t.Libelle
				FROM TEMP_DATA_BLOOMBERG t
				GROUP BY t.Libelle
				HAVING COUNT(*)> 1 ) as f
		IF @nbr<>0
			RETURN 1002;

	-- TEST EXISTANCE
		SELECT @nbr=COUNT(t.CodeBloomberg) FROM TEMP_DATA_BLOOMBERG t WHERE t.CodeBloomberg is null
		IF @nbr<>0
			RETURN 1003;
			
		SELECT @nbr=COUNT(t.Libelle) FROM TEMP_DATA_BLOOMBERG t WHERE t.Libelle is null
		IF @nbr<>0
			RETURN 1003;
*/
		DECLARE CursorRWA CURSOR FOR Select CodeBloomberg, Libelle FROM TEMP_DATA_BLOOMBERG
		
		OPEN CursorRWA
		
			FETCH NEXT FROM CursorRWA INTO @CodeBloomberg, @Libelle
			
			WHILE @@FETCH_STATUS=0
			BEGIN
				SET @NumLigne = @NumLigne + 1
				
				BEGIN TRY
					INSERT INTO dbo.HECATE_TYPE_BLOOMBERG (IdTypeBloomberg, Libelle)
					VALUES (upper(@CodeBloomberg), ltrim(rtrim(upper(@Libelle))))
					
					--IF @@ROWCOUNT <> 0
					--	PRINT 'Ligne ajoutée'
				END TRY
				BEGIN CATCH
					IF ERROR_NUMBER()=2627
					BEGIN
						SET @ChaineTMP = 'Ligne N°' + cast(@NumLigne as nvarchar(5)) + ' ou valeur dupliquée'
						EXEC dbo.USP_HECATE_LOG_SETLOGIMPORTEEXPORT 2,null,null,'IMPORT TYPE BLOOM',2627,@ChaineTMP
						PRINT @ChaineTMP
					END
					
					IF ERROR_NUMBER()=515
					BEGIN
						SET @ChaineTMP = 'Ligne N°' + cast(@NumLigne as nvarchar(5)) + ' ou valeur NULL'
						EXEC dbo.USP_HECATE_LOG_SETLOGIMPORTEEXPORT 2,null,null,'IMPORT TYPE BLOOM',515,@ChaineTMP
						PRINT @ChaineTMP
					END
					
					SET @ERREUR_IMPORT=1
				END CATCH
				
				FETCH NEXT FROM CursorRWA INTO @CodeBloomberg, @Libelle
			END
		
		CLOSE CursorRWA;
		DEALLOCATE CursorRWA;
		
		DROP TABLE TEMP_DATA_BLOOMBERG;
		
		IF @ERREUR_IMPORT=0
		BEGIN
			SET @ChaineTMP='Import onglet ('+@OngletFichierXLSX+') avec succès.'
			EXEC dbo.USP_HECATE_LOG_SETLOGIMPORTEEXPORT 0,null,null,'IMPORT TYPE BLOOM',0,@ChaineTMP
			PRINT @ChaineTMP
			RETURN 0
		END
		ELSE
			RETURN 1
	END
	ELSE
	BEGIN
		EXEC dbo.USP_HECATE_LOG_SETLOGIMPORTEEXPORT 2,null,null,'IMPORT TYPE BLOOM',1000,'Fichier introuvable.'
		RETURN 1000
	END
END
GO
