USE [RWA]
GO
/****** Object:  StoredProcedure [dbo].[USP_HECATE_TRAITEMENT_SETINVENTAIRESNORMALISES]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[USP_HECATE_TRAITEMENT_SETINVENTAIRESNORMALISES]
	-- Add the parameters for the stored procedure here
	@NumLigne int,
	@PeriodeCloture nvarchar(6),
	@Source nvarchar(3),
	
	@FichierXLSX_Identifiant nvarchar(50),
	@FichierXLSX_Nom nvarchar(255),
	@FichierXLSX_ValeurDeMarche float,
	@FichierXLSX_Categorie1 nvarchar(100),
	@FichierXLSX_Categorie2 nvarchar(100),
	@FichierXLSX_DeviseDeCotation nvarchar(50),
	@FichierXLSX_TauxObligation decimal(18,2),
	@FichierXLSX_DateMaturite date,
	@FichierXLSX_DateExpiration date,
	@FichierXLSX_Tiers nvarchar(255),
	@FichierXLSX_RAF nvarchar(7),
	@FichierXLSX_BOA_SJ nvarchar(7),
	@FichierXLSX_BOA_Contrepartie nvarchar(7),
	@FichierXLSX_BOA_DEFAUT nvarchar(7),
	
	@Enrichi_IdentifiantOrigine nvarchar(50),
	@Enrichi_RefCategorieRWA nvarchar(3),
	@Enrichi_IdentifiantUniqueRetenu nvarchar(13),
	@Enrichi_RAF nvarchar(7),
	@Enrichi_LibelleOrigine nvarchar(255),
	@Enrichi_DateFinContrat date,
	@Enrichi_Commentaire nvarchar(200),
	@Enrichi_Bloomberg nvarchar(70),
	
	@Result_RefTypeDepot int,
	@Result_RefTypeResultat int,
	@Result_CodeResultat int
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
    -- Insert statements for procedure here
	INSERT INTO dbo.HECATE_INVENTAIRE_NORMALISES (NumLigne,PeriodeCloture,[Source],Identifiant,Nom,ValeurDeMarche,Categorie1,Categorie2,DeviseDeCotation,TauxObligation,DateMaturite,DateExpiration,Tiers,RAF,BOA_SJ,BOA_Contrepartie,BOA_DEFAUT,IdentifiantOrigine,RefCategorieRWA,IdentifiantUniqueRetenu,RAFEnrichi,LibelleOrigine,DateFinContrat,Commentaires,Bloomberg,RefTypeDepot,RefTypeResultat,CodeResultat)
	VALUES (	@NumLigne,
				rtrim(ltrim(@PeriodeCloture)),
				rtrim(ltrim(@Source)),
				
				rtrim(ltrim(@FichierXLSX_Identifiant)),
				rtrim(ltrim(@FichierXLSX_Nom)),
				@FichierXLSX_ValeurDeMarche,
				rtrim(ltrim(@FichierXLSX_Categorie1)),
				rtrim(ltrim(@FichierXLSX_Categorie2)),
				rtrim(ltrim(@FichierXLSX_DeviseDeCotation)),
				@FichierXLSX_TauxObligation,
				@FichierXLSX_DateMaturite,
				@FichierXLSX_DateExpiration,
				rtrim(ltrim(@FichierXLSX_Tiers)),
				rtrim(ltrim(@FichierXLSX_RAF)),
				rtrim(ltrim(@FichierXLSX_BOA_SJ)),
				rtrim(ltrim(@FichierXLSX_BOA_Contrepartie)),
				rtrim(ltrim(@FichierXLSX_BOA_DEFAUT)),
				
				rtrim(ltrim(@Enrichi_IdentifiantOrigine)),
				rtrim(ltrim(@Enrichi_RefCategorieRWA)),
				rtrim(ltrim(@Enrichi_IdentifiantUniqueRetenu)),
				rtrim(ltrim(@Enrichi_RAF)),
				rtrim(ltrim(@Enrichi_LibelleOrigine)),
				@Enrichi_DateFinContrat,
				rtrim(ltrim(@Enrichi_Commentaire)),
				rtrim(ltrim(@Enrichi_Bloomberg)),
				
				@Result_RefTypeDepot,
				@Result_RefTypeResultat,
				@Result_CodeResultat)
END
GO
