USE [RWA]
GO
/****** Object:  StoredProcedure [dbo].[USP_HECATE_LOG_SETLOGIMPORTEEXPORT]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[USP_HECATE_LOG_SETLOGIMPORTEEXPORT]
	-- Add the parameters for the stored procedure here
	@IdTypeLog bigInt,
	@IdPeriodeCloture nvarchar(6),
	@IdSource nvarchar(3),
	@Process nvarchar(50),
	@CodeErreur int,
	@Message nvarchar(255)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	-- Suppression des anciennes lignes pour le process
	IF @IdSource IS NOT NULL
		DELETE FROM dbo.HECATE_LOG_IMPORT_EXPORT
		WHERE Process = @Process 
		AND Source = @IdSource;
	ELSE
		DELETE FROM dbo.HECATE_LOG_IMPORT_EXPORT
		WHERE Process = @Process ;
	
	

    -- Insert statements for procedure here
	INSERT INTO dbo.HECATE_LOG_IMPORT_EXPORT (LogTime,RefTypeLog,PeriodeCloture,[Source],Process,CodeErreur,[Message])
	VALUES (GETDATE(),@IdTypeLog,rtrim(ltrim(@IdPeriodeCloture)),rtrim(ltrim(@IdSource)),rtrim(ltrim(@Process)),@CodeErreur,ltrim(rtrim(@Message)))
END
GO
