USE [RWA]
GO
/****** Object:  StoredProcedure [dbo].[USP_HELIOS_TRAITEMENT_PREP_REPORTING_RWA]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_HELIOS_TRAITEMENT_PREP_REPORTING_RWA]
	@Process nvarchar(256),
	@PeriodeCloture nvarchar(6)
AS
BEGIN
	SET NOCOUNT ON;
	/* 
	Déclaration des variables
		ErrorMssg : message de retour à afficher ou journaliser
		ErrorCode : code de retour à afficher ou journaliser
		NbLignes : nombre de lignes retournées par la commande SqlCommand
	*/
	DECLARE @ErrorMssg nvarchar(3072),
			@ErrorCode nvarchar(1024),
			@NbLignes int
	
	IF @Process IS NULL
		SET @Process = 'PREPARATION REPORTING RWA'
		
	-- Avant de démarrer, on nettoie de la table des logs les lignes correspondantes au @Process actuel
	DELETE FROM dbo.HELIOS_LOG_TRAITEMENTS WHERE Process = @Process
	
	-- Récupération de la période actuelle
	IF @PeriodeCloture IS NULL
		SET @PeriodeCloture = RIGHT('00' + CAST(MONTH(GETDATE())-1 as varchar(2)), 2) + RIGHT('0000' + CAST(YEAR(GETDATE()) as varchar(4)), 4)
	
	
	-- Traitement d'agrégation de Magnitude et du Fichier Enrichi et d'enrichissement
	BEGIN TRY
		IF OBJECT_ID('dbo.HELIOS_PREP_REPORTING_RWA_NON_AGREGEE') is not null
			DROP TABLE dbo.HELIOS_PREP_REPORTING_RWA_NON_AGREGEE
			
		SELECT DISTINCT 
			data.PeriodeCloture, data.Source, data.CompteMagnitude, data.PartnerID, data.RefCategorieRWA, data.IdentifiantUniqueRetenu, data.RAF, data.LibelleOrigineOuPartnerID,
			CASE
				WHEN data.CodeProduit IS NULL AND (b.Signe = 'ABSOLU' OR b.Signe = 'ABS') THEN ABS(data.MontantProratise)
				WHEN data.CodeProduit IS NULL THEN data.MontantProratise * b.Signe
				ELSE data.MontantProratise
			END as MontantProratise,
			data.DateFinContrat,
			CASE WHEN data.CompteCopernic IS NULL THEN b.CompteCopernic ELSE data.CompteCopernic END as CompteCopernic,
			CASE WHEN data.CodeProduit IS NULL THEN b.CodeProduit ELSE data.CodeProduit END as CodeProduit,
			CASE WHEN data.PCEC IS NULL THEN b.PCEC ELSE data.PCEC END as PCEC
		INTO dbo.HELIOS_PREP_REPORTING_RWA_NON_AGREGEE
		FROM ((
			SELECT
				a.PeriodeCloture, a.Source, a.CompteMagnitude, a.PartnerID,
				CASE WHEN a.RefCategorieRWA IS NULL THEN 'OTH' ELSE a.RefCategorieRWA END as RefCategorieRWA,
				a.IdentifiantUniqueRetenu, a.RAF,
				CASE WHEN a.LibelleOrigine IS NULL THEN 'Extrait de Magnitude' ELSE a.LibelleOrigine END as LibelleOrigineOuPartnerID,
				CASE
					WHEN c.CompteCopernic IS NULL THEN a.MontantProratise
					WHEN c.Signe = 'ABSOLU' OR c.Signe = 'ABS' THEN ABS(a.MontantProratise)
					ELSE a.MontantProratise * c.Signe
				END as MontantProratise,
				a.DateFinContrat, c.CompteCopernic, c.CodeProduit, c.PCEC
			FROM dbo.HELIOS_IMPORT_FICHIER_ENRICHI_RETRAITE a
				LEFT JOIN (
						SELECT DISTINCT CompteMagnitude, AjoutDeLignes, Signe, RefCategorieRWA, CompteCopernic, CodeProduit, PCEC, 1 as Ligne
						FROM dbo.HELIOS_PARAM_MAPPING_MAGNITUDE_COPERNIC_ULISS
						UNION ALL
						SELECT DISTINCT CompteMagnitude, AjoutDeLignes, Signe2 as Signe, RefCategorieRWA2 as RefCategorieRWA, CompteCopernic2 as CompteCopernic, CodeProduit2 as CodeProduit, PCEC2 as PCEC, 2 as Ligne
						FROM dbo.HELIOS_PARAM_MAPPING_MAGNITUDE_COPERNIC_ULISS
						WHERE AjoutDeLignes = 'O' AND Signe2 IS NOT NULL
						UNION ALL
						SELECT DISTINCT CompteMagnitude, AjoutDeLignes, Signe3 as Signe, RefCategorieRWA3 as RefCategorieRWA, CompteCopernic3 as CompteCopernic, CodeProduit3 as CodeProduit, PCEC3 as PCEC, 3 as Ligne
						FROM dbo.HELIOS_PARAM_MAPPING_MAGNITUDE_COPERNIC_ULISS
						WHERE AjoutDeLignes = 'O' AND Signe3 IS NOT NULL
					) c
					ON c.CompteMagnitude = a.CompteMagnitude 
					AND (CASE WHEN c.RefCategorieRWA IS NULL THEN 'OTH' ELSE c.RefCategorieRWA END) = (CASE WHEN a.RefCategorieRWA IS NULL THEN 'OTH' ELSE a.RefCategorieRWA END)
			) UNION ALL (
			SELECT
				a.PeriodeCloture, a.Source, a.CompteMagnitude, a.PartnerID,
				CASE WHEN a.RefCategorieRWA IS NULL THEN 'OTH' ELSE a.RefCategorieRWA END as RefCategorieRWA,
				a.IdentifiantUniqueRetenu, a.RAF,
				CASE WHEN a.LibellePartnerID IS NULL THEN 'Extrait de Magnitude' ELSE a.LibellePartnerID END as LibelleOrigineOuPartnerID,
				CASE
					WHEN c.CompteCopernic IS NULL THEN a.Montant
					WHEN c.Signe = 'ABSOLU' OR c.Signe = 'ABS' THEN ABS(a.Montant)
					ELSE a.Montant * c.Signe
				END as MontantProratise,
				a.DateFinContrat, c.CompteCopernic, c.CodeProduit, c.PCEC
			FROM dbo.HELIOS_IMPORT_MAGNITUDE_RETRAITE a
				LEFT JOIN (
						SELECT DISTINCT CompteMagnitude, AjoutDeLignes, Signe, RefCategorieRWA, CompteCopernic, CodeProduit, PCEC, 1 as Ligne
						FROM dbo.HELIOS_PARAM_MAPPING_MAGNITUDE_COPERNIC_ULISS
						UNION ALL
						SELECT DISTINCT CompteMagnitude, AjoutDeLignes, Signe2 as Signe, RefCategorieRWA2 as RefCategorieRWA, CompteCopernic2 as CompteCopernic, CodeProduit2 as CodeProduit, PCEC2 as PCEC, 2 as Ligne
						FROM dbo.HELIOS_PARAM_MAPPING_MAGNITUDE_COPERNIC_ULISS
						WHERE AjoutDeLignes = 'O' AND Signe2 IS NOT NULL
						UNION ALL
						SELECT DISTINCT CompteMagnitude, AjoutDeLignes, Signe3 as Signe, RefCategorieRWA3 as RefCategorieRWA, CompteCopernic3 as CompteCopernic, CodeProduit3 as CodeProduit, PCEC3 as PCEC, 3 as Ligne
						FROM dbo.HELIOS_PARAM_MAPPING_MAGNITUDE_COPERNIC_ULISS
						WHERE AjoutDeLignes = 'O' AND Signe3 IS NOT NULL
					) c
					ON c.CompteMagnitude = a.CompteMagnitude 
					AND (CASE WHEN c.RefCategorieRWA IS NULL THEN 'OTH' ELSE c.RefCategorieRWA END) = (CASE WHEN a.RefCategorieRWA IS NULL THEN 'OTH' ELSE a.RefCategorieRWA END)
		)) data
			LEFT JOIN (
					SELECT DISTINCT CompteMagnitude, AjoutDeLignes, Signe, RefCategorieRWA, CompteCopernic, CodeProduit, PCEC, 1 as Ligne
					FROM dbo.HELIOS_PARAM_MAPPING_MAGNITUDE_COPERNIC_ULISS
					UNION ALL
					SELECT DISTINCT CompteMagnitude, AjoutDeLignes, Signe2 as Signe, RefCategorieRWA2 as RefCategorieRWA, CompteCopernic2 as CompteCopernic, CodeProduit2 as CodeProduit, PCEC2 as PCEC, 2 as Ligne
					FROM dbo.HELIOS_PARAM_MAPPING_MAGNITUDE_COPERNIC_ULISS
					WHERE AjoutDeLignes = 'O' AND Signe2 IS NOT NULL
					UNION ALL
					SELECT DISTINCT CompteMagnitude, AjoutDeLignes, Signe3 as Signe, RefCategorieRWA3 as RefCategorieRWA, CompteCopernic3 as CompteCopernic, CodeProduit3 as CodeProduit, PCEC3 as PCEC, 3 as Ligne
					FROM dbo.HELIOS_PARAM_MAPPING_MAGNITUDE_COPERNIC_ULISS
					WHERE AjoutDeLignes = 'O' AND Signe3 IS NOT NULL
				) b
				ON b.CompteMagnitude = data.CompteMagnitude
				AND data.CodeProduit IS NULL
				AND b.RefCategorieRWA = 'OTH'
		ORDER BY 1,2,6,7;
	END TRY
	BEGIN CATCH
		-- En cas d'erreur lors du bloc précédent, on loggue
		SET @ErrorMssg = 'Erreur pendant l''agrégation: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
		RETURN @ErrorCode;
	END CATCH
	
	-- Traitement des créances en défaut
	BEGIN TRY
		IF OBJECT_ID('dbo.HELIOS_PREP_REPORTING_RWA_AGREGEE') is not null
			DROP TABLE dbo.HELIOS_PREP_REPORTING_RWA_AGREGEE
			
		/*SELECT *
		INTO dbo.HELIOS_PREP_REPORTING_RWA_AGREGEE
		FROM (
			SELECT PeriodeCloture, Source, CompteMagnitude, PartnerID, RefCategorieRWA, IdentifiantUniqueRetenu, RAF, LibelleOrigineOuPartnerID, SUM(MontantProratise) as MontantProratise, DateFinContrat, CompteCopernic, CodeProduit, PCEC
			FROM (
				SELECT
					CASE CodeProduit WHEN 'P1182' THEN 'CRCNET1' WHEN 'P0235' THEN 'CRCNET2' END as CompteMagnitude,
					CASE CodeProduit WHEN 'P1182' THEN 'CRCNET1' WHEN 'P0235' THEN 'CRCNET2' END as PartnerID,
					CASE CodeProduit WHEN 'P1182' THEN 'CREANCNET1CT' WHEN 'P0235' THEN 'CREANCNET2LT' END as IdentifiantUniqueRetenu,
					CASE CodeProduit WHEN 'P1182' THEN 'Créances en défaut néttées CT' WHEN 'P0235' THEN 'Créances en défaut néttées LT' END as LibelleOrigineOuPartnerID,
					'OTH' as RefCategorieRWA,
					'010' as Source,
					'2061' as PCEC,
					'0347768' as RAF,
					'BA2061051' as CompteCopernic,
					PeriodeCloture, MontantProratise, DateFinContrat, CodeProduit
				FROM dbo.HELIOS_PREP_REPORTING_RWA_NON_AGREGEE
				WHERE CodeProduit IN ('P0235','P1182') AND Source NOT IN (SELECT Source FROM dbo.HELIOS_PARAM_ENTREES_PERIMETRE)) temp
			GROUP BY Source, CompteMagnitude, PeriodeCloture, PartnerID, RefCategorieRWA, IdentifiantUniqueRetenu, RAF, LibelleOrigineOuPartnerID, DateFinContrat, CompteCopernic, CodeProduit, PCEC
			UNION ALL
			SELECT *
			FROM dbo.HELIOS_PREP_REPORTING_RWA_NON_AGREGEE
			WHERE NOT (CodeProduit IN ('P0235','P1182') AND Source NOT IN (SELECT Source FROM dbo.HELIOS_PARAM_ENTREES_PERIMETRE)) OR CodeProduit IS NULL) data
		ORDER BY 1,2,6,7;*/
		
		
		/*-- UPDATE 11/12/2017 - EXCLUSION DU P1182 pour le cas particulier CRCNET1
		SELECT *
		INTO dbo.HELIOS_PREP_REPORTING_RWA_AGREGEE
		FROM (
			SELECT PeriodeCloture, Source, CompteMagnitude, PartnerID, RefCategorieRWA, IdentifiantUniqueRetenu, RAF, LibelleOrigineOuPartnerID, SUM(MontantProratise) as MontantProratise, DateFinContrat, CompteCopernic, CodeProduit, PCEC
			FROM (
				SELECT
					CASE CodeProduit WHEN 'P0235' THEN 'CRCNET2' END as CompteMagnitude,
					CASE CodeProduit WHEN 'P0235' THEN 'CRCNET2' END as PartnerID,
					CASE CodeProduit WHEN 'P0235' THEN 'CREANCNET2LT' END as IdentifiantUniqueRetenu,
					CASE CodeProduit WHEN 'P0235' THEN 'Créances en défaut néttées LT' END as LibelleOrigineOuPartnerID,
					'OTH' as RefCategorieRWA,
					'010' as Source,
					'2061' as PCEC,
					'0347768' as RAF,
					'BA2061051' as CompteCopernic,
					PeriodeCloture, MontantProratise, DateFinContrat, CodeProduit
				FROM dbo.HELIOS_PREP_REPORTING_RWA_NON_AGREGEE
				WHERE CodeProduit IN ('P0235') AND Source NOT IN (SELECT Source FROM dbo.HELIOS_PARAM_ENTREES_PERIMETRE)) temp
			GROUP BY Source, CompteMagnitude, PeriodeCloture, PartnerID, RefCategorieRWA, IdentifiantUniqueRetenu, RAF, LibelleOrigineOuPartnerID, DateFinContrat, CompteCopernic, CodeProduit, PCEC
			UNION ALL
			SELECT *
			FROM dbo.HELIOS_PREP_REPORTING_RWA_NON_AGREGEE
			WHERE NOT (CodeProduit IN ('P0235') AND Source NOT IN (SELECT Source FROM dbo.HELIOS_PARAM_ENTREES_PERIMETRE)) OR CodeProduit IS NULL) data
		ORDER BY 1,2,6,7;*/
		
		--UPDATE 03/23/2018 - PLUS DE GESTION PARTICULIERE DU CRCNET2
		SELECT *
		INTO dbo.HELIOS_PREP_REPORTING_RWA_AGREGEE
		FROM dbo.HELIOS_PREP_REPORTING_RWA_NON_AGREGEE
	END TRY
	BEGIN CATCH
		-- En cas d'erreur lors du bloc précédent, on loggue
		SET @ErrorMssg = 'Erreur pendant le traitement des créances en défaut: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
		RETURN @ErrorCode;
	END CATCH
	
	-- Exécution du rapport de contrôle #9
	BEGIN TRY
		IF OBJECT_ID('dbo.HELIOS_PREP_REPORTING_RWA_AGREGEE') is not null
			BEGIN
				IF OBJECT_ID('dbo.HELIOS_TEMP_REPORT_CONTROLE9') is not null
					DROP TABLE dbo.HELIOS_TEMP_REPORT_CONTROLE9;

				SELECT
					PeriodeCloture, Source,
					CompteMagnitude,
					SUM(MontantAgrege) as MontantAgrege,
					SUM(MontantMagnitude) as MontantMagnitude
				INTO dbo.HELIOS_TEMP_REPORT_CONTROLE9
				FROM (
					SELECT PeriodeCloture, CompteMagnitude, Source, SUM(MontantProratise) as MontantAgrege, 0 as MontantMagnitude
					FROM dbo.HELIOS_PREP_REPORTING_RWA_AGREGEE
					GROUP BY PeriodeCloture, CompteMagnitude, Source
						UNION ALL
					SELECT
						PeriodeCloture,  
						--CASE
							--WHEN Source = '010' AND CompteMagnitude IN ('A20315','A20316','A20319','A20355') THEN 'CRCNET1'
							--WHEN Source = '010' AND CompteMagnitude IN ('A20400','A20401') THEN 'CRCNET2'
						--	ELSE CompteMagnitude
						--END as CompteMagnitude, 
						CompteMagnitude,Source, 0 as MontantAgrege, SUM(Montant) as MontantMagnitude
					FROM dbo.HELIOS_IMPORT_MAGNITUDE_RETRAITE
					GROUP BY PeriodeCloture, CompteMagnitude, Source
				) tmp
				GROUP BY PeriodeCloture, Source, CompteMagnitude;

				IF OBJECT_ID('dbo.HELIOS_REPORT_CONTROLE9') is not null
					DROP TABLE dbo.HELIOS_REPORT_CONTROLE9;

				SELECT PeriodeCloture, CompteMagnitude, Source,
					ROUND(SUM(MontantAgrege), 4) as MontantAgrege, ROUND(SUM(MontantMagnitude), 4) as MontantMagnitude, 
					ROUND(ABS(SUM(MontantAgrege) - SUM(MontantMagnitude)), 4) as Ecart,
					CASE
						WHEN Source IN (SELECT Source FROM dbo.HELIOS_PARAM_ENTREES_PERIMETRE) THEN NULL
						--WHEN CompteMagnitude = 'CRCNET1' THEN '= A20315 + A20316 + A20319 + A20355'
						--WHEN CompteMagnitude = 'CRCNET2' THEN '= A20400 + A20401'
						WHEN Source NOT IN ('010', 'Sous-Total') AND Source NOT IN (SELECT Source FROM dbo.HELIOS_PARAM_ENTREES_PERIMETRE) THEN 'Non extrait de Magnitude. Provient de Transparence'
						ELSE NULL
					END as Commentaires
				INTO dbo.HELIOS_REPORT_CONTROLE9
				FROM (
					SELECT
						PeriodeCloture, CompteMagnitude, Source,
						SUM(MontantAgrege) as MontantAgrege, SUM(MontantMagnitude) as MontantMagnitude, 
						ABS(SUM(MontantAgrege) - SUM(MontantMagnitude)) as Ecart
					FROM dbo.HELIOS_TEMP_REPORT_CONTROLE9
					GROUP BY PeriodeCloture, CompteMagnitude, Source
					UNION ALL
					SELECT
						PeriodeCloture, CompteMagnitude, 'Sous-Total' as Source,
						SUM(MontantAgrege) as MontantAgrege, SUM(MontantMagnitude) as MontantMagnitude, 
						ABS(SUM(MontantAgrege) - SUM(MontantMagnitude)) as Ecart
					FROM dbo.HELIOS_TEMP_REPORT_CONTROLE9
					GROUP BY PeriodeCloture, CompteMagnitude
				) data
				GROUP BY PeriodeCloture, CompteMagnitude, Source
				ORDER BY PeriodeCloture, CompteMagnitude, (CASE WHEN Source IS NULL THEN 1 ELSE 0 END), Source;

				IF OBJECT_ID('dbo.HELIOS_TEMP_REPORT_CONTROLE9') is not null
					DROP TABLE dbo.HELIOS_TEMP_REPORT_CONTROLE9;
			END
		
		IF OBJECT_ID('dbo.HELIOS_REPORT_CONTROLE9') is null
			BEGIN
				-- En cas d'erreur lors du bloc précédent, on loggue
				SET @ErrorMssg = 'Erreur lors de la génération du rapport #9 "Vérification des Montants": ' + ERROR_MESSAGE()
				SET @ErrorCode = 1012
				EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
				RETURN @ErrorCode;
			END
	END TRY
	BEGIN CATCH
		-- En cas d'erreur lors du bloc précédent, on loggue
		SET @ErrorMssg = 'Erreur lors de l''Insertion: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
		RETURN @ErrorCode;
	END CATCH
	
	-- Exécution du rapport de contrôle #10
	BEGIN TRY
		IF OBJECT_ID('dbo.HELIOS_PREP_REPORTING_RWA_AGREGEE') is not null
			BEGIN
				IF OBJECT_ID('dbo.HELIOS_REPORT_CONTROLE10') is not null
					DROP TABLE dbo.HELIOS_REPORT_CONTROLE10;
				
				SELECT *
				INTO dbo.HELIOS_REPORT_CONTROLE10
				FROM dbo.HELIOS_PREP_REPORTING_RWA_AGREGEE
				WHERE CompteCopernic IS NULL OR CodeProduit IS NULL OR PCEC IS NULL;
			END
		
		IF OBJECT_ID('dbo.HELIOS_REPORT_CONTROLE10') is null
			BEGIN
				-- En cas d'erreur lors du bloc précédent, on loggue
				SET @ErrorMssg = 'Erreur lors de la génération du rapport #10 "Champs Copernic vides": ' + ERROR_MESSAGE()
				SET @ErrorCode = 1010
				EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
				RETURN @ErrorCode;
			END
	END TRY
	BEGIN CATCH
		-- En cas d'erreur lors du bloc précédent, on loggue
		SET @ErrorMssg = 'Erreur lors de l''Insertion: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
		RETURN @ErrorCode;
	END CATCH
	
	-- Finalisation du traitement
	BEGIN TRY
		EXEC sp_executesql N'SELECT * FROM dbo.HELIOS_PREP_REPORTING_RWA_AGREGEE';
		SET @NbLignes = @@ROWCOUNT
		-- Si la table finale existe et qu'elle contient des données
		IF OBJECT_ID('dbo.HELIOS_PREP_REPORTING_RWA_AGREGEE') is not null AND @NbLignes <> 0
			BEGIN
				-- On loggue la réussite
				SET @ErrorMssg = CAST(@NbLignes as nvarchar(5)) + ' lignes mises à jour dans la table "dbo.HELIOS_PREP_REPORTING_RWA_AGREGEE".'
				SET @ErrorCode = 0
				EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 0, @ErrorCode, @ErrorMssg
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
				RETURN @ErrorCode;
			END
		ELSE
			-- ... ou l'échec
			BEGIN
				SET @ErrorMssg = CAST(@NbLignes as nvarchar(5)) + ' lignes mises à jour dans la table "dbo.HELIOS_PREP_REPORTING_RWA_AGREGEE".'
				SET @ErrorCode = 1005
				EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
				RETURN @ErrorCode;
			END
	END TRY
	BEGIN CATCH
		-- En cas d'erreur lors du bloc précédent, on loggue
		SET @ErrorMssg = 'Erreur pendant la finalisation: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
		RETURN @ErrorCode;
	END CATCH
END
GO
