USE [RWA]
GO
/****** Object:  StoredProcedure [dbo].[USP_HELIOS_PREP_EXPORT_FICHIER_ENRICHI]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_HELIOS_PREP_EXPORT_FICHIER_ENRICHI]
	@Process nvarchar(256),
	@PeriodeCloture nvarchar(6)
AS
BEGIN
	SET NOCOUNT ON;
	/* 
	Déclaration des variables
		ErrorMssg : message de retour à afficher ou journaliser
		ErrorCode : code de retour à afficher ou journaliser
		NbLignes : nombre de lignes retournées par la commande SqlCommand
	*/
	DECLARE @ErrorMssg nvarchar(3072),
			@ErrorCode nvarchar(1024),
			@NbLignes int = 0
	
	IF @Process IS NULL
		SET @Process = 'RETRAITEMENT REPORTING RWA'
		
	-- Avant de démarrer, on nettoie de la table des logs les lignes correspondantes au @Process actuel
	DELETE FROM dbo.HELIOS_LOG_TRAITEMENTS WHERE Process = @Process
	
	-- Récupération de la période actuelle
	IF @PeriodeCloture IS NULL
		SET @PeriodeCloture = RIGHT('00' + CAST(MONTH(GETDATE())-1 as varchar(2)), 2) + RIGHT('0000' + CAST(YEAR(GETDATE()) as varchar(4)), 4)
	
	-- Traitement d'agrégation et d'enrichissement des données
	BEGIN TRY
		UPDATE dbo.HELIOS_ONGLET_CONTRATS
		SET RAFTiers = data.RAF
		FROM (SELECT DISTINCT Source, RAF FROM dbo.HELIOS_SEED_MONEY) data
		WHERE LEFT(HELIOS_ONGLET_CONTRATS.IdentifiantContrat, 3) = data.Source
			AND data.RAF IS NOT NULL
			--UPDATE 09/07/2019 - Fait pour bien remplacer les RAF de la sources 111 par la RAF générique
			--UPDATE 07/04/2020 - Retour à la situation normale
			--AND Source NOT IN ('082')
			AND Source NOT IN (SELECT DISTINCT Source FROM HELIOS_PARAM_CLO);
			
		SET @NbLignes = @@ROWCOUNT
	END TRY
	BEGIN CATCH
		-- En cas d'erreur lors du bloc précédent, on loggue
		SET @ErrorMssg = 'Erreur lors de l''Update: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
		RETURN @ErrorCode;
	END CATCH
	
	-- Finalisation du traitement
	BEGIN TRY
		-- Si la table finale existe et qu'elle contient des données
		IF OBJECT_ID('dbo.HELIOS_ONGLET_CONTRATS') is not null AND @NbLignes <> 0
			BEGIN
				-- On loggue la réussite
				SET @ErrorMssg = CAST(@NbLignes as nvarchar(5)) + ' lignes mises à jour dans la table "dbo.HELIOS_ONGLET_CONTRATS".'
				SET @ErrorCode = 0
				EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 0, @ErrorCode, @ErrorMssg
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
				RETURN @ErrorCode;
			END
		ELSE
			-- ... ou l'échec
			BEGIN
				SET @ErrorMssg = CAST(@NbLignes as nvarchar(5)) + ' lignes mises à jour dans la table "dbo.HELIOS_ONGLET_CONTRATS".'
				SET @ErrorCode = 1005
				EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
				RETURN @ErrorCode;
			END
	END TRY
	BEGIN CATCH
		-- En cas d'erreur lors du bloc précédent, on loggue
		SET @ErrorMssg = 'Erreur lors de la finalisation: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
		RETURN @ErrorCode;
	END CATCH
END
GO
