USE [RWA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[USP_HELIOS_TRAITEMENT_REPORTING_RWA]
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @Process nvarchar(256) = 'REPORTING RWA',
			@ClosurePeriod nvarchar(6),
			-- Message logging variables
			@ErrorMessage nvarchar(3072),
			@ErrorCode nvarchar(1024),
			@ReturnValue int

	
	-- 1) Delete logs related to the previous execution of this process
	DELETE FROM dbo.HELIOS_LOG_TRAITEMENTS
	WHERE Process = @Process;
	
	-- 2) Check if holdings data has been loaded and get closure date 
	BEGIN TRY
		IF OBJECT_ID('dbo.HELIOS_IMPORT_FICHIER_ENRICHI_BRUT') IS NOT NULL
			BEGIN
				IF (SELECT COUNT(*) FROM dbo.HELIOS_IMPORT_FICHIER_ENRICHI_BRUT) > 0
					SELECT @ClosurePeriod = PeriodeCloture FROM dbo.HELIOS_IMPORT_FICHIER_ENRICHI_BRUT GROUP BY PeriodeCloture
				ELSE
					BEGIN
						SET @ErrorMessage = 'Le Fichier Enrichi n''a pas été importé. La table est vide.'
						SET @ErrorCode = 1000
						EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @ClosurePeriod, null, 2, @ErrorCode, @ErrorMessage
						PRINT '(' + @ErrorCode + ') - ' + @ErrorMessage
						RETURN @ErrorCode;
					END
			END
		ELSE
			BEGIN
				SET @ErrorMessage = 'Le Fichier Enrichi n''a pas été importé. La table n''existe pas.'
				SET @ErrorCode = 1002
				EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @ClosurePeriod, null, 2, @ErrorCode, @ErrorMessage
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMessage
				RETURN @ErrorCode;
			END
	END TRY
	BEGIN CATCH
		SET @ErrorMessage = 'Erreur pendant la vérification du fichier enrichi brut: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @ClosurePeriod, null, 2, @ErrorCode, @ErrorMessage
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMessage
		RETURN @ErrorCode;
	END CATCH
	
	-- 3) Check if closure date is null
	IF @ClosurePeriod IS NULL
		BEGIN
			-- Get latest closure date
			SELECT @ClosurePeriod = CAST(ClosureDateMonthYearInt AS nvarchar(6)) -- TODO ok to remove this and pass null value?
			FROM dbo.UFN_LATEST_QUARTERLY_CLOSURE_DATE();

			SET @ErrorMessage = 'La période de cloture n''a pas pu être retrouvée.'
			SET @ErrorCode = 1009
			EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @ClosurePeriod, null, 2, @ErrorCode, @ErrorMessage
			PRINT '(' + @ErrorCode + ') - ' + @ErrorMessage
			RETURN @ErrorCode;
		END
	
	-- 4) Start enrichment of holdings
	BEGIN TRY
		-- 4.1) Launch Magnitude import
		EXEC @ReturnValue = dbo.USP_HELIOS_IMPORT_MAGNITUDE 'IMPORT MAGNITUDE', @ClosurePeriod
		IF @ReturnValue <> 0 -- processing failed
			BEGIN
				SET @ErrorMessage = 'L''Import Magnitude a échoué.'
				SET @ErrorCode = 1008
				EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @ClosurePeriod, null, 2, @ErrorCode, @ErrorMessage
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMessage
				RETURN @ErrorCode;
			END
		
		-- 4.2) Launch Magnitude data reprocessing and update table Seed Money
		EXEC @ReturnValue = dbo.USP_HELIOS_TRAITEMENT_MAGNITUDE 'RETRAITEMENT MAGNITUDE', @ClosurePeriod
		IF @ReturnValue <> 0
			BEGIN
				SET @ErrorMessage = 'Le retraitement Magnitude a échoué.'
				SET @ErrorCode = 1008
				EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @ClosurePeriod, null, 2, @ErrorCode, @ErrorMessage
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMessage
				RETURN @ErrorCode;
			END
		
		-- 4.3) Le retraitement Magnitude a été effectué, lancement du retraitement des données Seed Money via le Fichier Enrichi TODO
		EXEC @ReturnValue = dbo.USP_HELIOS_TRAITEMENT_SEED_MONEY_VIA_FICHIER_ENRICHI 'ENRICHISSEMENT SEED MONEY #1', @ClosurePeriod
		IF @ReturnValue <> 0
			BEGIN
				SET @ErrorMessage = 'Le retraitement des données Seed Money via le Fichier Enrichi a échoué.'
				SET @ErrorCode = 1008
				EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @ClosurePeriod, null, 2, @ErrorCode, @ErrorMessage
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMessage
				RETURN @ErrorCode;
			END
		
		-- 4.4)Le retraitement des données Seed Money a été effectué, lancement du retraitement des données du Fichier Enrichi TODO
		EXEC @ReturnValue = dbo.USP_HELIOS_TRAITEMENT_FICHIER_ENRICHI 'ENRICHISSEMENT FICHIER ENRICHI', @ClosurePeriod
		IF @ReturnValue <> 0
			BEGIN
				SET @ErrorMessage = 'Le retraitement des données du Fichier Enrichi a échoué.'
				SET @ErrorCode = 1008
				EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @ClosurePeriod, null, 2, @ErrorCode, @ErrorMessage
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMessage
				RETURN @ErrorCode;
			END
		
		-- 4.5) Le retraitement des données d'entrée a été effectué, lancement de leur agrégation pour la préparation au Reporting RWA TODO
		EXEC @ReturnValue = dbo.USP_HELIOS_TRAITEMENT_PREP_REPORTING_RWA 'PREPARATION REPORTING RWA', @ClosurePeriod
		IF @ReturnValue <> 0
			BEGIN
				SET @ErrorMessage = 'La préparation au Reporting RWA a échoué.'
				SET @ErrorCode = 1008
				EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @ClosurePeriod, null, 2, @ErrorCode, @ErrorMessage
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMessage
				RETURN @ErrorCode;
			END
		
		-- 4.6) La préparation au Reporting RWA effectuée, lancement de la génération de l'onglet Contrats TODO
		EXEC @ReturnValue = dbo.USP_HELIOS_TRAITEMENT_ONGLET_CONTRATS 'GENERATION ONGLET CONTRATS', @ClosurePeriod
		IF @ReturnValue <> 0
			BEGIN
				SET @ErrorMessage = 'La génération de l''onglet Contrats a échoué.'
				SET @ErrorCode = 1008
				EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @ClosurePeriod, null, 2, @ErrorCode, @ErrorMessage
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMessage
				RETURN @ErrorCode;
			END
		
		-- 4.7) Lancement de la génération de l'onglet Encours TODO
		EXEC @ReturnValue = dbo.USP_HELIOS_TRAITEMENT_ONGLET_ENCOURS_PCC 'GENERATION ONGLET ENCOURS PCC', @ClosurePeriod
		IF @ReturnValue <> 0
			BEGIN
				SET @ErrorMessage = 'La génération de l''onglet Encours a échoué.'
				SET @ErrorCode = 1008
				EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @ClosurePeriod, null, 2, @ErrorCode, @ErrorMessage
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMessage
				RETURN @ErrorCode;
			END
		
		-- 4.8) Lancement de la génération de l'onglet Titres TODO
		EXEC @ReturnValue = dbo.USP_HELIOS_TRAITEMENT_ONGLET_TITRES 'GENERATION ONGLET TITRES', @ClosurePeriod
		IF @ReturnValue <> 0
			BEGIN
				SET @ErrorMessage = 'La génération de l''onglet Titres a échoué.'
				SET @ErrorCode = 1008
				EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @ClosurePeriod, null, 2, @ErrorCode, @ErrorMessage
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMessage
				RETURN @ErrorCode;
			END
		
		-- 4.9) Lancement du retraitement du Reporting RWA avant exports finaux TODO
		EXEC @ReturnValue = dbo.USP_HELIOS_PREP_EXPORT_FICHIER_ENRICHI 'RETRAITEMENT REPORTING RWA', @ClosurePeriod
		IF @ReturnValue <> 0
			BEGIN
				SET @ErrorMessage = 'Le retraitement du Reporting RWA a échoué.'
				SET @ErrorCode = 1008
				EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @ClosurePeriod, null, 2, @ErrorCode, @ErrorMessage
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMessage
				RETURN @ErrorCode;
			END
			
		-- 4.10) Lancement des exports finaux TODO
		EXEC @ReturnValue = dbo.USP_HELIOS_EXPORT_FICHIER_EXPORT 'EXPORT REPORTING RWA', @ClosurePeriod
		IF @ReturnValue <> 0
			BEGIN
				SET @ErrorMessage = 'L''export Reporting RWA a échoué.'
				SET @ErrorCode = 1008
				EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @ClosurePeriod, null, 2, @ErrorCode, @ErrorMessage
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMessage
				RETURN @ErrorCode;
			END
			
		-- 4.11) Les onglets générés, lancement de la préparation à la Synthèse RWA TODO
		EXEC @ReturnValue = dbo.USP_HELIOS_TRAITEMENT_PREP_SYNTHESE_RWA 'PREPARATION SYNTHESE RWA', @ClosurePeriod
		IF @ReturnValue <> 0
			BEGIN
				SET @ErrorMessage = 'La copie des données de la période précédente dans la table de préparation de la synthèse à échoué ). '
				SET @ErrorCode = 1008
				EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', 'PREPARATION SYNTHESE RWA', @ClosurePeriod, null, 2, @ErrorCode, @ErrorMessage
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMessage
				RETURN @ErrorCode;
			END
			
		-- 4.12) Les onglets générés, lancement de la préparation à la Synthèse RWA TODO
		EXEC @ReturnValue = dbo.USP_HELIOS_TRAITEMENT_PREP_SYNTHESE_RWA_RETRIEVE_CONSTANT_AMOUNT 'PREPARATION SYNTHESE RWA - RETRIEVE DES DONNEES A CHANGE CONSTAT', @ClosurePeriod
		IF @ReturnValue <> 0
			BEGIN
				SET @ErrorMessage = 'La table de consolidation T-1 à change constant n''existe pas (NON BLOQUANT). '
				SET @ErrorCode = 1008
				EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', 'PREPARATION SYNTHESE RWA', @ClosurePeriod, null, 1, @ErrorCode, @ErrorMessage
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMessage
				RETURN @ErrorCode;
			END
	END TRY
	BEGIN CATCH
		SET @ErrorMessage = 'Erreur pendant les traitements: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @ClosurePeriod, null, 2, @ErrorCode, @ErrorMessage
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMessage
		RETURN @ErrorCode;
	END CATCH
	
	-- Log successful processing
	SET @ErrorMessage = 'Le Traitement de Reporting RWA a été réalisé avec succès.'
	SET @ErrorCode = 0
	EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @ClosurePeriod, null, 0, @ErrorCode, @ErrorMessage
	PRINT '(' + @ErrorCode + ') - ' + @ErrorMessage
	RETURN @ErrorCode;
END
GO