USE [RWA]
GO
/****** Object:  StoredProcedure [dbo].[USP_HELIOS_IMPORT_MAGNITUDE]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_HELIOS_IMPORT_MAGNITUDE]
	@Process nvarchar(256),
	@PeriodeCloture nvarchar(6)
AS
BEGIN
	SET NOCOUNT ON;
	/* 
	Déclaration des variables
		month : mois correspondant à la Période actuelle
		year : année correspondant à la Période actuelle
		day : dernier jour du mois de cloture
		DateArrete : Date complète au dernier jour de la Période de Cloture
		consotable : ???
		ErrorMssg : message de retour à afficher ou journaliser
		ErrorCode : code de retour à afficher ou journaliser
	*/
	DECLARE @month integer,
			@year integer,
			@day integer,
			@DateArrete date,
			@DateArreteString nvarchar(10),
			@consotable varchar(10),
			@ErrorMssg nvarchar(3072),
			@ErrorCode nvarchar(1024),
			@NbLignes int = 0
	
	IF @Process IS NULL
		SET @Process = 'IMPORT MAGNITUDE'
	
	-- Avant de démarrer, ON nettoie de la table des logs les lignes correspondantes au @Process actuel
	DELETE FROM dbo.HELIOS_LOG_IMPORT_EXPORT WHERE Process = @Process
	
	-- Récupération de la période actuelle
	BEGIN TRY
		SET @month = MONTH(GETDATE())
		SET @year = YEAR(GETDATE())
		IF @month <= 3
			BEGIN
				SET @month = 12
				SET @year = @year - 1
			END
		ELSE IF @month <= 6 SET @month = 3
		ELSE IF @month <= 9 SET @month = 6
		ELSE IF @month <= 12 SET @month = 9
		SET @PeriodeCloture = RIGHT('00' + CAST(@month as nvarchar), 2) + RIGHT('0000' + CAST(@year as nvarchar), 4)
		IF OBJECT_ID('dbo.HELIOS_IMPORT_FICHIER_ENRICHI_BRUT') IS NOT NULL
			BEGIN
				SELECT @NbLignes = COUNT(*) FROM dbo.HELIOS_IMPORT_FICHIER_ENRICHI_BRUT;
				IF @NbLignes > 0
					SELECT @PeriodeCloture = PeriodeCloture FROM dbo.HELIOS_IMPORT_FICHIER_ENRICHI_BRUT GROUP BY PeriodeCloture
			END
	END TRY
	BEGIN CATCH
	END CATCH
	
	-- Génération de la date d'arrêté
	SET @month = LEFT(@PeriodeCloture, 2)
	SET @year = RIGHT(@PeriodeCloture, 4)
	SET @DateArrete = DATEADD(month, ((@year - 1900) * 12) + @month, -1)
	SET @DateArrete = DATEADD(DAY,3,@DateArrete)
	SET @DateArreteString = CONVERT(nvarchar(10), @DateArrete, 103)
	
	--Suppression du précédent contenu de la table
	DELETE FROM dbo.HELIOS_IMPORT_MAGNITUDE_BRUT
	
	-- Recherche de la table cloture
--	BEGIN TRY
--		SELECT @consotable = convert(varchar(10), id)
--		FROM [BFCDBBOSP02].[FCPS].dbo.ct_coref
--		WHERE
--			scope		= (SELECT id FROM [BFCDBBOSP02].[FCPS].dbo.ct_scope_code	WHERE name = 'NATAMFIN')
--			AND phase	= (SELECT id FROM [BFCDBBOSP02].[FCPS].dbo.ct_phase		WHERE name = 'FSAC')
--			AND curncy	= (SELECT id FROM [BFCDBBOSP02].[FCPS].dbo.ct_curncy 		WHERE name = 'EUR')
--			AND variant	= (SELECT id FROM [BFCDBBOSP02].[FCPS].dbo.ct_variant		WHERE name = '3')
--			AND updper	= (LEFT(@year, 4) - 1900) * 262144 + RIGHT(@month, 2) * 8192
--		
--		IF @consotable IS NULL
--			BEGIN
--				SET @ErrorMssg = 'Erreur: Table Clôture non trouvée.'
--				SET @ErrorCode = 1002
--				EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
--				PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
--				RETURN @ErrorCode;
--			END
--	END TRY
--	BEGIN CATCH
--		-- En cas d'erreur lors du bloc précédent, ON loggue
--		SET @ErrorMssg = 'Erreur lors de la recherche de la Table Cloture: ' + ERROR_MESSAGE()
--		SET @ErrorCode = ERROR_NUMBER()
--		EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
--		PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
--		RETURN @ErrorCode;
--	END CATCH
	
	BEGIN TRY
		--Import des données MAGNITUDE
		-- CAS PARTICULIER 21/11/2016 EXCLUSION DU MONTANT HORS GROUPE POUR LE COMPTE A20500, REPORTING UNIT RU217 et PARTNER ID RU999
		EXEC('INSERT INTO dbo.HELIOS_IMPORT_MAGNITUDE_BRUT
			SELECT * FROM (
				SELECT 
					''' + @PeriodeCloture + ''' AS PeriodeCloture,
					d.name AS ReportingUnit,
					CASE WHEN g.Source IS NULL THEN ''010'' ELSE g.Source END as Source,
					b.name as CompteMagnitude, 
					CASE WHEN a.DetailsParPartnerID = ''N'' THEN a.PartnerID ELSE e.name END AS PartnerID, 
					CASE WHEN a.DetailsParPartnerID = ''N'' THEN a.LibellePartnerID ELSE e.ldesc1 END AS LibellePartnerID, 
					CASE WHEN a.DetailsParPartnerID = ''N'' THEN (SELECT RefCategorieRWA FROM dbo.HELIOS_PARAM_MAPPING_TITRES_MAGNITUDE WHERE PartnerID=a.PartnerID) ELSE h.RefCategorieRWA END As RefCategorieRWA,
					b.name + LEFT(e.name, 6) as IdentifiantUniqueRetenu,
					CASE
						WHEN a.DetailsParPartnerID = ''N'' THEN a.RAF
						WHEN h.RAF IS NOT NULL THEN h.RAF
						ELSE ''0347768''
					END AS RAF, 
					SUM(cast(c.consamount as float) * 1000) AS Montant,
					DATEADD(month, 3, CONVERT(DATETIME, ''' + @DateArreteString + ''', 103)) as DateFinContrat
				FROM dbo.HELIOS_PARAM_COMPTES_MAGNITUDE_A_EXTRAIRE a
					LEFT JOIN dbo.BFC_ct_account b ON b.name = a.CompteMagnitude
					LEFT JOIN dbo.BFC_ct_conso c ON c.accnt = b.id
					LEFT JOIN dbo.BFC_ct_entity d ON d.id = c.entity
					LEFT JOIN dbo.BFC_ct_entity e ON e.id = c.partner
					LEFT JOIN dbo.HELIOS_PARAM_ENTREES_PERIMETRE g ON (g.ReportingUnit LIKE ''RU%'' AND g.ReportingUnit = d.name) OR (g.ReportingUnit LIKE ''IN%'' AND g.ReportingUnit = e.name)
					LEFT JOIN (SELECT DISTINCT PartnerID, RefCategorieRWA, RAF FROM dbo.HELIOS_PARAM_MAPPING_TITRES_MAGNITUDE) h ON h.PartnerID = e.name
				WHERE
					c.flow = ''24''
					AND c.ct_0000_at = ''0''
					AND c.ct_0000_ga = ''0''
					AND c.ct_0000_ct = ''0''
					AND c.ct_0000_al = ''0''
					AND c.ct_0000_at2 = ''0''
					AND c.ct_0000_tc = ''0''
					AND c.ct_0000_pt = ''0''
					AND c.consamount <> ''0''
					AND c.ctshare = ''0''
					AND NOT (e.name = ''RU999'' AND d.name = ''RU217'' AND b.name = ''A20500'')
				GROUP BY d.name, b.name, e.name, e.ldesc1, h.RAF, g.Source, h.RefCategorieRWA, a.DetailsParPartnerID, a.RAF, a.PartnerID, a.LibellePartnerID
			) data
			WHERE
				PartnerID IS NOT NULL
				AND RAF IS NOT NULL
				AND Montant NOT BETWEEN -0.1 AND 0.1
			ORDER BY CompteMagnitude;');
			
		--10/04/2017 - EXCLUSION DU PARTNERID HB017 POUR LE COMPTE O91040 (Natixis - engagement sur activité cessions temporaires de titres)
		-- CF MAIL DE RITA MAGDALENA DU 10/04/2017 16h20
		--Idriss, Thibaut,
		--L’écart relevé sur le montant Hors bilan du compte O91040 entre le fichier pour ULISS et la synthèse HB excel pour Copernic correspond à des encours de Horsbilan envers Natixis (264 M€ au 31-03-2017).
		--Il n’y a pas de process intercos sur les positions HB chez Natixis. De ce fait, Stéphane déclare dans Copernic les positions HB sans les positions vis-à-vis de Natixis (code invest HB017).
		--Pour l’extraction RWA, il faudrait donc exclure les codes HB017 des positions de hors bilan.
		--Merci d’avance
		--Cordialement
		--Rita MAGDALENA
		
		--DELETE FROM dbo.HELIOS_IMPORT_MAGNITUDE_BRUT
		--WHERE CompteMagnitude='O91040'
		--AND PartnerID='HB017'
		
		
		
		--11/29/2017 - Suppression des données de l'extraction Magnitude correspondant aux couples ComptesMagnitude/PartnersID
		-- de la table HELIOS_PARAM_PARTNERS_A_EXCLURE_PAR_COMPTE_MAGNITUDE
		DELETE FROM dbo.HELIOS_IMPORT_MAGNITUDE_BRUT
		WHERE EXISTS(
		SELECT CompteMagnitude,PartnerID 
		FROM HELIOS_PARAM_PARTNERS_A_EXCLURE_PAR_COMPTE_MAGNITUDE
		WHERE HELIOS_PARAM_PARTNERS_A_EXCLURE_PAR_COMPTE_MAGNITUDE.CompteMagnitude=HELIOS_IMPORT_MAGNITUDE_BRUT.CompteMagnitude
		AND HELIOS_PARAM_PARTNERS_A_EXCLURE_PAR_COMPTE_MAGNITUDE.PartnerID=HELIOS_IMPORT_MAGNITUDE_BRUT.PartnerID
		)
		
		--03/28/2018 : Remplacement des données correspondants aux comptes à netter
		UPDATE HELIOS_IMPORT_MAGNITUDE_BRUT
		SET 
			CompteMagnitude = A.CompteMagnitudeRemplacement, 
			PartnerID = A.PartnerID, 
			LibellePartnerID = A.LibellePartnerID, 
			IdentifiantUniqueRetenu = A.CompteMagnitudeRemplacement+A.PartnerID, 
			RAF = A.RAF,
			RefCategorieRWA=(SELECT RefCategorieRWA FROM HELIOS_PARAM_MAPPING_TITRES_MAGNITUDE WHERE PartnerID=HELIOS_IMPORT_MAGNITUDE_BRUT.PartnerID)
		FROM HELIOS_PARAM_COMPTES_MAGNITUDE_A_EXTRAIRE A
		WHERE A.CompteANetter=1
		AND A.CompteMagnitude=HELIOS_IMPORT_MAGNITUDE_BRUT.CompteMagnitude
		
		--01/10/2019 : Suppression montant PRELT partenaire NULL
		DELETE FROM HELIOS_IMPORT_MAGNITUDE_BRUT
		WHERE CompteMagnitude IN ('A20401','A20405')
		AND PartnerID='DTX'
		AND IdentifiantUniqueRetenu IS NULL
		
	END TRY
	BEGIN CATCH
		-- En cas d'erreur lors du bloc précédent, ON loggue
		SET @ErrorMssg = 'Erreur lors de l''importation: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
		RETURN @ErrorCode;
	END CATCH
	
	-- On loggue la réussite
	SET @ErrorMssg = 'Import Magnitude réalisé avec succès.'
	SET @ErrorCode = 0
	EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 0, @ErrorCode, @ErrorMssg
	PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
	RETURN @ErrorCode;
END
GO
