USE [RWA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[USP_HELIOS_TRAITEMENT_MAGNITUDE]
	@Process nvarchar(256),
	@ClosureDate nvarchar(6)
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE -- Message logging variables
			@ErrorMessage nvarchar(3072),
			@ErrorCode nvarchar(1024),
			@LineCount int

	-- Set default parameter values if none are passed	
	IF @Process IS NULL
		SET @Process = 'RETRAITEMENT MAGNITUDE'
	
	IF @ClosureDate IS NULL
		SELECT @ClosureDate = ClosurePeriodMonthYearChar
		FROM dbo.UFN_LATEST_QUARTERLY_CLOSURE_DATE();

	-- 1) Delete logs related to the previous execution of this process
	DELETE FROM dbo.HELIOS_LOG_TRAITEMENTS WHERE Process IN (@Process, 'ENRICHISSEMENT SEED MONEY #2')
	
	-- 2) Aggregation of data
	BEGIN TRY
		IF OBJECT_ID('dbo.HELIOS_TEMP_IMPORT_MAGNITUDE_RETRAITE') IS NOT NULL
			DROP TABLE dbo.HELIOS_TEMP_IMPORT_MAGNITUDE_RETRAITE;
			
		CREATE TABLE dbo.HELIOS_TEMP_IMPORT_MAGNITUDE_RETRAITE(
			PeriodeCloture nvarchar(6) NOT NULL,
			Source nvarchar(3) NULL,
			CompteMagnitude nvarchar(7) NULL,
			PartnerID nvarchar(15) NULL,
			LibellePartnerID nvarchar(255) NULL,
			RefCategorieRWA nvarchar(3) NULL,
			IdentifiantUniqueRetenu varchar(13) NULL,
			RAF nvarchar(7) NULL,
			Montant float NULL,
			DateFinContrat date NULL
		);
		
		INSERT INTO dbo.HELIOS_TEMP_IMPORT_MAGNITUDE_RETRAITE
		SELECT PeriodeCloture, Source, CompteMagnitude, PartnerID, LibellePartnerID, RefCategorieRWA, NULL, RAF, SUM(Montant), DateFinContrat
		FROM dbo.HELIOS_IMPORT_MAGNITUDE_BRUT
		GROUP BY PeriodeCloture, Source, CompteMagnitude, PartnerID, LibellePartnerID, RefCategorieRWA, RAF, DateFinContrat;
	END TRY
	BEGIN CATCH
		SET @ErrorMessage = 'Erreur lors de l''agrégation: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @ClosureDate, null, 2, @ErrorCode, @ErrorMessage
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMessage
		RETURN @ErrorCode;
	END CATCH
	
	-- 3) Update table HELIOS_SEED_MONEY for each partner and account
	BEGIN TRY
		UPDATE dbo.HELIOS_SEED_MONEY
		SET HELIOS_SEED_MONEY.MontantSeedMoney = data.MontantSeedMoney
		FROM (
			SELECT a.CompteMagnitude, a.PartnerID, SUM(a.Montant) as MontantSeedMoney
			FROM dbo.HELIOS_TEMP_IMPORT_MAGNITUDE_RETRAITE a
			INNER JOIN dbo.HELIOS_SEED_MONEY b ON b.PartnerID = a.PartnerID
											   AND a.CompteMagnitude = b.CompteMagnitude
			GROUP BY a.CompteMagnitude, a.PartnerID) data
		WHERE HELIOS_SEED_MONEY.PartnerID = data.PartnerID
		  AND HELIOS_SEED_MONEY.CompteMagnitude = data.CompteMagnitude;
	END TRY
	BEGIN CATCH
		SET @ErrorMessage = 'Erreur lors de l''enrichissement SEED MONEY: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', 'ENRICHISSEMENT SEED MONEY #2', @ClosureDate, null, 2, @ErrorCode, @ErrorMessage
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMessage
		RETURN @ErrorCode;
	END CATCH

	-- 4) Delete lines related to lookthrough funds to avoid duplicate data after having updated table HELIOS_SEED_MONEY using their data
	BEGIN TRY
		DELETE FROM dbo.HELIOS_TEMP_IMPORT_MAGNITUDE_RETRAITE
		WHERE CompteMagnitude+PartnerID IN (SELECT DISTINCT CompteMagnitude+PartnerID FROM dbo.HELIOS_SEED_MONEY)
	END TRY
	BEGIN CATCH
		SET @ErrorMessage = 'Erreur lors de la suppression des couples Comptes/PartenerID de la table Seed Monet Transparence: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'DELETE', @Process, @ClosureDate, null, 2, @ErrorCode, @ErrorMessage
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMessage
		RETURN @ErrorCode;
	END CATCH

	-- 5) Delete lines with valuations close to 0
	BEGIN TRY
		DELETE FROM dbo.HELIOS_TEMP_IMPORT_MAGNITUDE_RETRAITE
		WHERE Montant BETWEEN -0.1 AND 0.1;
	END TRY
	BEGIN CATCH
		SET @ErrorMessage = 'Erreur lors de la suppression des montants compris entre -0.1 et 0.1: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'DELETE', @Process, @ClosureDate, null, 2, @ErrorCode, @ErrorMessage
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMessage
		RETURN @ErrorCode;
	END CATCH
	
	-- 6) Generation of retained unique identifier
	BEGIN TRY
		-- Save and empty table HELIOS_IMPORT_MAGNITUDE_RETRAITE
		INSERT INTO dbo.HELIOS_IMPORT_MAGNITUDE_RETRAITE_OLD 
		SELECT * FROM dbo.HELIOS_IMPORT_MAGNITUDE_RETRAITE;
		
		DELETE FROM dbo.HELIOS_IMPORT_MAGNITUDE_RETRAITE;
		
		INSERT INTO dbo.HELIOS_IMPORT_MAGNITUDE_RETRAITE
		SELECT * FROM (
			SELECT
				a.PeriodeCloture, a.Source, a.CompteMagnitude, a.PartnerID, a.LibellePartnerID, a.RefCategorieRWA,
				LEFT(b.IdentifiantUniqueRetenu, 11) + CONVERT(varchar, row_number() OVER (ORDER BY b.IdentifiantUniqueRetenu)) as IdentifiantUniqueRetenu,
				a.RAF, a.Montant, a.DateFinContrat
			FROM dbo.HELIOS_TEMP_IMPORT_MAGNITUDE_RETRAITE a
				INNER JOIN (
					SELECT Source, IdentifiantUniqueRetenu, LEN(IdentifiantUniqueRetenu) as longueur
					FROM (
						select Source, IdentifiantUniqueRetenu, COUNT(1) as cnt
						from (select Source, CompteMagnitude + LEFT(PartnerID, 6) as IdentifiantUniqueRetenu from dbo.HELIOS_TEMP_IMPORT_MAGNITUDE_RETRAITE) tmp
						group by Source, IdentifiantUniqueRetenu) tmp2
					where cnt > 1) b
				ON a.Source = b.Source AND a.CompteMagnitude + LEFT(a.PartnerID, 6) = b.IdentifiantUniqueRetenu
			UNION ALL
			SELECT 
				PeriodeCloture, Source, CompteMagnitude, PartnerID, LibellePartnerID, RefCategorieRWA,
				CompteMagnitude + LEFT(PartnerID, 6) as IdentifiantUniqueRetenu,
				RAF, Montant, DateFinContrat
			FROM dbo.HELIOS_TEMP_IMPORT_MAGNITUDE_RETRAITE
			WHERE Source + CompteMagnitude + LEFT(PartnerID, 6) NOT IN (
					select Source + IdentifiantUniqueRetenu from (
						select Source, IdentifiantUniqueRetenu, COUNT(1) as cnt
						from (select Source, CompteMagnitude + LEFT(PartnerID, 6) as IdentifiantUniqueRetenu from dbo.HELIOS_TEMP_IMPORT_MAGNITUDE_RETRAITE) tmp
						group by Source, IdentifiantUniqueRetenu) tmp2
					where cnt > 1)) data
		WHERE data.CompteMagnitude IS NULL
		  OR data.CompteMagnitude NOT IN ('A10400')
		  OR (data.CompteMagnitude IN ('A10400')
			  AND data.PartnerID LIKE 'IN%' 
			  AND data.Montant > 0)
		ORDER BY 1, 2, 3, 4;
		
	END TRY
	BEGIN CATCH
		IF OBJECT_ID('dbo.HELIOS_IMPORT_MAGNITUDE_RETRAITE_OLD') is not null
			BEGIN
				INSERT INTO dbo.HELIOS_IMPORT_MAGNITUDE_RETRAITE SELECT * FROM dbo.HELIOS_IMPORT_MAGNITUDE_RETRAITE_OLD;
				DROP TABLE dbo.HELIOS_IMPORT_MAGNITUDE_RETRAITE_OLD;
			END
		SET @ErrorMessage = 'Erreur lors de l''UPDATE: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @ClosureDate, null, 2, @ErrorCode, @ErrorMessage
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMessage
		RETURN @ErrorCode;
	END CATCH
			
	-- 7) Generate control report #0A
	BEGIN TRY
		IF OBJECT_ID('dbo.HELIOS_REPORT_CONTROLE0A') is not null
			DROP TABLE dbo.HELIOS_REPORT_CONTROLE0A
			
		SELECT DISTINCT * 
		INTO dbo.HELIOS_REPORT_CONTROLE0A
		FROM (
			SELECT
				CASE
					WHEN a.RAF IS NULL THEN 'VIDE'
					WHEN ltrim(rtrim(b.[CODE APPARENTEMENT])) IN ('2','4') THEN 'CONSOLIDÉES'
					WHEN ltrim(rtrim(b.[IDENTIFIANT RAF])) IS NULL THEN 'CLOTURÉES'
					ELSE NULL
				END as TypeRAF,
				a.PeriodeCloture, a.Source, a.IdentifiantUniqueRetenu, a.RefCategorieRWA, a.RAF, a.LibellePartnerID, a.DateFinContrat
			FROM dbo.HELIOS_IMPORT_MAGNITUDE_RETRAITE a
				LEFT JOIN dbo.HECATE_TETHYS b ON a.RAF = ltrim(rtrim(b.[IDENTIFIANT RAF]))
			) data
		WHERE TypeRAF IS NOT NULL
		ORDER BY TypeRAF, Source, IdentifiantUniqueRetenu;
		
		SELECT @LineCount = COUNT(*) FROM dbo.HELIOS_REPORT_CONTROLE0A;
		IF OBJECT_ID('dbo.HELIOS_REPORT_CONTROLE0A') is null
			BEGIN
				-- Report generation error
				SET @ErrorMessage = 'Erreur lors de la génération du rapport #0A "Contrôle des RAF Magnitude".'
				SET @ErrorCode = 1008
				EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @ClosureDate, null, 2, @ErrorCode, @ErrorMessage
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMessage
				RETURN @ErrorCode;
			END
		ELSE IF @LineCount <> 0
			BEGIN
				-- Log RAF codes to be corrected
				SET @ErrorMessage = 'Rapport #0A "Contrôle des RAF Magnitude": ' + CAST(@LineCount as varchar) + ' RAF à corriger.'
				SET @ErrorCode = 1012
				EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @ClosureDate, null, 2, @ErrorCode, @ErrorMessage
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMessage
			END
	END TRY
	BEGIN CATCH
		SET @ErrorMessage = 'Erreur lors de l''Insertion: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @ClosureDate, null, 2, @ErrorCode, @ErrorMessage
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMessage
		RETURN @ErrorCode;
	END CATCH
	
	-- 8) Generate control report #6
	BEGIN TRY
		IF OBJECT_ID('dbo.HELIOS_REPORT_CONTROLE6') is not null
			DROP TABLE dbo.HELIOS_REPORT_CONTROLE6
		
		SELECT *
		INTO dbo.HELIOS_REPORT_CONTROLE6
		FROM dbo.HELIOS_IMPORT_MAGNITUDE_RETRAITE
		WHERE Source IS NULL;
		
		IF OBJECT_ID('dbo.HELIOS_REPORT_CONTROLE6') is null
			BEGIN
				SET @ErrorMessage = 'Erreur lors de la génération du rapport #6 "Sources vides".'
				SET @ErrorCode = 1010
				EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @ClosureDate, null, 2, @ErrorCode, @ErrorMessage
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMessage
				RETURN @ErrorCode;
			END
	END TRY
	BEGIN CATCH
		SET @ErrorMessage = 'Erreur lors de l''Insertion: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @ClosureDate, null, 2, @ErrorCode, @ErrorMessage
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMessage
		RETURN @ErrorCode;
	END CATCH
	
	-- 9) Generate control report #8
	BEGIN TRY
		IF OBJECT_ID('dbo.HELIOS_REPORT_CONTROLE8') is not null
			DROP TABLE dbo.HELIOS_REPORT_CONTROLE8
		
		SELECT *
		INTO dbo.HELIOS_REPORT_CONTROLE8
		FROM dbo.HELIOS_IMPORT_MAGNITUDE_RETRAITE
		WHERE Source + CompteMagnitude + PartnerID IN (
			SELECT Source + CompteMagnitude + PartnerID
			FROM (
				SELECT Source,CompteMagnitude,PartnerID, COUNT(1) as cnt
				FROM dbo.HELIOS_IMPORT_MAGNITUDE_RETRAITE
				GROUP BY Source,CompteMagnitude,PartnerID) tmp
			WHERE cnt > 1);
		
		IF OBJECT_ID('dbo.HELIOS_REPORT_CONTROLE8') is null
			BEGIN
				SET @ErrorMessage = 'Erreur lors de la génération du rapport #8 "Contrôle des Doublons".'
				SET @ErrorCode = 1010
				EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @ClosureDate, null, 2, @ErrorCode, @ErrorMessage
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMessage
				RETURN @ErrorCode;
			END
	END TRY
	BEGIN CATCH
		SET @ErrorMessage = 'Erreur lors de l''Insertion: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @ClosureDate, null, 2, @ErrorCode, @ErrorMessage
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMessage
		RETURN @ErrorCode;
	END CATCH
	
	-- 10) Finalisation du traitement #1 -- TODO
	BEGIN TRY
		SELECT @LineCount = COUNT(*) FROM dbo.HELIOS_IMPORT_MAGNITUDE_RETRAITE;
		
		IF OBJECT_ID('dbo.HELIOS_IMPORT_MAGNITUDE_RETRAITE') IS NOT NULL AND @LineCount <> 0
			BEGIN 
				DROP TABLE dbo.HELIOS_TEMP_IMPORT_MAGNITUDE_RETRAITE;
				SET @ErrorMessage = CAST(@LineCount as nvarchar(5)) + ' lignes mises à jour dans la table "dbo.HELIOS_IMPORT_MAGNITUDE_RETRAITE".'
				SET @ErrorCode = 0
				EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @ClosureDate, null, 0, @ErrorCode, @ErrorMessage
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMessage
			END
		ELSE
			BEGIN -- processing failed
				SET @ErrorMessage = CAST(@LineCount as nvarchar(5)) + ' lignes mises à jour dans la table "dbo.HELIOS_IMPORT_MAGNITUDE_RETRAITE".'
				SET @ErrorCode = 1005
				EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @ClosureDate, null, 2, @ErrorCode, @ErrorMessage
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMessage
				RETURN @ErrorCode;
			END
	END TRY
	BEGIN CATCH
		SET @ErrorMessage = 'Erreur pendant la finalisation 1/2: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @ClosureDate, null, 2, @ErrorCode, @ErrorMessage
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMessage
		RETURN @ErrorCode;
	END CATCH
		
	-- 11) Finalisation du traitement #2 -- TODO
	BEGIN TRY
		SELECT @LineCount = COUNT(*) FROM dbo.HELIOS_SEED_MONEY;
		
		IF OBJECT_ID('dbo.HELIOS_SEED_MONEY') is not null AND @LineCount <> 0
			BEGIN
				SET @ErrorMessage = CAST(@LineCount as nvarchar(5)) + ' lignes mises à jour dans la table "dbo.HELIOS_SEED_MONEY".'
				SET @ErrorCode = 0
				EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', 'ENRICHISSEMENT SEED MONEY #2', @ClosureDate, null, 0, @ErrorCode, @ErrorMessage
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMessage
			END
		ELSE
			BEGIN -- processing failed
				SET @ErrorMessage = CAST(@LineCount as nvarchar(5)) + ' lignes mises à jour dans la table "dbo.HELIOS_SEED_MONEY".'
				SET @ErrorCode = 1005
				EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', 'ENRICHISSEMENT SEED MONEY #2', @ClosureDate, null, 2, @ErrorCode, @ErrorMessage
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMessage
				RETURN @ErrorCode;
			END
	END TRY
	BEGIN CATCH
		SET @ErrorMessage = 'Erreur pendant la finalisation 2/2: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @ClosureDate, null, 2, @ErrorCode, @ErrorMessage
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMessage
		RETURN @ErrorCode;
	END CATCH
	
	RETURN 0;
END
GO