USE [RWA]
GO
/****** Object:  StoredProcedure [dbo].[USP_HELIOS_TRAITEMENT_SEED_MONEY_VIA_FICHIER_ENRICHI]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_HELIOS_TRAITEMENT_SEED_MONEY_VIA_FICHIER_ENRICHI]
	@Process nvarchar(256),
	@PeriodeCloture nvarchar(6)
AS
BEGIN
	SET NOCOUNT ON;
	/* 
	Déclaration des variables
		SqlCommand : commande SQL complexe à exécuter
		ErrorMssg : message de retour à afficher ou journaliser
		ErrorCode : code de retour à afficher ou journaliser
		NbLignes : nombre de lignes retournées par la commande SqlCommand
	*/
	DECLARE @SqlCommand nvarchar(3072),
			@ErrorMssg nvarchar(3072),
			@ErrorCode nvarchar(1024),
			@NbLignes int
	
	IF @Process IS NULL
		SET @Process = 'ENRICHISSEMENT SEED MONEY #1'
	
	-- Avant de démarrer, on nettoie de la table des logs les lignes correspondantes au @Process actuel
	DELETE FROM dbo.HELIOS_LOG_TRAITEMENTS WHERE Process = @Process
	
	-- Récupération de la période actuelle
	IF @PeriodeCloture IS NULL
		SET @PeriodeCloture = RIGHT('00' + CAST(MONTH(GETDATE())-1 as varchar(2)), 2) + RIGHT('0000' + CAST(YEAR(GETDATE()) as varchar(4)), 4)
	
	BEGIN TRY
		UPDATE dbo.HELIOS_SEED_MONEY
		SET HELIOS_SEED_MONEY.PeriodeCloture = data.PeriodeCloture,
			HELIOS_SEED_MONEY.TotalActifSousGestion = data.TotalActifSousGestion
		FROM (SELECT Source, PeriodeCloture, SUM(ValeurDeMarche) as TotalActifSousGestion
			FROM dbo.HELIOS_IMPORT_FICHIER_ENRICHI_BRUT
			GROUP BY Source,PeriodeCloture) data
		WHERE HELIOS_SEED_MONEY.Source = data.Source;
	END TRY
	BEGIN CATCH
		-- En cas d'erreur lors du bloc précédent, on loggue
		SET @ErrorMssg = 'Erreur pendant l''update: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
		RETURN @ErrorCode;
	END CATCH
	
	-- Finalisation du traitement
	BEGIN TRY
		SELECT @NbLignes = COUNT(*) FROM dbo.HELIOS_SEED_MONEY;
		-- Si la table finale existe et qu'elle contient des données
		IF OBJECT_ID('dbo.HELIOS_SEED_MONEY') is not null AND @NbLignes <> 0
			BEGIN
				-- On loggue la réussite
				SET @ErrorMssg = CAST(@NbLignes as nvarchar(5)) + ' lignes mises à jour dans la table "dbo.HELIOS_SEED_MONEY".'
				SET @ErrorCode = 0
				EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 0, @ErrorCode, @ErrorMssg
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
				RETURN @ErrorCode;
			END
		ELSE
			-- ... ou l'échec
			BEGIN
				SET @ErrorMssg = CAST(@NbLignes as nvarchar(5)) + ' lignes mises à jour dans la table "dbo.HELIOS_SEED_MONEY".'
				SET @ErrorCode = 1005
				EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
				RETURN @ErrorCode;
			END
	END TRY
	BEGIN CATCH
		-- En cas d'erreur lors du bloc précédent, on loggue
		SET @ErrorMssg = 'Erreur pendant la finalisation: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
		RETURN @ErrorCode;
	END CATCH
END
GO
