USE [RWA]
GO
/****** Object:  StoredProcedure [dbo].[USP_HELIOS_IMPORT_FICHIER_PARAM]    Script Date: 2/27/2025 3:39:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER   PROCEDURE [dbo].[USP_HELIOS_IMPORT_FICHIER_PARAM]
	@Process NVARCHAR(256),
	@NomFichierXLSX NVARCHAR(256),
	@OngletFichierXLSX NVARCHAR(30)
AS
BEGIN
	SET NOCOUNT ON;
	/* 
	Le paramètre d'entrée @Process peut avoir ces valeurs,
	et correspond à un travail sur les tables associées
		IMPORT SEED MONEY              <=> dbo.HELIOS_SEED_MONEY
		IMPORT COMPTES MAGNITUDE       <=> dbo.HELIOS_PARAM_COMPTES_MAGNITUDE_A_EXTRAIRE
		IMPORT ENTREES PERIMETRE       <=> dbo.HELIOS_PARAM_ENTREES_PERIMETRE
		IMPORT MAPPING MAGNITUDE       <=> dbo.HELIOS_PARAM_MAPPING_TITRES_MAGNITUDE
		IMPORT MAPPING TRANSPARENCE    <=> dbo.HELIOS_PARAM_MAPPING_TITRES_TRANSPARENCE
		IMPORT RATINGS TITRISATION     <=> dbo.HELIOS_PARAM_RATING_TITRISATIONS
		IMPORT MAPPING MAG-COP-ULI     <=> dbo.HELIOS_PARAM_MAPPING_MAGNITUDE_COPERNIC_ULISS
		IMPORT INTENTIONS GESTION      <=> dbo.HELIOS_PARAM_INTENTION_GESTION_PAR_COMPTE
		IMPORT ENCOURS ELEMENTAIRES    <=> dbo.HELIOS_PARAM_ENCOURS_ELEMENTAIRES_PCC
		IMPORT CODES PRODUIT		   <=> dbo.HELIOS_PARAM_CODES_PRODUIT
		IMPORT EXCLUSION COMPTE MAGNITUDE PARTENAIRE		   <=> dbo.HELIOS_PARAM_PARTNERS_A_EXCLURE_PAR_COMPTE_MAGNITUDE
		IMPORT CATEGORIE SYNTHESE A FORCER		   <=> dbo.HELIOS_PARAM_CATEGORIE_SYNTHESE_A_FORCER
		IMPORT CATEGORIE SYNTHESE A MODIFIER		   <=> dbo.HELIOS_PARAM_CATEGORIE_SYNTHESE_A_MODIFIER
		IMPORT CLO		   <=> dbo.HELIOS_PARAM_CLO
		
	Déclaration des variables
		ImportPath : chemin d'accès au fichier à importer
		SqlCommand : commande SQL complexe à exécuter
		Exist : vaut 1 ou 0 si le fichier à exporter existe ou non
		ErrorMssg : message de retour à afficher ou journaliser
		ErrorCode : code de retour à afficher ou journaliser
		NbLignes : nombre de lignes retournées par la commande SqlCommand
		PeriodeCloture : période de clôture actuelle
	*/
	DECLARE	@ImportPath NVARCHAR(256) = 'E:\RWA\HELIOS\Import\Params\', --'
			@SqlCommand NVARCHAR(3072),
			@Exist int,
			@ErrorMssg NVARCHAR(3072),
			@ErrorCode NVARCHAR(1024),
			@NbLignes int,
			@PeriodeCloture NVARCHAR(6),
			@month int,
			@year int
			
	-- Avant de démarrer, on nettoie de la table des logs les lignes correspondantes au @Process actuel
	DELETE FROM dbo.HELIOS_LOG_IMPORT_EXPORT
	WHERE Process = @Process
	
	-- Récupération de la période actuelle
	BEGIN TRY
		SET @month = MONTH(GETDATE())
		SET @year = YEAR(GETDATE())
		IF @month <= 3
			BEGIN
				SET @month = 12
				SET @year = @year - 1
			END
		ELSE IF @month <= 6 SET @month = 3
		ELSE IF @month <= 9 SET @month = 6
		ELSE IF @month <= 12 SET @month = 9
		SET @PeriodeCloture = RIGHT('00' + CAST(@month as nvarchar), 2) + RIGHT('0000' + CAST(@year as nvarchar), 4)
		IF OBJECT_ID('dbo.HELIOS_IMPORT_FICHIER_ENRICHI_BRUT') IS NOT NULL
			BEGIN
				SELECT @NbLignes = COUNT(*) FROM dbo.HELIOS_IMPORT_FICHIER_ENRICHI_BRUT;
				IF @NbLignes > 0
					SELECT @PeriodeCloture = PeriodeCloture FROM dbo.HELIOS_IMPORT_FICHIER_ENRICHI_BRUT GROUP BY PeriodeCloture
			END
	END TRY
	BEGIN CATCH
	END CATCH
	
	-- On teste l'existance du fichier demandé
	SET @ErrorMssg = @ImportPath + @NomFichierXLSX
	EXEC xp_fileexist @ErrorMssg, @Exist OUTPUT
	
	-- Si les noms des fichier et onglet ne sont pas nuls et si le fichier demandé existe
	IF @NomFichierXLSX is not null AND @OngletFichierXLSX is not null AND @Exist = 1
		BEGIN
			-- Si la table temporaire d'import existe, on la supprime
			IF OBJECT_ID('dbo.HELIOS_TEMP_FICHIER_PARAM') is not null
				DROP TABLE dbo.HELIOS_TEMP_FICHIER_PARAM
				
			BEGIN TRY
				-- Définition de la requête de récupération du fichier Excel dans la table temporaire,
				-- suivant le @Process actuel
				IF @Process = 'IMPORT SEED MONEY'
					SET @SqlCommand = N'SELECT
							cast(RIGHT(''000'' + CONVERT(NVARCHAR, REPLACE(RTRIM(LTRIM([Code source])),'' '','''')), 3) as NVARCHAR(3)) as Source,
							cast(REPLACE(RTRIM(LTRIM([Source])),'' '','''') as NVARCHAR(255)) as Libelle,
							cast(REPLACE(RTRIM(LTRIM([Partner ID])),'' '','''') as NVARCHAR(15)) as PartnerID,
							cast(REPLACE(RTRIM(LTRIM([Compte Magnitude])),'' '','''') as NVARCHAR(7)) as CompteMagnitude,
							cast(RIGHT(''0000000'' + CONVERT(NVARCHAR, REPLACE(RTRIM(LTRIM([RAF])),'' '','''')), 7) as NVARCHAR(7)) as RAF
						INTO dbo.HELIOS_TEMP_FICHIER_PARAM
						FROM OPENROWSET (''Microsoft.ACE.OLEDB.12.0'',''Excel 12.0;Database=' + @ImportPath + @NomFichierXLSX + ';HDR=YES;IMEX=1'',''SELECT * FROM [' + @OngletFichierXLSX + '$]'')
						WHERE [Code source] IS NOT NULL;'
				ELSE IF @Process = 'IMPORT COMPTES MAGNITUDE'
					SET @SqlCommand = N'SELECT
							cast(REPLACE(RTRIM(LTRIM([Comptes Magnitude à extraire])),'' '','''') as NVARCHAR(7)) as CompteMagnitude,
							cast(REPLACE(RTRIM(LTRIM([Détail par Partner Id])),'' '','''') as NVARCHAR(1)) as DetailsParPartnerID,
							cast(RIGHT(''0000000'' + CONVERT(NVARCHAR, REPLACE(RTRIM(LTRIM([RAF générique])),'' '','''')), 7) as NVARCHAR(7)) as RAF,
							cast(REPLACE(RTRIM(LTRIM([Partner ID générique])),'' '','''') as NVARCHAR(15)) as PartnerID,
							cast(REPLACE(RTRIM(LTRIM([Libellé Partner ID générique])),'' '','''') as NVARCHAR(255)) as LibellePartnerID,
							cast(REPLACE(RTRIM(LTRIM([Comptes de remplacement])),'' '','''') as NVARCHAR(7)) as CompteMagnitudeRemplacement,
							cast(REPLACE(RTRIM(LTRIM([Compte à netter])),'' '','''') as NVARCHAR(1)) as CompteANetter,
							GETDATE() as LastUpdate
						INTO dbo.HELIOS_TEMP_FICHIER_PARAM
						FROM OPENROWSET (''Microsoft.ACE.OLEDB.12.0'',''Excel 12.0;Database=' + @ImportPath + @NomFichierXLSX + ';HDR=YES;IMEX=1'',''SELECT * FROM [' + @OngletFichierXLSX + '$]'')
						WHERE [Comptes Magnitude à extraire] IS NOT NULL;'
				ELSE IF @Process = 'IMPORT ENTREES PERIMETRE'
					SET @SqlCommand = N'SELECT
							cast(REPLACE(RTRIM(LTRIM([Reporting Unit])),'' '','''') as NVARCHAR(5)) as ReportingUnit,
							cast(RIGHT(''000'' + CONVERT(NVARCHAR, REPLACE(RTRIM(LTRIM([Source entrées de périmètre])),'' '','''')), 3) as NVARCHAR(3)) as Source,
							cast(REPLACE(RTRIM(LTRIM([Libellé])),'' '','''') as NVARCHAR(255)) as Libelle,
							cast(REPLACE(RTRIM(LTRIM([Méthode Standard])),'' '','''') as NVARCHAR(1)) as MethodeStandard,
							cast(GETDATE() as NVARCHAR(40)) as LastUpdate
						INTO dbo.HELIOS_TEMP_FICHIER_PARAM
						FROM OPENROWSET (''Microsoft.ACE.OLEDB.12.0'',''Excel 12.0;Database=' + @ImportPath + @NomFichierXLSX + ';HDR=YES;IMEX=1'',''SELECT * FROM [' + @OngletFichierXLSX + '$]'')
						WHERE [Reporting Unit] IS NOT NULL;'
				ELSE IF @Process = 'IMPORT MAPPING MAGNITUDE'
					SET @SqlCommand = N'SELECT
							cast(REPLACE(RTRIM(LTRIM([Partner ID])),'' '','''') as NVARCHAR(15)) as PartnerID,
							cast(REPLACE(RTRIM(LTRIM([Libellé])),'' '','''') as NVARCHAR(255)) as LibellePartnerID,
							cast(RIGHT(''0000000'' + CONVERT(NVARCHAR, REPLACE(RTRIM(LTRIM([RAF])),'' '','''')), 7) as NVARCHAR(7)) as RAF,
							cast(REPLACE(RTRIM(LTRIM([Catégorie RWA])),'' '','''') as NVARCHAR(3)) as RefCategorieRWA,
							cast(REPLACE(RTRIM(LTRIM([ISIN])),'' '','''') as NVARCHAR(12)) as IdentifiantISIN,
							cast(REPLACE(RTRIM(LTRIM([Titre liquide])),'' '','''') as NVARCHAR(1)) as TitreLiquide,
							cast(REPLACE(RTRIM(LTRIM([Titre côté])),'' '','''') as NVARCHAR(1)) as TitreCote,
							cast(REPLACE(RTRIM(LTRIM([Indice de cotation])),'' '','''') as NVARCHAR(20)) as IndiceCotation,
							cast(REPLACE(RTRIM(LTRIM([Fréquence de cotation])),'' '','''') as NVARCHAR(1)) as FrequenceCotation,
							cast(RIGHT(''000'' + CONVERT(NVARCHAR, REPLACE(RTRIM(LTRIM([Place de cotation])),'' '','''')), 3) as NVARCHAR(3)) as PlaceCotation,
							cast(REPLACE(RTRIM(LTRIM([Catégorie Synthèse])),'' '','''') as NVARCHAR(20)) as CategorieSynthese,
							cast(REPLACE(RTRIM(LTRIM([Traitement en standard])),'' '','''') as NVARCHAR(1)) as TraitementStandard,
							cast(GETDATE() as NVARCHAR(40)) as LastUpdate,
							cast(REPLACE(RTRIM(LTRIM([Libelle du type de dette])),'' '','''') as NVARCHAR(12)) as LibelleTypeDette,
							cast(REPLACE(RTRIM(LTRIM([Management Intent])),'' '','''') as NVARCHAR(2)) as ManagementIntent
						INTO dbo.HELIOS_TEMP_FICHIER_PARAM
						FROM OPENROWSET (''Microsoft.ACE.OLEDB.12.0'',''Excel 12.0;Database=' + @ImportPath + @NomFichierXLSX + ';HDR=YES;IMEX=1'',''SELECT * FROM [' + @OngletFichierXLSX + '$]'')
						WHERE [Partner ID] IS NOT NULL;'
				ELSE IF @Process = 'IMPORT MAPPING TRANSPARENCE'
					SET @SqlCommand = N'SELECT
							cast(REPLACE(RTRIM(LTRIM([Identifiant ISIN])),'' '','''') as NVARCHAR(12)) as IdentifiantISIN,
							cast(REPLACE(RTRIM(LTRIM([Nom de l’actif])),'' '','''') as NVARCHAR(255)) as NomActif,
							cast(REPLACE(RTRIM(LTRIM([Catégorie RWA])),'' '','''') as NVARCHAR(3)) as RefCategorieRWA,
							cast(RIGHT(''0000000'' + CONVERT(NVARCHAR, REPLACE(RTRIM(LTRIM([RAF])),'' '','''')), 7) as NVARCHAR(7)) as RAF,
							cast(REPLACE(RTRIM(LTRIM([Titre liquide])),'' '','''') as NVARCHAR(1)) as TitreLiquide,
							cast(REPLACE(RTRIM(LTRIM([Titre côté])),'' '','''') as NVARCHAR(1)) as TitreCote,
							cast(REPLACE(RTRIM(LTRIM([Indice de cotation])),'' '','''') as NVARCHAR(20)) as IndiceCotation,
							cast(REPLACE(RTRIM(LTRIM([Fréquence de cotation])),'' '','''') as NVARCHAR(1)) as FrequenceCotation,
							cast(RIGHT(''000'' + CONVERT(NVARCHAR, REPLACE(RTRIM(LTRIM([Place de cotation])),'' '','''')), 3) as NVARCHAR(3)) as PlaceCotation,
							cast(GETDATE() as NVARCHAR(40)) as LastUpdate
						INTO dbo.HELIOS_TEMP_FICHIER_PARAM
						FROM OPENROWSET (''Microsoft.ACE.OLEDB.12.0'',''Excel 12.0;Database=' + @ImportPath + @NomFichierXLSX + ';HDR=YES;IMEX=1'',''SELECT * FROM [' + @OngletFichierXLSX + '$]'')
						WHERE [Identifiant ISIN] IS NOT NULL;'
				ELSE IF @Process = 'IMPORT RATINGS TITRISATION'
					SET @SqlCommand = N'SELECT
							cast(REPLACE(RTRIM(LTRIM([Identifiant ISIN])),'' '','''') as NVARCHAR(12)) as IdentifiantISIN,
							cast(REPLACE(RTRIM(LTRIM([Rating])),'' '','''') as NVARCHAR(4)) as Rating,
							cast(RIGHT(''00'' + CONVERT(NVARCHAR, REPLACE(RTRIM(LTRIM([OEEC ayant noté le titre])),'' '','''')), 2) as NVARCHAR(2)) as OEEC,
							cast(GETDATE() as NVARCHAR(40)) as LastUpdate
						INTO dbo.HELIOS_TEMP_FICHIER_PARAM
						FROM OPENROWSET (''Microsoft.ACE.OLEDB.12.0'',''Excel 12.0;Database=' + @ImportPath + @NomFichierXLSX + ';HDR=YES;IMEX=1'',''SELECT * FROM [' + @OngletFichierXLSX + '$]'')
						WHERE [Identifiant ISIN] IS NOT NULL;'
				ELSE IF @Process = 'IMPORT MAPPING MAG-COP-ULI'
					SET @SqlCommand = N'SELECT
							cast(REPLACE(RTRIM(LTRIM([Compte Magnitude])),'' '','''') as NVARCHAR(7)) as CompteMagnitude,
							cast(REPLACE(RTRIM(LTRIM([Signe])),'' '','''') as NVARCHAR(2)) as Signe,
							cast(REPLACE(RTRIM(LTRIM([Catégorie RWA])),'' '','''') as NVARCHAR(3)) as RefCategorieRWA,
							cast(REPLACE(RTRIM(LTRIM([Compte Copernic])),'' '','''') as NVARCHAR(9)) as CompteCopernic,
							cast(REPLACE(RTRIM(LTRIM([Code Produit])),'' '','''') as NVARCHAR(5)) as CodeProduit,
							cast(REPLACE(RTRIM(LTRIM([PCEC])),'' '','''') as NVARCHAR(5)) as PCEC,
							cast(REPLACE(RTRIM(LTRIM([Ajout de lignes])),'' '','''') as NVARCHAR(1)) as AjoutDeLignes,
							cast(REPLACE(RTRIM(LTRIM([Signe 2])),'' '','''') as NVARCHAR(2)) as Signe2,
							cast(REPLACE(RTRIM(LTRIM([Catégorie RWA 2])),'' '','''') as NVARCHAR(3)) as RefCategorieRWA2,
							cast(REPLACE(RTRIM(LTRIM([Compte Copernic 2])),'' '','''') as NVARCHAR(9)) as CompteCopernic2,
							cast(REPLACE(RTRIM(LTRIM([Code Produit 2])),'' '','''') as NVARCHAR(5)) as CodeProduit2,
							cast(REPLACE(RTRIM(LTRIM([PCEC 2])),'' '','''') as NVARCHAR(5)) as PCEC2,
							cast(REPLACE(RTRIM(LTRIM([Signe 3])),'' '','''') as NVARCHAR(2)) as Signe3,
							cast(REPLACE(RTRIM(LTRIM([Catégorie RWA 3])),'' '','''') as NVARCHAR(3)) as RefCategorieRWA3,
							cast(REPLACE(RTRIM(LTRIM([Compte Copernic 3])),'' '','''') as NVARCHAR(9)) as CompteCopernic3,
							cast(REPLACE(RTRIM(LTRIM([Code Produit 3])),'' '','''') as NVARCHAR(5)) as CodeProduit3,
							cast(REPLACE(RTRIM(LTRIM([PCEC 3])),'' '','''') as NVARCHAR(5)) as PCEC3,
							cast(GETDATE() as NVARCHAR(40)) as LastUpdate
						INTO dbo.HELIOS_TEMP_FICHIER_PARAM
						FROM OPENROWSET (''Microsoft.ACE.OLEDB.12.0'',''Excel 12.0;Database=' + @ImportPath + @NomFichierXLSX + ';HDR=YES;IMEX=1'',''SELECT * FROM [' + @OngletFichierXLSX + '$]'')
						WHERE [Compte Magnitude] IS NOT NULL;'
				ELSE IF @Process = 'IMPORT INTENTIONS GESTION'
					SET @SqlCommand = N'SELECT
							cast(REPLACE(RTRIM(LTRIM([Compte magnitude])),'' '','''') as NVARCHAR(7)) as CompteMagnitude,
							cast(REPLACE(RTRIM(LTRIM([Portefeuille IAS])),'' '','''') as NVARCHAR(255)) as PortefeuilleIAS,
							cast(GETDATE() as NVARCHAR(40)) as LastUpdate
						INTO dbo.HELIOS_TEMP_FICHIER_PARAM
						FROM OPENROWSET (''Microsoft.ACE.OLEDB.12.0'',''Excel 12.0;Database=' + @ImportPath + @NomFichierXLSX + ';HDR=YES;IMEX=1'',''SELECT * FROM [' + @OngletFichierXLSX + '$]'')
						WHERE [Compte Magnitude] IS NOT NULL;'
				ELSE IF @Process = 'IMPORT ENCOURS ELEMENTAIRES'
					SET @SqlCommand = N'SELECT
							cast(REPLACE(RTRIM(LTRIM([Code produit])),'' '','''') as NVARCHAR(5)) as CodeProduit,
							cast(REPLACE(RTRIM(LTRIM([PCC])),'' '','''') as NVARCHAR(9)) as PCC,
							cast(REPLACE(RTRIM(LTRIM([Nombre d’encours])),'' '','''') as int) as NombreEncours,
							cast(RIGHT(''0000'' + CONVERT(NVARCHAR, REPLACE(RTRIM(LTRIM([Numéro encours 1])),'' '','''')), 4) as NVARCHAR(4)) as NumeroEncours1,
							cast(REPLACE(RTRIM(LTRIM([PCC encours 1])),'' '','''') as NVARCHAR(9)) as PCCEncours1,
							cast(REPLACE(RTRIM(LTRIM([Type d’encours 1])),'' '','''') as NVARCHAR(5)) as TypeEncours1,
							cast(REPLACE(RTRIM(LTRIM([Signe encours 1])),'' '','''') as real) as SigneEncours1,
							cast(RIGHT(''0000'' + CONVERT(NVARCHAR, REPLACE(RTRIM(LTRIM([Numéro encours 2])),'' '','''')), 4) as NVARCHAR(4)) as NumeroEncours2,
							cast(REPLACE(RTRIM(LTRIM([PCC encours 2])),'' '','''') as NVARCHAR(9)) as PCCEncours2,
							cast(REPLACE(RTRIM(LTRIM([Type d’encours 2])),'' '','''') as NVARCHAR(5)) as TypeEncours2,
							cast(REPLACE(RTRIM(LTRIM([Signe encours 2])),'' '','''') as real) as SigneEncours2,
							cast(RIGHT(''0000'' + CONVERT(NVARCHAR, REPLACE(RTRIM(LTRIM([Numéro encours 3])),'' '','''')), 4) as NVARCHAR(4)) as NumeroEncours3,
							cast(REPLACE(RTRIM(LTRIM([PCC encours 3])),'' '','''') as NVARCHAR(9)) as PCCEncours3,
							cast(REPLACE(RTRIM(LTRIM([Type d’encours 3])),'' '','''') as NVARCHAR(5)) as TypeEncours3,
							cast(REPLACE(RTRIM(LTRIM([Signe encours 3])),'' '','''') as real) as SigneEncours3,
							GETDATE() as LastUpdate
						INTO dbo.HELIOS_TEMP_FICHIER_PARAM
						FROM OPENROWSET (''Microsoft.ACE.OLEDB.12.0'',''Excel 12.0;Database=' + @ImportPath + @NomFichierXLSX + ';HDR=YES;IMEX=1'',''SELECT * FROM [' + @OngletFichierXLSX + '$]'')
						WHERE [Code produit] IS NOT NULL;'
				ELSE IF @Process = 'IMPORT CODES PRODUIT'
					SET @SqlCommand = N'SELECT
							cast(REPLACE(RTRIM(LTRIM([Code produit])),'' '','''') as NVARCHAR(5)) as CodeProduit,
							cast(REPLACE(RTRIM(LTRIM([Code Segment Mc Donough])),'' '','''') as NVARCHAR(2)) as CodeSegmentMcDo,
							cast(REPLACE(RTRIM(LTRIM([Valeur Mobilière])),'' '','''') as NVARCHAR(1)) as ValeurMobiliere,
							cast(REPLACE(RTRIM(LTRIM([Type de Participation])),'' '','''') as NVARCHAR(1)) as TypeParticipation,
							cast(REPLACE(RTRIM(LTRIM([Sens de l''Opération])),'' '','''') as NVARCHAR(1)) as SensOperation,
							cast(REPLACE(RTRIM(LTRIM([Nature du Titre])),'' '','''') as NVARCHAR(2)) as NatureTitre,
							cast(REPLACE(RTRIM(LTRIM([Type du Titre])),'' '','''') as NVARCHAR(1)) as TypeTitre,
							cast(REPLACE(RTRIM(LTRIM([Titre de Dette])),'' '','''') as NVARCHAR(1)) as TitreDette,
							cast(REPLACE(RTRIM(LTRIM([OPCVM Composé de Titres Eligibles])),'' '','''') as NVARCHAR(1)) as OPCVMComposeTitresEligibles,
							cast(GETDATE() as NVARCHAR(40)) as LastUpdate 
						INTO dbo.HELIOS_TEMP_FICHIER_PARAM
						FROM OPENROWSET (''Microsoft.ACE.OLEDB.12.0'',''Excel 12.0;Database=' + @ImportPath + @NomFichierXLSX + ';HDR=YES;IMEX=1'',''SELECT * FROM [' + @OngletFichierXLSX + '$]'')
						WHERE [Code produit] IS NOT NULL;'
				ELSE IF @Process = 'IMPORT EXCLUSION COMPTE MAGNITUDE PARTENAIRE'
					SET @SqlCommand = N'SELECT
							cast(REPLACE(RTRIM(LTRIM([Comptes Magnitude])),'' '','''') as NVARCHAR(7)) as CompteMagnitude,
							cast(REPLACE(RTRIM(LTRIM([Partner ID])),'' '','''') as NVARCHAR(12)) as PartnerID,
							cast(GETDATE() as NVARCHAR(40)) as LastUpdate 
						INTO dbo.HELIOS_TEMP_FICHIER_PARAM
						FROM OPENROWSET (''Microsoft.ACE.OLEDB.12.0'',''Excel 12.0;Database=' + @ImportPath + @NomFichierXLSX + ';HDR=YES;IMEX=1'',''SELECT * FROM [' + @OngletFichierXLSX + '$]'')
						WHERE [Comptes Magnitude] IS NOT NULL;'
				ELSE IF @Process = 'IMPORT CATEGORIE SYNTHESE A FORCER'
					SET @SqlCommand = N'SELECT
							cast(REPLACE(RTRIM(LTRIM([Source])),'' '','''') as NVARCHAR(3)) as Source,
							cast(REPLACE(RTRIM(LTRIM([Compte Magnitude])),'' '','''') as NVARCHAR(6)) as CompteMagnitude,
							cast(REPLACE(RTRIM(LTRIM([Catégorie Synthèse])),'' '','''') as NVARCHAR(20)) as CategorieSynthese,
							GETDATE() as LastUpdate
						INTO dbo.HELIOS_TEMP_FICHIER_PARAM
						FROM OPENROWSET (''Microsoft.ACE.OLEDB.12.0'',''Excel 12.0;Database=' + @ImportPath + @NomFichierXLSX + ';HDR=YES;IMEX=1'',''SELECT * FROM [' + @OngletFichierXLSX + '$]'')
						WHERE [Source] IS NOT NULL;'
				ELSE IF @Process = 'IMPORT CATEGORIE SYNTHESE A MODIFIER'
					SET @SqlCommand = N'SELECT
							cast(REPLACE(RTRIM(LTRIM([Source])),'' '','''') as NVARCHAR(3)) as CompteMagnitude,
							cast(REPLACE(RTRIM(LTRIM([Valeur à ajouter])),'' '','''') as NVARCHAR(20)) as PartnerID,
							GETDATE() as LastUpdate
						INTO dbo.HELIOS_TEMP_FICHIER_PARAM
						FROM OPENROWSET (''Microsoft.ACE.OLEDB.12.0'',''Excel 12.0;Database=' + @ImportPath + @NomFichierXLSX + ';HDR=YES;IMEX=1'',''SELECT * FROM [' + @OngletFichierXLSX + '$]'')
						WHERE [Source] IS NOT NULL;'
				ELSE IF @Process = 'IMPORT CLO'
					SET @SqlCommand = N'SELECT
							cast(REPLACE(RTRIM(LTRIM([Référence contrat du PIVI])),'' '','''') as NVARCHAR(30)) as ReferenceContratPIVI,
							cast(REPLACE(RTRIM(LTRIM([Code Source])),'' '','''') as NVARCHAR(3)) as Source,
							cast(REPLACE(RTRIM(LTRIM([Asset ID dans l’inventaire normalisé])),'' '','''') as NVARCHAR(30)) as AssetID,
							cast(REPLACE(RTRIM(LTRIM([Asset Description])),'' '','''') as NVARCHAR(MAX)) as AssetDescription,
							cast(REPLACE(RTRIM(LTRIM([Date de maturité])),'' '','''') as  NVARCHAR(10)) as DateMaturite,
							cast(REPLACE(RTRIM(LTRIM([Code RAF])),'' '','''') as NVARCHAR(7)) as RAF,
							cast(REPLACE(RTRIM(LTRIM([Date clôture])),'' '','''') as  NVARCHAR(10)) as DateCloture,
							cast(REPLACE(RTRIM(LTRIM([Moody''s Corporate])),'' '','''') as NVARCHAR(5)) as Moodys,
							cast(REPLACE(RTRIM(LTRIM([S&P Corporate])),'' '','''') as NVARCHAR(5)) as SandP,
							cast(REPLACE(RTRIM(LTRIM([Rating retenu à la date de clôture])),'' '','''') as NVARCHAR(5)) as RatingCloture,
							cast(REPLACE(RTRIM(LTRIM([Agence de notation pour le rating retenu à la date de clôture])),'' '','''') as NVARCHAR(2)) as AgenceCloture,
							cast(REPLACE(RTRIM(LTRIM([Date d''octroi])),'' '','''') as  NVARCHAR(10)) as DateOctroi,
							cast(REPLACE(RTRIM(LTRIM([Rating retenu à la date d''octroi])),'' '','''') as NVARCHAR(5)) as RatingOctroi,
							cast(REPLACE(RTRIM(LTRIM([Agence de notation pour le rating retenu à la date d''octroi])),'' '','''') as NVARCHAR(2)) as AgenceOctroi,
							GETDATE() as LastUpdate
						INTO dbo.HELIOS_TEMP_FICHIER_PARAM
						FROM OPENROWSET (''Microsoft.ACE.OLEDB.12.0'',''Excel 12.0;Database=' + @ImportPath + @NomFichierXLSX + ';HDR=YES;IMEX=1'',''SELECT * FROM [' + @OngletFichierXLSX + '$]'')
						WHERE [Référence contrat du PIVI] IS NOT NULL;'
				ELSE IF @Process = 'IMPORT PERIMETRE DETTE'
					SET @SqlCommand = N'SELECT
							cast(REPLACE(RTRIM(LTRIM([Code Produit])),'' '','''') as NVARCHAR(5)) as CodeProduit,
							cast(REPLACE(RTRIM(LTRIM([Libelle Produit])),'' '','''') as NVARCHAR(80)) as LibelleProduit,
							GETDATE() as LastUpdate
						INTO dbo.HELIOS_TEMP_FICHIER_PARAM
						FROM OPENROWSET (''Microsoft.ACE.OLEDB.12.0'',''Excel 12.0;Database=' + @ImportPath + @NomFichierXLSX + ';HDR=YES;IMEX=1'',''SELECT * FROM [' + @OngletFichierXLSX + '$]'')
						WHERE [Code Produit] IS NOT NULL;' --CRR3
				-- Sinon le @Process n'est pas reconnu, et on quitte
				ELSE
					BEGIN
						SET @ErrorMssg = 'Le Process "' + @Process + '" n''est pas reconnu.'
						SET @ErrorCode = 1003
						EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
						PRINT @ErrorMssg
						RETURN @ErrorCode;
					END
					
				-- Si le @Process actuel est connu et que la commande SQL a été renseignée
						
				IF @SqlCommand IS NOT NULL
					BEGIN
						
						-- Exécution de la requête
						EXEC sp_executesql @SqlCommand;
						
						-- Récupération du nombre de ligne retournée par la requête
						SET @NbLignes = @@ROWCOUNT
						
						-- Si le nombre de lignes est positif, on nettoie la table d'import finale
						-- correspondante au @Process en cours et on sauvegarde les données actuelles
						IF @NbLignes <> 0
							BEGIN
								IF @Process = 'IMPORT SEED MONEY'
									BEGIN
										IF OBJECT_ID('dbo.HELIOS_SEED_MONEY_OLD') is not null
											DROP TABLE dbo.HELIOS_SEED_MONEY_OLD
										SELECT * INTO dbo.HELIOS_SEED_MONEY_OLD FROM dbo.HELIOS_SEED_MONEY;
										TRUNCATE TABLE dbo.HELIOS_SEED_MONEY
									END
								ELSE IF @Process = 'IMPORT COMPTES MAGNITUDE'
									BEGIN
										IF OBJECT_ID('dbo.HELIOS_PARAM_COMPTES_MAGNITUDE_A_EXTRAIRE_OLD') is not null
											DROP TABLE dbo.HELIOS_PARAM_COMPTES_MAGNITUDE_A_EXTRAIRE_OLD
										SELECT * INTO dbo.HELIOS_PARAM_COMPTES_MAGNITUDE_A_EXTRAIRE_OLD FROM dbo.HELIOS_PARAM_COMPTES_MAGNITUDE_A_EXTRAIRE;
										TRUNCATE TABLE dbo.HELIOS_PARAM_COMPTES_MAGNITUDE_A_EXTRAIRE
									END
								ELSE IF @Process = 'IMPORT ENTREES PERIMETRE'
									BEGIN
										IF OBJECT_ID('dbo.HELIOS_PARAM_ENTREES_PERIMETRE_OLD') is not null
											DROP TABLE dbo.HELIOS_PARAM_ENTREES_PERIMETRE_OLD
										SELECT * INTO dbo.HELIOS_PARAM_ENTREES_PERIMETRE_OLD FROM dbo.HELIOS_PARAM_ENTREES_PERIMETRE;
										TRUNCATE TABLE dbo.HELIOS_PARAM_ENTREES_PERIMETRE
									END
								ELSE IF @Process = 'IMPORT MAPPING MAGNITUDE'
									BEGIN
										IF OBJECT_ID('dbo.HELIOS_PARAM_MAPPING_TITRES_MAGNITUDE_OLD') is not null
											DROP TABLE dbo.HELIOS_PARAM_MAPPING_TITRES_MAGNITUDE_OLD
										SELECT * INTO dbo.HELIOS_PARAM_MAPPING_TITRES_MAGNITUDE_OLD FROM dbo.HELIOS_PARAM_MAPPING_TITRES_MAGNITUDE;
										TRUNCATE TABLE dbo.HELIOS_PARAM_MAPPING_TITRES_MAGNITUDE
									END
								ELSE IF @Process = 'IMPORT MAPPING TRANSPARENCE'
									BEGIN
										IF OBJECT_ID('dbo.HELIOS_PARAM_MAPPING_TITRES_TRANSPARENCE_OLD') is not null
											DROP TABLE dbo.HELIOS_PARAM_MAPPING_TITRES_TRANSPARENCE_OLD
										SELECT * INTO dbo.HELIOS_PARAM_MAPPING_TITRES_TRANSPARENCE_OLD FROM dbo.HELIOS_PARAM_MAPPING_TITRES_TRANSPARENCE;
										TRUNCATE TABLE dbo.HELIOS_PARAM_MAPPING_TITRES_TRANSPARENCE
									END
								ELSE IF @Process = 'IMPORT RATINGS TITRISATION'
									BEGIN
										IF OBJECT_ID('dbo.HELIOS_PARAM_RATING_TITRISATIONS_OLD') is not null
											DROP TABLE dbo.HELIOS_PARAM_RATING_TITRISATIONS_OLD
										SELECT * INTO dbo.HELIOS_PARAM_RATING_TITRISATIONS_OLD FROM dbo.HELIOS_PARAM_RATING_TITRISATIONS;
										TRUNCATE TABLE dbo.HELIOS_PARAM_RATING_TITRISATIONS
									END
								ELSE IF @Process = 'IMPORT MAPPING MAG-COP-ULI'
									BEGIN
										IF OBJECT_ID('dbo.HELIOS_PARAM_MAPPING_MAGNITUDE_COPERNIC_ULISS_OLD') is not null
											DROP TABLE dbo.HELIOS_PARAM_MAPPING_MAGNITUDE_COPERNIC_ULISS_OLD
										SELECT * INTO dbo.HELIOS_PARAM_MAPPING_MAGNITUDE_COPERNIC_ULISS_OLD FROM dbo.HELIOS_PARAM_MAPPING_MAGNITUDE_COPERNIC_ULISS;
										TRUNCATE TABLE dbo.HELIOS_PARAM_MAPPING_MAGNITUDE_COPERNIC_ULISS
									END
								ELSE IF @Process = 'IMPORT INTENTIONS GESTION'
									BEGIN
										IF OBJECT_ID('dbo.HELIOS_PARAM_INTENTION_GESTION_PAR_COMPTE_OLD') is not null
											DROP TABLE dbo.HELIOS_PARAM_INTENTION_GESTION_PAR_COMPTE_OLD
										SELECT * INTO dbo.HELIOS_PARAM_INTENTION_GESTION_PAR_COMPTE_OLD FROM dbo.HELIOS_PARAM_INTENTION_GESTION_PAR_COMPTE;
										TRUNCATE TABLE dbo.HELIOS_PARAM_INTENTION_GESTION_PAR_COMPTE
									END
								ELSE IF @Process = 'IMPORT ENCOURS ELEMENTAIRES'
									BEGIN
										IF OBJECT_ID('dbo.HELIOS_PARAM_ENCOURS_ELEMENTAIRES_PCC_OLD') is not null
											DROP TABLE dbo.HELIOS_PARAM_ENCOURS_ELEMENTAIRES_PCC_OLD
										SELECT * INTO dbo.HELIOS_PARAM_ENCOURS_ELEMENTAIRES_PCC_OLD FROM dbo.HELIOS_PARAM_ENCOURS_ELEMENTAIRES_PCC;
										TRUNCATE TABLE dbo.HELIOS_PARAM_ENCOURS_ELEMENTAIRES_PCC
									END
								ELSE IF @Process = 'IMPORT CODES PRODUIT'
									BEGIN
										IF OBJECT_ID('dbo.HELIOS_PARAM_CODES_PRODUIT_OLD') is not null
											DROP TABLE dbo.HELIOS_PARAM_CODES_PRODUIT_OLD
										SELECT * INTO dbo.HELIOS_PARAM_CODES_PRODUIT_OLD FROM dbo.HELIOS_PARAM_CODES_PRODUIT;
										TRUNCATE TABLE dbo.HELIOS_PARAM_CODES_PRODUIT
									END
								ELSE IF @Process = 'IMPORT EXCLUSION COMPTE MAGNITUDE PARTENAIRE'
									BEGIN
										IF OBJECT_ID('dbo.HELIOS_PARAM_PARTNERS_A_EXCLURE_PAR_COMPTE_MAGNITUDE_OLD') is not null
											DROP TABLE dbo.HELIOS_PARAM_PARTNERS_A_EXCLURE_PAR_COMPTE_MAGNITUDE_OLD
										SELECT * INTO dbo.HELIOS_PARAM_PARTNERS_A_EXCLURE_PAR_COMPTE_MAGNITUDE_OLD FROM dbo.HELIOS_PARAM_PARTNERS_A_EXCLURE_PAR_COMPTE_MAGNITUDE;
										TRUNCATE TABLE dbo.HELIOS_PARAM_PARTNERS_A_EXCLURE_PAR_COMPTE_MAGNITUDE
									END
								ELSE IF @Process = 'IMPORT CATEGORIE SYNTHESE A FORCER'
									BEGIN
										IF OBJECT_ID('dbo.HELIOS_PARAM_CATEGORIE_SYNTHESE_A_FORCER_OLD') is not null
											DROP TABLE dbo.HELIOS_PARAM_CATEGORIE_SYNTHESE_A_FORCER_OLD
										SELECT * INTO dbo.HELIOS_PARAM_CATEGORIE_SYNTHESE_A_FORCER_OLD FROM dbo.HELIOS_PARAM_CATEGORIE_SYNTHESE_A_FORCER;
										TRUNCATE TABLE dbo.HELIOS_PARAM_CATEGORIE_SYNTHESE_A_FORCER
									END
								ELSE IF @Process = 'IMPORT CATEGORIE SYNTHESE A MODIFIER'
									BEGIN
										IF OBJECT_ID('dbo.HELIOS_PARAM_CATEGORIE_SYNTHESE_A_MODIFIER_OLD') is not null
											DROP TABLE dbo.HELIOS_PARAM_CATEGORIE_SYNTHESE_A_MODIFIER_OLD
										SELECT * INTO dbo.HELIOS_PARAM_CATEGORIE_SYNTHESE_A_MODIFIER_OLD FROM dbo.HELIOS_PARAM_CATEGORIE_SYNTHESE_A_MODIFIER;
										TRUNCATE TABLE dbo.HELIOS_PARAM_CATEGORIE_SYNTHESE_A_MODIFIER
									END
								ELSE IF @Process = 'IMPORT CLO'
									BEGIN
										IF OBJECT_ID('dbo.HELIOS_PARAM_CLO_OLD') is not null
											DROP TABLE dbo.HELIOS_PARAM_CLO_OLD
										SELECT * INTO dbo.HELIOS_PARAM_CLO_OLD FROM dbo.HELIOS_PARAM_CLO;
										TRUNCATE TABLE dbo.HELIOS_PARAM_CLO
									END
								ELSE IF @Process = 'IMPORT PERIMETRE DETTE' --CRR3
									BEGIN
										IF OBJECT_ID('dbo.HELIOS_PARAM_PERIMETRE_DETTE_OLD') is not null
											DROP TABLE dbo.HELIOS_PARAM_PERIMETRE_DETTE_OLD
										SELECT * INTO dbo.HELIOS_PARAM_PERIMETRE_DETTE_OLD FROM dbo.HELIOS_PARAM_PERIMETRE_DETTE;
										TRUNCATE TABLE dbo.HELIOS_PARAM_PERIMETRE_DETTE
									END
								-- Sinon le @Process n'est pas reconnu, et on quitte
								ELSE
									BEGIN
										SET @ErrorMssg = 'Le Process "' + @Process + '" n''est pas reconnu.'
										SET @ErrorCode = 1003
										EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
										PRINT @ErrorMssg
										RETURN @ErrorCode;
									END
							END
						-- Sinon on loggue l'échec
						ELSE
							BEGIN
								SET @ErrorMssg = 'L''onglet (' + @OngletFichierXLSX + ') est vide.'
								SET @ErrorCode = 1000
								EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
								PRINT @ErrorMssg
								RETURN @ErrorCode;
							END
					END
			END TRY
			BEGIN CATCH
				-- En cas d'erreur lors du bloc précédent, on loggue
				SET @ErrorMssg = 'Erreur fichier excel: ' + ERROR_MESSAGE()
				SET @ErrorCode = ERROR_NUMBER()
				EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
				RETURN @ErrorCode;
			END CATCH
			
			BEGIN TRY
				-- Insertion des données de la table temporaire dans la table d'import finale,
				-- correspondante au @Process actuel
				IF @Process = 'IMPORT SEED MONEY'
					BEGIN
						INSERT INTO dbo.HELIOS_SEED_MONEY (Source,Libelle,PartnerID,CompteMagnitude, RAF)
						SELECT * FROM dbo.HELIOS_TEMP_FICHIER_PARAM;
					END
				ELSE IF @Process = 'IMPORT COMPTES MAGNITUDE'
					BEGIN
						INSERT INTO dbo.HELIOS_PARAM_COMPTES_MAGNITUDE_A_EXTRAIRE (CompteMagnitude, DetailsParPartnerID, RAF, PartnerID, LibellePartnerID,CompteMagnitudeRemplacement,CompteANetter,LastUpdate)
						SELECT * FROM dbo.HELIOS_TEMP_FICHIER_PARAM
					END
				ELSE IF @Process = 'IMPORT ENTREES PERIMETRE'
					BEGIN
						INSERT INTO dbo.HELIOS_PARAM_ENTREES_PERIMETRE (ReportingUnit, Source, Libelle,MethodeStandard,LastUpdate)
						SELECT * FROM dbo.HELIOS_TEMP_FICHIER_PARAM
					END
				ELSE IF @Process = 'IMPORT MAPPING MAGNITUDE'
					BEGIN
						INSERT INTO dbo.HELIOS_PARAM_MAPPING_TITRES_MAGNITUDE (PartnerID,LibellePartnerID,RAF,RefCategorieRWA,IdentifiantISIN,TitreLiquide,TitreCote,IndiceCotation,FrequenceCotation,PlaceCotation,CategorieSynthese,TraitementStandard,LastUpdate,LibelleTypeDette,ManagementIntent)--LibelleTypeDette,ManagementIntent CRR3
						SELECT * FROM dbo.HELIOS_TEMP_FICHIER_PARAM
					END
				ELSE IF @Process = 'IMPORT MAPPING TRANSPARENCE'
					BEGIN
						INSERT INTO dbo.HELIOS_PARAM_MAPPING_TITRES_TRANSPARENCE (IdentifiantISIN,NomActif,RefCategorieRWA,RAF,TitreLiquide,TitreCote,IndiceCotation,FrequenceCotation,PlaceCotation,LastUpdate)
						SELECT * FROM dbo.HELIOS_TEMP_FICHIER_PARAM
					END
				ELSE IF @Process = 'IMPORT RATINGS TITRISATION'
					BEGIN
						INSERT INTO dbo.HELIOS_PARAM_RATING_TITRISATIONS (IdentifiantISIN,Rating,OEEC,LastUpdate)
						SELECT * FROM dbo.HELIOS_TEMP_FICHIER_PARAM
					END
				ELSE IF @Process = 'IMPORT MAPPING MAG-COP-ULI'
					BEGIN
						INSERT INTO dbo.HELIOS_PARAM_MAPPING_MAGNITUDE_COPERNIC_ULISS (CompteMagnitude,Signe,RefCategorieRWA,CompteCopernic,CodeProduit,PCEC,AjoutDeLignes,Signe2,RefCategorieRWA2,CompteCopernic2,CodeProduit2,PCEC2,Signe3,RefCategorieRWA3,CompteCopernic3,CodeProduit3,PCEC3,LastUpdate)
						SELECT * FROM dbo.HELIOS_TEMP_FICHIER_PARAM
					END
				ELSE IF @Process = 'IMPORT INTENTIONS GESTION'
					BEGIN
						INSERT INTO dbo.HELIOS_PARAM_INTENTION_GESTION_PAR_COMPTE (CompteMagnitude,PortefeuilleIAS,LastUpdate)
						SELECT * FROM dbo.HELIOS_TEMP_FICHIER_PARAM
					END
				ELSE IF @Process = 'IMPORT ENCOURS ELEMENTAIRES'
					BEGIN
						INSERT INTO dbo.HELIOS_PARAM_ENCOURS_ELEMENTAIRES_PCC (CodeProduit,PCC,NombreEncours,NumeroEncours1,PCCEncours1,TypeEncours1,SigneEncours1,NumeroEncours2,PCCEncours2,TypeEncours2,SigneEncours2,NumeroEncours3,PCCEncours3,TypeEncours3,SigneEncours3,LastUpdate)
						SELECT * FROM dbo.HELIOS_TEMP_FICHIER_PARAM
					END
				ELSE IF @Process = 'IMPORT CODES PRODUIT'
					BEGIN
						INSERT INTO dbo.HELIOS_PARAM_CODES_PRODUIT (CodeProduit,CodeSegmentMcDo,ValeurMobiliere,TypeParticipation,SensOperation,NatureTitre,TypeTitre,TitreDette,OPCVMComposeTitresEligibles,LastUpdate)
						SELECT * FROM dbo.HELIOS_TEMP_FICHIER_PARAM
					END
				ELSE IF @Process = 'IMPORT EXCLUSION COMPTE MAGNITUDE PARTENAIRE'
					BEGIN
						INSERT INTO dbo.HELIOS_PARAM_PARTNERS_A_EXCLURE_PAR_COMPTE_MAGNITUDE (CompteMagnitude,PartnerID,LastUpdate)
						SELECT * FROM dbo.HELIOS_TEMP_FICHIER_PARAM
					END
				ELSE IF @Process = 'IMPORT CATEGORIE SYNTHESE A FORCER'
					BEGIN
						INSERT INTO dbo.HELIOS_PARAM_CATEGORIE_SYNTHESE_A_FORCER (Source,CompteMagnitude,CategorieSynthese,LastUpdate)
						SELECT * FROM dbo.HELIOS_TEMP_FICHIER_PARAM
					END
				ELSE IF @Process = 'IMPORT CATEGORIE SYNTHESE A MODIFIER'
					BEGIN
						INSERT INTO dbo.HELIOS_PARAM_CATEGORIE_SYNTHESE_A_MODIFIER (Source,ValeurAAjouter,LastUpdate)
						SELECT * FROM dbo.HELIOS_TEMP_FICHIER_PARAM
					END
				ELSE IF @Process = 'IMPORT CLO'
					BEGIN
						INSERT INTO dbo.HELIOS_PARAM_CLO (ReferenceContratPIVI,[Source],AssetID,AssetDescription,DateMaturite,RAF,DateCloture,Moodys,SandP,RatingCloture,AgenceCloture,DateOctroi,RatingOctroi,AgenceOctroi,LastUpdate)
						SELECT * FROM dbo.HELIOS_TEMP_FICHIER_PARAM
					END
				ELSE IF @Process = 'IMPORT PERIMETRE DETTE' --CRR3
					BEGIN
						INSERT INTO dbo.HELIOS_PARAM_PERIMETRE_DETTE (CodeProduit,LibelleProduit,LastUpdate)
						SELECT * FROM dbo.HELIOS_TEMP_FICHIER_PARAM
					END
				-- Sinon le @Process n'est pas reconnu, et on quitte
				ELSE
					BEGIN
						SET @ErrorMssg = 'Le Process "' + @Process + '" n''est pas reconnu.'
						SET @ErrorCode = 1003
						EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
						PRINT @ErrorMssg
						RETURN @ErrorCode;
					END
			END TRY
			BEGIN CATCH
				-- En cas d'erreur lors du bloc précédent, on rétablit les données
				IF @Process = 'IMPORT SEED MONEY' AND OBJECT_ID('dbo.HELIOS_SEED_MONEY_OLD') is not null
					BEGIN
						TRUNCATE TABLE dbo.HELIOS_SEED_MONEY;
						INSERT INTO dbo.HELIOS_SEED_MONEY (Source, Libelle,PartnerID, CompteMagnitude, RAF)
						SELECT * FROM dbo.HELIOS_SEED_MONEY_OLD;
						DROP TABLE dbo.HELIOS_SEED_MONEY_OLD;
					END
				ELSE IF @Process = 'IMPORT COMPTES MAGNITUDE' AND OBJECT_ID('dbo.HELIOS_PARAM_COMPTES_MAGNITUDE_A_EXTRAIRE_OLD') is not null
					BEGIN
						TRUNCATE TABLE dbo.HELIOS_PARAM_COMPTES_MAGNITUDE_A_EXTRAIRE;
						INSERT INTO dbo.HELIOS_PARAM_COMPTES_MAGNITUDE_A_EXTRAIRE (CompteMagnitude, DetailsParPartnerID, RAF, PartnerID, LibellePartnerID,CompteMagnitudeRemplacement,CompteANetter,LastUpdate)
						SELECT * FROM dbo.HELIOS_PARAM_COMPTES_MAGNITUDE_A_EXTRAIRE_OLD;
						DROP TABLE dbo.HELIOS_PARAM_COMPTES_MAGNITUDE_A_EXTRAIRE_OLD;
					END
				ELSE IF @Process = 'IMPORT ENTREES PERIMETRE' AND OBJECT_ID('dbo.HELIOS_PARAM_ENTREES_PERIMETRE_OLD') is not null
					BEGIN
						TRUNCATE TABLE dbo.HELIOS_PARAM_ENTREES_PERIMETRE;
						INSERT INTO dbo.HELIOS_PARAM_ENTREES_PERIMETRE (ReportingUnit, Source, Libelle,MethodeStandard)
						SELECT * FROM dbo.HELIOS_PARAM_ENTREES_PERIMETRE_OLD;
						DROP TABLE dbo.HELIOS_PARAM_ENTREES_PERIMETRE_OLD;
					END
				ELSE IF @Process = 'IMPORT MAPPING MAGNITUDE' AND OBJECT_ID('dbo.HELIOS_PARAM_MAPPING_TITRES_MAGNITUDE_OLD') is not null
					BEGIN
						TRUNCATE TABLE dbo.HELIOS_PARAM_MAPPING_TITRES_MAGNITUDE;
						INSERT INTO dbo.HELIOS_PARAM_MAPPING_TITRES_MAGNITUDE (PartnerID,LibellePartnerID,RAF,RefCategorieRWA,IdentifiantISIN,TitreLiquide,TitreCote,IndiceCotation,FrequenceCotation,PlaceCotation,CategorieSynthese,TraitementStandard,LastUpdate,LibelleTypeDette,ManagementIntent)--LibelleTypeDette,ManagementIntent CRR3
						SELECT * FROM dbo.HELIOS_PARAM_MAPPING_TITRES_MAGNITUDE_OLD;
						DROP TABLE dbo.HELIOS_PARAM_MAPPING_TITRES_MAGNITUDE_OLD;
					END
				ELSE IF @Process = 'IMPORT MAPPING TRANSPARENCE' AND OBJECT_ID('dbo.HELIOS_PARAM_MAPPING_TITRES_TRANSPARENCE_OLD') is not null
					BEGIN
						TRUNCATE TABLE dbo.HELIOS_PARAM_MAPPING_TITRES_TRANSPARENCE;
						INSERT INTO dbo.HELIOS_PARAM_MAPPING_TITRES_TRANSPARENCE (IdentifiantISIN,NomActif,RefCategorieRWA,RAF,TitreLiquide,TitreCote,IndiceCotation,FrequenceCotation,PlaceCotation,LastUpdate)
						SELECT * FROM dbo.HELIOS_PARAM_MAPPING_TITRES_TRANSPARENCE_OLD;
						DROP TABLE dbo.HELIOS_PARAM_MAPPING_TITRES_TRANSPARENCE_OLD;
					END
				ELSE IF @Process = 'IMPORT RATINGS TITRISATION' AND OBJECT_ID('dbo.HELIOS_PARAM_RATING_TITRISATIONS_OLD') is not null
					BEGIN
						TRUNCATE TABLE dbo.HELIOS_PARAM_RATING_TITRISATIONS;
						INSERT INTO dbo.HELIOS_PARAM_RATING_TITRISATIONS (IdentifiantISIN,Rating,OEEC,LastUpdate)
						SELECT * FROM dbo.HELIOS_PARAM_RATING_TITRISATIONS_OLD;
						DROP TABLE dbo.HELIOS_PARAM_RATING_TITRISATIONS_OLD;
					END
				ELSE IF @Process = 'IMPORT MAPPING MAG-COP-ULI' AND OBJECT_ID('dbo.HELIOS_PARAM_MAPPING_MAGNITUDE_COPERNIC_ULISS_OLD') is not null
					BEGIN
						TRUNCATE TABLE dbo.HELIOS_PARAM_MAPPING_MAGNITUDE_COPERNIC_ULISS;
						INSERT INTO dbo.HELIOS_PARAM_MAPPING_MAGNITUDE_COPERNIC_ULISS (CompteMagnitude,Signe,RefCategorieRWA,CompteCopernic,CodeProduit,PCEC,AjoutDeLignes,Signe2,RefCategorieRWA2,CompteCopernic2,CodeProduit2,PCEC2,Signe3,RefCategorieRWA3,CompteCopernic3,CodeProduit3,PCEC3,LastUpdate)
						SELECT * FROM dbo.HELIOS_PARAM_MAPPING_MAGNITUDE_COPERNIC_ULISS_OLD;
						DROP TABLE dbo.HELIOS_PARAM_MAPPING_MAGNITUDE_COPERNIC_ULISS_OLD;
					END
				ELSE IF @Process = 'IMPORT INTENTIONS GESTION' AND OBJECT_ID('dbo.HELIOS_PARAM_INTENTION_GESTION_PAR_COMPTE_OLD') is not null
					BEGIN
						TRUNCATE TABLE dbo.HELIOS_PARAM_INTENTION_GESTION_PAR_COMPTE;
						INSERT INTO dbo.HELIOS_PARAM_INTENTION_GESTION_PAR_COMPTE (CompteMagnitude,PortefeuilleIAS,LastUpdate)
						SELECT * FROM dbo.HELIOS_PARAM_INTENTION_GESTION_PAR_COMPTE_OLD;
						DROP TABLE dbo.HELIOS_PARAM_INTENTION_GESTION_PAR_COMPTE_OLD;
					END
				ELSE IF @Process = 'IMPORT ENCOURS ELEMENTAIRES' AND OBJECT_ID('dbo.HELIOS_PARAM_ENCOURS_ELEMENTAIRES_PCC_OLD') is not null
					BEGIN
						TRUNCATE TABLE dbo.HELIOS_PARAM_ENCOURS_ELEMENTAIRES_PCC;
						INSERT INTO dbo.HELIOS_PARAM_ENCOURS_ELEMENTAIRES_PCC (CodeProduit,PCC,NombreEncours,NumeroEncours1,PCCEncours1,TypeEncours1,SigneEncours1,NumeroEncours2,PCCEncours2,TypeEncours2,SigneEncours2,NumeroEncours3,PCCEncours3,TypeEncours3,SigneEncours3,LastUpdate)
						SELECT * FROM dbo.HELIOS_PARAM_ENCOURS_ELEMENTAIRES_PCC_OLD;
						DROP TABLE dbo.HELIOS_PARAM_ENCOURS_ELEMENTAIRES_PCC_OLD;
					END
				ELSE IF @Process = 'IMPORT CODES PRODUIT' AND OBJECT_ID('dbo.HELIOS_PARAM_CODES_PRODUIT_OLD') is not null
					BEGIN
						TRUNCATE TABLE dbo.HELIOS_PARAM_CODES_PRODUIT;
						INSERT INTO dbo.HELIOS_PARAM_CODES_PRODUIT (CodeProduit,CodeSegmentMcDo,ValeurMobiliere,TypeParticipation,SensOperation,NatureTitre,TypeTitre,TitreDette,OPCVMComposeTitresEligibles,LastUpdate)
						SELECT * FROM dbo.HELIOS_PARAM_CODES_PRODUIT_OLD;
						DROP TABLE dbo.HELIOS_PARAM_CODES_PRODUIT_OLD;
					END
				ELSE IF @Process = 'IMPORT EXCLUSION COMPTE MAGNITUDE PARTENAIRE' AND OBJECT_ID('dbo.HELIOS_PARAM_CODES_PRODUIT_OLD') is not null
					BEGIN
						TRUNCATE TABLE dbo.HELIOS_PARAM_PARTNERS_A_EXCLURE_PAR_COMPTE_MAGNITUDE;
						INSERT INTO dbo.HELIOS_PARAM_PARTNERS_A_EXCLURE_PAR_COMPTE_MAGNITUDE (CompteMagnitude,PartnerID,LastUpdate)
						SELECT * FROM dbo.HELIOS_PARAM_PARTNERS_A_EXCLURE_PAR_COMPTE_MAGNITUDE_OLD;
						DROP TABLE dbo.HELIOS_PARAM_PARTNERS_A_EXCLURE_PAR_COMPTE_MAGNITUDE_OLD;
					END
				ELSE IF @Process = 'IMPORT CATEGORIE SYNTHESE A FORCER' AND OBJECT_ID('dbo.HELIOS_PARAM_CATEGORIE_SYNTHESE_A_FORCER') is not null
					BEGIN
						TRUNCATE TABLE dbo.HELIOS_PARAM_CATEGORIE_SYNTHESE_A_FORCER;
						INSERT INTO dbo.HELIOS_PARAM_CATEGORIE_SYNTHESE_A_FORCER (Source,CompteMagnitude,CategorieSynthese,LastUpdate)
						SELECT * FROM dbo.HELIOS_PARAM_CATEGORIE_SYNTHESE_A_FORCER_OLD;
						DROP TABLE dbo.HELIOS_PARAM_CATEGORIE_SYNTHESE_A_FORCER_OLD;
					END
				ELSE IF @Process = 'IMPORT CATEGORIE SYNTHESE A MODIFIER' AND OBJECT_ID('dbo.HELIOS_PARAM_CODES_PRODUIT_OLD') is not null
					BEGIN
						TRUNCATE TABLE dbo.HELIOS_PARAM_CATEGORIE_SYNTHESE_A_MODIFIER;
						INSERT INTO dbo.HELIOS_PARAM_CATEGORIE_SYNTHESE_A_MODIFIER (Source,ValeurAAjouter,LastUpdate)
						SELECT * FROM dbo.HELIOS_PARAM_CATEGORIE_SYNTHESE_A_MODIFIER_OLD;
						DROP TABLE dbo.HELIOS_PARAM_CATEGORIE_SYNTHESE_A_MODIFIER_OLD;
					END
				ELSE IF @Process = 'IMPORT CLO' AND OBJECT_ID('dbo.HELIOS_PARAM_CLO_OLD') is not null
					BEGIN
						TRUNCATE TABLE dbo.HELIOS_PARAM_CLO;
						INSERT INTO dbo.HELIOS_PARAM_CLO (ReferenceContratPIVI,[Source],AssetID,AssetDescription,DateMaturite,RAF,DateCloture,Moodys,SandP,RatingCloture,AgenceCloture,DateOctroi,RatingOctroi,AgenceOctroi,LastUpdate)
						SELECT * FROM dbo.HELIOS_PARAM_CLO_OLD;
						DROP TABLE dbo.HELIOS_PARAM_CLO_OLD;
					END
				ELSE IF @Process = 'IMPORT PERIMTRE DETTE' AND OBJECT_ID('dbo.HELIOS_PARAM_PERIMETRE_DETTE_OLD') is not null
					BEGIN
						TRUNCATE TABLE dbo.HELIOS_PARAM_PERIMETRE_DETTE;
						INSERT INTO dbo.HELIOS_PARAM_PERIMETRE_DETTE (CodeProduit,LibelleProduit,LastUpdate)
						SELECT * FROM dbo.HELIOS_PARAM_PERIMETRE_DETTE_OLD;
						DROP TABLE dbo.HELIOS_PARAM_PERIMETRE_DETTE_OLD;
					END
				IF OBJECT_ID('dbo.HELIOS_TEMP_FICHIER_PARAM') is not null
					DROP TABLE dbo.HELIOS_TEMP_FICHIER_PARAM;
				-- Et on loggue
				SET @ErrorMssg = 'Erreur pendant l''insertion: ' + ERROR_MESSAGE()
				SET @ErrorCode = ERROR_NUMBER()
				EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
				RETURN @ErrorCode;
			END CATCH
			
			-- Si la table temporaire d'import existe
			IF OBJECT_ID('dbo.HELIOS_TEMP_FICHIER_PARAM') is not null
				BEGIN
					-- On la supprime
					DROP TABLE dbo.HELIOS_TEMP_FICHIER_PARAM
					-- Et les éventuelles tables intermédiaires existantes
					IF OBJECT_ID('dbo.HELIOS_SEED_MONEY_OLD') is not null
						DROP TABLE dbo.HELIOS_SEED_MONEY_OLD
					IF OBJECT_ID('dbo.HELIOS_PARAM_COMPTES_MAGNITUDE_A_EXTRAIRE_OLD') is not null
						DROP TABLE dbo.HELIOS_PARAM_COMPTES_MAGNITUDE_A_EXTRAIRE_OLD
					IF OBJECT_ID('dbo.HELIOS_PARAM_ENTREES_PERIMETRE_OLD') is not null
						DROP TABLE dbo.HELIOS_PARAM_ENTREES_PERIMETRE_OLD
					IF OBJECT_ID('dbo.HELIOS_PARAM_MAPPING_TITRES_MAGNITUDE_OLD') is not null
						DROP TABLE dbo.HELIOS_PARAM_MAPPING_TITRES_MAGNITUDE_OLD
					IF OBJECT_ID('dbo.HELIOS_PARAM_MAPPING_TITRES_TRANSPARENCE_OLD') is not null
						DROP TABLE dbo.HELIOS_PARAM_MAPPING_TITRES_TRANSPARENCE_OLD
					IF OBJECT_ID('dbo.HELIOS_PARAM_RATING_TITRISATIONS_OLD') is not null
						DROP TABLE dbo.HELIOS_PARAM_RATING_TITRISATIONS_OLD
					IF OBJECT_ID('dbo.HELIOS_PARAM_MAPPING_MAGNITUDE_COPERNIC_ULISS_OLD') is not null
						DROP TABLE dbo.HELIOS_PARAM_MAPPING_MAGNITUDE_COPERNIC_ULISS_OLD
					IF OBJECT_ID('dbo.HELIOS_PARAM_INTENTION_GESTION_PAR_COMPTE_OLD') is not null
						DROP TABLE dbo.HELIOS_PARAM_INTENTION_GESTION_PAR_COMPTE_OLD
					IF OBJECT_ID('dbo.HELIOS_PARAM_ENCOURS_ELEMENTAIRES_PCC_OLD') is not null
						DROP TABLE dbo.HELIOS_PARAM_ENCOURS_ELEMENTAIRES_PCC_OLD
					IF OBJECT_ID('dbo.HELIOS_PARAM_CODES_PRODUIT_OLD') is not null
						DROP TABLE dbo.HELIOS_PARAM_CODES_PRODUIT_OLD
					IF OBJECT_ID('dbo.HELIOS_PARAM_PARTNERS_A_EXCLURE_PAR_COMPTE_MAGNITUDE_OLD') is not null
						DROP TABLE dbo.HELIOS_PARAM_PARTNERS_A_EXCLURE_PAR_COMPTE_MAGNITUDE_OLD
					IF OBJECT_ID('dbo.HELIOS_PARAM_CATEGORIE_SYNTHESE_A_FORCER_OLD') is not null
						DROP TABLE dbo.HELIOS_PARAM_CATEGORIE_SYNTHESE_A_FORCER_OLD
					IF OBJECT_ID('dbo.HELIOS_PARAM_CATEGORIE_SYNTHESE_A_MODIFIER_OLD') is not null
						DROP TABLE dbo.HELIOS_PARAM_CATEGORIE_SYNTHESE_A_MODIFIER_OLD
					IF OBJECT_ID('dbo.HELIOS_PARAM_CLO_OLD') is not null
						DROP TABLE dbo.HELIOS_PARAM_CLO_OLD
					IF OBJECT_ID('dbo.HELIOS_PARAM_PERIMETRE_DETTE_OLD') is not null
						DROP TABLE dbo.HELIOS_PARAM_PERIMETRE_DETTE_OLD
					-- On loggue la réussite
					SET @ErrorMssg = 'Fichier "' + @NomFichierXLSX + '" importé avec succès.'
					SET @ErrorCode = 0
					EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 0, @ErrorCode, @ErrorMssg
					PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
					RETURN @ErrorCode;
				END
			ELSE
				BEGIN
					SET @ErrorMssg = 'Erreur pendant l''importation.'
					SET @ErrorCode = 1006
					EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
					PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
					RETURN @ErrorCode;
				END
		END
	ELSE
		-- Si le fichier demandé n'existe pas, on loggue
		BEGIN
			SET @ErrorMssg = 'Fichier "' + @NomFichierXLSX + '" non trouvé.'
			SET @ErrorCode = 1002
			EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
			PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
			RETURN @ErrorCode;
		END
END