USE [RWA]
GO
/****** Object:  StoredProcedure [dbo].[USP_HECATE_REPORT_CATRWADETAIL]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USP_HECATE_REPORT_CATRWADETAIL]
	@RWACategory nvarchar(255) = NULL
AS
-- =============================================
-- Author:		T Fleury
-- Create date: 13/09/2016
-- ModIFy date: 
-- Description:	SSRS : Affichage
-- Input parameters:
--		
-- Output parameters:
-- Variables:
-- RETURN code
-- =============================================
BEGIN
	SET NOCOUNT ON;
	
	IF @RWACategory = '%'
		SET @RWACategory = NULL
		
	DECLARE @CatRWA_table TABLE 
	(
		[IdCategoryRWA] [nvarchar](3),
		[LibelleCategoryRWA] [nvarchar](50),
		[NbSuccess] int,
		[NbEchec] int
	)
	
	DECLARE @CatRWA_table_success TABLE 
	(
		[IdCategoryRWA] [nvarchar](3),
		[LibelleCategoryRWA] [nvarchar](50),
		[NbSuccess] int,
		[NbEchec] int
	)
	
	DECLARE @CatRWA_table_echecs TABLE 
	(
		[IdCategoryRWA] [nvarchar](3),
		[LibelleCategoryRWA] [nvarchar](50),
		[NbSuccess] int,
		[NbEchec] int
	)
	
	INSERT INTO @CatRWA_table_success
	(		[IdCategoryRWA],
			[LibelleCategoryRWA],
			[NbSuccess],
			[NbEchec]
	)
	SELECT IdCatRWA,Libelle,COUNT(*) AS NBSUCCESS,NULL
	FROM HECATE_INVENTAIRE_NORMALISES I RIGHT JOIN HECATE_CATEGORIE_RWA C ON I.RefCategorieRWA=C.IdCatRWA
	WHERE CodeResultat IN (401, 402, 403, 404, 405, 406, 407, 601, 602)
	AND Commentaires IS NOT NULL
	GROUP BY IdCatRWA,Libelle
	
	INSERT INTO @CatRWA_table_echecs
	(		[IdCategoryRWA],
			[LibelleCategoryRWA],
			[NbSuccess],
			[NbEchec]
	)
	SELECT RefCategorieRWA,Libelle,NULL,COUNT(*) AS NBSUCCESS
	FROM HECATE_INVENTAIRE_NORMALISES I inner join HECATE_CATEGORIE_RWA C ON I.RefCategorieRWA=C.IdCatRWA
	WHERE CodeResultat NOT IN (401, 402, 403, 404, 405, 406, 407, 601, 602)
	AND Commentaires IS NOT NULL
	GROUP BY RefCategorieRWA,Libelle
	
	INSERT INTO @CatRWA_table
	(		[IdCategoryRWA],
			[LibelleCategoryRWA],
			[NbSuccess],
			[NbEchec]
	)
	SELECT [IdCategoryRWA],[LibelleCategoryRWA],NbSuccess,NbEchec
	FROM @CatRWA_table_success S
	UNION 
	SELECT [IdCategoryRWA],[LibelleCategoryRWA],NbSuccess,NbEchec
	FROM @CatRWA_table_echecs
	
	SELECT [IdCategoryRWA],[LibelleCategoryRWA],Sum(NbSuccess) As NbSuccess ,Sum(NbEchec) As NbEchec
	FROM @CatRWA_table
	WHERE  [IdCategoryRWA] = COALESCE (@RWACategory,[IdCategoryRWA])
	GROUP BY [IdCategoryRWA],[LibelleCategoryRWA]
	
		
END;


GO
