USE [RWA]
GO
/****** Object:  StoredProcedure [dbo].[USP_HECATE_TRAITEMENT_AFFICHELISTEPERIODECLOTURE]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_HECATE_TRAITEMENT_AFFICHELISTEPERIODECLOTURE]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT DISTINCT hin.PeriodeCloture 
	FROM dbo.HECATE_INVENTAIRE_NORMALISES hin
END
GO
