USE [RWA]
GO
/****** Object:  StoredProcedure [dbo].[USP_HECATE_IMPORT_IMPORTEXCELBDDHISTORIQUE]    Script Date: 2/27/2025 3:44:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE OR ALTER   PROCEDURE [dbo].[USP_HECATE_IMPORT_IMPORTEXCELBDDHISTORIQUE]

	-- Add the parameters for the stored procedure here
	@NomFichierXLSX nvarchar(255),
	@OngletFichierXLSX nvarchar(30)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DECLARE	@sqlCommand nvarchar(3000), 
			@exist int, 
			@ChaineTMP nvarchar(1000),
			@ChaineTMP2 nvarchar(1000),
			@nbrLigne int
			
	DELETE FROM dbo.HECATE_LOG_IMPORT_EXPORT
	WHERE Process='IMPORT BDD HISTORIQUE'
	
	SET @ChaineTMP='E:\RWA\HECATE\Import\Params\' + @NomFichierXLSX
	EXEC xp_fileexist @ChaineTMP, @exist OUTPUT
	
	IF @NomFichierXLSX is not null AND @OngletFichierXLSX is not null AND @exist=1
	BEGIN
		IF OBJECT_ID('dbo.TEMP_DATA_BDD_HISTO') is not null
			DROP TABLE TEMP_DATA_BDD_HISTO
		
		SET @sqlCommand = N'SELECT cast(REPLACE(rtrim(ltrim([Source])),'' '','''') as nvarchar(3)) as Source,
					cast(REPLACE(rtrim(ltrim([Catégorie RWA])),'' '','''')  as nvarchar(3)) as RefCategorieRWA,
					cast(REPLACE(rtrim(ltrim([Identifiant unique retenu])),'' '','''') as nvarchar(13)) as IdentifiantUniqueRetenu,
					cast(REPLACE(rtrim(ltrim([RAF])),'' '','''') as nvarchar(7)) as RAF,
					cast(REPLACE(rtrim(ltrim([Libellé d’origine])),'' '','''') as nvarchar(255)) as LibelleOrigine,
					cast(REPLACE(rtrim(ltrim([Date d’échéance])),'' '','''') as date) as DateEcheance,
					cast(REPLACE(rtrim(ltrim([Identifiant d''origine])),'' '','''') as nvarchar(50)) as IdentifiantOrigine,
					cast(GETDATE() as date) as LastUpdate,
					cast(REPLACE(rtrim(ltrim([BBG Ticker])),'' '','''') as nvarchar(30)) as BBGTicker,
					cast(REPLACE(rtrim(ltrim([Libelle du type de dette])),'' '','''') as NVARCHAR(12)) as LibelleTypeDette
				INTO dbo.TEMP_DATA_BDD_HISTO
				FROM OPENROWSET (	''Microsoft.ACE.OLEDB.12.0'',
									''Excel 12.0;Database=E:\RWA\HECATE\Import\Params\' + @NomFichierXLSX + ';HDR=YES;IMEX=1'',
									''SELECT * FROM [' + @OngletFichierXLSX + '$]'') WHERE [Source] is not null'--BBG Ticker et Libelle du type de dette CRR3
--cast(REPLACE(rtrim(ltrim([Date d''échéance])),'' '','''') as date) as DateEcheance into TEMP_DATA_BDD_HISTO,
		BEGIN TRY
			EXEC sp_executesql @sqlCommand;
			SET @nbrLigne = @@ROWCOUNT
			IF @nbrLigne <> 0		
				DELETE FROM dbo.HECATE_INTERNE_HISTORIQUE
			ELSE
			BEGIN
				SET @ChaineTMP = 'L''onglet ('+@OngletFichierXLSX+') est vide.'
				EXEC dbo.USP_HECATE_LOG_SETLOGIMPORTEEXPORT 2,null,null,'IMPORT BDD HISTORIQUE',1000,@ChaineTMP
				PRINT @ChaineTMP
				RETURN 1000;
			END
		END TRY
		BEGIN CATCH
			SET @ChaineTMP = 'ERREUR FICHIER EXCEL: ' + ERROR_MESSAGE()
			SET @ChaineTMP2= ERROR_NUMBER()
			EXEC dbo.USP_HECATE_LOG_SETLOGIMPORTEEXPORT 2,null,null,'IMPORT BDD HISTORIQUE',@ChaineTMP2,@ChaineTMP
			
			PRINT '('+ @ChaineTMP2+ ') - ' + @ChaineTMP
			
			RETURN @ChaineTMP2;
		END CATCH
		
		BEGIN TRY
			INSERT INTO dbo.HECATE_INTERNE_HISTORIQUE ([Source],  IdentifiantOrigine, RefCategorieRWA, IdentifiantUniqueRetenu, RAF, LibelleOrigine, DateEcheance, LastUpdate, BBGTicker, LibelleTypeDette)
			SELECT [Source],  IdentifiantOrigine, RefCategorieRWA, IdentifiantUniqueRetenu, RAF, LibelleOrigine, DateEcheance, LastUpdate, BBGTicker, LibelleTypeDette
			FROM dbo.TEMP_DATA_BDD_HISTO
		END TRY
		BEGIN CATCH
			SET @ChaineTMP = 'ERREUR PENDANT INSERTION: ' + ERROR_MESSAGE()
			SET @ChaineTMP2= ERROR_NUMBER()
			EXEC dbo.USP_HECATE_LOG_SETLOGIMPORTEEXPORT 2,null,null,'IMPORT BDD HISTORIQUE',@ChaineTMP2,@ChaineTMP
			
			PRINT '('+ @ChaineTMP2+ ') - ' + @ChaineTMP
			
			RETURN @ChaineTMP2;
		END CATCH
		
		IF OBJECT_ID('dbo.TEMP_DATA_BDD_HISTO') is not null
			DROP TABLE TEMP_DATA_BDD_HISTO
			
		EXEC dbo.USP_HECATE_LOG_SETLOGIMPORTEEXPORT 0,null,null,'IMPORT BDD HISTORIQUE',0,'Fichier importé avec succès.'
		
		RETURN 0;
	END
	ELSE
	BEGIN
		PRINT '(1003) - Fichier non trouvé.'
		EXEC dbo.USP_HECATE_LOG_SETLOGIMPORTEEXPORT 2,null,null,'IMPORT BDD HISTORIQUE',1003,'Fichier non trouvé.'
		RETURN 1003;
	END
END