USE [RWA]
GO
/****** Object:  StoredProcedure [dbo].[USP_HECATE_TRAITEMENT_GETINFOEQUIVALENCE]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[USP_HECATE_TRAITEMENT_GETINFOEQUIVALENCE] 
	-- Add the parameters for the stored procedure here
	@NumLigne int,
	@PeriodeCloture nvarchar(6),
	@idSource nvarchar(3),
	@idIdentifiantOrigine nvarchar(50),
	@libCatDepositaire1 nvarchar(100),
	@libCatDepositaire2 nvarchar(100),
	
	@idCatDepositaire1 bigint OUTPUT,
	@idCatDepositaire2 bigint OUTPUT,
	@idCategorieRWA nvarchar(3) OUTPUT,
	@libCategorieRWA nvarchar(50) OUTPUT,
	@flagValeurMobiliere char(1) OUTPUT,
	@idBloomberg nvarchar(10) OUTPUT,
	@libBloomberg nvarchar(50) OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DECLARE @tmpidCatDepositaire1 bigint,
			@tmpidCatDepositaire2 bigint,
			@tmpidCategorieRWA nvarchar(3),
			@tmplibCategorieRWA nvarchar(50),
			@tmpflagValeurMobiliere char(1),
			@tmpidBloomberg nvarchar(10),
			@tmplibBloomberg nvarchar(50),
			@nbrligne int
	
    -- Insert statements for procedure here
	SELECT	@tmpidCatDepositaire1=hecr.RefCatDepositaire1, 
			@tmpidCatDepositaire2=hecr.RefCatDepositaire2,  
			@tmpidCategorieRWA=hecr.RefCategorieRWA, 
			@tmplibCategorieRWA=hcr.Libelle, 
			@tmpflagValeurMobiliere=hcr.ValeurMobiliere, 
			@tmpidBloomberg=hecr.RefTypeBloomberg, 
			@tmplibBloomberg=htb.Libelle
	FROM (((HECATE_EQUIVALENCE_CAT_RWA hecr 
			LEFT JOIN HECATE_CAT_DEPOSITAIRE1 hcd1 ON hecr.RefCatDepositaire1=hcd1.IdDepositaire1)
				LEFT JOIN HECATE_CAT_DEPOSITAIRE2 hcd2 ON hecr.RefCatDepositaire2=hcd2.IdDepositaire2)
					LEFT JOIN HECATE_CATEGORIE_RWA hcr ON hecr.RefCategorieRWA=hcr.IdCatRWA)
						LEFT JOIN HECATE_TYPE_BLOOMBERG htb ON hecr.RefTypeBloomberg=htb.IdTypeBloomberg
	WHERE hecr.Source=@idSource 
			AND hcd1.LibelleDepositaire1=@libCatDepositaire1
			AND hcd2.LibelleDepositaire2=isnull(@libCatDepositaire2,'NONE')
	
	SET @nbrligne=@@ROWCOUNT
	
	IF @nbrligne<>0
	BEGIN
		IF @nbrligne=1
		BEGIN
			SET	@idCatDepositaire1=@tmpidCatDepositaire1
			SET	@idCatDepositaire2=@tmpidCatDepositaire2
			SET	@idCategorieRWA=@tmpidCategorieRWA
			SET	@libCategorieRWA=@tmplibCategorieRWA
			SET	@flagValeurMobiliere=@tmpflagValeurMobiliere
			SET	@idBloomberg=@tmpidBloomberg
			SET	@libBloomberg=@tmplibBloomberg
				
			EXEC dbo.USP_HECATE_LOG_SETLOGCONSO @NumLigne, 0, @PeriodeCloture, @idSource, @idIdentifiantOrigine, 'SUCCES - Mapping Catégorie RWA - Un résultat trouvé.'
		END
		
		IF @nbrligne >1
			EXEC dbo.USP_HECATE_LOG_SETLOGCONSO @NumLigne, 2, @PeriodeCloture, @idSource, @idIdentifiantOrigine, 'ECHEC - Mapping Catégorie RWA - Plusieurs lignes différentes trouvées.'
	END
	ELSE
		EXEC dbo.USP_HECATE_LOG_SETLOGCONSO @NumLigne, 2, @PeriodeCloture, @idSource, @idIdentifiantOrigine, 'ECHEC - Mapping Catégorie RWA - Aucune lignes trouvées.'
	
	RETURN @nbrligne
END
GO
