USE [RWA]
GO
/****** Object:  StoredProcedure [dbo].[USP_HECATE_TRAITEMENT_RAZINVENTAIRESNORMALISES]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[USP_HECATE_TRAITEMENT_RAZINVENTAIRESNORMALISES]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
    DELETE FROM dbo.HECATE_COMPTEUR
    DELETE FROM dbo.HECATE_LOG_IMPORT_EXPORT WHERE PeriodeCloture IS NOT NULL
    DELETE FROM dbo.HECATE_LOG_CONSO
	DELETE FROM dbo.HECATE_INVENTAIRE_NORMALISES
END
GO
