USE [RWA]
GO
/****** Object:  StoredProcedure [dbo].[USP_HELIOS_IMPORT_SYNTHESE_B2C]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USP_HELIOS_IMPORT_SYNTHESE_B2C]
	@Process nvarchar(256),
	@NomFichierXLSX nvarchar(255),
	@OngletFichierXLSX nvarchar(30)
AS
BEGIN
	SET NOCOUNT ON;
	/* 
	Déclaration des variables
		ImportPath : chemin d'accès au fichier à importer
		SqlCommand1 : commande SQL complexe à exécuter
		SqlCommand2 : commande SQL complexe à exécuter
		Exist : vaut 1 ou 0 si le fichier à exporter existe ou non
		ErrorMssg : message de retour à afficher ou journaliser
		ErrorCode : code de retour à afficher ou journaliser
		ErrorLevel : niveau d'erreur à afficher ou journaliser (0=OK, 1=WARNING, 2=ERROR)
		NbLignes : nombre de lignes retournées par la commande SqlCommand
		PeriodeCloture : période de clôture actuelle
		
	Suivi des modifications :
		09/12/2016 : Suite retour KPMG
			- Ajout du contrôle #35 : Contrôle d'exhaustivité des lignes du Retour B2C importées dans la Synthèse RWA
			- Ajout du contrôle #36 : Contrôle des Montants d'Actif Pondéré entre le retour B2C et la Synthèse RWA T
		18/01/2017 : Suite analyse RM sur données B2C
			- Bloc d'"Agrégation avec la Synthèse RWA"
				- Ajout de la remise à vide des données B2C dans la préparation à la synthèse avant import de nouvelles données
				- Ajout de l'agrégation des montants d'actifs pondérés et notionnel en cas de lignes multiples dans le Retour B2C pour un même compte
		11/07/2017 : Ajout de la retrieve des montants proratisés		
		
	*/
	DECLARE	@ImportPath nvarchar(256) = 'E:\RWA\HELIOS\Import\RetourB2C\', --'
			@SqlCommand1 nvarchar(3072),
			@SqlCommand2 nvarchar(3072),
			@Exist int,
			@ErrorMssg nvarchar(3072),
			@ErrorCode nvarchar(1024),
			@ErrorLevel int,
			@NbLignes int,
			@PeriodeCloture nvarchar(6),
			@ExcelVersion nvarchar(2),
			@ReturnValue int
	
	IF @Process IS NULL
		SET @Process = 'IMPORT SYNTHESE B2C'
	
	-- Avant de démarrer, on nettoie de la table des logs les lignes correspondantes au Process actuel
	DELETE FROM dbo.HELIOS_LOG_IMPORT_EXPORT WHERE Process = @Process
	
	-- Récupération de la période actuelle
	BEGIN TRY
		SET @PeriodeCloture = RIGHT('00' + CAST(MONTH(GETDATE())-1 as varchar(2)), 2) + RIGHT('0000' + CAST(YEAR(GETDATE()) as varchar(4)), 4)
		IF OBJECT_ID('dbo.HELIOS_IMPORT_FICHIER_ENRICHI_BRUT') IS NOT NULL
			BEGIN
				SELECT @NbLignes = COUNT(*) FROM dbo.HELIOS_IMPORT_FICHIER_ENRICHI_BRUT;
				IF @NbLignes > 0
					SELECT @PeriodeCloture = PeriodeCloture FROM dbo.HELIOS_IMPORT_FICHIER_ENRICHI_BRUT GROUP BY PeriodeCloture
			END
	END TRY
	BEGIN CATCH
		SET @PeriodeCloture = RIGHT('00' + CAST(MONTH(GETDATE())-1 as varchar(2)), 2) + RIGHT('0000' + CAST(YEAR(GETDATE()) as varchar(4)), 4)
	END CATCH
	
	--07/11/2017 - Ajout de la retrieve des montants à change constant si cela n'a pas déjà été fait.
	BEGIN TRY
		EXEC @ReturnValue = dbo.USP_HELIOS_TRAITEMENT_PREP_SYNTHESE_RWA_RETRIEVE_CONSTANT_AMOUNT 'PREPARATION SYNTHESE RWA - RETRIEVE DES DONNEES A CHANGE CONSTAT', @PeriodeCloture
		IF @ReturnValue <> 0
			BEGIN
				SET @ErrorMssg = 'La table de consolidation T-1 à change constant n''existe pas. '
				SET @ErrorCode = 1008
				EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', 'PREPARATION SYNTHESE RWA', @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
				RETURN @ErrorCode;
			END
	END TRY
	BEGIN CATCH
		-- En cas d'erreur lors du bloc précédent, on loggue
		SET @ErrorMssg = 'Erreur pendant les traitements: ' + ERROR_MESSAGE()
		SET @ErrorCode = ERROR_NUMBER()
		EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
		RETURN @ErrorCode;
	END CATCH
	
	
	
	-- On teste l'existance du fichier demandé
	SET @ErrorMssg = @ImportPath + @NomFichierXLSX
	EXEC xp_fileexist @ErrorMssg, @Exist OUTPUT
	
	-- Si les noms des fichier et onglet ne sont pas nuls et si le fichier demandé existe
	IF @NomFichierXLSX is not null AND @OngletFichierXLSX is not null AND @Exist = 1
		BEGIN
			-- Définition des requêtes de récupération du fichier Excel dans la table temporaire
			SET @SqlCommand1 = N'
				SELECT
					CAST(RTRIM(LTRIM(REPLACE([External id],'''''''',''''))) as nvarchar(255)) as Identifiant,
					CAST(RTRIM(LTRIM(REPLACE([RAF tiers],'''''''',''''))) as nvarchar(7)) as RAFB2C,
					CAST(RTRIM(LTRIM(REPLACE([Approche],'''''''',''''))) as nvarchar(255)) as Approche,
					CAST(RTRIM(LTRIM(REPLACE([Classe actif b2],'''''''',''''))) as nvarchar(255)) as ClasseActifB2,
					CAST(RTRIM(LTRIM(REPLACE([Catégorie Produit],'''''''',''''))) as nvarchar(255)) as CategorieProduit,
					CAST(RTRIM(LTRIM(REPLACE([Rating],'''''''',''''))) as nvarchar(255)) as Rating,
					CAST(RTRIM(LTRIM([Coeff brut])) as float) as TauxPonderation,
					CAST(RTRIM(LTRIM([Actif pondéré])) as float) as MontantActifPondere,
					CAST(RTRIM(LTRIM([Notionnel])) as float) as Notionnel
				INTO dbo.HELIOS_TEMP_IMPORT_SYNTHESE_B2C
				FROM OPENROWSET (''Microsoft.ACE.OLEDB.12.0'',
								 ''Excel 12.0;Database=' + @ImportPath + @NomFichierXLSX + ';HDR=YES;IMEX=1'',
								 ''SELECT * FROM [' + @OngletFichierXLSX + '$]'')
				WHERE [External id] is not null;'
			
			SET @SqlCommand2 = N'
				SELECT Identifiant, Approche, RAFB2C, ClasseActifB2, CategorieProduit, Rating, (TauxPonderation / 100) as TauxPonderation, MontantActifPondere, Notionnel
				INTO dbo.HELIOS_TEMP_IMPORT_SYNTHESE_B2C
				FROM (
					SELECT
						CAST(RTRIM(LTRIM(REPLACE([Identifiant],'''''''',''''))) as nvarchar(255)) as Identifiant,
						CAST(RTRIM(LTRIM(REPLACE([Code RAF],'''''''',''''))) as nvarchar(7)) as RAFB2C,
						CAST(RTRIM(LTRIM(REPLACE([Approche],'''''''',''''))) as nvarchar(255)) as Approche,
						CAST(RTRIM(LTRIM(REPLACE([Classe d''actif Bâle II],'''''''',''''))) as nvarchar(255)) as ClasseActifB2,
						CAST(RTRIM(LTRIM(REPLACE([Catégorie Produit],'''''''',''''))) as nvarchar(255)) as CategorieProduit,
						CAST(RTRIM(LTRIM(REPLACE([Note utilisée],'''''''',''''))) as nvarchar(255)) as Rating,
						(CAST(RTRIM(LTRIM([Coefficient de pondération Brut %])) as float) / 100) as TauxPonderation,
						CAST(RTRIM(LTRIM([Actif Pondéré (RWA)])) as float) as MontantActifPondere,
						CAST(RTRIM(LTRIM([Notionnel])) as float) as Notionnel
					FROM OPENROWSET (''Microsoft.ACE.OLEDB.12.0'',
									 ''Excel 12.0;Database=' + @ImportPath + @NomFichierXLSX + ';HDR=YES;IMEX=1'',
									 ''SELECT * FROM [' + @OngletFichierXLSX + '$]'')
					WHERE [Identifiant] is not null
				) data;'

				
			-- Si la table temporaire d'import existe, on la supprime
			IF OBJECT_ID('dbo.HELIOS_TEMP_IMPORT_SYNTHESE_B2C') is not null
				DROP TABLE dbo.HELIOS_TEMP_IMPORT_SYNTHESE_B2C
				
			BEGIN TRY
				-- Tentative d'import de la version 1 du fichier Retour B2C
				EXEC sp_executesql @SqlCommand1;
				SET @NbLignes = @@ROWCOUNT
				IF @NbLignes <> 0
					BEGIN
						DELETE FROM dbo.HELIOS_IMPORT_SYNTHESE_B2C
						SET @ExcelVersion = 'V1'
					END
			END TRY
			BEGIN CATCH
				BEGIN TRY
					-- Tentative d'import de la version 2 du fichier Retour B2C
					EXEC sp_executesql @SqlCommand2;
					SET @NbLignes = @@ROWCOUNT
					IF @NbLignes <> 0
						BEGIN
							DELETE FROM dbo.HELIOS_IMPORT_SYNTHESE_B2C
							SET @ExcelVersion = 'VF'
						END
				END TRY
				BEGIN CATCH
					-- En cas d'erreur lors du bloc précédent, on loggue
					SET @ErrorMssg = 'Le retour B2C n''a pas été importé: ' + ERROR_MESSAGE()
					SET @ErrorCode = ERROR_NUMBER()
					SET @ErrorLevel = 2
					EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, @ErrorLevel, @ErrorCode, @ErrorMssg
					PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
					RETURN @ErrorCode;
				END CATCH
			END CATCH
			
			
			--18/05/2018 - Remplacement du Notionel par le montant de l'actif pondéré pour les comptes de remplacement qui ne sont pas nettés
			UPDATE HELIOS_TEMP_IMPORT_SYNTHESE_B2C
			SET Notionnel = MontantActifPondere
			WHERE SUBSTRING(Identifiant,4,6) IN (SELECT CompteMagnitudeRemplacement FROM HELIOS_PARAM_COMPTES_MAGNITUDE_A_EXTRAIRE WHERE CompteMagnitudeRemplacement IS NOT NULL and CompteANetter=0)
			


			-- Enrichissement et insertion des données de la table temporaire dans la table
			-- d'import finale
			BEGIN TRY
				SELECT @NbLignes = COUNT(*) FROM dbo.HELIOS_TEMP_IMPORT_SYNTHESE_B2C;
				IF @NbLignes = 0
					BEGIN
						SET @ErrorMssg = 'Le fichier n''a pas été importé dans la table temporaire.'
						SET @ErrorCode = 1006
						SET @ErrorLevel = 2
						EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, @ErrorLevel, @ErrorCode, @ErrorMssg
						PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
						RETURN @ErrorCode;
					END

					SELECT * FROM HELIOS_IMPORT_SYNTHESE_B2C

				INSERT INTO dbo.HELIOS_IMPORT_SYNTHESE_B2C (PeriodeCloture, Source, IdentifiantUniqueRetenu, Approche, RAFB2C, ClasseActifB2, CategorieProduit, Rating, TauxPonderation, MontantActifPondere, Notionnel, ExternalID)
				SELECT
					@PeriodeCloture as PeriodeCloture,
					LEFT(Identifiant, 3) as Source,
					CASE
						WHEN UnderscorePos < 7 THEN RIGHT(SUBSTRING(Identifiant, UnderscorePos + 1, LEN(Identifiant)), 13)
						ELSE RIGHT(SUBSTRING(Identifiant, 4, UnderscorePos - 4), 13)
					END as IdentifiantUniqueRetenu,
					Approche, RAFB2C, ClasseActifB2, CategorieProduit, Rating, TauxPonderation, MontantActifPondere, Notionnel,
					Identifiant as ExternalID
				FROM (
					SELECT 
						--CASE WHEN Identifiant LIKE 'AJM%' THEN SUBSTRING(Identifiant, 4, LEN(Identifiant)) 
						--ELSE Identifiant END as 
						Identifiant, 
						Approche, RAFB2C, ClasseActifB2, CategorieProduit, Rating, TauxPonderation, MontantActifPondere, Notionnel, CHARINDEX('_', CASE WHEN Identifiant LIKE 'AJM%' THEN SUBSTRING(Identifiant, 4, LEN(Identifiant)) ELSE Identifiant END) as UnderscorePos FROM dbo.HELIOS_TEMP_IMPORT_SYNTHESE_B2C) data;
			END TRY

			BEGIN CATCH
				-- En cas d'erreur lors du bloc précédent, on loggue
				SET @ErrorMssg = 'Erreur pendant l''insertion: ' + ERROR_MESSAGE()
				SET @ErrorCode = ERROR_NUMBER()
				SET @ErrorLevel = 2
				EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, @ErrorLevel, @ErrorCode, @ErrorMssg
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
				RETURN @ErrorCode;
			END CATCH
			-- Agrégation avec la Synthèse RWA
			BEGIN TRY
				SET @SqlCommand1 = N'SELECT * FROM dbo.HELIOS_IMPORT_SYNTHESE_B2C WHERE PeriodeCloture = ' + @PeriodeCloture
				EXEC sp_executesql @SqlCommand1;
				SET @NbLignes = @@ROWCOUNT
				IF @NbLignes <> 0
					BEGIN
						UPDATE dbo.HELIOS_PREP_SYNTHESE_RWA_NON_AGREGEE
						SET TauxPonderation = NULL,
							MontantActifPondere = NULL,
							Notionnel = NULL,
							RAFB2C = 'N/A',
							Approche = 'N/A',
							ClasseActifB2 = 'N/A',
							CategorieProduit = 'N/A',
							Rating = 'N/A';
						
						UPDATE dbo.HELIOS_PREP_SYNTHESE_RWA_NON_AGREGEE
						SET Approche = b.Approche,
							RAFB2C = b.RAFB2C,
							ClasseActifB2 = b.ClasseActifB2,
							CategorieProduit = b.CategorieProduit,
							Rating = b.Rating,
							TauxPonderation = b.TauxPonderation,
							MontantActifPondere = b.MontantActifPondere,
							Notionnel = b.Notionnel
						FROM dbo.HELIOS_IMPORT_SYNTHESE_B2C b
						WHERE HELIOS_PREP_SYNTHESE_RWA_NON_AGREGEE.Source = b.Source
							AND (HELIOS_PREP_SYNTHESE_RWA_NON_AGREGEE.IdentifiantUniqueRetenu = b.IdentifiantUniqueRetenu
								OR (SUBSTRING(HELIOS_PREP_SYNTHESE_RWA_NON_AGREGEE.CompteMagnitude, 2, LEN(HELIOS_PREP_SYNTHESE_RWA_NON_AGREGEE.CompteMagnitude)) + HELIOS_PREP_SYNTHESE_RWA_NON_AGREGEE.RAF) = b.IdentifiantUniqueRetenu)
							AND (CompteCopernic IS NULL
								OR CompteCopernic NOT IN ('A20355', 'A20401')
								OR (CompteCopernic IN ('A20355', 'A20401') AND MontantProratise > 0))
							AND b.PeriodeCloture = @PeriodeCloture
							AND b.ClasseActifB2 IS NOT NULL;
						
						UPDATE dbo.HELIOS_PREP_SYNTHESE_RWA_NON_AGREGEE
						SET MontantActifPondere = b.MontantActifPondere,
							Notionnel = b.Notionnel
						FROM (
							SELECT PeriodeCloture, Source, IdentifiantUniqueRetenu,SUM(MontantActifPondere) as MontantActifPondere,SUM(Notionnel) as Notionnel
							FROM dbo.HELIOS_IMPORT_SYNTHESE_B2C
							GROUP BY PeriodeCloture, Source, IdentifiantUniqueRetenu) b
						WHERE HELIOS_PREP_SYNTHESE_RWA_NON_AGREGEE.Source = b.Source
							AND (HELIOS_PREP_SYNTHESE_RWA_NON_AGREGEE.IdentifiantUniqueRetenu = b.IdentifiantUniqueRetenu
								OR (SUBSTRING(HELIOS_PREP_SYNTHESE_RWA_NON_AGREGEE.CompteMagnitude, 2, LEN(HELIOS_PREP_SYNTHESE_RWA_NON_AGREGEE.CompteMagnitude)) + HELIOS_PREP_SYNTHESE_RWA_NON_AGREGEE.RAF) = b.IdentifiantUniqueRetenu)
							AND (CompteCopernic IS NULL
								OR CompteCopernic NOT IN ('A20355', 'A20401')
								OR (CompteCopernic IN ('A20355', 'A20401') AND MontantProratise > 0))
							AND b.PeriodeCloture = @PeriodeCloture;
					END
				ELSE
					BEGIN
						SET @ErrorMssg = 'Erreur pendant l''agrégation: le Retour B2C n''a pas été importé.'
						SET @ErrorCode = 1002
						SET @ErrorLevel = 2
						EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, @ErrorLevel, @ErrorCode, @ErrorMssg
						PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
						RETURN @ErrorCode;
					END
			END TRY
			BEGIN CATCH
				-- En cas d'erreur lors du bloc précédent, on loggue
				SET @ErrorMssg = 'Erreur pendant l''agrégation: ' + ERROR_MESSAGE()
				SET @ErrorCode = ERROR_NUMBER()
				SET @ErrorLevel = 2
				EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, @ErrorLevel, @ErrorCode, @ErrorMssg
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
				RETURN @ErrorCode;
			END CATCH

			-- Gestion des cas particuliers "AJUSTEMENTS" et "NAMFI" et "IMMO"
			BEGIN TRY
				UPDATE dbo.HELIOS_PREP_SYNTHESE_RWA_NON_AGREGEE
				SET PeriodeCloture = @PeriodeCloture,
					IdentifiantUniqueRetenu = 'AJUSTEMENTS',
					LibelleOrigineOuPartnerID = 'AJUSTEMENT ULISS/COMPTA',
					TauxPonderation = data.TauxPonderation,
					MontantActifPondere = data.MontantActifPondere,
					Notionnel = data.Notionnel
				FROM (
					SELECT
						SUM(MontantActifPondere) as MontantActifPondere,
						SUM(Notionnel) as Notionnel,
						CASE WHEN SUM(Notionnel) = 0 THEN 0 ELSE SUM(MontantActifPondere) / SUM(Notionnel) END as TauxPonderation
					FROM dbo.HELIOS_IMPORT_SYNTHESE_B2C
					WHERE ExternalID LIKE 'AJE%' OR ExternalID LIKE 'AJM%'
				) data
				WHERE IdentifiantUniqueRetenu = 'AJUSTEMENTS';
				
				UPDATE dbo.HELIOS_PREP_SYNTHESE_RWA_NON_AGREGEE
				SET PeriodeCloture = @PeriodeCloture,
					IdentifiantUniqueRetenu = 'NAMFI',
					LibelleOrigineOuPartnerID = 'NAMFI',
					TauxPonderation = data.TauxPonderation,
					MontantActifPondere = data.MontantActifPondere,
					Notionnel = data.Notionnel
				FROM (
					SELECT
						SUM(MontantActifPondere) as MontantActifPondere,
						SUM(Notionnel) as Notionnel,
						CASE WHEN SUM(Notionnel) = 0 THEN 0 ELSE SUM(MontantActifPondere) / SUM(Notionnel) END as TauxPonderation
					FROM dbo.HELIOS_IMPORT_SYNTHESE_B2C
					WHERE ExternalID LIKE 'NAMFI%'
				) data
				WHERE IdentifiantUniqueRetenu = 'NAMFI';
				
				UPDATE dbo.HELIOS_PREP_SYNTHESE_RWA_NON_AGREGEE
				SET PeriodeCloture = '032018',
					IdentifiantUniqueRetenu = 'IMMOS',
					LibelleOrigineOuPartnerID = 'IMMOBILISATIONS CORPRELLES',
					TauxPonderation = data.TauxPonderation,
					MontantActifPondere = data.MontantActifPondere,
					Notionnel = data.Notionnel
				FROM (
					SELECT
						SUM(MontantActifPondere) as MontantActifPondere,
						SUM(Notionnel) as Notionnel,
						CASE WHEN SUM(Notionnel) = 0 THEN 0 ELSE SUM(MontantActifPondere) / SUM(Notionnel) END as TauxPonderation
					FROM dbo.HELIOS_IMPORT_SYNTHESE_B2C
					WHERE ExternalID LIKE 'IMMO%'
				) data
				WHERE IdentifiantUniqueRetenu = 'IMMOS';

			END TRY
			BEGIN CATCH
				-- En cas d'erreur lors du bloc précédent, on loggue
				SET @ErrorMssg = 'Erreur pendant l''agrégation des NAMFI et AJUSTEMENTS: ' + ERROR_MESSAGE()
				SET @ErrorCode = ERROR_NUMBER()
				SET @ErrorLevel = 2
				EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, @ErrorLevel, @ErrorCode, @ErrorMssg
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
				RETURN @ErrorCode;
			END CATCH

			-- Gestion du cas particuliers IMMO
			BEGIN TRY
				UPDATE dbo.HELIOS_PREP_SYNTHESE_RWA_NON_AGREGEE
				SET PeriodeCloture = @PeriodeCloture,
					IdentifiantUniqueRetenu = 'IMMO',
					LibelleOrigineOuPartnerID = 'IMMOBILISATIONS',
					TauxPonderation = data.TauxPonderation,
					MontantActifPondere = data.MontantActifPondere,
					Notionnel = data.Notionnel
				FROM (
					SELECT
						SUM(MontantActifPondere) as MontantActifPondere,
						SUM(Notionnel) as Notionnel,
						CASE WHEN SUM(Notionnel) = 0 THEN 0 ELSE SUM(MontantActifPondere) / SUM(Notionnel) END as TauxPonderation
					FROM dbo.HELIOS_IMPORT_SYNTHESE_B2C
					WHERE ExternalID LIKE 'IMMO03A%'
				) data
				WHERE IdentifiantUniqueRetenu = 'IMMO';
			END TRY
			BEGIN CATCH
				-- En cas d'erreur lors du bloc précédent, on loggue
				SET @ErrorMssg = 'Erreur pendant l''agrégation des NAMFI et AJUSTEMENTS: ' + ERROR_MESSAGE()
				SET @ErrorCode = ERROR_NUMBER()
				SET @ErrorLevel = 2
				EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, @ErrorLevel, @ErrorCode, @ErrorMssg
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
				RETURN @ErrorCode;
			END CATCH
	
			-- Traitement d'agrégation des données de synthèse T
			BEGIN TRY
				-- On nettoie la table de synthèse pour l'agrégation de la période en cours
				DELETE FROM dbo.HELIOS_PREP_SYNTHESE_RWA_AGREGEE;
				
				INSERT INTO dbo.HELIOS_PREP_SYNTHESE_RWA_AGREGEE (PeriodeCloture, Source, CompteMagnitude, PartnerID, RefCategorieRWA, IdentifiantUniqueRetenu, RAF, LibelleOrigineOuPartnerID, MontantProratise, DateFinContrat, CompteCopernic, CodeProduit, PCEC, CategorieSynthese, TauxPonderation, MontantActifPondere, Notionnel, RAFB2C, Approche, ClasseActifB2, CategorieProduit, Rating, Transparence)
				SELECT
					PeriodeCloture, Source, CompteMagnitude, PartnerID, RefCategorieRWA, IdentifiantUniqueRetenu, RAF, LibelleOrigineOuPartnerID,
					SUM(MontantProratise) as MontantProratise,
					DateFinContrat, CompteCopernic, CodeProduit, PCEC, CategorieSynthese,
					CASE WHEN SUM(Notionnel) = 0 THEN 0 WHEN ISNULL(TauxPonderation, 0) = 0 THEN SUM(MontantActifPondere) / SUM(Notionnel) ELSE TauxPonderation END as TauxPonderation,
					SUM(MontantActifPondere) as MontantActifPondere,
					SUM(Notionnel) as Notionnel,
					RAFB2C, Approche, ClasseActifB2, CategorieProduit, Rating, Transparence
				FROM (
					SELECT
						CASE WHEN b.PeriodeCloture IS NOT NULL THEN b.PeriodeCloture ELSE a.PeriodeCloture END as PeriodeCloture,
						CASE WHEN b.Source IS NOT NULL THEN b.Source ELSE a.Source END as Source,
						CASE WHEN b.CompteMagnitude IS NOT NULL THEN b.CompteMagnitude ELSE a.CompteMagnitude END as CompteMagnitude,
						CASE WHEN b.PartnerID IS NOT NULL THEN b.PartnerID ELSE a.PartnerID END as PartnerID,
						CASE WHEN b.Source IS NOT NULL THEN NULL ELSE a.RefCategorieRWA END as RefCategorieRWA,
						CASE WHEN b.Source IS NOT NULL THEN b.CompteMagnitude + LEFT(b.PartnerID, 6) ELSE a.IdentifiantUniqueRetenu END as IdentifiantUniqueRetenu,
						CASE WHEN b.RAF IS NOT NULL THEN b.RAF ELSE a.RAF END as RAF,
						CASE WHEN b.Libelle IS NOT NULL THEN b.Libelle ELSE a.LibelleOrigineOuPartnerID END as LibelleOrigineOuPartnerID,
						a.MontantProratise,
						CASE WHEN b.Source IS NOT NULL THEN NULL ELSE a.DateFinContrat END as DateFinContrat,
						a.CompteCopernic,
						CASE WHEN b.Source IS NOT NULL THEN NULL ELSE a.CodeProduit END as CodeProduit,
						a.PCEC,
						a.CategorieSynthese,
						CASE WHEN b.Source IS NOT NULL THEN NULL ELSE a.TauxPonderation END as TauxPonderation,
						a.MontantActifPondere,
						a.Notionnel,
						CASE WHEN b.Source IS NOT NULL THEN NULL ELSE a.RAFB2C END as RAFB2C,
						CASE WHEN b.Source IS NOT NULL THEN NULL ELSE a.Approche END as Approche,
						CASE WHEN b.Source IS NOT NULL THEN NULL ELSE a.ClasseActifB2 END as ClasseActifB2,
						CASE WHEN b.Source IS NOT NULL THEN NULL ELSE a.CategorieProduit END as CategorieProduit,
						CASE WHEN b.Source IS NOT NULL THEN NULL ELSE a.Rating END as Rating,
						CASE WHEN b.Source IS NOT NULL THEN 'Oui' ELSE 'Non' END as Transparence
					FROM dbo.HELIOS_PREP_SYNTHESE_RWA_NON_AGREGEE a
						LEFT JOIN dbo.HELIOS_SEED_MONEY b
							ON b.Source = a.Source
								AND b.CompteMagnitude = a.CompteMagnitude
								AND b.PartnerID = a.PartnerID
					WHERE a.Source NOT IN ('098', '099','100') OR a.Source IS NULL
						UNION ALL
					SELECT
						PeriodeCloture, Source, CompteMagnitude, NULL as PartnerID, RefCategorieRWA,
						CASE
							WHEN Source = '098' THEN 'CREG-HORS-NAM'
							WHEN Source = '099' THEN 'CREG-NAM'
							WHEN Source = '100' THEN 'EQUITY'
						END as IdentifiantUniqueRetenu,
						NULL as RAF,
						CASE
							WHEN Source = '098' THEN 'CREG rajoutées manuellement depuis le compte A10300'
							WHEN Source = '099' THEN 'CREG transmises par NAM'
							WHEN Source = '100' THEN 'Equity'
						END as LibelleOrigineOuPartnerID,
						MontantProratise, NULL as DateFinContrat, CompteCopernic, CodeProduit, PCEC, NULL as CategorieSynthese, NULL as TauxPonderation, MontantActifPondere, Notionnel, NULL as RAFB2C, NULL as Approche, NULL as ClasseActifB2, NULL as CategorieProduit, NULL as Rating, 'Non' as Transparence
					FROM dbo.HELIOS_PREP_SYNTHESE_RWA_NON_AGREGEE
					WHERE Source IN ('098', '099','100')
				) data
				GROUP BY PeriodeCloture, Source, CompteMagnitude, PartnerID, RefCategorieRWA, IdentifiantUniqueRetenu, RAF, LibelleOrigineOuPartnerID, DateFinContrat, CompteCopernic, CodeProduit, PCEC, CategorieSynthese, TauxPonderation, RAFB2C, Approche, ClasseActifB2, CategorieProduit, Rating, Transparence
				ORDER BY PeriodeCloture, Source, CompteMagnitude, PartnerID, RefCategorieRWA, IdentifiantUniqueRetenu;
				


				--18/05/2018 - Remplacement du Notionel par le montant de l'actif pondéré pour les comptes de remplacement qui ne sont pas nettés
				DELETE FROM HELIOS_PREP_SYNTHESE_RWA_AGREGEE
				WHERE MontantProratise<0
				AND Source+CompteMagnitude+PartnerID IN (
					SELECT Source+CompteMagnitude+PartnerID
					FROM HELIOS_PREP_SYNTHESE_RWA_AGREGEE
					WHERE CompteMagnitude IN (SELECT CompteMagnitudeRemplacement FROM HELIOS_PARAM_COMPTES_MAGNITUDE_A_EXTRAIRE WHERE CompteMagnitudeRemplacement IS NOT NULL and CompteANetter=0)
					GROUP BY Source,
						CompteMagnitude,
						PartnerID
					HAVING Count(*)>1)

				UPDATE HELIOS_PREP_SYNTHESE_RWA_AGREGEE
				SET MontantProratise = MontantActifPondere
				WHERE CompteMagnitude IN (SELECT CompteMagnitudeRemplacement FROM HELIOS_PARAM_COMPTES_MAGNITUDE_A_EXTRAIRE WHERE CompteMagnitudeRemplacement IS NOT NULL and CompteANetter=0)
			 
								
				--04/17/2018 - Nettoyage pour les comptes de remplacement PRETLT, PRETSM, CREAN1
				--UPDATE HELIOS_PREP_SYNTHESE_RWA_NON_AGREGEE
				--SET MontantProratise = 4747000-2000000
				--WHERE IdentifiantUniqueRetenu='CREAN1DTX'
				--AND MontantProratise=4747000
				
				--UPDATE HELIOS_PREP_SYNTHESE_RWA_NON_AGREGEE
				--SET MontantActifPondere = 0,
				--Notionnel=0
				--WHERE IdentifiantUniqueRetenu='CREAN1DTX'
				--AND MontantProratise=0
				
				--UPDATE HELIOS_PREP_SYNTHESE_RWA_NON_AGREGEE
				--SET MontantProratise = 0,
				--Notionnel=0
				--WHERE IdentifiantUniqueRetenu='PRETLTRU999'
				--AND MontantProratise=87000
				
				--UPDATE HELIOS_PREP_SYNTHESE_RWA_NON_AGREGEE
				--SET MontantProratise = 0,
				--Notionnel=0
				--WHERE IdentifiantUniqueRetenu='PRETLTRU999'
				--AND MontantProratise=-87000
				
				--UPDATE HELIOS_PREP_SYNTHESE_RWA_NON_AGREGEE
				--SET MontantProratise = 565000-486000,
				--Notionnel=79000
				--WHERE IdentifiantUniqueRetenu='PRETLTDTX'
				--AND MontantProratise=565000
				
				--UPDATE HELIOS_PREP_SYNTHESE_RWA_NON_AGREGEE
				--SET MontantActifPondere = 0,
				--Notionnel=0
				--WHERE IdentifiantUniqueRetenu='PRETLTDTX'
				--AND MontantProratise=-486000
				
				--UPDATE HELIOS_PREP_SYNTHESE_RWA_NON_AGREGEE
				--SET MontantProratise = 2694000-830000,
				--Notionnel=2694000-830000
				--WHERE IdentifiantUniqueRetenu='PRETSMINPE048'
				--AND MontantProratise=2694000
				
				--UPDATE HELIOS_PREP_SYNTHESE_RWA_NON_AGREGEE
				--SET MontantActifPondere = 0,
				--Notionnel=0
				--WHERE IdentifiantUniqueRetenu='PRETSMINPE048'
				--AND MontantProratise=-830000
				
				--SELECT * FROM HELIOS_PREP_SYNTHESE_RWA_AGREGEE
				--WHERE IdentifiantUniqueRetenu LIKE '%CREAN1%'
				
				--UPDATE HELIOS_PREP_SYNTHESE_RWA_AGREGEE
				--SET MontantActifPondere=0,
				--Notionnel=0
				--WHERE IdentifiantUniqueRetenu='CREAN1DTX'
				--AND MontantProratise=0
				
				--SELECT * FROM HELIOS_PREP_SYNTHESE_RWA_AGREGEE
				--WHERE IdentifiantUniqueRetenu LIKE '%PRETLT%'
				
				--UPDATE HELIOS_PREP_SYNTHESE_RWA_AGREGEE
				--SET Notionnel=0
				--WHERE IdentifiantUniqueRetenu='PRETLTRU999'
				--AND Notionnel=87000

				
				--UPDATE HELIOS_PREP_SYNTHESE_RWA_AGREGEE
				--SET Notionnel=79000
				--WHERE IdentifiantUniqueRetenu='PRETLTDTX'
				--AND MontantProratise=79000
				
				--UPDATE HELIOS_PREP_SYNTHESE_RWA_AGREGEE
				--SET MontantProratise=0,
				--MontantActifPondere=0,
				--Notionnel=0
				--WHERE IdentifiantUniqueRetenu='PRETLTDTX'
				--AND MontantProratise=-486000

				--SELECT * FROM HELIOS_PREP_SYNTHESE_RWA_AGREGEE
				--WHERE IdentifiantUniqueRetenu LIKE '%PRETSM%'
				
				--UPDATE HELIOS_PREP_SYNTHESE_RWA_AGREGEE
				--SET Notionnel=2694000-830000
				--WHERE IdentifiantUniqueRetenu='PRETSMINPE048'
				--AND MontantProratise=1864000
				
				--UPDATE HELIOS_PREP_SYNTHESE_RWA_AGREGEE
				--SET MontantProratise=0,
				--MontantActifPondere=0,
				--Notionnel=0
				--WHERE IdentifiantUniqueRetenu='PRETSMINPE048'
				--AND MontantProratise=-830000







			END TRY
			BEGIN CATCH
				-- En cas d'erreur lors du bloc précédent, on loggue
				SET @ErrorMssg = 'Erreur pendant l''agrégation des données de synthèse T: ' + ERROR_MESSAGE()
				SET @ErrorCode = ERROR_NUMBER()
				SET @ErrorLevel = 2
				EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, @ErrorLevel, @ErrorCode, @ErrorMssg
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
				RETURN @ErrorCode;
			END CATCH
	
			-- Exécution du rapport de contrôle #34
			BEGIN TRY
				IF OBJECT_ID('dbo.HELIOS_REPORT_CONTROLE34') is not null
					DROP TABLE dbo.HELIOS_REPORT_CONTROLE34
					
				SELECT *
				INTO dbo.HELIOS_REPORT_CONTROLE34
				FROM dbo.HELIOS_PREP_SYNTHESE_RWA_AGREGEE
				WHERE CompteMagnitude + ISNULL(PartnerID, '') IN (
					SELECT DISTINCT CompteMagnitude + ISNULL(PartnerID, '')
					FROM ( SELECT Source, CompteMagnitude, PartnerID, COUNT(1) as Nb
						FROM dbo.HELIOS_PREP_SYNTHESE_RWA_AGREGEE
						GROUP BY Source, CompteMagnitude, PartnerID ) tmp
					WHERE Nb > 1);
				
				IF OBJECT_ID('dbo.HELIOS_REPORT_CONTROLE34') is null
					BEGIN
						-- En cas d'erreur lors du bloc précédent, on loggue
						SET @ErrorMssg = 'Erreur lors de la génération du rapport #34 "Doublons dans Synthèse RWA": ' + ERROR_MESSAGE()
						SET @ErrorCode = 1012
						EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
						PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
						RETURN @ErrorCode;
					END
			END TRY
			BEGIN CATCH
				-- En cas d'erreur lors du bloc précédent, on loggue
				SET @ErrorMssg = 'Erreur lors de l''Insertion: ' + ERROR_MESSAGE()
				SET @ErrorCode = ERROR_NUMBER()
				EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
				RETURN @ErrorCode;
			END CATCH
	
			-- Exécution du rapport de contrôle #35
			BEGIN TRY
				IF OBJECT_ID('dbo.HELIOS_REPORT_CONTROLE35') is not null
					DROP TABLE dbo.HELIOS_REPORT_CONTROLE35
					
				SELECT * INTO dbo.HELIOS_REPORT_CONTROLE35
				FROM dbo.HELIOS_IMPORT_SYNTHESE_B2C
				WHERE Source + IdentifiantUniqueRetenu IN (
					SELECT DISTINCT Source + IdentifiantUniqueRetenu FROM dbo.HELIOS_IMPORT_SYNTHESE_B2C WHERE Source NOT IN ('AJE','AJM','NAM','IMM')
					EXCEPT
					SELECT DISTINCT Source + IdentifiantUniqueRetenu FROM dbo.HELIOS_PREP_SYNTHESE_RWA_NON_AGREGEE
					EXCEPT
					SELECT DISTINCT Source + SUBSTRING(CompteMagnitude, 2, LEN(CompteMagnitude)) + RAF FROM dbo.HELIOS_PREP_SYNTHESE_RWA_NON_AGREGEE
				)
				ORDER BY PeriodeCloture, Source, IdentifiantUniqueRetenu;
				
							
				IF OBJECT_ID('dbo.HELIOS_REPORT_CONTROLE35') is null
					BEGIN
						-- En cas d'erreur lors du bloc précédent, on loggue
						SET @ErrorMssg = 'Erreur lors de la génération du rapport #35 "Cohérence lignes B2C hors Synthèse": ' + ERROR_MESSAGE()
						SET @ErrorCode = 1012
						EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
						PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
						RETURN @ErrorCode;
					END
			END TRY
			BEGIN CATCH
				-- En cas d'erreur lors du bloc précédent, on loggue
				SET @ErrorMssg = 'Erreur lors de l''Insertion: ' + ERROR_MESSAGE()
				SET @ErrorCode = ERROR_NUMBER()
				EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
				RETURN @ErrorCode;
			END CATCH
			-- Exécution du rapport de contrôle #36
			BEGIN TRY
				IF OBJECT_ID('dbo.HELIOS_REPORT_CONTROLE36') is not null
					DROP TABLE dbo.HELIOS_REPORT_CONTROLE36
					
				SELECT
					b.ExternalID as IdentifiantB2C,
					ISNULL(a.Source, b.Source) as Source,
					ISNULL(a.IdentifiantUniqueRetenu, b.IdentifiantUniqueRetenu) as IdentifiantUniqueRetenu,
					SUM(a.MontantActifPondere) as MontantActifPondereSynthese,
					SUM(b.MontantActifPondere) as MontantActifPondereB2C,
					ABS(SUM(ISNULL(a.MontantActifPondere, 0)) - SUM(ISNULL(b.MontantActifPondere, 0))) as Ecart
				INTO dbo.HELIOS_REPORT_CONTROLE36
				FROM dbo.HELIOS_PREP_SYNTHESE_RWA_NON_AGREGEE a
					FULL OUTER JOIN (SELECT Source, IdentifiantUniqueRetenu, ExternalID, SUM(MontantActifPondere) as MontantActifPondere FROM dbo.HELIOS_IMPORT_SYNTHESE_B2C GROUP BY Source, IdentifiantUniqueRetenu, ExternalID) b
						ON a.Source = b.Source
						AND (a.IdentifiantUniqueRetenu = b.IdentifiantUniqueRetenu
							OR (SUBSTRING(a.CompteMagnitude, 2, LEN(a.CompteMagnitude)) + a.RAF) = b.IdentifiantUniqueRetenu)
				WHERE a.Source IS NOT NULL
				GROUP BY b.ExternalID, a.Source, b.Source, a.IdentifiantUniqueRetenu, b.IdentifiantUniqueRetenu
					HAVING ABS(SUM(ISNULL(a.MontantActifPondere, 0)) - SUM(ISNULL(b.MontantActifPondere, 0))) <> 0
				ORDER BY b.ExternalID, a.Source, b.Source, a.IdentifiantUniqueRetenu, b.IdentifiantUniqueRetenu;
				
				IF OBJECT_ID('dbo.HELIOS_REPORT_CONTROLE36') is null
					BEGIN
						-- En cas d'erreur lors du bloc précédent, on loggue
						SET @ErrorMssg = 'Erreur lors de la génération du rapport #36 "Cohérence des montants d''actif pondéré": ' + ERROR_MESSAGE()
						SET @ErrorCode = 1012
						EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
						PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
						RETURN @ErrorCode;
					END
			END TRY
			BEGIN CATCH
				-- En cas d'erreur lors du bloc précédent, on loggue
				SET @ErrorMssg = 'Erreur lors de l''Insertion: ' + ERROR_MESSAGE()
				SET @ErrorCode = ERROR_NUMBER()
				EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
				PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
				RETURN @ErrorCode;
			END CATCH
			
			SELECT @NbLignes = COUNT(*) FROM dbo.HELIOS_IMPORT_SYNTHESE_B2C;
			-- Si la table finale d'import n'existe pas ou ne contient pas de données : ERREUR
			IF OBJECT_ID('dbo.HELIOS_IMPORT_SYNTHESE_B2C') IS NULL OR @NbLignes = 0
				BEGIN
					SET @ErrorMssg = 'Le Retour B2C ' + @ExcelVersion + ' (' + @NomFichierXLSX + ') n''a pas pas été importé.'
					EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 2, 1006, @ErrorMssg
					PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
					RETURN @ErrorCode;
				END
			-- Sinon on supprime la table temporaire
			ELSE 
				BEGIN
					-- On supprime la table temporaire
					IF OBJECT_ID('dbo.HELIOS_TEMP_IMPORT_SYNTHESE_B2C') IS NOT NULL
						DROP TABLE dbo.HELIOS_TEMP_IMPORT_SYNTHESE_B2C;
					SET @ErrorMssg = 'Le Retour B2C ' + @ExcelVersion + ' (' + @NomFichierXLSX + ') a été importé.'
					EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, 0, 0, @ErrorMssg
				END
			
			SELECT @NbLignes = COUNT(*) FROM dbo.HELIOS_PREP_SYNTHESE_RWA_AGREGEE;
			SET @ErrorMssg = CAST(@NbLignes as nvarchar(5)) + ' lignes mises à jour dans la table "dbo.HELIOS_PREP_SYNTHESE_RWA_AGREGEE".'
			
			-- Si la table finale existe et qu'elle contient des données
			IF OBJECT_ID('dbo.HELIOS_PREP_SYNTHESE_RWA_AGREGEE') IS NOT NULL AND @NbLignes <> 0
				BEGIN
					-- On loggue la réussite
					SET @ErrorLevel = 0
					SET @ErrorCode = 0
				END
			ELSE
				BEGIN
					-- ... ou l'échec
					SET @ErrorLevel = 2
					SET @ErrorCode = 1005
				END
			EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, @ErrorLevel, @ErrorCode, @ErrorMssg
			PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
			RETURN @ErrorCode;
		END
	ELSE
		-- Si le fichier demandé n'existe pas, on loggue
		SET @ErrorMssg = 'Fichier "' + @NomFichierXLSX + '" non trouvé.'
		SET @ErrorCode = 1002
		SET @ErrorLevel = 2
		EXEC dbo.USP_HELIOS_LOG_IMPORT_EXPORT 'INSERT', @Process, @PeriodeCloture, null, @ErrorLevel, @ErrorCode, @ErrorMssg
		PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
		RETURN @ErrorCode;
END
GO
