USE [RWA]
GO
/****** Object:  StoredProcedure [dbo].[USP_HECATE_IMPORT_IMPORTEQUIVALENCERWA]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[USP_HECATE_IMPORT_IMPORTEQUIVALENCERWA]
	-- Add the parameters for the stored procedure here
	@NomFichierXLSX nvarchar(255),
	@OngletFichierXLSX nvarchar(30)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DECLARE @Source nvarchar(3), 
			@LibCatDepo1 nvarchar(100), 
			@LibCatDepo2 nvarchar(100),
			@RefCatRWA nvarchar(3),
			@RefTypeBloomberg nvarchar(10),
			
			@sqlCommand nvarchar(3000),
			@nbr int,
			@ERREUR_IMPORT int=0,
			
			@exist int, 
			@ChaineTMP nvarchar(1000),
			@ChaineTMP2 nvarchar(1000),
			@NumLigne int=0
			
	DELETE FROM dbo.HECATE_LOG_IMPORT_EXPORT
	WHERE Process='IMPORT EQUIV RWA'
	
	SET @ChaineTMP='E:\RWA\HECATE\Import\Params\' + @NomFichierXLSX
	EXEC xp_fileexist @ChaineTMP, @exist OUTPUT
	
	IF @exist=1 AND @NomFichierXLSX is not null AND @OngletFichierXLSX is not null
	BEGIN
		IF OBJECT_ID('dbo.TEMP_DATA_EQUI_RWA') is not null
			DROP TABLE TEMP_DATA_EQUI_RWA
		
		SET @sqlCommand = N'SELECT cast(rtrim(ltrim([Source])) as nvarchar(3)) as Source,
			cast(rtrim(ltrim([Code catégorie 1])) as nvarchar(100)) as LibCatDepo1,
			cast(rtrim(ltrim([Code catégorie 2])) as nvarchar(100)) as LibCatDepo2,
			cast(rtrim(ltrim([Catégorie RWA])) as nvarchar(3)) as RefCatRWA,
			cast(rtrim(ltrim([Type Bloomberg])) as nvarchar(10)) as RefTypeBloomberg INTO TEMP_DATA_EQUI_RWA
		FROM OPENROWSET (	''Microsoft.ACE.OLEDB.12.0'',
							''Excel 12.0;Database=E:\RWA\HECATE\Import\Params\' + @NomFichierXLSX + ';HDR=YES;IMEX=1'',
							''SELECT * FROM [' + @OngletFichierXLSX + '$]'') WHERE [Source] is not null'
		
		BEGIN TRY
			EXEC sp_executesql @sqlCommand;
			SET @nbr=@@ROWCOUNT
			IF @nbr=0
			BEGIN
				SET @ChaineTMP = 'L''onglet ('+@OngletFichierXLSX+') est vide.'
				EXEC dbo.USP_HECATE_LOG_SETLOGIMPORTEEXPORT 2,null,null,'IMPORT EQUIV RWA',1001,@ChaineTMP
				RETURN 1001;
			END
		END TRY
		BEGIN CATCH
			SET @ChaineTMP = 'ERREUR FICHIER EXCEL: '+ERROR_MESSAGE()
			SET @ChaineTMP2 = ERROR_NUMBER()
			EXEC dbo.USP_HECATE_LOG_SETLOGIMPORTEEXPORT 2,null,null,'IMPORT EQUIV RWA',@ChaineTMP2,@ChaineTMP
			PRINT '('+@ChaineTMP2+') - ' +  @ChaineTMP
			RETURN @ChaineTMP2;
		END CATCH
			
		BEGIN TRY
			INSERT INTO dbo.HECATE_CAT_DEPOSITAIRE1 (LibelleDepositaire1)
			SELECT DISTINCT rtrim(ltrim(upper(LibCatDepo1)))
			FROM TEMP_DATA_EQUI_RWA
			WHERE LibCatDepo1 is not null
		END TRY
		BEGIN CATCH
			SET @ChaineTMP = 'ERREUR INSERT DEPOSITAIRE1: '+ERROR_MESSAGE()
			SET @ChaineTMP2 = ERROR_NUMBER()
			EXEC dbo.USP_HECATE_LOG_SETLOGIMPORTEEXPORT 2,null,null,'IMPORT EQUIV RWA',@ChaineTMP2,@ChaineTMP
			PRINT '('+@ChaineTMP2+') - ' +  @ChaineTMP
			RETURN @ChaineTMP2;
		END CATCH
		
		BEGIN TRY
			INSERT INTO dbo.HECATE_CAT_DEPOSITAIRE2 (LibelleDepositaire2)
			VALUES ('NONE')
			
			INSERT INTO dbo.HECATE_CAT_DEPOSITAIRE2 (LibelleDepositaire2)
			SELECT DISTINCT rtrim(ltrim(upper(LibCatDepo2)))
			FROM TEMP_DATA_EQUI_RWA
			WHERE LibCatDepo2 is not null
		END TRY
		BEGIN CATCH
			SET @ChaineTMP = 'ERREUR INSERT DEPOSITAIRE2: '+ERROR_MESSAGE()
			SET @ChaineTMP2 = ERROR_NUMBER()
			EXEC dbo.USP_HECATE_LOG_SETLOGIMPORTEEXPORT 2,null,null,'IMPORT EQUIV RWA',@ChaineTMP2,@ChaineTMP
			PRINT '('+@ChaineTMP2+') - ' +  @ChaineTMP
			RETURN @ChaineTMP2;
		END CATCH
		
		DECLARE CursorEquiRWA CURSOR FOR Select [Source], LibCatDepo1, LibCatDepo2, RefCatRWA, RefTypeBloomberg FROM TEMP_DATA_EQUI_RWA
		
		OPEN CursorEquiRWA
		
			FETCH NEXT FROM CursorEquiRWA INTO @Source, @LibCatDepo1, @LibCatDepo2, @RefCatRWA, @RefTypeBloomberg
			
			WHILE @@FETCH_STATUS=0
			BEGIN
				SET @NumLigne = @NumLigne + 1
				
				BEGIN TRY
					INSERT INTO dbo.HECATE_EQUIVALENCE_CAT_RWA([Source], RefCatDepositaire1, RefCatDepositaire2, RefCategorieRWA, RefTypeBloomberg)
					VALUES (@Source, 
							(SELECT t.IdDepositaire1 FROM dbo.HECATE_CAT_DEPOSITAIRE1 t WHERE t.LibelleDepositaire1=rtrim(ltrim(upper(@LibCatDepo1)))), 
							(SELECT t.IdDepositaire2 FROM dbo.HECATE_CAT_DEPOSITAIRE2 t WHERE t.LibelleDepositaire2=isnull(rtrim(ltrim(upper(@LibCatDepo2))),'NONE')), 
							upper(@RefCatRWA), 
							rtrim(ltrim(upper(@RefTypeBloomberg))))
					
					
					UPDATE HECATE_EQUIVALENCE_CAT_RWA
					SET RefCatDepositaire2=(SELECT t.IdDepositaire2 FROM dbo.HECATE_CAT_DEPOSITAIRE2 t WHERE t.LibelleDepositaire2='NONE')
					WHERE RefCatDepositaire2=(SELECT t.IdDepositaire2 FROM dbo.HECATE_CAT_DEPOSITAIRE2 t WHERE LEN(t.LibelleDepositaire2)=0)
					--IF @@ROWCOUNT <> 0
					--	PRINT 'Ligne ajoutée'
				END TRY
				BEGIN CATCH
					IF ERROR_NUMBER()=2627
					BEGIN
						SET @ChaineTMP = 'Ligne N°'+ cast(@NumLigne as nvarchar(5))+ ' ou valeur dupliquée'
						EXEC dbo.USP_HECATE_LOG_SETLOGIMPORTEEXPORT 2,null,null,'IMPORT EQUIV RWA',2627,@ChaineTMP
						PRINT @ChaineTMP
					END
					
					IF ERROR_NUMBER()=515
					BEGIN
						SET @ChaineTMP = 'Ligne N°'+cast(@NumLigne as nvarchar(5))+' ou valeur NULL'
						EXEC dbo.USP_HECATE_LOG_SETLOGIMPORTEEXPORT 2,null,null,'IMPORT EQUIV RWA',515,@ChaineTMP
						PRINT @ChaineTMP
					END
					
					SET @ERREUR_IMPORT=1
				END CATCH
				
				FETCH NEXT FROM CursorEquiRWA INTO @Source, @LibCatDepo1, @LibCatDepo2, @RefCatRWA, @RefTypeBloomberg
			END
		
		CLOSE CursorEquiRWA;
		DEALLOCATE CursorEquiRWA;
		
		DROP TABLE TEMP_DATA_EQUI_RWA;
		
		IF @ERREUR_IMPORT=0
		BEGIN
			SET @ChaineTMP='Import onglet ('+@OngletFichierXLSX+') avec succès.'
			EXEC dbo.USP_HECATE_LOG_SETLOGIMPORTEEXPORT 0,null,null,'IMPORT EQUIV RWA',0,@ChaineTMP
			PRINT @ChaineTMP
			RETURN 0
		END
		ELSE
			RETURN 1
	END
	ELSE
	BEGIN
		EXEC dbo.USP_HECATE_LOG_SETLOGIMPORTEEXPORT 2,null,null,'IMPORT EQUIV RWA',1000,'Fichier introuvable.'
		PRINT '(1000) - Fichier introuvable.'
		RETURN 1000
	END
END
GO
