USE [RWA]
GO
/****** Object:  StoredProcedure [dbo].[USP_HECATE_TRAITEMENT_CONSOLIDE]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[USP_HECATE_TRAITEMENT_CONSOLIDE]
	-- Add the parameters for the stored procedure here
	@NumLigne int,
	@PeriodeCloture nvarchar(6),
	@Source nvarchar(3),
	
	@FichierXLSX_Identifiant nvarchar(50),
	@FichierXLSX_Nom nvarchar(255),
	@FichierXLSX_Categorie1 nvarchar(100),
	@FichierXLSX_Categorie2 nvarchar(100),
	@FichierXLSX_DateMaturite date,
	@FichierXLSX_DateExpiration date,
	@FichierXLSX_RAF nvarchar(7),
	
	@Enrichi_RefCategorieRWA nvarchar(3) OUTPUT,
	@Enrichi_IdentifiantUniqueRetenu nvarchar(13) OUTPUT,
	@Enrichi_RAF nvarchar(7) OUTPUT,
	@Enrichi_LibelleOrigine nvarchar(255) OUTPUT,
	@Enrichi_DateFinContrat date OUTPUT,
	@Enrichi_IdentifiantOrigine nvarchar(50) OUTPUT,
	@Enrichi_Commentaire nvarchar(200) OUTPUT,
	@Enrichi_Bloomberg nvarchar(70) OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DECLARE	@vrNbrLigne int,
			
			@tmpRefCategorieRWA nvarchar(3),
			@tmpIdentifiantUniqueRetenu nvarchar(13),
			@tmpRAF nvarchar(7),
			@tmpLibelleOrigine nvarchar(255),
			@tmpDateFinContrat date,
			@tmpIdentifiantOrigine nvarchar(50),
			@tmpCommentaire nvarchar(200),
			@tmpBloomberg nvarchar(70),
			
			@idCatDepositaire1 bigint,
			@idCatDepositaire2 bigint,
			@libCategorieRWA nvarchar(50),
			@flagValeurMobiliere char(1), 
			@idBloomberg nvarchar(10), 
			@libBloomberg nvarchar(50)
			
	IF @PeriodeCloture is NULL
	BEGIN
		PRINT 'PeriodeCloture doit etre renseigné.'
		RETURN 101;
	END
	
	IF @Source is NULL
	BEGIN
		PRINT 'Source doit etre renseigné.'
		RETURN 102;
	END
	
	IF @FichierXLSX_Identifiant is NULL
	BEGIN
		PRINT 'Identifiant doit etre renseigné.'
		RETURN 103;
	END
	
	IF @FichierXLSX_Nom is NULL
	BEGIN
		EXEC dbo.USP_HECATE_LOG_SETLOGCONSO @NumLigne, 2, @PeriodeCloture, @Source, @FichierXLSX_Identifiant, 'Nom doit etre renseigné.'
		RETURN 104;
	END
	
	IF @FichierXLSX_Categorie1 is NULL
	BEGIN
		EXEC dbo.USP_HECATE_LOG_SETLOGCONSO @NumLigne, 2, @PeriodeCloture, @Source, @FichierXLSX_Identifiant, 'Categorie1 doit etre renseigné.'
		RETURN 105;
	END
	
	-- 3.2 Integration des fichiers d'inventaire au format normalisé		
	SET	@tmpIdentifiantOrigine=@FichierXLSX_Identifiant
	SET	@tmpRAF=@FichierXLSX_RAF
	SET	@tmpLibelleOrigine=@FichierXLSX_Nom
	
	IF @FichierXLSX_DateMaturite is not null
		SET @tmpDateFinContrat=@FichierXLSX_DateMaturite
	ELSE
	BEGIN
		IF @FichierXLSX_DateExpiration is not null
			SET @tmpDateFinContrat= @FichierXLSX_DateExpiration
	END
	
	SET @Enrichi_IdentifiantOrigine=@tmpIdentifiantOrigine
	SET @Enrichi_RAF=@tmpRAF
	SET @Enrichi_LibelleOrigine=@tmpLibelleOrigine
	SET @Enrichi_DateFinContrat=@tmpDateFinContrat
	
	-- 3.3 Enrichissement de la categorie RWA, calcul d'un identifiant unique pour !VM et preparation de l'element Bloomberg
	EXEC @vrNbrLigne=dbo.USP_HECATE_TRAITEMENT_GETINFOEQUIVALENCE @NumLigne, @PeriodeCloture, @Source, @tmpIdentifiantOrigine, @FichierXLSX_Categorie1, @FichierXLSX_Categorie2, @idCatDepositaire1 OUTPUT, @idCatDepositaire2 OUTPUT, @tmpRefCategorieRWA OUTPUT, @libCategorieRWA OUTPUT, @flagValeurMobiliere OUTPUT, @idBloomberg OUTPUT, @libBloomberg OUTPUT
	IF @vrNbrLigne=1 AND @tmpRefCategorieRWA is not null
	BEGIN
		
		SET @Enrichi_RefCategorieRWA=@tmpRefCategorieRWA
		
		IF @flagValeurMobiliere is null or @flagValeurMobiliere='N'
		BEGIN
			EXEC @vrNbrLigne=dbo.USP_HECATE_TRAITEMENT_GENEREIDUNIQUERETENU @NumLigne, @PeriodeCloture, @Source, @tmpIdentifiantOrigine, @tmpRefCategorieRWA, @tmpIdentifiantUniqueRetenu OUTPUT
			IF @vrNbrLigne<>1
			BEGIN
				EXEC dbo.USP_HECATE_LOG_SETLOGCONSO @NumLigne, 2, @PeriodeCloture, @Source, @tmpIdentifiantOrigine, 'IdentifiantUniqueRetenu n''a pas pu etre générer pour les valeurs non-mobilieres.'
				RETURN 201;
			END
			SET @Enrichi_IdentifiantUniqueRetenu = @tmpIdentifiantUniqueRetenu
		END
		/*ELSE
		BEGIN
			IF @tmpIdentifiantUniqueRetenu is NULL
			BEGIN
				EXEC dbo.USP_HECATE_LOG_SETLOGCONSO 1, @PeriodeCloture, @Source, @tmpIdentifiantOrigine, 'IdentifiantUniqueRetenu doit etre renseigné pour les valeurs mobilieres.'
				--RETURN 202;
			END
		END*/
		
		IF @flagValeurMobiliere='O'
		BEGIN
			IF @idBloomberg is NULL
			BEGIN
				EXEC dbo.USP_HECATE_LOG_SETLOGCONSO @NumLigne, 1, @PeriodeCloture, @Source, @tmpIdentifiantOrigine, 'Bloomberg doit etre renseigné pour les valeurs mobilieres.'
				--RETURN 203;
			END	
			--SET @tmpBloomberg = @tmpIdentifiantOrigine + ' ' + @idBloomberg
			SET @tmpBloomberg = @idBloomberg
			SET @Enrichi_Bloomberg = @tmpBloomberg
		END
		
		-- 3.4 Mapping via la BDD interne historique
		IF @tmpRAF IS NULL -- REGLE 1
		BEGIN
			EXEC @vrNbrLigne=dbo.USP_HECATE_TRAITEMENT_MAPPINGREGLE1 @PeriodeCloture, @Source, @tmpIdentifiantOrigine, @tmpIdentifiantUniqueRetenu OUTPUT, @tmpRAF OUTPUT, @tmpDateFinContrat OUTPUT, @tmpRefCategorieRWA OUTPUT, @tmpCommentaire OUTPUT
			IF @vrNbrLigne=0
			BEGIN
				
				EXEC dbo.USP_HECATE_LOG_SETLOGCONSO @NumLigne, 1, @PeriodeCloture, @Source, @tmpIdentifiantOrigine, 'WARNING R1 -  Mapping sur l''identifiant d''origine. Aucun résultat, passage à la recherche sur l''identifiant unique retenu.'
				
				EXEC @vrNbrLigne=dbo.USP_HECATE_TRAITEMENT_MAPPINGREGLE2 @PeriodeCloture, @Source, @tmpIdentifiantOrigine, @tmpIdentifiantUniqueRetenu OUTPUT, @tmpRAF OUTPUT, @tmpDateFinContrat OUTPUT, @tmpRefCategorieRWA OUTPUT, @tmpCommentaire OUTPUT
				IF @vrNbrLigne=0
				BEGIN
					
					EXEC dbo.USP_HECATE_LOG_SETLOGCONSO @NumLigne, 1, @PeriodeCloture, @Source, @tmpIdentifiantOrigine, 'WARNING R2 -  Mapping sur l''identifiant unique retenu. Aucun résultat, passage à la recherche sur l''identifiant CUSIP reconstitué.'
					
					EXEC @vrNbrLigne=dbo.USP_HECATE_TRAITEMENT_MAPPINGREGLE3 @PeriodeCloture, @Source, @tmpIdentifiantOrigine, @tmpIdentifiantUniqueRetenu OUTPUT, @tmpRAF OUTPUT, @tmpDateFinContrat OUTPUT, @tmpRefCategorieRWA OUTPUT, @tmpCommentaire OUTPUT
					IF @vrNbrLigne=0
					BEGIN
						
						EXEC dbo.USP_HECATE_LOG_SETLOGCONSO @NumLigne, 1, @PeriodeCloture, @Source, @tmpIdentifiantOrigine, 'WARNING  R3 -  Mapping sur l''identifiant CUSIP reconstitué. Aucun résultat, passage à la recherche sur l''identifiant CUSIP reconstitué.'
						
						EXEC @vrNbrLigne=dbo.USP_HECATE_TRAITEMENT_MAPPINGREGLE4 @PeriodeCloture, @Source, @tmpIdentifiantOrigine, @tmpLibelleOrigine, @tmpIdentifiantUniqueRetenu OUTPUT, @tmpRAF OUTPUT, @tmpDateFinContrat OUTPUT, @tmpRefCategorieRWA OUTPUT, @tmpCommentaire OUTPUT
						IF @vrNbrLigne=0
						BEGIN
							-- RAF est toujours NULL (note: Ce resultat part vers la condition TETHYS)
							EXEC dbo.USP_HECATE_LOG_SETLOGCONSO @NumLigne, 1, @PeriodeCloture, @Source, @tmpIdentifiantOrigine, 'WARNING R4 - Mapping sur le libellé d''origine. RAF non fourni par la filiale.'
							--RETURN 301;
						END
						ELSE
						BEGIN
							IF @vrNbrLigne=1
							BEGIN
								SET	@Enrichi_RefCategorieRWA = @tmpRefCategorieRWA
								SET	@Enrichi_IdentifiantUniqueRetenu = @tmpIdentifiantUniqueRetenu
								SET	@Enrichi_RAF = @tmpRAF
								SET	@Enrichi_DateFinContrat = @tmpDateFinContrat
								SET	@Enrichi_Commentaire = @tmpCommentaire
								
								EXEC dbo.USP_HECATE_LOG_SETLOGCONSO @NumLigne, 0, @PeriodeCloture, @Source, @tmpIdentifiantOrigine, 'SUCCES R4 - Mapping sur libellé d''origine. Un résultat trouvé, exit du processus d''enrichissement.'
								
								RETURN 404;
							END
							ELSE
							BEGIN
								SET @Enrichi_Commentaire= 'ECHEC - Mapping sur le libellé d''origine. Plusieurs lignes différentes trouvées.'
								EXEC dbo.USP_HECATE_LOG_SETLOGCONSO @NumLigne, 2, @PeriodeCloture, @Source, @tmpIdentifiantOrigine, 'ECHEC R4 -  Mapping sur le libellé d''origine. Plusieurs lignes différentes trouvées.'
								RETURN 308;
							END
						END
					END
					ELSE
					BEGIN
						IF @vrNbrLigne=1
						BEGIN
							SET	@Enrichi_RefCategorieRWA = @tmpRefCategorieRWA
							SET	@Enrichi_IdentifiantUniqueRetenu = @tmpIdentifiantUniqueRetenu
							SET	@Enrichi_RAF = @tmpRAF
							SET	@Enrichi_DateFinContrat = @tmpDateFinContrat
							SET	@Enrichi_Commentaire = @tmpCommentaire
							
							EXEC dbo.USP_HECATE_LOG_SETLOGCONSO @NumLigne, 0, @PeriodeCloture, @Source, @tmpIdentifiantOrigine, 'SUCCES  R3 - Mapping sur l''identifiant CUSIP reconstitué. Un résultat trouvé, exit du processus d''enrichissement.'
							
							RETURN 403;
						END
						ELSE
						BEGIN
							EXEC dbo.USP_HECATE_LOG_SETLOGCONSO @NumLigne, 2, @PeriodeCloture, @Source, @tmpIdentifiantOrigine, 'ECHEC R3 -  Mapping sur l''identifiant CUSIP reconstitué. Plusieurs lignes différentes trouvées.'
							RETURN 307;
						END
					END
				END
				ELSE
				BEGIN
					IF @vrNbrLigne=1
					BEGIN
						SET	@Enrichi_RefCategorieRWA = @tmpRefCategorieRWA
						SET	@Enrichi_IdentifiantUniqueRetenu = @tmpIdentifiantUniqueRetenu
						SET	@Enrichi_RAF = @tmpRAF
						SET	@Enrichi_DateFinContrat = @tmpDateFinContrat
						SET	@Enrichi_Commentaire = @tmpCommentaire
						
						EXEC dbo.USP_HECATE_LOG_SETLOGCONSO @NumLigne, 0, @PeriodeCloture, @Source, @tmpIdentifiantOrigine, 'SUCCES R2 - Mapping sur l''identifiant unique retenu. Un résultat trouvé, exit du processus d''enrichissement.'
						
						RETURN 402;
					END
					ELSE
					BEGIN
						EXEC dbo.USP_HECATE_LOG_SETLOGCONSO @NumLigne, 2, @PeriodeCloture, @Source, @tmpIdentifiantOrigine, 'ECHEC R2 -  Mapping sur l''identifiant unique retenu. Plusieurs lignes différentes trouvées.'
						RETURN 306;
					END
				END
			END
			ELSE
			BEGIN	
				IF @vrNbrLigne=1
				BEGIN
					SET	@Enrichi_RefCategorieRWA = @tmpRefCategorieRWA
					SET	@Enrichi_IdentifiantUniqueRetenu = @tmpIdentifiantUniqueRetenu
					SET	@Enrichi_RAF = @tmpRAF
					SET	@Enrichi_DateFinContrat = @tmpDateFinContrat
					SET	@Enrichi_Commentaire = @tmpCommentaire
					
					EXEC dbo.USP_HECATE_LOG_SETLOGCONSO @NumLigne, 0, @PeriodeCloture, @Source, @tmpIdentifiantOrigine, 'SUCCES R1 - Mapping sur l''identifiant d''origine. Un résultat trouvé, exit du processus d''enrichissement.'
					
					RETURN 401;
				END
				ELSE
				BEGIN
					EXEC dbo.USP_HECATE_LOG_SETLOGCONSO @NumLigne, 2, @PeriodeCloture, @Source, @tmpIdentifiantOrigine, 'ECHEC R1 -  Mapping sur l''identifiant d''origine. Plusieurs lignes différentes trouvées.'
					
					EXEC @vrNbrLigne=dbo.USP_HECATE_TRAITEMENT_MAPPINGREGLE4 @PeriodeCloture, @Source, @tmpIdentifiantOrigine, @tmpLibelleOrigine, @tmpIdentifiantUniqueRetenu OUTPUT, @tmpRAF OUTPUT, @tmpDateFinContrat OUTPUT, @tmpRefCategorieRWA OUTPUT, @tmpCommentaire OUTPUT
					IF @vrNbrLigne=0
					BEGIN
						SET @Enrichi_Commentaire= 'ECHEC - Mapping sur le libellé d''origine. RAF non fourni par la filiale.'	
						EXEC dbo.USP_HECATE_LOG_SETLOGCONSO @NumLigne, 1, @PeriodeCloture, @Source, @tmpIdentifiantOrigine, 'WARNING R4 sous R1 - Mapping sur le libellé d''origine. RAF non fourni par la filiale.'
					END
					ELSE
					BEGIN
						IF @vrNbrLigne=1
						BEGIN
							SET	@Enrichi_RefCategorieRWA = @tmpRefCategorieRWA
							SET	@Enrichi_IdentifiantUniqueRetenu = @tmpIdentifiantUniqueRetenu
							SET	@Enrichi_RAF = @tmpRAF
							SET	@Enrichi_DateFinContrat = @tmpDateFinContrat
							SET	@Enrichi_Commentaire = @tmpCommentaire
							
							EXEC dbo.USP_HECATE_LOG_SETLOGCONSO @NumLigne, 0, @PeriodeCloture, @Source, @tmpIdentifiantOrigine, 'SUCCES R4 sous R1 - Mapping sur libellé d''origine. Un résultat trouvé, exit du processus d''enrichissement.'
						END
						ELSE
						BEGIN
							EXEC dbo.USP_HECATE_LOG_SETLOGCONSO @NumLigne, 2, @PeriodeCloture, @Source, @tmpIdentifiantOrigine, 'ECHEC R4 sous R1 -  Mapping sur le libellé d''origine. Plusieurs lignes différentes trouvées.'
						END
					END
					RETURN 305;
				END
			END
		END
		ELSE
		BEGIN
			IF @tmpRAF IS NOT NULL AND @tmpCommentaire IS NULL -- REGLE 2
			BEGIN
				EXEC @vrNbrLigne=dbo.USP_HECATE_TRAITEMENT_MAPPINGREGLE5 @PeriodeCloture, @Source, @tmpIdentifiantOrigine, @tmpIdentifiantUniqueRetenu OUTPUT, @tmpRAF OUTPUT, @tmpDateFinContrat OUTPUT, @tmpRefCategorieRWA OUTPUT, @tmpCommentaire OUTPUT
				IF @vrNbrLigne=0
				BEGIN
					
					EXEC dbo.USP_HECATE_LOG_SETLOGCONSO @NumLigne, 1, @PeriodeCloture, @Source, @tmpIdentifiantOrigine, 'WARNING R5 -  Mapping sur l''identifiant CUSIP reconstitué. Aucun résultat, passage à la recherche sur l''identifiant CUSIP reconstitué.'
					
					EXEC @vrNbrLigne=dbo.USP_HECATE_TRAITEMENT_MAPPINGREGLE6 @PeriodeCloture, @Source, @tmpIdentifiantOrigine, @tmpIdentifiantUniqueRetenu OUTPUT, @tmpRAF OUTPUT, @tmpDateFinContrat OUTPUT, @tmpRefCategorieRWA OUTPUT, @tmpCommentaire OUTPUT
					IF @vrNbrLigne=0
					BEGIN
						-- RAF is not null AND Commentaire is null (note: Ce resultat part vers la condition MappingRegle7)
						EXEC dbo.USP_HECATE_LOG_SETLOGCONSO @NumLigne, 1, @PeriodeCloture, @Source, @tmpIdentifiantOrigine, 'WARNING R6 - RAF fourni par la filale - Mapping sur l''identifiant unique retenu. Commentaire est vide.'
						--RETURN 302;
					END
					ELSE
					BEGIN
						IF @vrNbrLigne=1
						BEGIN						
							SET	@Enrichi_RefCategorieRWA = @tmpRefCategorieRWA
							SET	@Enrichi_IdentifiantUniqueRetenu = @tmpIdentifiantUniqueRetenu
							SET	@Enrichi_RAF = @tmpRAF
							SET	@Enrichi_DateFinContrat = @tmpDateFinContrat
							SET	@Enrichi_Commentaire = @tmpCommentaire
							
							EXEC dbo.USP_HECATE_LOG_SETLOGCONSO @NumLigne, 0, @PeriodeCloture, @Source, @tmpIdentifiantOrigine, 'SUCCES R6 - RAF fourni par la filiale. Mapping sur l''identifiant unique retenu. Un résultat trouvé, exit du processus d''enrichissement.'
							
							RETURN 406;
						END
						ELSE
						BEGIN
							EXEC dbo.USP_HECATE_LOG_SETLOGCONSO @NumLigne, 2, @PeriodeCloture, @Source, @tmpIdentifiantOrigine, 'ECHEC R6 - RAF fourni par la filiale. Mapping sur l''identifiant unique retenu. Plusieurs lignes différentes récupérées.'
							RETURN 310;
						END
					END
				END
				ELSE
				BEGIN
					IF @vrNbrLigne=1
					BEGIN
						SET	@Enrichi_RefCategorieRWA = @tmpRefCategorieRWA
						SET	@Enrichi_IdentifiantUniqueRetenu = @tmpIdentifiantUniqueRetenu
						SET	@Enrichi_RAF = @tmpRAF
						SET	@Enrichi_DateFinContrat = @tmpDateFinContrat
						SET	@Enrichi_Commentaire = @tmpCommentaire
						
						EXEC dbo.USP_HECATE_LOG_SETLOGCONSO @NumLigne, 0, @PeriodeCloture, @Source, @tmpIdentifiantOrigine, 'SUCCES R5 - RAF fourni par la filiale. Mapping sur l''identifiant d''origine. Un résultat trouvé, exit du processus d''enrichissement.'
						
						RETURN 405;
					END
					ELSE
					BEGIN
						EXEC dbo.USP_HECATE_LOG_SETLOGCONSO @NumLigne, 2, @PeriodeCloture, @Source, @tmpIdentifiantOrigine, 'ECHEC R5 -  Mapping sur l''identifiant CUSIP reconstitué. Plusieurs lignes différentes trouvées.'
						RETURN 309;
					END
				END
			END
			
			IF @tmpRAF IS NOT NULL AND @tmpCommentaire IS NULL AND @tmpIdentifiantUniqueRetenu IS NULL -- REGLE 3
			BEGIN
				EXEC @vrNbrLigne=dbo.USP_HECATE_TRAITEMENT_MAPPINGREGLE7 @PeriodeCloture, @Source, @tmpIdentifiantOrigine, @tmpLibelleOrigine, @tmpIdentifiantUniqueRetenu OUTPUT, @tmpRAF OUTPUT, @tmpDateFinContrat OUTPUT, @tmpRefCategorieRWA OUTPUT, @tmpCommentaire OUTPUT
				IF @vrNbrLigne=0
				BEGIN
					-- RAF is not null AND Commentaire is null AND IdentifiantUniqueRetenu is null
					EXEC dbo.USP_HECATE_LOG_SETLOGCONSO @NumLigne, 1, @PeriodeCloture, @Source, @tmpIdentifiantOrigine, 'ECHEC R7 - RAF fourni par la filiale. Mapping sur le lebellé d''origine. Aucun résultat trouvé.'
					--RETURN 303;
				END
				ELSE
				BEGIN
					IF @vrNbrLigne=1
					BEGIN
						SET	@Enrichi_RefCategorieRWA = @tmpRefCategorieRWA
						SET	@Enrichi_IdentifiantUniqueRetenu = @tmpIdentifiantUniqueRetenu
						SET	@Enrichi_RAF = @tmpRAF
						SET	@Enrichi_DateFinContrat = @tmpDateFinContrat
						SET	@Enrichi_Commentaire = @tmpCommentaire
						
						EXEC dbo.USP_HECATE_LOG_SETLOGCONSO @NumLigne, 0, @PeriodeCloture, @Source, @tmpIdentifiantOrigine, 'SUCCES R7 - RAF fourni par la filiale. Mapping sur le lebellé d''origine. Un résultat trouvé, exit du processus d''enrichissement.'
						
						RETURN 407;
					END
					ELSE
					BEGIN
						EXEC dbo.USP_HECATE_LOG_SETLOGCONSO @NumLigne, 2, @PeriodeCloture, @Source, @tmpIdentifiantOrigine, 'ECHEC R7 - RAF fourni par la filiale. Plusieurs lignes différentes récupérées.'
						RETURN 311;
					END
				END
			END
		END
		
		-- Base TETHYS
		IF @tmpRAF IS NULL -- REGLE 4
		BEGIN
			EXEC @vrNbrLigne=dbo.USP_HECATE_TRAITEMENT_TETHYSMAPPINGREGLE8 @PeriodeCloture, @Source, @tmpIdentifiantOrigine, @tmpIdentifiantUniqueRetenu OUTPUT, @tmpRAF OUTPUT, @tmpCommentaire OUTPUT
			IF @vrNbrLigne=0
			BEGIN
				EXEC dbo.USP_HECATE_LOG_SETLOGCONSO @NumLigne, 1, @PeriodeCloture, @Source, @tmpIdentifiantOrigine, 'WARNING R8 - THETYS: Mapping sur l''identifiant ISIN. Aucun résultat trouvé, passage au mapping sur le CUSIP.'
				
				EXEC @vrNbrLigne=dbo.USP_HECATE_TRAITEMENT_TETHYSMAPPINGREGLE9 @PeriodeCloture, @Source, @tmpIdentifiantOrigine, @tmpRAF OUTPUT, @tmpCommentaire OUTPUT
				IF @vrNbrLigne=0
				BEGIN
					-- Mapping manuel sur base TETHYS
					EXEC dbo.USP_HECATE_LOG_SETLOGCONSO @NumLigne, 2, @PeriodeCloture, @Source, @tmpIdentifiantOrigine, 'ECHEC R9 - THETYS: Mapping sur l''identifiant ISIN. Aucun résultat trouvé. Saisie manuelle à effectuer.'
					SET	@Enrichi_Commentaire = 'ECHEC - THETYS : Echec de la recherche des informations. Saisie manuelle à effectuer.'
					RETURN 501;
				END
				ELSE
				BEGIN
					IF @vrNbrLigne=1
					BEGIN
						SET	@Enrichi_RAF = @tmpRAF
						SET	@Enrichi_Commentaire = @tmpCommentaire
						
						EXEC dbo.USP_HECATE_LOG_SETLOGCONSO @NumLigne, 0, @PeriodeCloture, @Source, @tmpIdentifiantOrigine, 'SUCCES R9 - THETYS: Mapping sur l''identifiant CUSIP. Un résultat trouvé, exit du processus d''enrichissement.'
						
						RETURN 602;
					END
					ELSE
					BEGIN
						EXEC dbo.USP_HECATE_LOG_SETLOGCONSO @NumLigne, 2, @PeriodeCloture, @Source, @tmpIdentifiantOrigine, 'ECHEC R9 - THETYS: Mapping sur l''identifiant CUSIP. Plusieurs lignes différentes récupérées.'
						RETURN 503;
					END
				END
			END
			ELSE
			BEGIN
				IF @vrNbrLigne=1
				BEGIN
					SET	@Enrichi_IdentifiantUniqueRetenu = @tmpIdentifiantUniqueRetenu
					SET	@Enrichi_RAF = @tmpRAF
					SET	@Enrichi_Commentaire = @tmpCommentaire
					
					EXEC dbo.USP_HECATE_LOG_SETLOGCONSO @NumLigne, 0, @PeriodeCloture, @Source, @tmpIdentifiantOrigine, 'SUCCES R8 - THETYS: Mapping sur l''identifiant ISIN. Un résultat trouvé, exit du processus d''enrichissement.'
					
					RETURN 601;
				END
				ELSE
				BEGIN
					SET	@Enrichi_Commentaire = 'ECHEC - THETYS: Mapping sur l''identifiant ISIN. Plusieurs lignes différentes récupérées.'
					EXEC dbo.USP_HECATE_LOG_SETLOGCONSO @NumLigne, 2, @PeriodeCloture, @Source, @tmpIdentifiantOrigine, 'ECHEC R8 - THETYS: Mapping sur l''identifiant ISIN. Plusieurs lignes différentes récupérées.'
					RETURN 502;
				END
			END
		END
		
		IF @tmpRAF IS NULL
		BEGIN
			EXEC dbo.USP_HECATE_LOG_SETLOGCONSO @NumLigne, 2, @PeriodeCloture, @Source, @tmpIdentifiantOrigine, 'ECHEC - Echec de la recherche des informations. Saisie manuelle à effectuer.'
			SET	@Enrichi_Commentaire = 'ECHEC - RAF non fourni par la filiale : Echec de la recherche des informations. Saisie manuelle à effectuer.'
		END
		ELSE
		BEGIN
			EXEC dbo.USP_HECATE_LOG_SETLOGCONSO @NumLigne, 2, @PeriodeCloture, @Source, @tmpIdentifiantOrigine, 'ECHEC - Echec de la recherche des informations. Saisie manuelle à effectuer.'
			SET	@Enrichi_Commentaire = 'ECHEC – RAF fourni par la filiale : Echec de la recherche des informations. Saisie manuelle à effectuer.'
		END
		
		RETURN 304;	
	END
	ELSE
	BEGIN
		-- Saisie Manuelle RWA
		EXEC dbo.USP_HECATE_LOG_SETLOGCONSO @NumLigne, 2, @PeriodeCloture, @Source, @tmpIdentifiantOrigine, 'ECHEC - Mapping Catégorie RWA : Mapping Asset Type 1, Asset Type 2 manquant.'
		SET	@Enrichi_Commentaire = 'ECHEC - Catégorie RWA introuvable : Mapping Asset Type 1, Asset Type 2 manquant.'
		RETURN 204;
	END
END
GO
