USE [RWA]
GO
/****** Object:  StoredProcedure [dbo].[USP_HECATE_REPORT_MAPPINGMODEDETAIL]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_HECATE_REPORT_MAPPINGMODEDETAIL]
AS
-- =============================================
-- Author:		T Fleury
-- Create date: 16/09/2016
-- ModIFy date: 
-- Description:	SSRS : Affichage
-- Input parameters:
--		
-- Output parameters:
-- Variables:
-- RETURN code
-- =============================================
BEGIN
	SET NOCOUNT ON;
		
	DECLARE @MappingMode_table TABLE 
	(
		[Commentaires] [nvarchar](200),
		[NbMapping] int
	)

	INSERT INTO @MappingMode_table
	(		[Commentaires],
			[NbMapping]
	)
	SELECT Commentaires,COUNT(*) AS NBMAPPING
	FROM HECATE_INVENTAIRE_NORMALISES I RIGHT JOIN HECATE_CATEGORIE_RWA C ON I.RefCategorieRWA=C.IdCatRWA
	WHERE C.ValeurMobiliere='O'
	AND Commentaires IS NOT NULL
	GROUP BY Commentaires
	
	SELECT Commentaires,NbMapping
	FROM @MappingMode_table
	
		
END;


GO
