USE [RWA]
GO
/****** Object:  StoredProcedure [dbo].[USP_HELIOS_TRAITEMENT_ONGLET_CONTRATS]    Script Date: 3/7/2025 9:00:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[USP_HELIOS_TRAITEMENT_ONGLET_CONTRATS]
            @Process nvarchar(256),
            @PeriodeCloture nvarchar(6)
AS
BEGIN
            SET NOCOUNT ON;
            /* 
                        Déclaration des variables
                        ErrorMssg : message de retour à afficher ou journaliser
                        ErrorCode : code de retour à afficher ou journaliser
                        NbLignes : nombre de lignes retournées par la commande SqlCommand
                        month : mois correspondant à la Période actuelle
                        year : année correspondant à la Période actuelle
                        day : dernier jour du mois de cloture
                        DateArrete : Date complète au dernier jour du mois de la Période de Cloture
                        DateArreteP3 : Date complète au dernier jour du 3e mois après la Période de Cloture
                        DateArreteM24 : Date complète au dernier jour du 24e mois avant la Période de Cloture
            */
            DECLARE @ErrorMssg nvarchar(3072),
                                   @ErrorCode nvarchar(1024),
                                   @NbLignes int,
                                   @month integer,
                                   @year integer,
                                   @day integer,
                                   @DateArrete date,
                                   @DateArreteP3 date,
                                   @DateArreteM24 date
            
            IF @Process IS NULL
                        SET @Process = 'GENERATION ONGLET CONTRATS'
                        
            -- Avant de démarrer, on nettoie de la table des logs les lignes correspondantes au @Process actuel
            DELETE FROM dbo.HELIOS_LOG_TRAITEMENTS WHERE Process = @Process
            
            -- Récupération de la période actuelle
            IF @PeriodeCloture IS NULL
                        SET @PeriodeCloture = RIGHT('00' + CAST(MONTH(GETDATE())-1 as varchar(2)), 2) + RIGHT('0000' + CAST(YEAR(GETDATE()) as varchar(4)), 4)
            SET @month = LEFT(@PeriodeCloture,2)
            SET @year = RIGHT(@PeriodeCloture,4) 
            SET @DateArrete = DATEADD(month, ((@year - 1900) * 12) + @month, -1)
            --23/03/2018 : @DateArreteP3 = + 3 mois et 3 jours
            SET @DateArreteP3 = DATEADD(month, ((YEAR(DATEADD(MONTH, 3, @DateArrete)) - 1900) * 12) + MONTH(DATEADD(MONTH, 3, @DateArrete)), -1) + DAY(DATEADD(DAY,3,@DateArrete))
            SET @DateArreteM24 = DATEADD(month, ((YEAR(DATEADD(MONTH, -24, @DateArrete)) - 1900) * 12) + MONTH(DATEADD(MONTH, -24, @DateArrete)), -1)
            
            -- Traitement d'agrégation et d'enrichissement des données
            BEGIN TRY
                        --Suppression du précédent contenu de la table
                        DELETE FROM dbo.HELIOS_ONGLET_CONTRATS;
                        -- Exécution de la requête
                        --TauxProbabiliteDefaut, ClasseLGD, PourcentageLoanToValueActualized, PourcentageLoanToValueOrigination, PourcentageLoanToValueCRR3, ManagementIntent CRR3
                        INSERT INTO dbo.HELIOS_ONGLET_CONTRATS
                        SELECT
                                   DISTINCT
                                   'XXI' as CodeUFONegociatrice,
                                   '03A' as CodeEtablissement,
                                   a.CodeProduit,
                                   CONVERT(nvarchar(10), CASE WHEN a.DateFinContrat IS NULL THEN @DateArreteP3 ELSE a.DateFinContrat END, 103) as DateFinContrat,
                                   CONVERT(nvarchar(10), CASE WHEN a.DateFinContrat IS NULL THEN @DateArreteP3 ELSE a.DateFinContrat END, 103) as DateInitialeFinContrat,
                                   CONVERT(nvarchar(10), @DateArreteM24, 103) as DateSignatureContrat,
                                   RIGHT('000' + a.Source, 3) + a.IdentifiantUniqueRetenu as IdentifiantContrat,
                                   NULL as TauxLGD,
                                   NULL as FCEC,
                                   CONVERT(nvarchar(10), @DateArrete, 103) as DateEffet,
                                   NULL as ReferenceMontage,
                                   b.PortefeuilleIAS,
                                   'BANKING' as PtfReglementaireMcDo,
                                   NULL as PaysRisque,
                                   'N' as PresenceCreditPartage,
                                   'EUR' as Devise,
                                   a.RAF as RAFTiers,
                                   f.CodeSegmentMcDo,
                                   CASE WHEN f.ValeurMobiliere = 'O' THEN a.IdentifiantUniqueRetenu ELSE NULL END as IdentifiantISIN,
                                   CASE 
                                               WHEN a.RAF = '0381803' THEN 'O' 
                                               --22/03/2018 : Ajout du cas de la RefCategorieRWA = FPE
                                               WHEN e.RefCategorieRWA='FPE' THEN 'O'
                                               ELSE 'N' END as Diversifiee,
                                   CASE 
                                               WHEN a.RefCategorieRWA = 'GDW' THEN 'N'
                                               WHEN a.CompteMagnitude IN ('A20320','A10202','A20402','A20403','A20404','A20406','A21400','A21401','A21402','A21403','A21404','A21405','A21406','A21407','A21408','A21409','A21410','A21411') THEN 'N' 
                                               --28/06/2019 Ajout du cas PRPL2 (mail Idriss du 27/06/2019)
                                               --24/03/2020 - Suppression du cas particulier su PRPL2
                                               --11/01/2021 - Ajout du compte A20406
                                               --WHEN a.CompteMagnitude = 'A20402' AND A.Source <> '111' THEN 'N'
                                               --10/03/2023 - Ajout des 11 comptes A21400...A21411
                                               ELSE 'O' 
                                               END as IndicateurPerimetreMcDo,
                                   CASE
                                               WHEN a.RefCategorieRWA = 'GDW' THEN 32
                                               WHEN a.CompteMagnitude IN ('A20320','A10202') THEN 26
                                               --24/03/2020 - Changement code explusion CLOs (56 au lieu de 23) 
                                               WHEN a.CompteMagnitude = 'A20406' AND a.SOURCE='201' AND a.IdentifiantUniqueRetenu IN ('LOAN00000594','LOAN00000595') THEN NULL
                                               WHEN a.CompteMagnitude IN ('A20402','A20403','A20404','A20406','A21400','A21401','A21402','A21403','A21404','A21405','A21406','A21407','A21408','A21409','A21410','A21411') THEN 56
                                               --28/06/2019 Ajout du cas PRPL2 (mail Idriss du 27/06/2019)
                                               --24/03/2020 - Suppression du cas particulier su PRPL2
                                               --11/01/2021 - Ajout du compte A20406
                                               --WHEN a.CompteMagnitude = 'A20402' AND A.Source <> '111' THEN '23'
                                               --10/03/2023 - Ajout des 11 comptes A21400...A21411
                                               ELSE NULL
                                   END as MotifExclusionMcDo,
                                   NULL as DateDebutFinancement,
                                   CASE WHEN a.CodeProduit = 'P0370' THEN '002' ELSE c.NombreEncours END as NbEncoursElementaires,
                                   NULL as StrategieFrench,
                                   --MODIFICATION 03/22/2018 : C'est la colonne MethodeStandard de la table des entrées de périmètre qui fait fois pour l'affectation de la colonne MethodeBaleII et non la source
                                   --CASE WHEN d.Source IS NOT NULL OR e.TraitementStandard = 'O' THEN 'S-MS' ELSE 'F-PDLGD' END as MethodeBaleII,
                                   CASE WHEN d.MethodeStandard=1 OR e.TraitementStandard = 'O' THEN 'S-MS' ELSE 'F-PDLGD' END as MethodeBaleII,
                                   f.TypeParticipation,
                                   NULL as TypeContratNetting,
                                   NULL as ReferenceContratNettingReglem,
                                   CASE WHEN f.SensOperation IS NOT NULL THEN f.SensOperation ELSE 'A' END as SensOperation, -- À vérifier après nouvelle version de la table de paramétrage
                                   CASE WHEN a.CodeProduit in (SELECT CodeProduit FROM dbo.HELIOS_PARAM_PERIMETRE_DETTE) and (j.LibelleTypeDette is not null or j.LibelleTypeDette != '') THEN j.LibelleTypeDette
                                        WHEN a.CodeProduit in (SELECT CodeProduit FROM dbo.HELIOS_PARAM_PERIMETRE_DETTE) and (g.LibelleTypeDette is not null or g.LibelleTypeDette != '') THEN g.LibelleTypeDette
                                   END as LibelleTypeDette,
                                   'AA0532' as CodeActivite,
                                   'N' as PresenceGarantie,
                                   0 as NombreGaranties,
                                   NULL as ProduitAS400,
                                   NULL as TypeOption,
                                   NULL as PrixExerciceOption,
                                   NULL as FlagComptesSegregues,
                                   NULL as Quantite,
                                   NULL as PrixNegocie,
                                   NULL as PrixUnitaireContrat,
                                   NULL as Section,
                                   CASE WHEN a.Source = '010' OR d.Source IS NOT NULL THEN 'N' ELSE 'O' END as TopTransparence,
                                   NULL as TauxProbabiliteDefaut,
                                   NULL as ClasseLGD,
                                   NULL as PourcentageLoanToValueActualized,
                                   NULL as PourcentageLoanToValueOrigination,
                                   NULL as PourcentageLoanToValueCRR3,
                                   CASE WHEN i.TitreLiquide = 'N' and (a.CodeProduit in ('P0009','P0946', 'P1498')) THEN  'LT' --Amendement mineur 11/03/2025
										WHEN i.TitreLiquide = 'O' THEN ''
                                        ELSE g.ManagementIntent
                                   END as ManagementIntent,
                                   GETDATE() as LastUpdate
                        FROM dbo.HELIOS_PREP_REPORTING_RWA_AGREGEE a
                                   LEFT JOIN dbo.HELIOS_PARAM_INTENTION_GESTION_PAR_COMPTE b
                                               ON b.CompteMagnitude = a.CompteMagnitude
                                   LEFT JOIN dbo.HELIOS_PARAM_ENCOURS_ELEMENTAIRES_PCC c
                                               ON c.CodeProduit = a.CodeProduit AND c.PCC = a.CompteCopernic
                                   LEFT JOIN dbo.HELIOS_PARAM_ENTREES_PERIMETRE d
                                               ON d.Source = a.Source
                                   LEFT JOIN dbo.HELIOS_PARAM_MAPPING_TITRES_MAGNITUDE e
                                               ON e.PartnerID = a.PartnerID
                                   LEFT JOIN dbo.HELIOS_PARAM_CODES_PRODUIT f
                                               ON f.CodeProduit = a.CodeProduit
                                   LEFT JOIN dbo.HELIOS_PARAM_MAPPING_TITRES_MAGNITUDE g
                                               ON a.IdentifiantUniqueRetenu LIKE CONCAT('%', CONCAT(g.PartnerID, '%'))
                                   LEFT JOIN dbo.HELIOS_SEED_MONEY h
                                               ON RIGHT('000' + a.Source, 3) = h.Source
                                   LEFT JOIN dbo.HELIOS_PARAM_MAPPING_TITRES_MAGNITUDE i
                                               ON i.PartnerID = h.PartnerID
                                   LEFT JOIN dbo.HECATE_INTERNE_HISTORIQUE j
                                               ON (a.IdentifiantUniqueRetenu LIKE CONCAT('%', CONCAT(j.IdentifiantUniqueRetenu, '%'))
                                               OR a.IdentifiantUniqueRetenu LIKE CONCAT('%', CONCAT(j.IdentifiantOrigine, '%')))
                                    ;

                        --UPDATE 08/07/2018 : REMPLACEMENT DES Identifiants ISIN par ceux de la table HELIOS_PARAM_MAPPING_TITRES_MAGNITUDE
                        UPDATE dbo.HELIOS_ONGLET_CONTRATS
                        SET HELIOS_ONGLET_CONTRATS.IdentifiantISIN = b.IdentifiantISIN
                        FROM HELIOS_ONGLET_CONTRATS a
                        INNER JOIN dbo.HELIOS_PREP_REPORTING_RWA_AGREGEE c on a.IdentifiantContrat=c.Source + c.IdentifiantUniqueRetenu
                        INNER JoiN dbo.HELIOS_PARAM_MAPPING_TITRES_MAGNITUDE b ON b.RAF = a.RAFTiers AND b.PartnerID=c.PartnerID
                        WHERE IdentifiantContrat like '010%' 
                        AND a.CodeProduit IN (SELECT CodeProduit FROM HELIOS_PARAM_CODES_PRODUIT WHERE ValeurMobiliere='O')
                        AND b.IdentifiantISIN IS NOT NULL

                        UPDATE dbo.HELIOS_ONGLET_CONTRATS
                        SET HELIOS_ONGLET_CONTRATS.IdentifiantISIN = b.IdentifiantISIN
                        FROM HELIOS_ONGLET_CONTRATS a
                        INNER JOIN dbo.HELIOS_PREP_REPORTING_RWA_AGREGEE c on a.IdentifiantContrat=c.Source + c.IdentifiantUniqueRetenu
                        INNER JoiN dbo.HELIOS_PARAM_MAPPING_TITRES_MAGNITUDE b ON b.RAF = a.RAFTiers AND b.PartnerID=c.PartnerID
                        WHERE LEFT(a.IdentifiantContrat, 3) IN (SELECT Source FROM HELIOS_PARAM_ENTREES_PERIMETRE)
                        AND a.CodeProduit IN (SELECT CodeProduit FROM HELIOS_PARAM_CODES_PRODUIT WHERE ValeurMobiliere='O')
                        AND b.IdentifiantISIN IS NOT NULL

                        --UPDATE 09/11/2018 : CLO - Remplacement des dates de signature de contrat, dates de fin de contrat et RAF avec les infos^présentes dans la table HELIOS_PARAM_CLO
                        UPDATE dbo.HELIOS_ONGLET_CONTRATS
                        SET HELIOS_ONGLET_CONTRATS.[DateSignatureContrat] = CONVERT(nvarchar(10),b.[DateOctroi],103),
                        HELIOS_ONGLET_CONTRATS.DateFinContrat=CONVERT(nvarchar(10),b.DateMaturite,103),
                        HELIOS_ONGLET_CONTRATS.DateInitialeFinContrat=CONVERT(nvarchar(10),b.DateMaturite,103),
                                   HELIOS_ONGLET_CONTRATS.RAFTiers=b.RAF,
                                    HELIOS_ONGLET_CONTRATS.TopTransparence='N'
                        FROM HELIOS_ONGLET_CONTRATS a
                        INNER JoiN [dbo].[HELIOS_PARAM_CLO] b ON b.ReferenceContratPIVI = a.IdentifiantContrat

            END TRY
            BEGIN CATCH
                        -- En cas d'erreur lors du bloc précédent, on loggue
                        SET @ErrorMssg = 'Erreur lors de l''Insertion: ' + ERROR_MESSAGE()
                        SET @ErrorCode = ERROR_NUMBER()
                        EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
                        PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
                        RETURN @ErrorCode;
            END CATCH
            
            -- Exécution de la génération des contrôles de l'onglet Contrats
            BEGIN TRY
                        IF OBJECT_ID('dbo.HELIOS_CONTROLES_ONGLET_CONTRATS') is not null
                                   DROP TABLE dbo.HELIOS_CONTROLES_ONGLET_CONTRATS
            
                        SELECT '' + @PeriodeCloture + '' as PeriodeCloture, IdentifiantContrat,
                                   CASE
                                               WHEN RAFTiers IS NOT NULL THEN CASE WHEN LEN(RAFTiers) <> 7 THEN 'ECHEC' ELSE 'SUCCES' END + ': Le RAF Tiers "' + RAFTiers + '" fait ' + CAST(LEN(RAFTiers) as nvarchar(10)) + ' caractères.'
                                               ELSE 'WARNING: Pas de RAF à contrôler.'
                                   END as ControleRAF,
                                   CASE
                                               WHEN CodeProduit IN ('P0008','P0009','P1498') AND CodeSegmentMcDo = 'K1' THEN 'SUCCES: Le Code Produit "' + CodeProduit + '" a un Code Segment McDonough de valeur "' + CodeSegmentMcDo + '".'
                                               WHEN CodeProduit IN ('P0008','P0009','P1498') AND CodeSegmentMcDo <> 'K1' THEN 'ECHEC: Le Code Produit "' + CodeProduit + '" a un Code Segment McDonough de valeur "' + CodeSegmentMcDo + '".'
                                               WHEN CodeProduit IS NOT NULL THEN 'INFO: Le Code Produit "' + CodeProduit + '" ne rentre pas dans le contrôle'
                                               ELSE 'WARNING: Pas de Code Produit à contrôler.'
                                   END as ControleCodeSegmentMcDonough,
                                   CASE
                                               WHEN IndicateurPerimetreMcDo = 'N' AND MotifExclusionMcDo IS NOT NULL THEN 'SUCCES: Le Contrat n''étant pas dans le périmètre McDonough, le motif d''exclusion vaut "' + MotifExclusionMcDo + '".'
                                               WHEN IndicateurPerimetreMcDo = 'O' AND MotifExclusionMcDo IS NULL THEN 'SUCCES: Le Contrat est dans le périmètre McDonough et le motif d''exclusion est vid'
                                               WHEN IndicateurPerimetreMcDo = 'N' AND MotifExclusionMcDo IS NULL THEN 'ECHEC: Le Contrat n''étant pas dans le périmètre McDonough, le motif d''exclusion vaut "' + MotifExclusionMcDo + '".'
                                               WHEN IndicateurPerimetreMcDo = 'O' AND MotifExclusionMcDo IS NOT NULL THEN 'WARNING: Le Contrat est dans le périmètre McDonough mais le motif d''exclusion n''est pas vide (' + MotifExclusionMcDo + ').'
                                               WHEN IndicateurPerimetreMcDo IS NULL THEN 'WARNING: Le Contrat n''a pas de périmètre McDonough à contrôler.'
                                               ELSE 'WARNING: Le Contrat a un périmètre McDonough incohérent.'
                                   END as ControlePerimetreMcDonough,
                                   CASE
                                               WHEN CodeActivite IS NOT NULL THEN CASE WHEN LEN(CodeActivite) < 5 OR LEN(CodeActivite) > 6 THEN 'ECHEC' ELSE 'SUCCES' END + ': Le Code d''Activité "' + CodeActivite + '" fait ' + CAST(LEN(CodeActivite) as nvarchar(10)) + ' caractères.'
                                               ELSE 'WARNING: Pas de Code d''Activité à contrôler.'
                                   END as ControleCodeActivite,
                                   CASE
                                               WHEN DateInitialeFinContrat IS NOT NULL THEN 'SUCCES: La Date initiale de Fin de Contrat "' + CONVERT(nvarchar(10), DateInitialeFinContrat, 103) + '" est renseigné'
                                               ELSE 'ECHEC: Pas de Date initiale de Fin de Contrat à contrôler.'
                                   END as ControleDateInitialeFinContrat,
                                   CASE
                                               WHEN Devise IS NOT NULL THEN '"SUCCES: La Devise "' + Devise + '" est renseigné.'
                                               ELSE 'ECHEC: Pas de Devise à contrôler.'
                                   END as ControleDevise,
                                   CASE
                                               WHEN IdentifiantContrat IN (SELECT DISTINCT IdentifiantContrat FROM dbo.HELIOS_ONGLET_ENCOURS_PCC) THEN 'SUCCES: L''Identifiant Contrat est présent dans l''onglet Encours.'
                                               ELSE 'ECHEC: L''Identifiant Contrat n''est pas présent dans l''onglet Encours.'
                                   END as ControlePresenceEncours,
                                   CASE
                                               WHEN CodeProduit NOT IN ('P0009','P0263','P0471','P0946','P1498') THEN 'INFO: Le contrat n''est pas titré.'
                                               WHEN IdentifiantISIN IN (SELECT DISTINCT IdentifiantTitre FROM dbo.HELIOS_ONGLET_TITRES) THEN 'SUCCES: L''Identifiant ISIN est présent dans l''onglet Titres.'
                                               ELSE 'ECHEC: L''Identifiant ISIN n''est pas présent dans l''onglet Titres.'
                                   END as ControlePresenceTitres,
                                   CASE
                                               WHEN (SELECT COUNT(1) FROM (SELECT tmp1.IdentifiantContrat, COUNT(1) as cnt FROM dbo.HELIOS_ONGLET_CONTRATS tmp1 GROUP BY IdentifiantContrat) tmp2 WHERE tmp2.cnt > 1 AND tmp2.IdentifiantContrat = HELIOS_ONGLET_CONTRATS.IdentifiantContrat) > 0 THEN 'ECHEC: Contrat en doublon.'
                                               ELSE 'SUCCES: Pas de doublon sur ce Contrat.'
                                   END as ControleDoublon
                        INTO dbo.HELIOS_CONTROLES_ONGLET_CONTRATS
                        FROM dbo.HELIOS_ONGLET_CONTRATS;
                        
                        IF OBJECT_ID('dbo.HELIOS_CONTROLES_ONGLET_CONTRATS') is null
                                   BEGIN
                                               -- En cas d'erreur lors du bloc précédent, on loggue
                                               SET @ErrorMssg = 'Erreur lors de la génération des contrôles de l''onglet Contrats.'
                                               SET @ErrorCode = 1012
                                               EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
                                               PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
                                               RETURN @ErrorCode;
                                   END
            END TRY
            BEGIN CATCH
                        -- En cas d'erreur lors du bloc précédent, on loggue
                        SET @ErrorMssg = 'Erreur lors de l''Insertion: ' + ERROR_MESSAGE()
                        SET @ErrorCode = ERROR_NUMBER()
                        EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
                        PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
                        RETURN @ErrorCode;
            END CATCH
            
            -- Finalisation du traitement
            BEGIN TRY
                        SELECT @NbLignes = COUNT(*) FROM dbo.HELIOS_ONGLET_CONTRATS;
                        -- Si la table finale existe et qu'elle contient des données
                        IF OBJECT_ID('dbo.HELIOS_ONGLET_CONTRATS') is not null AND @NbLignes <> 0
                                   BEGIN
                                               -- On loggue la réussite
                                               SET @ErrorMssg = CAST(@NbLignes as nvarchar(5)) + ' lignes mises à jour dans la table "dbo.HELIOS_ONGLET_CONTRATS".'
                                               SET @ErrorCode = 0
                                               EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 0, @ErrorCode, @ErrorMssg
                                               PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
                                               RETURN @ErrorCode;
                                   END
                        ELSE
                                   -- ... ou l'échec
                                   BEGIN
                                               SET @ErrorMssg = CAST(@NbLignes as nvarchar(5)) + ' lignes insérées dans la table "dbo.HELIOS_ONGLET_CONTRATS".'
                                               SET @ErrorCode = 1005
                                               EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
                                               PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
                                               RETURN @ErrorCode;
                                   END
            END TRY
            BEGIN CATCH
                        -- En cas d'erreur lors du bloc précédent, on loggue
                        SET @ErrorMssg = 'Erreur lors de la finalisation: ' + ERROR_MESSAGE()
                        SET @ErrorCode = ERROR_NUMBER()
                        EXEC dbo.USP_HELIOS_LOG_TRAITEMENTS 'INSERT', @Process, @PeriodeCloture, null, 2, @ErrorCode, @ErrorMssg
                        PRINT '(' + @ErrorCode + ') - ' + @ErrorMssg
                        RETURN @ErrorCode;
            END CATCH
END