USE [RWA]
GO
/****** Object:  StoredProcedure [dbo].[USP_HECATE_TRAITEMENT_MAPPINGREGLE5]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[USP_HECATE_TRAITEMENT_MAPPINGREGLE5]
	-- Add the parameters for the stored procedure here
	@PeriodeCloture nvarchar(6),
	@idSource nvarchar(3),
	@idIdentifiantOrigine nvarchar(50),
	
	@IdentifiantUniqueRetenu nvarchar(13) OUTPUT,
	@RAF nvarchar(7) OUTPUT,
	@DateFinContrat date OUTPUT,
	@RefCategorieRWA nvarchar(3) OUTPUT,
	@Commentaire nvarchar(200) OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DECLARE	@tmpIdentifiantUniqueRetenu nvarchar(13),
			@tmpRAF nvarchar(7),
			@tmpDateFinContrat date,
			@tmpRefCategorieRWA nvarchar(3),
			@nbrligne int
			
	SELECT	DISTINCT
			@tmpIdentifiantUniqueRetenu=hih.IdentifiantUniqueRetenu, 
			@tmpRAF=hih.RAF, 
			@tmpDateFinContrat=hih.DateEcheance, 
			@tmpRefCategorieRWA=hih.RefCategorieRWA
	FROM HECATE_INTERNE_HISTORIQUE hih
	WHERE hih.Source=@idSource
		AND hih.IdentifiantOrigine=@idIdentifiantOrigine
	
	SET @nbrligne=@@ROWCOUNT
	
	IF @nbrligne<>0
	BEGIN
		IF @nbrligne=1
		BEGIN
			IF @RAF=@tmpRAF 
				SET @Commentaire='SUCCES - RAF fourni par la filiale. Mapping réalisé sur l''identifiant d''origine sans remplacement du RAF.'
			
			IF @RAF<>@tmpRAF 
				SET @Commentaire='SUCCES - RAF fourni par la filiale. Mapping réalisé sur l''identifiant d''origine avec remplacement du RAF.'
			
			SET	@IdentifiantUniqueRetenu=@tmpIdentifiantUniqueRetenu
			SET	@RAF=@tmpRAF
			SET	@DateFinContrat=@tmpDateFinContrat
			SET	@RefCategorieRWA=@tmpRefCategorieRWA
					
			--EXEC dbo.SetLog 0, @PeriodeCloture, @idSource, @idIdentifiantOrigine, 'R5 - Une ligne récupéré, exit du processus et ajout commentaire.'
		END
		
		--IF @nbrligne >1
			--EXEC dbo.SetLog 2, @PeriodeCloture, @idSource, @idIdentifiantOrigine, 'R5 - Plusieurs lignes différentes récupérées.'
	END
	--ELSE
		--EXEC dbo.SetLog 2, @PeriodeCloture, @idSource, @idIdentifiantOrigine, 'R5 - Aucune ligne trouvée, passage à R6.'
		
	RETURN @nbrligne
END
GO
