USE [RWA]
GO
/****** Object:  StoredProcedure [dbo].[USP_HECATE_TRAITEMENT_TETHYSCHECKIMPORT]    Script Date: 01/26/2024 4:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_HECATE_TRAITEMENT_TETHYSCHECKIMPORT]
	@ACK int OUTPUT
AS
BEGIN
	DECLARE
			@Message nvarchar(50),
			@MM int,
			@YYYY int,
			@CurrentMM int,
			@CurrentYYYY int
	
	SELECT @Message=Message, @MM=MONTH(LogTime), @YYYY=YEAR(LogTime) FROM dbo.HECATE_LOG_IMPORT_EXPORT
	WHERE Process='TETHYS Import'
	
	SELECT @CurrentMM=MONTH(GETDATE()), @CurrentYYYY=YEAR(GETDATE())
	
	IF @Message IS NULL
		SET @ACK=1
	ELSE
		BEGIN
		IF @MM=@CurrentMM AND @YYYY=@CurrentYYYY AND @Message='TETHYS Import - No File Available'
			SET @ACK=1
		ELSE
			SET @ACK=0
		END
		
		SELECT @ACK
		
	RETURN @ACK
END
GO
